<!-- New UI Character -->
<div class="">
  <div class="profile" *ngIf="profile">
    <div class="profile-img">
      <img src="{{ profile.avatar_url }}" alt="Profile Image" />
    </div>
    <div class="profile-name">
      <h3 *ngIf="profile.member_type === 'player'">
        {{ profile.first_name }} {{ profile.last_name }}
      </h3>
    </div>

    <div class="profile-catergory">
      <h4>
        <span>
          <mat-icon *ngIf="profile_status === 'verified'" class="material-icons"
            >verified_user</mat-icon
          >
        </span>

        {{ profile?.player_type | titlecase }}
      </h4>
    </div>
    <div class="profile-position">
      <h4>
        {{
          (professionalProfile.position && professionalProfile.position[0]
            ? professionalProfile.position[0].name
            : ''
          ) | titlecase
        }}
      </h4>
    </div>
    <div class="profile-counts">
      <div class="count line">
        <span>{{ followers }}</span>
        <h5>Followers</h5>
      </div>
      <div class="count">
        <span>{{ count.videos || 0 }}</span>
        <h5>Videos</h5>
      </div>
    </div>
  </div>

  <!-- menu -->
  <div class="menus">
    <ul>
      <li>
        <a>
          <span class="icon">
            <img src="assets/images/global/timeline.svg" alt="timeline" />
          </span>
          <span class="text">Timeline</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/member/profile/']">
          <span class="icon">
            <img src="assets/images/global/profile.svg" alt="profile" />
          </span>
          <span class="text">My Profile</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/member/awardcertification']">
          <span class="icon">
            <img src="assets/images/global/achievement.svg" alt="achievement" />
          </span>
          <span class="text">Awards & Certificates</span>
        </a>
      </li>
      <li>
        <a>
          <span class="icon">
            <img src="assets/images/global/gallery.svg" alt="gallery" />
          </span>
          <span class="text">Gallery</span>
        </a>
      </li>
      <li>
        <a>
          <span class="icon">
            <img src="assets/images/global/timer.svg" alt="trial" />
          </span>
          <span class="text">My trial</span>
        </a>
      </li>
      <li>
        <a>
          <span class="icon">
            <img src="assets/images/global/contracts.svg" alt="contracts" />
          </span>
          <span class="text">My contracts</span>
        </a>
      </li>
      <li>
        <a>
          <span class="icon">
            <img src="assets/images/global/report-icon.svg" alt="Report" />
          </span>
          <span class="text">Report card</span>
        </a>
      </li>
    </ul>
  </div>
</div>
