<!-- profile  -->
<div class="block-design" *ngIf="profile">
  <div class="profile-section border-bottom">
    <img src="{{ profile.avatar_url }}" alt="profile-icon" />
    <h3 *ngIf="profile.member_type === 'player'">
      {{ profile.first_name }} {{ profile.last_name }}
    </h3>
    <h3
      *ngIf="
        profile.member_type === 'club' || profile.member_type === 'academy'
      "
    >
      {{ profile.name | titlecase }}
    </h3>
    <h6 *ngIf="profile.member_type === 'club'">
      Non-Residential
    </h6>

    <h6 *ngIf="profile.member_type === 'player'">
      {{
        (profile.position && profile.position[0]
          ? profile.position[0].name
          : ''
        ) | titlecase
      }}
    </h6>
    <p
      [ngClass]="{
        green: profile_status === 'verified',
        red: profile_status === 'non-verified'
      }"
    >
      <i-feather
        [name]="profile_status === 'verified' ? 'check-circle' : 'alert-circle'"
        class="icon-size"
      ></i-feather>

      {{ profile_status === 'verified' ? 'Verified' : 'Not Verified' }}
    </p>
  </div>
  <div class="block-middle border-bottom">
    <div class="part text-center">
      <h4>{{ achievements }}</h4>
      <p>Achievements</p>
    </div>
    <ng-container *ngIf="profile">
      <div
        class="part border-left text-center"
        *ngIf="profile.member_type === 'player'"
      >
        <h4>{{ count.tournaments }}</h4>
        <p>Tournaments</p>
      </div>
      <div
        class="part border-left text-center"
        *ngIf="profile.member_type !== 'player'"
      >
        <h4>{{ followers }}</h4>
        <p>Followers</p>
      </div>
    </ng-container>
  </div>
  <!-- make footmate unfollow -->
  <div
    class="btn-follow"
    *ngIf="options.is_public && userId !== loggedin_userid"
  >
    <button
      *ngIf="profile.member_type === 'player' && member_type === 'player'"
      (click)="toggleFootMate()"
      [innerText]="
        is_footmate === 'Accepted'
          ? 'Cancel FootMate'
          : is_footmate === 'Not_footmate'
          ? 'Make FootMate'
          : 'Pending'
      "
    >
      Make FootMate
    </button>
    <ng-container *ngIf="following$ | async"></ng-container>
    <button
      *ngIf="is_footmate !== 'Pending'"
      [innerText]="is_following ? 'Unfollow' : 'Follow'"
      (click)="toggleFollow()"
    >
      Follow
    </button>
  </div>
  <!-- pending btn -->
  <!-- <div class="btn-follow">
    <button>Pending</button>
  </div> -->

  <ng-container
    *ngIf="
      (options.view_profile_link && !options.is_public) ||
      (options.logout_link && !options.is_public)
    "
  >
    <div class="block-bottom">
      <a
        *ngIf="options.view_profile_link && !options.is_public"
        [routerLink]="['/member/profile/view']"
      >
        View my profile</a
      >
      <a *ngIf="options.logout_link && !options.is_public" (click)="logout()">
        Logout</a
      >
    </div>
  </ng-container>
</div>

<!-- player type -->
<div
  class="block-design"
  *ngIf="profile && profile.member_type === 'player' && options.player_type"
>
  <div class="block-middle">
    <div class="part">
      <h4>Player Type</h4>
    </div>
    <div class="part">
      <h5>{{ profile?.player_type | titlecase }}</h5>
    </div>
  </div>
</div>

<!-- League Name -->
<div class="block-design">
  <div class="block-middle">
    <div class="league">
      <h4>League Name</h4>
    </div>
    <div class="league">
      <h5>Egyptian Premier League</h5>
    </div>
  </div>
</div>

<!-- achievements -->
<ng-container *ngIf="options.my_achievements">
  <div class="block-design">
    <div class="achievement">
      <a [routerLink]="['/member/awardcertification']">My Achievements</a>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="options.achievements && options.is_public">
  <div class="block-design">
    <div class="achievement">
      <a [routerLink]="['/member/awardcertification', userId]">Achievements</a>
    </div>
  </div>
</ng-container>

<!-- AcademyFootplayer / ClubsFootplayer -->
<ng-container *ngIf="options.footplayers && options.is_public">
  <div
    class="block-design"
    *ngIf="profile.member_type === 'club' || profile.member_type === 'academy'"
  >
    <div class="achievement">
      <a> {{ profile.member_type | titlecase }}'s FootPlayers</a>
    </div>
  </div>
</ng-container>

<!-- player bio -->
<ng-container *ngIf="options.bio">
  <div class="block-design" *ngIf="profile">
    <div class="boi">
      <div class="heading border-bottom">
        <h3>{{ profile.member_type | titlecase }} Bio</h3>
      </div>
      <div class="player-boi">
        <p>
          {{ profile?.bio }}
        </p>
      </div>
    </div>
  </div>
</ng-container>
