@import "src/assets/sass/abstracts/variables";
@import "src/assets/sass/abstracts/mixins";

// :host ::ng-deep .mat-form-field-infix .mat-form-field {
//   font-size: 40px !important;
//   font-weight: 400;
//   line-height: 1.125;
// }
// left seciton
.left-panel {
  width: 23.75%;
  padding: 2rem 3rem;
  display: block;
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 1rem rgba($fourth-color, 0.04),
    0px 0.2rem 0.6rem rgba($fourth-color, 0.04),
    0px 1.6rem 2.4rem rgba($fourth-color, 0.06);
  box-shadow: 0px 0px 1rem rgba($fourth-color, 0.04),
    0px 0.2rem 0.6rem rgba($fourth-color, 0.04),
    0px 1.6rem 2.4rem rgba($fourth-color, 0.06);
  .mat-form-field-underline {
    display: none !important;
  }
  .mat-form-field {
    font-size: 1.8rem !important;
    font-weight: 400;
    line-height: 1.125;
  }
  @include responsive(tablet) {
    width: 0%;
    position: fixed;
    left: 0px;
    top: calc(8.5rem);
    z-index: 99;
    max-width: 40rem;
    height: 100%;
    overflow-y: scroll;
    padding: 0 0 15rem 0;
    transition: ease-in 0.3s;
  }

  @include responsive(bigphone) {
    top: calc(14.3rem);
  }

  .mobile {
    @include responsive(tablet) {
      max-width: 34rem;
      width: 100%;
    }
    .profile {
      width: 100%;
      border: 1px solid $third-color;
      border-radius: 0.5rem;

      &-img {
        position: relative;

        img {
          width: 21rem;
          height: 21rem;
          border-radius: 25rem;
          margin-top: 5%;
          z-index: 9;
          position: relative;
        }

        &::before {
          content: "";
          position: absolute;
          background: $primary-color;
          border-top-left-radius: 0.5rem;
          border-top-right-radius: 0.5rem;
          width: 100%;
          height: 55%;
          left: 0;
          top: 0;
          z-index: 1;
        }
      }

      &-name {
        h3 {
          color: $fourth-color;
          font-weight: 500;
          padding: 1rem 1rem 0.5rem 1rem;
          word-break: break-all;
        }
      }

      &-position {
        h4 {
          color: $success;
          font-weight: 500;
        }
      }

      &-catergory {
        h4 {
          font-weight: 700;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $primary-color;
          margin: 0.5rem 0;

          span {
            color: $success;
          }
        }
      }

      &-counts {
        display: flex;
        margin: 2rem auto;

        .line {
          position: relative;

          &::before {
            content: "";
            height: 3rem;
            width: 0.1rem;
            background: $grey;
            position: absolute;
            right: 0rem;
            top: 1rem;
          }
        }

        .count {
          display: block;
          text-align: center;
          width: 90%;
          margin: auto;

          span {
            display: inline-block;
            font-size: $heading-fourth;
            border-radius: 10rem;
            padding: 1rem 2rem;
            font-weight: 300;
            font-size: $heading-Seoncdary;
            background: $fifth-color;
          }

          h5 {
            font-weight: 500;
            margin: 1rem auto;
            color: $fourth-color;
          }
        }
      }
    }

    .menus {
      margin: 2rem 0;
      padding-bottom: 15rem;

      ul {
        list-style: none;

        li {
          padding: 1rem 0;

          a {
            display: flex;
            align-items: center;

            &:hover {
              span.icon {
                opacity: 0.6;
              }
            }

            span.icon {
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 10rem;
              width: 5rem;
              height: 5rem;
              background: $fifth-color;
              margin-right: 3rem;

              @include responsive(smalldesktop) {
                margin-right: 1.2rem;
              }

              @include responsive(tablet) {
                margin-right: 3rem;
              }

              img {
                width: 2.4rem;
              }
            }

            span.text {
              font-size: $heading-fourth;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}
.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none !important;
}

.menus ul {
  list-style: none;

  li {
    padding: 1rem 0;

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $fourth-color;

      &:hover {
        span.icon {
          opacity: 0.6;
        }
      }

      span.icon {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10rem;
        width: 5rem;
        height: 5rem;
        background: $fifth-color;
        margin-right: 3rem;

        img {
          width: 2rem;
        }
      }

      span.text {
        font-size: $heading-fourth;
        font-weight: 500;
      }
    }

    mat-accordion {
      margin-top: 1rem;

      mat-expansion-panel {
        margin-bottom: 1rem;

        mat-expansion-panel-header {
          padding: 1rem;
          display: flex;
          align-items: center;
          cursor: pointer;

          .icon {
            margin-right: 2rem;
            display: flex;

            border-radius: 10rem;

            background: $fifth-color;
          }

          .text {
            font-size: $heading-fourth;
            font-weight: 400;
            margin-left: 1.5rem;
          }
        }

        .submenu {
          padding: 1rem 0 1rem 1rem !important;
          list-style: none;

          li {
            margin-bottom: 0.2rem;

            a {
              font-size: 14px;
              font-weight: 400;
              color: $fourth-color;

              &:hover {
                color: darken($fourth-color, 10%);
              }
            }
          }
        }
      }
    }
  }
}

.show {
  @include responsive(tablet) {
    width: 100%;
    padding: 2rem 3rem 2rem 3rem;
  }
}
