@import "src/assets/sass/abstracts/variables";
@import "src/assets/sass/abstracts/mixins";
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap");

.site-wrapper {
  width: 85%;
  max-width: 180rem;
  margin: 0 auto;
  display: flex;
  border-radius: 2rem;
  .left-section {
    width: 25%;
    .block-design {
      margin-top: 3rem;
      border: 1px solid $border-color;
      background-color: $color-white;
      border-radius: 0.8rem;
      .profile-section {
        width: 100%;
        display: block;
        margin: 0rem auto;
        padding: 3rem;
        text-align: center;
        h3 {
          font-size: 2.4rem;
          text-align: center;
          margin: 1.5rem auto 1rem;
          word-wrap: break-word;
        }
        h6 {
          font-size: 1.8rem;
          text-align: center;
          font-weight: 400;
          color: $text-muted;
        }
        p {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.8rem;
          color: $error;
          margin: 1rem 0;
        }
        img {
          max-width: 20rem;
          width: 100%;
          border-radius: 30rem;
          margin: 0 auto;
          display: block;
        }
      }
    }

    .block-middle {
      display: flex;
      justify-content: space-between;
      .part {
        display: block;
        width: 50%;
        padding: 2rem;
        h4 {
          width: 100%;
          font-size: 2.2rem;
        }
        h5 {
          font-size: 2rem;
          color: rgb(255, 198, 42);
          text-align: right;
        }
        p {
          width: 100%;
          font-size: 1.6rem;
          color: $text-muted;
        }
      }
    }
    .achievement {
      a {
        display: block;
        color: $blue;
        padding: 2rem;
        font-size: 2.2rem;
        font-weight: 700;
        text-decoration: none;
      }
    }
    .boi {
      display: flex;
      flex-direction: column;
      .heading {
        padding: 2rem;
        h3 {
          font-size: 2.4rem;
        }
      }
      .player-boi {
        padding: 2rem;
        font-size: 1.8rem;
        color: $text-muted;
        line-height: 2.6rem;
        word-wrap: break-word;
      }
    }
    .block-bottom {
      padding: 2rem;
      display: block;
      text-align: center;
      a {
        font-size: 2.4rem;
        color: $blue;
        font-weight: 700;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}

.icon-size {
  width: 2rem !important;
  height: 2rem !important;
  margin-right: 1rem;
}

.border-top {
  border-top: 1px solid $border-color;
}

.border-bottom {
  border-bottom: 1px solid $border-color;
}
.border-left {
  border-left: 1px solid $border-color;
}
.d-none {
  display: none;
}

i-feather.active {
  fill: blue;
}
