@import "src/assets/sass/abstracts/variables";
@import "src/assets/sass/abstracts/mixins";

.from-container {
  margin: -24px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  align-items: center;
  background: $fifth-color;

  .title {
    width: 70%;

    h2 {
      color: $fourth-color;
      font-weight: 600;
    }
  }

  .close {
    width: 30%;
    display: block;
    text-align: right;

    .mat-icon {
      cursor: pointer;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

.modal-body {
  padding: 2rem 3rem 2rem 3rem;

  .form-wrapper {
    display: flex;
    justify-content: space-between;

    .input-wrapper {
      width: 28%;
    }
  }
}

.find-btn {
  align-self: center;
  width: 16%;
  max-width: 15rem;

  button {
    padding: 1.2rem 5rem;
    font-size: 1.8rem;
  }
}

// table
.table {
  margin-top: 2rem;
  max-height: 300px;

  .notonportal {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $third-color;
    min-height: 15rem;
    text-align: center;

    h3 {
      color: $second-color;
      font-weight: 500;
    }
  }

  ::ng-deep {
    .mat-table .mat-row .mat-cell .action-buttons button.save {
      @include admin-btn;
      border-radius: 0.8rem;
    }
  }
}
