<div class="site-wrapper">
  <header class="header">
    <div class="logo">
      <a [routerLink]="['/home']">
        <img src="assets/images/website/logo.png" alt="brand-logo" />
      </a>
    </div>
  </header>
  <div class="middle-wrapper">
    <div class="text-section">
      <h2>Oops</h2>
      <h3>
        <span>Your link has expired</span>
      </h3>
      <a class="btn btn-primary" [routerLink]="['/home']">Home</a>
    </div>
    <div class="img-section">
      <img src="assets/images/website/link-expired.png" alt="" />
    </div>
  </div>
  <div class="fixed-footer">
    <app-copyright></app-copyright>
  </div>
</div>
