<header class="header">
  <div class="logo">
    <span>
      <img src="assets/images/website/logo.png" alt="brand-logo" />
    </span>
  </div>
</header>
<div class="site-wrapper">
  <div class="text-section">
    <h2>Oops</h2>
    <h3>
      <span>Your link has expired</span>
    </h3>
    <a class="btn btn-primary" [routerLink]="['/']">Home</a>
  </div>
  <div class="img-section">
    <img src="assets/images/website/link-experied.png" alt="" />
  </div>
</div>
<app-copyright></app-copyright>
