@import "src/assets/sass/abstracts/variables";
@import "src/assets/sass/abstracts/mixins";

@import "src/assets/sass/abstracts/variables";
@import "src/assets/sass/abstracts/mixins";

// Header CSS
.site-wrapper {
  position: relative;
  height: calc(100vh - 1rem);
  box-sizing: border-box;

  @include responsive(bigphone) {
    height: auto;
  }

  .fixed-footer {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;

    @include responsive(bigphone) {
      position: static;
    }
  }

  .header {
    .logo {
      margin-top: 1rem;

      a {
        background-color: $third-color;
        padding: 1rem 5rem 1rem 3rem;
        display: inline-block;
        -webkit-border-top-right-radius: 8rem;
        -webkit-border-bottom-right-radius: 8rem;
        -moz-border-top-right-radius: 8rem;
        -moz-border-bottom-right-radius: 8rem;
        border-top-right-radius: 8rem;
        border-bottom-right-radius: 8rem;
        cursor: pointer;

        img {
          max-width: 25rem;

          @include responsive(bigphone) {
            max-width: 21rem;
          }
        }
      }
    }
  }

  // Middle CSS
  .middle-wrapper {
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    height: 79.5%;

    @include responsive(bigphone) {
      flex-direction: column-reverse;
      height: auto;
      padding: 5rem 0;
    }

    .text-section {
      width: 50%;

      @include responsive(bigphone) {
        display: block;
        text-align: center;
        width: 100%;
        margin-top: 4rem;
      }

      @include responsive(smallphone) {
        margin: 5rem 0 3rem;
      }

      h2 {
        font-size: 7rem;
        font-weight: 100;
        font-family: $secondary-text;
        line-height: 1;

        @include responsive(tablet) {
          font-size: 6rem;
        }

        @include responsive(bigphone) {
          font-size: 5rem;
        }
      }

      h3 {
        font-size: 4rem;
        color: $fourth-color;
        font-family: $secondary-text;
        position: relative;
        letter-spacing: 1px;
        font-weight: 100;
        margin-bottom: 2rem;

        @include responsive(tablet) {
          font-size: 3.5rem;
        }

        @include responsive(bigphone) {
          font-size: 3rem;
        }

        @include responsive(smallphone) {
          font-size: 2.5rem;
        }

        span {
          display: block;
        }
      }

      a {
        display: inline-block;
        color: $white-color;
      }
    }

    .img-section {
      width: 50%;

      @include responsive(bigphone) {
        width: 100%;
      }

      img {
        width: 100%;
      }
    }
  }
}
