<app-admin-header (click)="sideBarToogle = !sideBarToogle"></app-admin-header>
<mat-drawer-container class="admin-wrapper" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="sideBarToogle">
    <app-admin-sidebar></app-admin-sidebar>
  </mat-drawer>

  <div class="sidenav-content" [ngClass]="{ sidenavToogle: !sideBarToogle }">
    <!-- <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button> -->
    <div class="admin-main">
      <!-- title breadcrum -->
      <div class="title-wrapper">
        <div class="title">
          <h3>Manage Player</h3>
        </div>
        <div class="breadcrumb">
          <ul>
            <li>Member Management</li>
            <li>Manage Player</li>
          </ul>
        </div>
      </div>
      <!-- end of the breadcrum -->

      <!-- blocks -->
      <div class="counter-wrapper">
        <div class="count-block">
          <div class="count-img">
            <img src="assets/images/icons/total-player.png" alt="" />
          </div>
          <div class="count-details">
            <h3>Total Player</h3>
            <h5>{{ players_count }}</h5>
          </div>
        </div>
        <div class="count-block">
          <div class="count-img">
            <img src="assets/images/icons/grassroot.png" alt="" />
          </div>
          <div class="count-details">
            <h3>Grassroot</h3>
            <h5>{{ grassroot_count }}</h5>
          </div>
        </div>
        <div class="count-block">
          <div class="count-img">
            <img src="assets/images/icons/ameteur.png" alt="" />
          </div>
          <div class="count-details">
            <h3>Amateur</h3>
            <h5>{{ amateur_count }}</h5>
          </div>
        </div>
        <div class="count-block">
          <div class="count-img">
            <img src="assets/images/icons/professional.png" alt="" />
          </div>
          <div class="count-details">
            <h3>Professional</h3>
            <h5>{{ proff_count }}</h5>
          </div>
        </div>
      </div>
      <!-- blocks ends-->

      <!-- table -->
      <div class="middle-part">
        <!-- filter-section -->
        <div class="filter-wrapper">
          <div class="filter">
            <ul>
              <li>
                <a (click)="sampleModel()"
                  ><img src="assets/images/icons/filter.png"
                /></a>
              </li>
              <li>
                <a (click)="ngOnInit()"
                  ><img src="assets/images/icons/refresh.png"
                /></a>
              </li>
            </ul>
          </div>
          <!-- search form -->
          <div class="search">
            <div class="search-box">
              <select
                matNativeControl
                required
                class="change-icon"
                (change)="recordsPerPage($event)"
              >
                <option value="20" selected>20</option>
                <option value="25">25</option>
                <option value="30">30</option>
                <option value="35">35</option>
              </select>
            </div>
            <div class="search-box">
              <input
                matInput
                placeholder="Search your player"
                class="search-icon"
                (keyup)="applyFilter($event)"
              />
            </div>
          </div>
        </div>
        <!-- filter-seciton -->

        <!-- table -->
        <div class="table-container">
          <app-table
            [tableConfig]="tableConfig"
            [NumberColumn]="'true'"
            [rows]="dataSource"
            [TableActions]="ListAction"
          ></app-table>
          <ng-template #ListAction let-user_id="user_id" let-status="status">
            <div class="action-buttons">
              <button>
                <img src="assets/images/icons/eyes.png" alt="Edit" />
              </button>
              <button (click)="statusPopup(user_id, status)">
                <img src="assets/images/icons/change.png" alt="Edit" />
              </button>
              <button (click)="deletePopup(user_id, status)">
                <img src="assets/images/icons/bin.png" alt="Delete" />
              </button>
            </div>
          </ng-template>
        </div>
      </div>

      <!-- pagination -->
      <div class="pagination-wrapper">
        <div class="showing-data">
          <p><strong>Showing</strong> 20 / 500 Data</p>
        </div>
        <div class="pagination">
          <ul>
            <li>
              <a><span> &#8592; </span></a>
            </li>
            <li><a>1</a></li>
            <li><a>2</a></li>
            <li><a>3</a></li>
            <li>
              <a> <span>&#8594;</span> </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- pagination end here -->
    </div>
  </div>
</mat-drawer-container>
<app-footer></app-footer>
