<app-admin-header
  [toggler]="sideBarToggle"
  (toggleChange)="updateSidebar($event)"
></app-admin-header>

<mat-drawer-container class="admin-wrapper" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="sideBarToggle">
    <app-admin-sidebar></app-admin-sidebar>
  </mat-drawer>

  <div class="sidenav-content" [ngClass]="{ sidenavToogle: !sideBarToggle }">
    <div class="admin-main">
      <!-- title breadcrum -->
      <div class="title-wrapper">
        <div class="title">
          <h3>Document Verification</h3>
        </div>
        <div class="breadcrumb">
          <ul>
            <li>Dashboard</li>
            <ng-container [ngSwitch]="member_type">
              <li *ngSwitchCase="'player'">Manage Player</li>
              <li *ngSwitchCase="'club'">Manage Club</li>
              <li *ngSwitchCase="'academy'">Manage Academy</li>
            </ng-container>
            <li>Document Verification</li>
          </ul>
        </div>
      </div>
      <!-- end of the breadcrum -->

      <div class="middle-part">
        <div class="heading">
          <ng-container [ngSwitch]="member_type">
            <h2 *ngSwitchCase="'player'">Aadhaar Verification</h2>
            <h2 *ngSwitchCase="'club'">AIFF Accreditation ID Verification</h2>
            <h2 *ngSwitchCase="'academy'">Document Verification</h2>
          </ng-container>
        </div>
        <!-- table -->
        <div class="table-container">
          <app-table
            [rows]="dataSource"
            [tableConfig]="tableConfig"
            [NumberColumn]="'true'"
            [TableActions]="ListAction"
            [sortEnabled]="false"
            (imgLink)="openDialog($event)"
          ></app-table>
          <ng-template #ListAction let-account_status="account_status">
            <div class="action-buttons">
              <button
                [disabled]="documentDetails.documents[0].status === 'approved'"
                matTooltip="Approve"
                (click)="updateDocumentStatus('approved')"
              >
                <img src="assets/images/icons/tick.png" alt="Edit" />
              </button>
              <button
                [disabled]="
                  documentDetails.documents[0].status === 'disapproved'
                "
                matTooltip="Disapprove"
                (click)="updateDocumentStatus('disapproved')"
              >
                <img src="assets/images/icons/close01.png" alt="Delete" />
              </button>
            </div>
          </ng-template>
        </div>
      </div>

      <!-- Contract Verification -->

      <div class="middle-part">
        <div class="heading">
          <h2>Contract Verification</h2>
        </div>
        <!-- table -->
        <div class="table-container">
          <app-table
            [rows]="contractDataSource"
            [tableConfig]="contractTableConfig"
            [NumberColumn]="'true'"
            [TableActions]="ContractListAction"
            [sortEnabled]="false"
          ></app-table>
          <ng-template
            #ContractListAction
            let-canUpdateStatus="canUpdateStatus"
            let-status="status"
            let-id="id"
            let-name="name"
            let-created_by="created_by"
            let-id="id"
          >
            <div class="action-buttons">
              <a
                target="_blank"
                [routerLink]="['/member/profile/view-employment-contract/', id]"
              >
                <button matTooltip="View" class="view-icon">
                  <img src="assets/images/icons/eyes.png" alt="View" />
                </button>
              </a>
              <button
                *ngIf="canUpdateStatus"
                [disabled]="
                  status === 'active' ||
                  status === 'yet_to_start' ||
                  status === 'completed'
                "
                matTooltip="Approve"
                (click)="updateContractStatus('approved', name, created_by, id)"
              >
                <img src="assets/images/icons/tick.png" alt="approve" />
              </button>
              <button
                *ngIf="canUpdateStatus"
                [disabled]="status === 'disapproved'"
                matTooltip="Disapprove"
                (click)="
                  updateContractStatus('disapproved', name, created_by, id)
                "
              >
                <img src="assets/images/icons/close01.png" alt="Disapprove" />
              </button>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</mat-drawer-container>
<app-footer></app-footer>
