<app-admin-header
  [toggler]="sideBarToggle"
  (toggleChange)="updateSidebar($event)"
></app-admin-header>

<mat-drawer-container class="admin-wrapper" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="sideBarToggle">
    <app-admin-sidebar></app-admin-sidebar>
  </mat-drawer>

  <div class="sidenav-content" [ngClass]="{ sidenavToogle: !sideBarToggle }">
    <div class="admin-main">
      <!-- title breadcrum -->
      <div class="title-wrapper">
        <div class="title">
          <h3>Document Verification</h3>
        </div>
        <div class="breadcrumb">
          <ul>
            <li>Dashboard</li>
            <li>Manage Player</li>
            <li>Document Verification</li>
          </ul>
        </div>
      </div>
      <!-- end of the breadcrum -->

      <div class="middle-part">
        <div class="heading">
          <h2>Aadhaar Verification</h2>
        </div>
        <!-- table -->
        <div class="table-container">
          <app-table
            [tableConfig]="tableConfig"
            [NumberColumn]="'true'"
            [TableActions]="ListAction"
            [sortEnabled]="true"
          ></app-table>
          <ng-template
            #ListAction
            let-user_id="user_id"
            let-account_status="account_status"
          >
            <div class="action">
              <button matTooltip="Approve">
                Approve
              </button>
              <button matTooltip="Disapprove">
                Disapprove
              </button>
            </div>
          </ng-template>
        </div>
      </div>

      <!-- pagination -->
      <!-- <app-pagination
        [showData]="true"
        [showCount]="show_count"
        [totalRows]="players_count"
        [rowsPerPage]="pageSize"
        [selectedPage]="selectedPage"
        (onChange)="updatePage($event)"
      >
      </app-pagination> -->
      <!-- pagination end here -->
    </div>
  </div>
</mat-drawer-container>
<app-footer></app-footer>
