<div fxLayout fxLayoutAlign="space-between center" class="modal-header">
  <div class="heading">
    <img src="assets/images/icons/filter-black.png" alt="" />
    <h4>Filter</h4>
  </div>
  <div class="close">
    <img
      [mat-dialog-close]="filterForm.value"
      src="assets/images/icons/close.png"
      alt=""
    />
  </div>
</div>
<form [formGroup]="filterForm">
  <div class="form-group">
    <div class="form-wrapper">
      <!-- date -->
      <div class=" input__group date">
        <label>Registration Date Range</label>
        <div class="date_pick">
          <input
            formControlName="from"
            [matDatepicker]="form"
            placeholder="From Date"
            readonly
          />
          <mat-datepicker-toggle [for]="form"></mat-datepicker-toggle>
          <mat-datepicker #form></mat-datepicker>
        </div>
        <div class="date_pick">
          <input
            formControlName="to"
            [matDatepicker]="to"
            placeholder="To Date"
            readonly
          />
          <mat-datepicker-toggle [for]="to"></mat-datepicker-toggle>
          <mat-datepicker #to></mat-datepicker>
        </div>
      </div>
      <!-- player -->
      <div class="input__group">
        <label>Player Name</label>
        <input formControlName="name" type="text" placeholder="Player Name" />
      </div>
      <!-- Member Sub Catergories -->
      <!-- <div class="input__group">
        <label>Member Sub Catergories</label>
        <select matNativeControl required>
          <option value="">Select Member Sub Categories</option>
          <option value="goalKeeper">GoalKeeper</option>
          <option value="center">Center</option>
          <option value="mid-Fielder">Mid Fielder</option>
        </select>
      </div> -->

      <!-- Player Type -->
      <div class="input__group">
        <label>Player Type</label>
        <select formControlName="type" matNativeControl required>
          <option value="" selected>Select Player Type</option>
          <option value="grassroot">Grassroot</option>
          <option value="amateur">Amateur</option>
          <option value="professional">Professional</option>
        </select>
      </div>

      <!-- email type -->
      <div class="input__group">
        <label>Email</label>
        <input
          formControlName="email"
          type="email"
          matinput
          placeholder="Enter your Email"
        />
      </div>

      <!-- positon-->
      <div class="input__group">
        <label>Position</label>
        <select formControlName="position" matNativeControl required>
          <option value="" selected>Select Position</option>
          <option value="Volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
      </div>

      <div class="input__group">
        <label>Email Verified</label>
        <select formControlName="email_verified" matNativeControl required>
          <option value="" selected>Select Email Verified Status</option>
          <option value="true">Verified</option>
          <option value="false">Not Verified</option>
        </select>
      </div>

      <div class="input__group">
        <label>Profile Status</label>
        <select formControlName="profile_status" matNativeControl required>
          <option value="" selected>Select Status</option>
          <option value="verified">Verified</option>
          <option value="unverified">Not Verified</option>
        </select>
      </div>
    </div>
  </div>
  <div fxLayout="row">
    <div class="action-block">
      <button class="btn btn-gredient" [mat-dialog-close]="filterForm.value">
        Submit
      </button>
    </div>
  </div>
</form>
