<div class="resetpassword">
  <div class="resetpassword-wrapper">
    <!-- header section -->
    <div class="resetpassword-wrapper-header">
      <img src="assets/images/logo.png" alt="brand-logo" />
      <h3>First, let's find your acount</h3>
    </div>
    <!-- resetpassword forms -->
    <div class="resetpassword-wrapper-forms">
      <div class="clubs">
        <form (ngSubmit)="resetPassword()" [formGroup]="resetPasswordForm" class="form" id="player">
          <!-- new password -->
          <div class="form-row">
            <div class="input-wrapper-full">
              <img src="assets/icons/lock.svg" alt="" />
              <label>New Password </label>
              <input formControlName="new_password" type="email" matInput />
              <ng-container
              *ngIf="isFocused(resetPasswordForm, 'new_password')"
            >
              <span
                class="error-text"
                *ngIf="isRequired(resetPasswordForm, 'new_password')"
              >
              New Password is required</span
              >
            </ng-container>
            </div>
          </div>

          <!-- confirm password -->
          <div class="form-row">
            <div class="input-wrapper-full">
              <img src="assets/icons/lock.svg" alt="" />
              <label>Confirm Password</label>
              <input formControlName="confirm_password" type="email" matInput />
              <ng-container
              *ngIf="isFocused(resetPasswordForm, 'confirm_password')"
            >
              <span
                class="error-text"
                *ngIf="isRequired(resetPasswordForm, 'confirm_password')"
              >
              Confirm Password is required</span
              >
            </ng-container>
            </div>
          </div>

          <div class="form-row">
            <div class="input-wrapper-full">
              <button [disabled]="resetPasswordForm.invalid" type="submit" class="btn">Reset Password</button>
            </div>
          </div>

          <div class="form-row">
            <p><a>Sign in</a></p>
            <p>Already on YFT chain? <a>Join now</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
