<div class="resetpassword">
  <div class="resetpassword-wrapper">
    <!-- header section -->
    <div class="resetpassword-wrapper-header">
      <img src="assets/images/logo.png" alt="brand-logo" />
      <h3>First, let's find your account</h3>
    </div>
    <!-- resetpassword forms -->
    <div class="resetpassword-wrapper-forms">
      <div class="clubs">
        <form
          (ngSubmit)="resetPassword()"
          [formGroup]="resetPasswordForm"
          class="form"
          id="player"
        >
          <!-- new password -->
          <div class="form-row">
            <div class="input-wrapper-full">
              <i-feather name="User" class="icon-size"></i-feather>
              <label>New Password </label>
              <input formControlName="password" type="password" matInput />
              <ng-container *ngIf="isFocused(resetPasswordForm, 'password')">
                <span
                  class="error-text"
                  *ngIf="isRequired(resetPasswordForm, 'password')"
                >
                  New Password is required</span
                >
              </ng-container>
            </div>
          </div>

          <!-- confirm password -->
          <div class="form-row">
            <div class="input-wrapper-full">
              <i-feather name="User" class="icon-size"></i-feather>
              <label>Confirm Password</label>
              <input
                formControlName="confirmPassword"
                type="password"
                matInput
              />
              <ng-container
                *ngIf="isFocused(resetPasswordForm, 'confirmPassword')"
              >
                <span
                  class="error-text"
                  *ngIf="isRequired(resetPasswordForm, 'confirmPassword')"
                >
                  Confirm Password is required</span
                >
              </ng-container>
            </div>
          </div>

          <div class="form-row">
            <div class="input-wrapper-full">
              <button
                [disabled]="resetPasswordForm.invalid"
                type="submit"
                class="btn"
              >
                Reset Password
              </button>
            </div>
          </div>

          <div class="form-row">
            <p><a [routerLink]="['/login']">Sign in</a></p>
            <p>
              New on YFT chain? <a [routerLink]="['/register']">Join now</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
