<div fxLayout fxLayoutAlign="space-between center" class="modal-header">
  <div class="heading">
    <img src="assets/images/icons/filter-black.png" alt="" />
    <h4>Filter</h4>
  </div>
  <div class="close">
    <img
      [mat-dialog-close]="filterForm.value"
      src="assets/images/icons/close.png"
      alt=""
    />
  </div>
</div>
<form [formGroup]="filterForm">
  <div class="form-group">
    <div class="form-wrapper">
      <!-- date -->
      <div class=" input__group date">
        <label>Registration Date Range</label>
        <div class="date_pick">
          <input formControlName="from" [matDatepicker]="form" />
          <mat-datepicker-toggle [for]="form"></mat-datepicker-toggle>
          <mat-datepicker #form></mat-datepicker>
        </div>
        <div class="date_pick">
          <input formControlName="to" [matDatepicker]="to" />
          <mat-datepicker-toggle [for]="to"></mat-datepicker-toggle>
          <mat-datepicker #to></mat-datepicker>
        </div>
      </div>
      <!-- player -->
      <div class="input__group">
        <label>Club Name</label>
        <input formControlName="name" type="text" placeholder="Club Name" />
      </div>

      <!-- email type -->
      <div class="input__group">
        <label>Email</label>
        <input formControlName="email" type="email" matinput placeholder="Enter Your Mail" />
      </div>

      <!-- Player Type -->
      <div class="input__group">
        <label>Player Type</label>
        <select  matNativeControl required>
          <option value="">Select Player Type</option>
          <option value="goalKeeper">GoalKeeper</option>
          <option value="center">Center</option>
          <option value="mid-Fielder">Mid Fielder</option>
        </select>
      </div>

      <div class="input__group">
        <label>Email Verified</label>
        <select formControlName="email_verified" matNativeControl required>
          <option value="" selected>Select Email Verified Status</option>
          <option value="true">Verified</option>
          <option value="false">Not Verified</option>
        </select>
      </div>

      <div class="input__group">
        <label>Profile Status</label>
        <select formControlName="profile_status" matNativeControl required>
          <option value="" selected>Select your Status</option>
          <option value="verified">Verified</option>
          <option value="unverified">Unverified</option>
        </select>
      </div>
    </div>
  </div>
  <div fxLayout="row">
    <div class="action-block">
      <button class="btn btn-gredient" [mat-dialog-close]="filterForm.value">
        Submit
      </button>
    </div>
  </div>
</form>
