@import "src/assets/sass/abstracts/variables";
@import "src/assets/sass/abstracts/mixins";

// Middle CSS
.site-wrapper {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  height: calc(100vh - 8.5rem);
  // margin-top: 8.5rem;
  position: relative;

  .fixing-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  .form-section {
    max-width: 50rem;
    width: 100%;
    margin: auto;

    .form-box {
      // width: 100%;
      margin: auto;
      -webkit-box-shadow: 0rem 0rem 1.8rem 0rem rgba($fourth-color, 0.12);
      -moz-box-shadow: 0rem 0rem 1.8rem 0rem rgba($fourth-color, 0.12);
      box-shadow: 0rem 0rem 1.8rem 0rem rgba($fourth-color, 0.12);
      -webkit-border-radius: 1rem;
      -moz-border-radius: 1rem;
      border-radius: 1rem;
      padding: 3rem 4rem;

      @include responsive(bigphone) {
        box-shadow: none;
      }

      h2 {
        font-size: $heading-primary;
        color: $fourth-color;
        font-family: $secondary-text;
        position: relative;
        padding-bottom: 2rem;
        font-weight: 100;
      }

      p {
        color: $fourth-color;
        display: block;
        text-align: center;
        font-weight: 500;
        font-size: $heading-fourth;
        margin-top: 2rem;

        a {
          color: $primary-color;
          font-weight: 700;
        }
      }
    }
  }
}

.error-position {
  position: absolute;
  bottom: -0.8rem !important;
}
