<app-header></app-header>
<div class="site-wrapper">
  <!-- left Sidebar -->
  <div class="left-section">
    <app-left-panel
      [achievements]="total_count"
      [options]="panelOptions"
      [userId]="userId"
    ></app-left-panel>
  </div>
  <div class="right-section">
    <div class="award-heading">
      <div class="left-part">
        <h2>
          Club's FootPlayers
        </h2>
        <span>89</span>
      </div>
    </div>
    <!-- filter -->
    <app-filter
      [allowedFilters]="filtersList"
      (filterChanges)="onChangeFilter($event)"
    ></app-filter>
    <!-- search -->
    <div class="search">
      <div class="search-form">
        <form>
          <input type="text" placeholder="Search player" />
          <span class="search-icon">
            <i-feather name="search" class="icon-size"></i-feather>
          </span>
        </form>
      </div>
    </div>

    <div class="playerwrapper">
      <div class="playerbox">
        <div class="top">
          <div class="dp">
            <img src="./../../../assets/images/user-avatar.png" alt="" />
          </div>
          <div class="name">
            <strong>
              <a target="_blank">Ratan Singh </a>
            </strong>
            <p>Center Midfielder</p>
          </div>
        </div>
        <div class="middle">
          <h4 class="gray">Professional</h4>
        </div>
      </div>
    </div>

    <span class="no-data-found">
      No FootMates Found
    </span>
    <app-pagination></app-pagination>
  </div>
</div>
