@import "src/assets/sass/abstracts/variables";
@import "src/assets/sass/abstracts/mixins";

.site-wrapper {
  width: 100%;
  display: flex;
  background: $third-color;
  margin-top: 8.5rem;

  @include responsive(bigphone) {
    margin-top: 14rem;
  }

  .right-panel {
    width: 76.25%;
    position: relative;

    @include responsive(tablet) {
      width: 100%;
    }
    .footer-fix {
      position: absolute;
      width: 100%;
      bottom: 0;
    }

    .right-wrapper {
      padding: 2rem;

      .main {
        background: $white-color;
        @include shadow;
        padding: 2rem;
        border-radius: 0.5rem;
        margin-bottom: 10rem;

        // heading css
        .heading {
          display: flex;
          justify-content: space-between;
          padding: 1rem 2rem 1rem 1rem;
          color: $fourth-color;

          button {
            border: none;
            background: transparent;
            cursor: pointer;

            &:hover {
              color: $primary-color;
            }
          }
        }

        // counters

        .counts-wrapper {
          padding: 1rem 3rem 1rem 3rem;
          display: flex;
          width: 100%;

          @include responsive(bigphone) {
            padding: 1rem 0rem 1rem 0rem;
          }

          .counts {
            background-color: $fifth-color;
            display: flex;
            border-radius: 5rem;
            align-items: center;

            @include responsive(smallphone) {
              width: 100%;
            }

            h3 {
              font-weight: 700;
              margin-right: 2rem;
              color: $fourth-color;
            }

            span {
              font-size: $heading-Seoncdary;
              font-weight: 700;
              display: flex;
              align-items: center;
              justify-content: center;
              height: 5rem;
              width: 5rem;
              background: $primary-color;
              border-radius: 5rem;
              margin: 1rem;
              color: $white-color;
            }
          }
        }

        // search section
        .search-section {
          display: flex;
          justify-content: space-between;
          margin-bottom: 1rem;
          padding: 1rem 3rem 1rem 3rem;

          @include responsive(bigphone) {
            padding: 1rem 0rem 1rem 0rem;
          }

          .search-wrapper {
            max-width: 35rem;
            width: 100%;

            @include responsive(smallphone) {
              max-width: 100%;
            }
          }
        }

        // player section
        .player-wrapper {
          display: flex;
          flex-wrap: wrap;
          padding: 0 3rem;

          @include responsive(bigphone) {
            padding: 0rem;
          }

          .player-block {
            display: flex;
            align-items: center;
            width: 33%;
            padding: 1rem 2rem;
            border-left: 0.5rem solid #fff0d3;
            margin-bottom: 4rem;

            @include responsive(tablet) {
              padding: 1rem 2rem 1rem 2rem;
            }

            @include responsive(bigphone) {
              width: 50%;
            }

            @include responsive(smallphone) {
              width: 100%;
            }

            img {
              width: 8rem;
              height: 8rem;
              border-radius: 6rem;
            }

            .profile-details {
              margin-left: 1rem;
              width: 100%;

              h2 {
                font-weight: 500;
                margin-bottom: 0.2rem;

                a {
                  color: $black-color;
                }
              }

              p {
                font-size: $heading-sixth;
                color: $second-color;
              }
            }

            .player-categroy {
              display: flex;
              justify-content: space-between;
              color: $second-color;
              width: 100%;

              h5 {
                font-weight: 600;
                font-size: $heading-fifth;
                color: $second-color;
              }

              a {
                color: $primary-color;
                font-size: $heading-fifth;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }
}
