@import "src/assets/sass/abstracts/variables";
@import "src/assets/sass/abstracts/mixins";

.form-container {
  margin: -24px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  align-items: center;
  background: $fifth-color;

  .title {
    width: 70%;

    h3 {
      font-size: $heading-third;
      color: $fourth-color;
      font-weight: 600;
    }
  }

  .close {
    width: 30%;
    display: block;
    text-align: right;

    .mat-icon {
      cursor: pointer;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

.modal-body {
  padding: 4rem 3rem;
  display: block;
  text-align: center;

  h4 {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
  }

  .action-block {
    button {
      font-size: $heading-fifth;
      margin: 1rem;

      &:hover {
        box-shadow: none;
      }
    }
  }
}
