<div class="form-container">
  <div class="modal-header">
    <div class="heading">
      <h4>{{ header }}</h4>
    </div>
    <div class="close">
      <img
        src="assets/images/icons/close-white.png"
        alt=""
        [mat-dialog-close]="false"
      />
    </div>
  </div>

  <div class="popup-content">
    <h3>{{ message }}</h3>
    <div class="action-block">
      <button class="confirm" [mat-dialog-close]="true">
        {{ acceptText }}
      </button>
      <button class="cancel" mat-dialog-close>{{ rejectText }}</button>
    </div>
  </div>
</div>
