<div class="form-container">
  <div class="header">
    <div class="title">
      <h3>{{ header }}</h3>
    </div>
    <div class="close">
      <mat-icon mat-dialog-close class="material-icons">close</mat-icon>
    </div>
  </div>

  <div class="modal-body">
    <h4>{{ message }}</h4>
    <div class="action-block">
      <div class="btn-group">
        <button class="btn-active" [mat-dialog-close]="true">Confirm</button>
        <button class="btn-normal" mat-dialog-close>Cancel</button>
      </div>
    </div>
  </div>
</div>
