<header class="header">
  <div class="header__logo">
    <a>
      <img
        [routerLink]="['/manage-player']"
        src="assets/images/logo-admin.png"
        alt="Logo"
      />
    </a>
  </div>
  <div class="header__version-text" (click)="toggleSidebar()">
    <span
      ><img src="assets/images/icons/header/toggle-sidebar.png" alt=""
    /></span>
  </div>
  <div class="header__options">
    <div class="user-details" (click)="changeDropdown()">
      <img
        src=" assets/images/profile-icon.png"
        alt="Ravi Prakash"
        class="user-pic"
      />
      <div class="text">
        <span class="name">Admin</span>
        <span class="designation">YFT Chain</span>
      </div>
      <div class="dropdown" [hidden]="this.isActive">
        <ul>
          <li>
            <a [routerLink]="['/change-password']">
              <i-feather name="lock"></i-feather> Change Password
            </a>
          </li>
          <li>
            <a (click)="logout()">
              <i-feather name="log-out"></i-feather> Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
