<header class="header">
  <div class="header__logo">
    <a>
      <img src="assets/images/logo-admin.png" alt="Logo" />
    </a>
  </div>
  <div class="header__version-text">
    <span (click)="onToggle()"
      ><img src="assets/images/icons/header/toggle-sidebar.png" alt=""
    /></span>
  </div>
  <div class="header__options">
    <div class="user-details">
      <img src="assets/images/avatar.png" alt="Ravi Prakash" class="user-pic" />
      <div class="text">
        <span class="name">Ravi Parkash</span>
        <span class="designation">Production Exective</span>
      </div>
    </div>
  </div>
</header>
