// MEDIA QUERY MANAGER
@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 599px) {
      @content;
    }
  } @else if $size == tablet-portrait-up {
    @media (max-width: 600px) {
      @content;
    }
  } @else if $size == tablet-landscape-up {
    @media (max-width: 900px) {
      @content;
    }
  } @else if $size == desktop-up {
    @media (max-width: 1200px) {
      @content;
    }
  } @else if $size == big-desktop-up {
    @media (max-width: 1800px) {
      @content;
    }
  }
}

//
@mixin btn-primary {
  background: -moz-linear-gradient(194deg, #00c9e4 0%, #007bff 100%);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, #007bff),
    color-stop(100%, #00c9e4)
  );
  background: -webkit-linear-gradient(194deg, #00c9e4 0%, #007bff 100%);
  background: -o-linear-gradient(194deg, #00c9e4 0%, #007bff 100%);
  background: -ms-linear-gradient(194deg, #00c9e4 0%, #007bff 100%);
  background: linear-gradient(256deg, #00c9e4 0%, #007bff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007bff', endColorstr='#00c9e4',GradientType=1 );
  border-color: #007bff;
}

@mixin disable {
  opacity: 0.5;
  background: #808080;
  border-radius: 0.8rem;
  cursor: not-allowed !important;
  border: 1px solid #e0e0e0 !important;
}
