@import "./variables";

//
@mixin btn-primary {
  background: -moz-linear-gradient(194deg, #00c9e4 0%, #007bff 100%);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, #007bff),
    color-stop(100%, #00c9e4)
  );
  background: -webkit-linear-gradient(194deg, #00c9e4 0%, #007bff 100%);
  background: -o-linear-gradient(194deg, #00c9e4 0%, #007bff 100%);
  background: -ms-linear-gradient(194deg, #00c9e4 0%, #007bff 100%);
  background: linear-gradient(256deg, #00c9e4 0%, #007bff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007bff', endColorstr='#00c9e4', GradientType=1);
  border-color: #007bff;
}

@mixin disable {
  opacity: 0.5;
  background: #808080;
  border-radius: 0.8rem;
  cursor: not-allowed !important;
  border: 1px solid #e0e0e0 !important;
}

@mixin btn {
  margin-top: 2.4rem;
  color: $color-white;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.8rem;
  cursor: pointer;
  width: 100%;
  letter-spacing: 1px;
  padding: 1.1rem;
  border-color: $blue;
  box-sizing: border-box;
  line-height: 2.8rem;
  outline: 0rem;
  border-radius: 0.35rem;
  font-family: "Ubuntu";
}

@mixin btn-primary-outline {
  border: 0.2rem solid $blue;
  background: transparent;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  color: $blue;
  outline: 0px;
  cursor: pointer;

  &:hover,
  &:active {
    background: $blue;
    color: $color-white;
    outline: 0px;
  }

  &:disabled {
    border: 0.2rem solid $grey;
    color: $grey;

    &:hover {
      background: $grey;
      color: $color-white;
      outline: 0px;
      cursor: not-allowed;
    }
  }
}

@mixin cancel {
  border: none;
  background: $cancel;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  color: $color-white;
  outline: 0px;
  cursor: pointer;

  &:hover,
  &:active {
    background: $text-color;
    color: $color-white;
    outline: 0px;
  }

  &:disabled {
    color: $color-white;
    background: $text-color;
    cursor: not-allowed;
  }
}

@mixin save {
  @include btn-primary;
  margin-left: 1rem;
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  outline: none;
  color: $color-white;
  cursor: pointer;

  &:hover,
  &:active {
    background: $blue;
    color: $color-white;
    outline: 0px;
  }

  &:disabled {
    color: $color-white;
    background: $text-color;
    cursor: not-allowed;
  }
}

// admin btn
@mixin admin-btn {
  border: none;
  background: $blue;
  padding: 1rem 2rem;
  color: $color-white;
  outline: 0px;
  cursor: pointer;

  &:hover,
  &:active {
    background: rgba($blue, 0.8);
    color: $color-white;
    outline: 0px;
  }

  &:disabled {
    color: $color-white;
    background: $text-color;
    cursor: not-allowed;
  }
}

//  new UI
@mixin shadow {
  -webkit-box-shadow: 0px 0px 1px rgba($fourth-color, 0.04),
    0px 2px 6px rgba($fourth-color, 0.04),
    0px 10px 20px rgba($fourth-color, 0.04);
  box-shadow: 0px 0px 1px rgba($fourth-color, 0.04),
    0px 2px 6px rgba($fourth-color, 0.04),
    0px 10px 20px rgba($fourth-color, 0.04);
}

@mixin shadow-btn-secondary {
  box-shadow: 0rem 0rem 0.1rem rgba($fourth-color, 0.04),
    0px 2px 6px rgba($fourth-color, 0.12),
    0rem 1rem 2rem rgba($fourth-color, 0.18);
}

@mixin shadow-btn-primary {
  box-shadow: 0rem 0rem 0.1rem rgba($primary-color, 0.04),
    0px 2px 6px rgba($primary-color, 0.12),
    0rem 1rem 2rem rgba($primary-color, 0.18);
}

// media query manager
@mixin responsive($breakpoint) {
  @if $breakpoint==smallphone {
    @media only screen and (max-width: 480px) {
      @content;
    }
  }

  @if $breakpoint==mediumphone {
    @media only screen and (max-width: 640px) {
      @content;
    }
  }

  @if $breakpoint==bigphone {
    @media only screen and (max-width: 767px) {
      @content;
    }
  }

  @if $breakpoint==tablet {
    @media only screen and (max-width: 991px) {
      @content;
    }
  }

  @if $breakpoint==smalldesktop {
    @media only screen and (max-width: 1200px) {
      @content;
    }
  }

  @if $breakpoint==desktop {
    @media only screen and (max-width: 1400px) {
      @content;
    }
  }

  @if $breakpoint==bigdesktop {
    @media only screen and (min-width: 1400px) {
      @content;
    }
  }
}
