// MEDIA QUERY MANAGER
@mixin respond-media-query($media-width-type, $breakpoint) {
  @media only screen and (#{$media-width-type}: $breakpoint) {
    @content;
  }
}

//
@mixin btn-primary {
  background: -moz-linear-gradient(194deg, #00c9e4 0%, #007bff 100%);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, #007bff),
    color-stop(100%, #00c9e4)
  );
  background: -webkit-linear-gradient(194deg, #00c9e4 0%, #007bff 100%);
  background: -o-linear-gradient(194deg, #00c9e4 0%, #007bff 100%);
  background: -ms-linear-gradient(194deg, #00c9e4 0%, #007bff 100%);
  background: linear-gradient(256deg, #00c9e4 0%, #007bff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007bff', endColorstr='#00c9e4',GradientType=1 );
  border-color: #007bff;
}
