// COLORS
//
//themes starts
//default
$color-primary: #ee7689;

//optional
// $color-primary:#0019ca;
// $color-primary-light: lighten($color-primary,15%);
// $color-primary-dark: darken($color-primary,1%);

// themes ends
$color-primary-light: #ffab97;
$color-primary-dark: #ff6789;
//
$color-white: #fff;
$color-black: #000;

$header-success: #2ed47a;
$error: red;
$white: #fff;
$blue: blue;

$grey: #e0e0e0;
$text-muted: #6c757d;

$border-color: #eaebec;
