@import "src/assets/sass/abstracts/variables";
main {
  display: flex;
  app-frontend-sidebar {
    flex: 1 1 100%;
    max-width: 27rem;
  }
  app-container {
    flex: 1 1 0%;
    background-image: radial-gradient(
      circle at center,
      rgba(lighten($color-primary, 15), 0.2) 0%,
      rgba(lighten($color-primary, 16), 0.2) 100%
    );
    ::ng-deep {
      .main-content {
        padding: 4.3rem 2.4rem 0rem 2.4rem;
      }
    }
  }
}
