<div class="sidebar">
  <div class="sidebar__avatar">
    <img src="assets/images/avatar.png" />
    <h3 class="name">Ravi Parkash</h3>
    <h4 class="designation">Admin</h4>
    <!-- <h4 class="department">Outword -FC</h4> -->
  </div>
  <div class="sidebar__menu">
    <ul>
      <li routerLinkActive="active">
        <a>
          <span class="custom-icons">
            <mat-icon svgIcon="dashboard"></mat-icon> </span
          >Dashboard
        </a>
      </li>
      <li routerLinkActive="active">
        <a (click)="changeDropdown()" class="arrow">
          <span class="custom-icons">
            <mat-icon svgIcon="member"></mat-icon>
          </span>
          Member Management
          <span class="down-icons">
            <mat-icon svgIcon="down-arrow"></mat-icon>
          </span>
        </a>
        <div class="dropdown" [hidden]="this.isActive">
          <ul>
            <li>
              <a routerLink="/manage-player">
                <span class="custom-icons">
                  <mat-icon svgIcon="manage-player"></mat-icon>
                </span>
                Manage Player
              </a>
            </li>
            <li>
              <a routerLink="/manage-club">
                <span class="custom-icons">
                  <mat-icon svgIcon="manage-club"></mat-icon>
                </span>
                Manage Club</a
              >
            </li>
            <li>
              <a routerLink="/manage-academy">
                <span class="custom-icons">
                  <mat-icon svgIcon="manage-academy"></mat-icon>
                </span>
                Manage Academy</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li routerLinkActive="active">
        <a>
          <span class="custom-icons">
            <mat-icon svgIcon="manage-user"></mat-icon> </span
          >Manage User
        </a>
      </li>
      <li routerLinkActive="active">
        <a>
          <span class="custom-icons">
            <mat-icon svgIcon="master-data"></mat-icon> </span
          >Master Data
        </a>
      </li>
      <li routerLinkActive="active">
        <a>
          <span class="custom-icons">
            <mat-icon svgIcon="manage-contracts"></mat-icon>
          </span>
          Manage Contracts
        </a>
      </li>
      <li routerLinkActive="active">
        <a>
          <span class="custom-icons">
            <mat-icon svgIcon="manage-subscription"></mat-icon> </span
          >Manage Subscription
        </a>
      </li>
      <li routerLinkActive="active">
        <a>
          <span class="custom-icons">
            <mat-icon svgIcon="report"></mat-icon> </span
          >Manage Reports
        </a>
      </li>
    </ul>
  </div>
</div>
