@import "src/assets/sass/abstracts/variables";
@import "src/assets/sass/abstracts/mixins";

// Header CSS

.header {
  .logo {
    margin-top: 1rem;

    a {
      background-color: $third-color;
      padding: 1rem 5rem 1rem 3rem;
      display: inline-block;
      -webkit-border-top-right-radius: 8rem;
      -webkit-border-bottom-right-radius: 8rem;
      -moz-border-top-right-radius: 8rem;
      -moz-border-bottom-right-radius: 8rem;
      border-top-right-radius: 8rem;
      border-bottom-right-radius: 8rem;
      cursor: pointer;

      img {
        max-width: 25rem;

        @include responsive(bigphone) {
          max-width: 21rem;
        }
      }
    }
  }
}

// Middle CSS
.site-wrapper {
  width: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  min-height: 80vh;

  @include responsive(tablet) {
    width: 95%;
  }

  @include responsive(bigphone) {
    min-height: initial;
    padding: 3rem 0;
    flex-direction: column;
    width: 80%;
  }

  @include responsive(smallphone) {
    width: 100%;
    padding: 4rem 3rem;
  }

  .text-section {
    width: 45%;

    @include responsive(bigphone) {
      display: none;
    }

    @include responsive(bigphone) {
      width: 100%;
    }

    .register-img {
      max-width: 50rem;

      @include responsive(bigdesktop) {
        max-width: 60rem;
      }

      @include responsive(bigphone) {
        display: none;
      }

      img {
        width: 100%;
      }
    }
  }

  .form-section {
    width: 55%;

    @include responsive(bigphone) {
      width: 100%;
    }

    .form-box {
      width: 70%;
      margin: auto;
      -webkit-box-shadow: 0rem 0rem 1.8rem 0rem rgba($fourth-color, 0.12);
      -moz-box-shadow: 0rem 0rem 1.8rem 0rem rgba($fourth-color, 0.12);
      box-shadow: 0rem 0rem 1.8rem 0rem rgba($fourth-color, 0.12);
      -webkit-border-radius: 1rem;
      -moz-border-radius: 1rem;
      border-radius: 1rem;
      padding: 3rem 4rem;
      margin: 10rem auto;
      max-width: 70rem;

      @include responsive(tablet) {
        width: 100%;
        max-width: 50rem;
      }

      @include responsive(bigphone) {
        width: 100%;
        max-width: 100%;
        box-shadow: none;
        padding: 1rem 0rem;
        margin: auto;
      }

      .form-group {
        display: flex;
        justify-content: space-between;

        @include responsive(tablet) {
          flex-direction: column;
        }

        @include responsive(bigphone) {
          flex-direction: row;
        }

        @include responsive(smallphone) {
          flex-direction: column;
        }

        .half {
          width: 48%;

          @include responsive(tablet) {
            width: 100%;
          }

          @include responsive(bigphone) {
            width: 48%;
          }

          @include responsive(smallphone) {
            width: 100%;
          }
        }
      }

      .recapcha {
        width: 100%;
        margin: 1rem 0;

        img {
          max-height: 7rem;
        }
      }

      .remberme {
        margin: 2rem 0 1rem 0;
      }

      h2 {
        font-size: $heading-primary;
        color: $fourth-color;
        font-family: $secondary-text;
        position: relative;
        padding-bottom: 2rem;
        font-weight: 100;

        @include responsive(mediumphone) {
          padding-bottom: 0.5rem;
        }
      }

      p {
        color: $fourth-color;
        display: block;
        text-align: center;
        font-weight: 500;
        font-size: $heading-fourth;
        margin-top: 2rem;

        a {
          color: $primary-color;
          font-weight: 700;
        }
      }
    }
  }
}
