<div class="registration">
  <div class="registration-wrapper">
    <!-- header section -->
    <div class="registration-wrapper-header">
      <img src="assets/images/logo.png" alt="brand-logo" />
      <p>
        Make the most of your professional life
      </p>
    </div>
    <!-- Registration forms -->
    <div class="registration-wrapper-forms">
      <div class="register-type">
        <button
          (click)="toggleForm('player')"
          [ngClass]="{ active: activeForm == 'player' }"
        >
          Player
        </button>
        <button
          (click)="toggleForm('club')"
          [ngClass]="{ active: activeForm == 'club' }"
        >
          Club
        </button>
        <button
          (click)="toggleForm('academy')"
          [ngClass]="{ active: activeForm == 'academy' }"
        >
          Academy
        </button>
      </div>
      <div class="Player" *ngIf="activeForm === 'player'">
        <!-- Player Form -->
        <form
          (ngSubmit)="playerRegister()"
          [formGroup]="playerRegisterationForm"
          class="form"
          id="player"
        >
          <!-- firstName LastName  -->
          <div class="form-row">
            <div class="input-wrapper">
              <i-feather name="User" class="icon-size"></i-feather>
              <!-- <img src="assets/icons/user.svg" alt="" /> -->
              <label>First Name</label>
              <input
                formControlName="first_name"
                type="text"
                matInput
                required
              />
              <ng-container
                *ngIf="isFocused(playerRegisterationForm, 'first_name')"
              >
                <span
                  class="error-text"
                  *ngIf="isRequired(playerRegisterationForm, 'first_name')"
                >
                  First Name is required</span
                >
              </ng-container>
            </div>

            <div class="input-wrapper">
              <i-feather name="User" class="icon-size"></i-feather>
              <!-- <img src="assets/icons/user.svg" alt="" /> -->
              <label>Last Name</label>
              <input
                formControlName="last_name"
                type="text"
                matInput
                required
              />
              <ng-container
                *ngIf="isFocused(playerRegisterationForm, 'last_name')"
              >
                <span
                  class="error-text"
                  *ngIf="isRequired(playerRegisterationForm, 'last_name')"
                  >Last Name is required</span
                >
              </ng-container>
            </div>
          </div>

          <!-- Email / Contact Number -->
          <div class="form-row">
            <div class="input-wrapper">
              <i-feather name="at-sign" class="icon-size"></i-feather>
              <!-- <img src="assets/icons/at-sign.svg" alt="" /> -->
              <label>Email</label>
              <input formControlName="email" type="text" matInput />
              <ng-container *ngIf="isFocused(playerRegisterationForm, 'email')">
                <span
                  class="error-text"
                  *ngIf="isRequired(playerRegisterationForm, 'email')"
                  >Email is required</span
                >
                <span
                  class="error-text"
                  *ngIf="playerRegisterationForm.controls.email.errors.email"
                  >Email format is Invalid</span
                >
              </ng-container>
            </div>

            <div class="input-wrapper">
              <i-feather name="phone-call" class="icon-size"></i-feather>
              <!-- <img src="assets/icons/phone-call.svg" alt="" /> -->
              <label>Contact Number</label>
              <input formControlName="phone" type="text" matInput />
              <ng-container *ngIf="isFocused(playerRegisterationForm, 'phone')">
                <span
                  class="error-text"
                  *ngIf="isRequired(playerRegisterationForm, 'phone')"
                  >Contact Number is required</span
                >
                <span
                  class="error-text"
                  *ngIf="
                    playerRegisterationForm.controls.phone.errors.minlength
                  "
                >
                  Please provide number upto
                  {{
                    playerRegisterationForm.controls.phone.errors.minlength
                      .requiredLength
                  }}
                  digits
                </span>
                <span
                  class="error-text"
                  *ngIf="
                    playerRegisterationForm.controls.phone.errors.maxlength
                  "
                >
                  Please provide number under
                  {{
                    playerRegisterationForm.controls.phone.errors.maxlength
                      .requiredLength
                  }}
                  digits
                </span>
              </ng-container>
            </div>
          </div>

          <!-- Country and City -->
          <div class="form-row">
            <div class="input-wrapper">
              <label>Country</label>
              <select formControlName="country" matNativeControl required>
                <option value="null">Select Country</option>
                <option value="india">India</option>
                <option value="uk">UK</option>
                <option value="usa">USA</option>
                <option value="australia">Australia</option
                >country
              </select>
              <ng-container
                *ngIf="isFocused(playerRegisterationForm, 'country')"
              >
                <span
                  class="error-text"
                  *ngIf="isRequired(playerRegisterationForm, 'country')"
                  >Country is required</span
                >
              </ng-container>
            </div>

            <div class="input-wrapper">
              <label>State</label>
              <select formControlName="state" matNativeControl required>
                <option value="null">Select State</option>
                <option value="delhi">Delhi</option>
                <option value="mumbai">Mumbai</option>
                <option value="up">U.P</option>
                <option value="mp">M.P</option>
              </select>
              <ng-container *ngIf="isFocused(playerRegisterationForm, 'state')">
                <span
                  class="error-text"
                  *ngIf="isRequired(playerRegisterationForm, 'state')"
                  >State is required</span
                >
              </ng-container>
            </div>
          </div>

          <!-- captcha -->
          <div class="form-row">
            <div class="img-wrapper">
              <img src="assets/images/capcha.png" alt="" />
            </div>
          </div>

          <div class="form-row">
            <div class="input-wrapper-full">
              <p>
                You agree to the YFT chain <a>User Agreement</a> and
                <a>Privacy Policy</a>
              </p>
            </div>
          </div>

          <div class="form-row">
            <div class="input-wrapper-full">
              <button
                type="submit"
                class="btn"
                [disabled]="playerRegisterationForm.invalid"
              >
                Agree & Join
              </button>
            </div>
          </div>
        </form>
      </div>

      <!-- club Form -->
      <div class="clubs" *ngIf="activeForm === 'club'">
        <form
          (ngSubmit)="clubRegister()"
          [formGroup]="clubRegisterationForm"
          class="form"
          id="player"
        >
          <!-- firstName LastName  -->
          <div class="form-row">
            <div class="input-wrapper-full">
              <i-feather name="User" class="icon-size"></i-feather>
              <!-- <img src="assets/icons/user.svg" alt="" /> -->
              <label>Club Name</label>
              <input formControlName="name" type="text" matInput />
              <ng-container *ngIf="isFocused(clubRegisterationForm, 'name')">
                <span
                  class="error-text"
                  *ngIf="isRequired(clubRegisterationForm, 'name')"
                  >Club Name is required</span
                >
              </ng-container>
            </div>
          </div>

          <!-- Email / Contact Number -->
          <div class="form-row">
            <div class="input-wrapper">
              <i-feather name="at-sign" class="icon-size"></i-feather>
              <!-- <img src="assets/icons/at-sign.svg" alt="" /> -->
              <label>Email</label>
              <input formControlName="email" type="text" matInput />
              <ng-container *ngIf="isFocused(clubRegisterationForm, 'email')">
                <span
                  class="error-text"
                  *ngIf="isRequired(clubRegisterationForm, 'email')"
                  >Email is required</span
                >
                <span
                  class="error-text"
                  *ngIf="clubRegisterationForm.controls.email.errors.email"
                  >Email format is Invalid</span
                >
              </ng-container>
            </div>

            <div class="input-wrapper">
              <i-feather name="phone-call" class="icon-size"></i-feather>
              <!-- <img src="assets/icons/phone-call.svg" alt="" /> -->
              <label>Contact Number</label>
              <input formControlName="phone" type="text" matInput />
              <ng-container *ngIf="isFocused(clubRegisterationForm, 'phone')">
                <span
                  class="error-text"
                  *ngIf="isRequired(clubRegisterationForm, 'phone')"
                  >Contact Number is required</span
                >
                <span
                  class="error-text"
                  *ngIf="clubRegisterationForm.controls.phone.errors.minlength"
                >
                  Please provide number upto
                  {{
                    clubRegisterationForm.controls.phone.errors.minlength
                      .requiredLength
                  }}
                  digits
                </span>
                <span
                  class="error-text"
                  *ngIf="clubRegisterationForm.controls.phone.errors.maxlength"
                >
                  Please provide number under
                  {{
                    clubRegisterationForm.controls.phone.errors.maxlength
                      .requiredLength
                  }}
                  digits
                </span>
              </ng-container>
            </div>
          </div>

          <!-- Country and City -->
          <div class="form-row">
            <div class="input-wrapper">
              <label>Country</label>
              <select formControlName="country" matNativeControl required>
                <option value="null">Select Country</option>
                <option value="india">India</option>
                <option value="uk">UK</option>
                <option value="usa">USA</option>
                <option value="australia">Australia</option>
              </select>
              <ng-container *ngIf="isFocused(clubRegisterationForm, 'country')">
                <span
                  class="error-text"
                  *ngIf="isRequired(clubRegisterationForm, 'country')"
                  >Country is required</span
                >
              </ng-container>
            </div>

            <div class="input-wrapper">
              <label>State</label>
              <select formControlName="state" matNativeControl required>
                <option value="null">Select State</option>
                <option value="delhi">Delhi</option>
                <option value="mumbai">Mumbai</option>
                <option value="up">U.P</option>
                <option value="mp">M.P</option>
              </select>
              <ng-container *ngIf="isFocused(clubRegisterationForm, 'state')">
                <span
                  class="error-text"
                  *ngIf="isRequired(clubRegisterationForm, 'state')"
                  >State is required</span
                >
              </ng-container>
            </div>
          </div>

          <!-- captcha -->
          <div class="form-row">
            <div class="img-wrapper">
              <img src="assets/images/capcha.png" alt="" />
            </div>
          </div>

          <div class="form-row">
            <div class="input-wrapper-full">
              <p>
                You agree to the YFT chain <a>User Agreement</a> and
                <a>Privacy Policy</a>
              </p>
            </div>
          </div>

          <div class="form-row">
            <div class="input-wrapper-full">
              <button
                type="submit"
                class="btn"
                [disabled]="clubRegisterationForm.invalid"
              >
                Agree & Join
              </button>
            </div>
          </div>
        </form>
      </div>
      <!-- academy Form -->
      <div class="academy" *ngIf="activeForm === 'academy'">
        <form
          (ngSubmit)="academyRegister()"
          [formGroup]="academyRegisterationForm"
          class="form"
          id="player"
        >
          <!-- firstName LastName  -->
          <div class="form-row">
            <div class="input-wrapper-full">
              <i-feather name="User" class="icon-size"></i-feather>
              <!-- <img src="assets/icons/user.svg" alt="" /> -->
              <label>Academy Name</label>
              <input formControlName="name" type="text" matInput required />
              <ng-container *ngIf="isFocused(academyRegisterationForm, 'name')">
                <span
                  class="error-text"
                  *ngIf="isRequired(academyRegisterationForm, 'name')"
                  >Academy Name is required</span
                >
              </ng-container>
            </div>
          </div>

          <!-- Email / Contact Number -->
          <div class="form-row">
            <div class="input-wrapper">
              <i-feather name="at-sign" class="icon-size"></i-feather>
              <!-- <img src="assets/icons/at-sign.svg" alt="" /> -->
              <label>Email</label>
              <input formControlName="email" type="text" matInput />
              <ng-container
                *ngIf="isFocused(academyRegisterationForm, 'email')"
              >
                <span
                  class="error-text"
                  *ngIf="isRequired(academyRegisterationForm, 'email')"
                  >Email is required</span
                >
                <span
                  class="error-text"
                  *ngIf="academyRegisterationForm.controls.email.errors.email"
                  >Email format is Invalid</span
                >
              </ng-container>
            </div>

            <div class="input-wrapper">
              <i-feather name="phone-call" class="icon-size"></i-feather>
              <!-- <img src="assets/icons/phone-call.svg" alt="" /> -->
              <label>Contact Number</label>
              <input formControlName="phone" type="text" matInput />
              <ng-container
                *ngIf="isFocused(academyRegisterationForm, 'phone')"
              >
                <span
                  class="error-text"
                  *ngIf="isRequired(academyRegisterationForm, 'phone')"
                  >Contact Number is required</span
                >
                <span
                  class="error-text"
                  *ngIf="
                    academyRegisterationForm.controls.phone.errors.minlength
                  "
                >
                  Please provide number upto
                  {{
                    academyRegisterationForm.controls.phone.errors.minlength
                      .requiredLength
                  }}
                  digits
                </span>
                <span
                  class="error-text"
                  *ngIf="
                    academyRegisterationForm.controls.phone.errors.maxlength
                  "
                >
                  Please provide number upto
                  {{
                    academyRegisterationForm.controls.phone.errors.maxlength
                      .requiredLength
                  }}
                  digits
                </span>
              </ng-container>
            </div>
          </div>

          <!-- Country and City -->
          <div class="form-row">
            <div class="input-wrapper">
              <label>Country</label>
              <select formControlName="country" matNativeControl required>
                <option value="null">Select Country</option>
                <option value="india">India</option>
                <option value="uk">UK</option>
                <option value="usa">USA</option>
                <option value="australia">Australia</option>
              </select>
              <ng-container
                *ngIf="isFocused(academyRegisterationForm, 'country')"
              >
                <span
                  class="error-text"
                  *ngIf="isRequired(academyRegisterationForm, 'country')"
                  >Country is required</span
                >
              </ng-container>
            </div>

            <div class="input-wrapper">
              <label>State</label>
              <select
                name="State"
                value="state"
                formControlName="state"
                matNativeControl
                placeholder="Select State"
                required
              >
                <option value="null">Select State</option>
                <option value="delhi">Delhi</option>
                <option value="mumbai">Mumbai</option>
                <option value="up">U.P</option>
                <option value="mp">M.P</option>
              </select>
              <ng-container
                *ngIf="isFocused(academyRegisterationForm, 'state')"
              >
                <span
                  class="error-text"
                  *ngIf="isRequired(academyRegisterationForm, 'state')"
                  >State is required</span
                >
              </ng-container>
            </div>
          </div>

          <!-- captcha -->
          <div class="form-row">
            <div class="img-wrapper">
              <img src="assets/images/capcha.png" alt="" />
            </div>
          </div>

          <div class="form-row">
            <div class="input-wrapper-full">
              <p>
                You agree to the YFT chain <a>User Agreement</a> and
                <a>Privacy Policy</a>
              </p>
            </div>
          </div>

          <div class="form-row">
            <div class="input-wrapper-full">
              <button
                type="submit"
                class="btn"
                [disabled]="academyRegisterationForm.invalid"
              >
                Agree & Join
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="form-row">
        <p>Already on YFT chain? <a [routerLink]="['/login']">Sign in</a></p>
      </div>
    </div>
  </div>
</div>
