@import "src/assets/sass/abstracts/variables";
@import "src/assets/sass/abstracts/mixins";

// Header CSS
.header {
  .logo {
    margin-top: 1rem;

    span {
      background-color: $third-color;
      padding: 1rem 5rem 1rem 3rem;
      display: inline-block;
      -webkit-border-top-right-radius: 8rem;
      -webkit-border-bottom-right-radius: 8rem;
      -moz-border-top-right-radius: 8rem;
      -moz-border-bottom-right-radius: 8rem;
      border-top-right-radius: 8rem;
      border-bottom-right-radius: 8rem;

      img {
        max-width: 25rem;
      }
    }
  }
}

// Middle CSS
.site-wrapper {
  width: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  min-height: 80vh;

  .text-section {
    width: 45%;

    .register-img {
      max-width: 50rem;

      img {
        width: 100%;
      }
    }
  }

  .form-section {
    width: 55%;

    .form-box {
      width: 70%;
      margin: auto;
      -webkit-box-shadow: 0rem 0rem 1.8rem 0rem rgba($fourth-color, 0.12);
      -moz-box-shadow: 0rem 0rem 1.8rem 0rem rgba($fourth-color, 0.12);
      box-shadow: 0rem 0rem 1.8rem 0rem rgba($fourth-color, 0.12);
      -webkit-border-radius: 1rem;
      -moz-border-radius: 1rem;
      border-radius: 1rem;
      padding: 3rem 4rem;
      margin: 10rem auto;

      .recapcha {
        width: 100%;
        margin: 1rem 0;

        img {
          max-height: 7rem;
        }
      }

      .remberme {
        margin: 2rem 0 1rem 0;
      }

      h2 {
        font-size: $heading-primary;
        color: $fourth-color;
        font-family: $secondary-text;
        position: relative;
        padding-bottom: 2rem;
      }

      p {
        color: $fourth-color;
        display: block;
        text-align: center;
        font-weight: 500;
        font-size: $heading-fourth;
        margin-top: 2rem;

        a {
          color: $primary-color;
          font-weight: 700;
        }
      }
    }
  }
}

// footer CSS
.footer {
  .mainfooter {
    padding: 3rem 0;
    background-color: $third-color;

    .wrapper {
      width: 90%;
      margin: auto;
      display: flex;

      .logo {
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
          max-width: 25rem;
        }

        p {
          font-size: 1.8rem;
          font-weight: 700;
          font-style: italic;
          padding-left: 2rem;
        }
      }

      .links {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
          list-style: none;

          li {
            a {
              font-size: $heading-fourth;
              font-weight: 500;
              display: inline-block;
              margin-bottom: 0.5rem;
            }
          }
        }
      }

      .social {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
          list-style: none;

          li {
            display: inline-block;
            margin-right: 2rem;

            a {
              display: inline-block;

              img {
                max-width: 3rem;

                &:hover {
                  opacity: 0.5;
                }
              }
            }
          }
        }
      }
    }
  }

  .copyright {
    background-color: $fourth-color;
    padding: 2rem 0;
    text-align: center;
    display: block;
    color: $white-color;
    font-size: $heading-fifth;
  }
}
