@import "src/assets/sass/abstracts/variables";
@import "src/assets/sass/abstracts/mixins";
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap");

.registration {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $grey;
  font-family: "Ubuntu", sans-serif;

  &-wrapper {
    margin: auto;
    max-width: 65rem;
    width: 100%;
    padding: 2rem;

    &-header {
      display: block;
      text-align: center;
      margin-bottom: 3rem;

      img {
        max-width: 20rem;
        margin-bottom: 2rem;
      }

      h3 {
        font-weight: 700;
        font-size: 2.8rem;
        margin-bottom: 1.5rem;
      }

      p {
        font-size: 1.8rem;
        color: $text-muted;
        line-height: 2.4rem;
      }
    }

    &-forms {
      .register-type {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 2rem auto;

        button {
          max-width: 19rem;
          width: 100%;
          height: 5rem;
          cursor: pointer;
          border: none;
          background: $color-white;
        }
      }

      .form-row {
        display: flex;
        justify-content: space-between;

        p {
          font-size: 1.8rem;

          a {
            color: $blue;
            font-weight: 700;
            text-decoration: none;

            :link {
              color: $blue;
            }

            :visited {
              color: $blue;
            }

            :active {
              color: $blue;
            }
          }
        }

        .input-wrapper,
        .input-wrapper-full {
          width: 48%;
          padding-bottom: 2rem;
          position: relative;
          margin-bottom: 1rem;

          .icon-size {
            width: 2.2rem;
            height: 2.2rem;
            position: absolute;
            top: 4rem;
            left: 1.5rem;
            color: rgba($color-black, 0.8);
          }

          label {
            font-size: 1.8rem;
            color: $color-black;
            margin-bottom: 1rem;
            font-weight: 500;
            display: block;
          }

          input,
          select {
            width: 100%;
            padding: 1rem 1rem 1rem 5rem;
            border: 0.1rem solid #eaebec;
            background: #f8fafc;
            box-sizing: border-box;
            border-radius: 0.5rem;
            color: rgba($color-black, 0.8);
            line-height: 2.7rem;
            outline: 0rem;
            font-size: 1.8rem;

            &.ng-invalid.ng-touched {
              font-size: 1.8rem;
              border: 0.1rem solid $error;
            }

            &:focus {
              outline: 1px solid $blue;
              border-radius: 0.8rem;
            }
          }

          select {
            padding-left: 1rem;
          }

          .contact {
            display: flex;

            .country-code {
              width: 25%;
              margin-right: 1rem;

              input {
                padding-left: 1.5rem;

                &:focus {
                  outline: 0px solid #eaebec !important;
                }
              }
            }

            .contact-number {
              width: 75%;
              position: relative;

              .icon-size {
                // display: none;
                width: 2.2rem;
                height: 2.2rem;
                position: absolute;
                top: 1.3rem;
                left: 1.5rem;
                color: rgba($color-black, 0.8);
              }

              .mat-error {
                bottom: -2rem;
              }
            }
          }
        }

        .img-wrapper {
          width: 48%;
          margin-top: 0.7rem;

          img {
            width: 100%;
          }
        }

        .input-wrapper-full {
          width: 100%;
          margin-bottom: 1rem;

          .btn {
            @include btn-primary;
            @include btn;

            &:disabled {
              @include disable;
            }
          }
        }
      }
    }
  }
}

.active {
  background: $blue !important;
  color: $color-white;
}

.error-text {
  color: red;
}

.zero {
  margin: 0px !important;
  padding: 0px !important;
}

.pd-zero {
  padding: 0px !important;
}

.info {
  width: 2rem;
  height: 2rem;
  transform: translate(0.5rem, 0.3rem);
  cursor: pointer;
}

// Header CSS
.header {
  .logo {
    margin-top: 1rem;

    span {
      background-color: $third-color;
      padding: 1rem 5rem 1rem 3rem;
      display: inline-block;
      -webkit-border-top-right-radius: 8rem;
      -webkit-border-bottom-right-radius: 8rem;
      -moz-border-top-right-radius: 8rem;
      -moz-border-bottom-right-radius: 8rem;
      border-top-right-radius: 8rem;
      border-bottom-right-radius: 8rem;

      img {
        max-width: 25rem;
      }
    }
  }
}

// Middle CSS
.site-wrapper {
  width: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  min-height: 80vh;

  .text-section {
    width: 45%;

    .register-img {
      max-width: 50rem;

      img {
        width: 100%;
      }
    }
  }

  .form-section {
    width: 55%;

    .form-box {
      width: 70%;
      margin: auto;
      -webkit-box-shadow: 0rem 0rem 1.8rem 0rem rgba($fourth-color, 0.12);
      -moz-box-shadow: 0rem 0rem 1.8rem 0rem rgba($fourth-color, 0.12);
      box-shadow: 0rem 0rem 1.8rem 0rem rgba($fourth-color, 0.12);
      -webkit-border-radius: 1rem;
      -moz-border-radius: 1rem;
      border-radius: 1rem;
      padding: 3rem 4rem;
      margin: 10rem auto;

      .recapcha {
        width: 100%;
        margin: 1rem 0;

        img {
          max-height: 7rem;
        }
      }

      .remberme {
        margin: 1rem 0;
      }

      h2 {
        font-size: $heading-primary;
        color: $fourth-color;
        font-family: $secondary-text;
        position: relative;
        padding-bottom: 2rem;
      }

      p {
        color: $fourth-color;
        display: block;
        text-align: center;
        font-weight: 500;
        font-size: $heading-fourth;
        margin-top: 2rem;

        a {
          color: $primary-color;
          font-weight: 700;
        }
      }
    }
  }
}

// footer CSS
.footer {
  .mainfooter {
    padding: 3rem 0;
    background-color: $third-color;

    .wrapper {
      width: 90%;
      margin: auto;
      display: flex;

      .logo {
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
          max-width: 25rem;
        }

        p {
          font-size: 1.8rem;
          font-weight: 700;
          font-style: italic;
          padding-left: 2rem;
        }
      }

      .links {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
          list-style: none;

          li {
            a {
              font-size: $heading-fourth;
              font-weight: 500;
              display: inline-block;
              margin-bottom: 0.5rem;
            }
          }
        }
      }

      .social {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
          list-style: none;

          li {
            display: inline-block;
            margin-right: 2rem;

            a {
              display: inline-block;

              img {
                max-width: 3rem;

                &:hover {
                  opacity: 0.5;
                }
              }
            }
          }
        }
      }
    }
  }

  .copyright {
    background-color: $fourth-color;
    padding: 2rem 0;
    text-align: center;
    display: block;
    color: $white-color;
    font-size: $heading-fifth;
  }
}
