<div class="registration">
  <div class="registration-wrapper">
    <!-- header section -->
    <div class="registration-wrapper-header">
      <img src="assets/images/logo.png" alt="brand-logo" />
      <p>
        Make the most of your professional life
      </p>
    </div>
    <!-- Registration forms -->
    <div class="registration-wrapper-forms">
      <div class="register-type">
        <button
          (click)="toggleForm('player')"
          [ngClass]="{ active: activeForm == 'player' }"
        >
          Player
        </button>
        <button
          (click)="toggleForm('club')"
          [ngClass]="{ active: activeForm == 'club' }"
        >
          Club
        </button>
        <button
          (click)="toggleForm('academy')"
          [ngClass]="{ active: activeForm == 'academy' }"
        >
          Academy
        </button>
      </div>
      <form
        (ngSubmit)="register()"
        [formGroup]="registrationForm"
        class="form"
        id="player"
      >
        <!-- firstName LastName  -->
        <div class="form-row">
          <!-- Club name -->
          <div class="input-wrapper-full" *ngIf="activeForm === 'club'">
            <i-feather name="User" class="icon-size"></i-feather>
            <!-- <img src="assets/icons/user.svg" alt="" /> -->
            <label>Club Name</label>
            <input
              formControlName="name"
              type="text"
              matInput
              placeholder="Club Name"
            />
            <ng-container
              *ngIf="
                registrationForm.controls.name.invalid &&
                registrationForm.controls.name.touched
              "
            >
              <mat-error
                class="error-text"
                *ngIf="registrationForm.controls.name.errors.required"
              >
                Club Name is required
              </mat-error>
              <mat-error
                class="error-text"
                *ngIf="
                  !registrationForm.controls.name.errors.required &&
                  registrationForm.controls.name.errors.pattern
                "
              >
                Club Name is invalid
              </mat-error>
              <mat-error
                class="error-text"
                *ngIf="
                  !registrationForm.controls.name.errors.required &&
                  !registrationForm.controls.name.errors.pattern &&
                  registrationForm.controls.name.errors.maxlength
                "
              >
                Club Name cannot exceed 25 characters
              </mat-error>
            </ng-container>
          </div>
          <!-- Academy name -->
          <div class="input-wrapper-full" *ngIf="activeForm === 'academy'">
            <i-feather name="User" class="icon-size"></i-feather>
            <!-- <img src="assets/icons/user.svg" alt="" /> -->
            <label>Academy Name</label>
            <input
              formControlName="name"
              type="text"
              placeholder="Academy Name"
              matInput
              required
            />
            <ng-container
              *ngIf="
                registrationForm.controls.name.invalid &&
                registrationForm.controls.name.touched
              "
            >
              <mat-error
                class="error-text"
                *ngIf="registrationForm.controls.name.errors.required"
              >
                Academy Name is required
              </mat-error>
              <mat-error
                class="error-text"
                *ngIf="
                  !registrationForm.controls.name.errors.required &&
                  registrationForm.controls.name.errors.pattern
                "
              >
                Academy Name is invalid
              </mat-error>
              <mat-error
                class="error-text"
                *ngIf="
                  !registrationForm.controls.name.errors.required &&
                  !registrationForm.controls.name.errors.pattern &&
                  registrationForm.controls.name.errors.maxlength
                "
              >
                Academy Name cannot exceed 25 characters
              </mat-error>
            </ng-container>
          </div>

          <div class="input-wrapper" *ngIf="activeForm === 'player'">
            <i-feather name="User" class="icon-size"></i-feather>
            <!-- <img src="assets/icons/user.svg" alt="" /> -->
            <label>First Name</label>
            <input
              formControlName="first_name"
              type="text"
              matInput
              required
              placeholder="First Name"
            />
            <ng-container
              *ngIf="
                registrationForm.controls.first_name.invalid &&
                registrationForm.controls.first_name.touched
              "
            >
              <mat-error
                class="error-text"
                *ngIf="registrationForm.controls.first_name.errors.required"
              >
                First Name is required
              </mat-error>
              <mat-error
                class="error-text"
                *ngIf="
                  !registrationForm.controls.first_name.errors.required &&
                  registrationForm.controls.first_name.errors.pattern
                "
              >
                First Name is invalid
              </mat-error>
              <mat-error
                class="error-text"
                *ngIf="
                  !registrationForm.controls.first_name.errors.required &&
                  !registrationForm.controls.first_name.errors.pattern &&
                  registrationForm.controls.first_name.errors.maxlength
                "
              >
                First Name cannot exceed 25 characters
              </mat-error>
            </ng-container>
          </div>

          <div class="input-wrapper" *ngIf="activeForm === 'player'">
            <i-feather name="User" class="icon-size"></i-feather>
            <!-- <img src="assets/icons/user.svg" alt="" /> -->
            <label>Last Name</label>
            <input
              formControlName="last_name"
              type="text"
              matInput
              placeholder="Last Name"
              required
            />
            <ng-container
              *ngIf="
                registrationForm.controls.last_name.invalid &&
                registrationForm.controls.last_name.touched
              "
            >
              <mat-error
                class="error-text"
                *ngIf="registrationForm.controls.last_name.errors.required"
              >
                Last Name is required
              </mat-error>
              <mat-error
                class="error-text"
                *ngIf="
                  !registrationForm.controls.last_name.errors.required &&
                  registrationForm.controls.last_name.errors.pattern
                "
              >
                Last Name is invalid
              </mat-error>
            </ng-container>
          </div>
        </div>

        <!-- Email / Contact Number -->
        <div class="form-row">
          <div class="input-wrapper">
            <i-feather name="at-sign" class="icon-size"></i-feather>
            <!-- <img src="assets/icons/at-sign.svg" alt="" /> -->
            <label>Email</label>
            <input
              formControlName="email"
              type="text"
              matInput
              placeholder="Email"
              autocomplete="off"
            />
            <ng-container
              *ngIf="
                registrationForm.controls.email.invalid &&
                registrationForm.controls.email.touched
              "
            >
              <mat-error
                class="error-text"
                *ngIf="registrationForm.controls.email.errors.required"
              >
                Email is required
              </mat-error>
              <mat-error
                class="error-text"
                *ngIf="registrationForm.controls.email.errors.email"
              >
                Email format is Invalid
              </mat-error>
            </ng-container>
          </div>

          <div class="input-wrapper">
            <label>Contact Number</label>
            <div class="contact">
              <div class="country-code">
                <input
                  type="text"
                  matInput
                  value="+91"
                  readonly
                  tabindex="-1"
                />
              </div>
              <div class="contact-number">
                <i-feather name="phone-call" class="icon-size"></i-feather>
                <input
                  formControlName="phone"
                  type="text"
                  matInput
                  placeholder="Contact Number"
                  autocomplete="off"
                />
              </div>
            </div>
            <ng-container
              *ngIf="
                registrationForm.controls.phone.invalid &&
                registrationForm.controls.phone.touched
              "
            >
              <mat-error
                class="error-text"
                *ngIf="registrationForm.controls.phone.errors.required"
              >
                Contact Number is required
              </mat-error>
              <ng-template #lengthBlock>
                <mat-error
                  class="error-text"
                  *ngIf="registrationForm.controls.phone.errors.minlength"
                >
                  Please provide number upto
                  {{
                    registrationForm.controls.phone.errors.minlength
                      .requiredLength
                  }}
                  digits
                </mat-error>
                <mat-error
                  class="error-text"
                  *ngIf="registrationForm.controls.phone.errors.maxlength"
                >
                  Please provide number upto
                  {{
                    registrationForm.controls.phone.errors.maxlength
                      .requiredLength
                  }}
                  digits
                </mat-error>
              </ng-template>
              <mat-error
                class="error-text"
                *ngIf="
                  registrationForm.controls.phone.errors.pattern;
                  else lengthBlock
                "
              >
                Contact Number format is invalid
              </mat-error>
            </ng-container>
          </div>
        </div>
        <!-- captcha -->
        <div class="form-row">
          <div class="input-wrapper">
            <label
              >Type
              <span [matTooltip]="tooltip" matTooltipPosition="above">
                <i-feather name="info" class="info"> </i-feather> </span
            ></label>
            <select
              formControlName="type"
              matNativeControl
              required
              (change)="onSelectType($event.target.value)"
            >
              <option value="">Select Type</option>
              <option *ngFor="let type of typeArray" [value]="type.value">{{
                type.name
              }}</option>
            </select>
            <ng-container
              *ngIf="
                registrationForm.controls.type.invalid &&
                registrationForm.controls.type.touched
              "
            >
              <mat-error
                class="error-text"
                *ngIf="registrationForm.controls.type.errors.required"
              >
                Type is required
              </mat-error>
            </ng-container>
          </div>
          <div class="img-wrapper">
            <img src="assets/images/capcha.png" alt="" />
          </div>
        </div>

        <div class="form-row">
          <div class="input-wrapper-full zero">
            <p>
              You agree to the YFTChain <a>User Agreement</a> and
              <a>Privacy Policy</a>
            </p>
          </div>
        </div>

        <div class="form-row">
          <div class="input-wrapper-full pd-zero">
            <button
              type="submit"
              class="btn"
              [disabled]="registrationForm.invalid"
            >
              Agree & Join
            </button>
          </div>
        </div>
      </form>
      <div class="form-row">
        <p>Already on YFTChain? <a [routerLink]="['/login']">Sign in</a></p>
      </div>
    </div>
  </div>
</div>
