<div class="from-container">
  <form [formGroup]="otpVerifyForm">
    <div class="header">
      <div class="title"></div>
      <div class="close">
        <mat-icon mat-dialog-close class="material-icons">close</mat-icon>
      </div>
    </div>
    <div class="modal-body" style="text-align: center;">
      <h1>Otp Verification</h1>

      <p>Enter the code we sent</p>

      <div class="form-block">
        <input
          type="text"
          formControlName="otp"
          matinput
          maxlength="4"
          placeholder="Please enter otp"
        />
        <input
          type="text"
          formControlName="email"
          matinput
          [value]="email"
          hidden
        />
        <input
          type="text"
          formControlName="userId"
          matinput
          [value]="userId"
          hidden
        />
        <input
          type="text"
          formControlName="mobile_number"
          matinput
          [value]="mobile_number"
          hidden
        />

        <button
          class="btn btn-primary "
          [disabled]="!otpVerifyForm.value.otp"
          (click)="otpVerify()"
        >
          Verify Otp
        </button>
        <button
          type="submit"
          class="btn btn-primary btn-block"
          [hidden]="editMode"
          (click)="reSendOtp()"
        >
          Resend Otp
        </button>
      </div>
    </div>
  </form>
</div>
