<app-header></app-header>
<div class="site-wrapper">
  <div class="left-panel">
    <app-left-panel></app-left-panel>
  </div>
  <div class="right-panel">
    <div class="right-wrapper">
      <div>
        <button
          *ngFor="let componentName of components"
          (click)="switch(componentName.value)"
        >
          {{ componentName.name }}
        </button>
      </div>
      <div [ngSwitch]="componentName">
        <app-personal-details *ngSwitchCase="'personal'"></app-personal-details>
        <app-professional-details
          *ngSwitchCase="'professional'"
        ></app-professional-details>
        <app-documents *ngSwitchCase="'documents'"></app-documents>
        <app-employment-contracts
          *ngSwitchCase="'contracts'"
        ></app-employment-contracts>
      </div>
    </div>
  </div>
</div>
