<app-header></app-header>
<div class="site-wrapper">
  <div class="left-panel">
    <app-left-panel></app-left-panel>
  </div>
  <div class="right-panel">
    <div class="right-wrapper">
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="Personal details">
          <ng-template matTabContent>
            <app-personal-details></app-personal-details>
          </ng-template>
        </mat-tab>
        <mat-tab label="Professional details">
          <ng-template matTabContent>
            <app-professional-details></app-professional-details>
          </ng-template>
        </mat-tab>
        <mat-tab label="Documents">
          <ng-template matTabContent>
            <app-documents></app-documents>
          </ng-template>
        </mat-tab>
        <mat-tab label="Employment Contracts">
          <ng-template matTabContent>
            <app-employment-contracts></app-employment-contracts>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
