<div class="from-container">
  <div class="header">
    <div class="title">
      <h3>Mutual Footmates</h3>
    </div>
    <div class="close">
      <img
        [mat-dialog-close]
        src="assets/images/icons/close-white.png"
        alt=""
      />
    </div>
  </div>
  <div class="modal-body">
    <div class="footmates-wrapper">
      <div class="footmate-block">
        <div class="dp">
          <img src="assets/images/profile-icon.png" alt="profile-icon" />
        </div>
        <div class="details">
          <h3><a>Jeorge Balley</a></h3>
          <h5>Professional</h5>
          <p>Center Midfielder</p>
        </div>
      </div>
      <div class="footmate-block">
        <div class="dp">
          <img src="assets/images/profile-icon.png" alt="profile-icon" />
        </div>
        <div class="details">
          <h3><a>Jeorge Balley</a></h3>
          <h5>Professional</h5>
          <p>Center Midfielder</p>
        </div>
      </div>
      <div class="footmate-block">
        <div class="dp">
          <img src="assets/images/profile-icon.png" alt="profile-icon" />
        </div>
        <div class="details">
          <h3><a>Jeorge Balley</a></h3>
          <h5>Professional</h5>
          <p>Center Midfielder</p>
        </div>
      </div>
      <div class="footmate-block">
        <div class="dp">
          <img src="assets/images/profile-icon.png" alt="profile-icon" />
        </div>
        <div class="details">
          <h3><a>Jeorge Balley</a></h3>
          <h5>Professional</h5>
          <p>Center Midfielder</p>
        </div>
      </div>
      <div class="footmate-block">
        <div class="dp">
          <img src="assets/images/profile-icon.png" alt="profile-icon" />
        </div>
        <div class="details">
          <h3><a>Jeorge Balley</a></h3>
          <h5>Professional</h5>
          <p>Center Midfielder</p>
        </div>
      </div>
      <div class="footmate-block">
        <div class="dp">
          <img src="assets/images/profile-icon.png" alt="profile-icon" />
        </div>
        <div class="details">
          <h3><a>Jeorge Balley</a></h3>
          <h5>Professional</h5>
          <p>Center Midfielder</p>
        </div>
      </div>
      <div class="footmate-block">
        <div class="dp">
          <img src="assets/images/profile-icon.png" alt="profile-icon" />
        </div>
        <div class="details">
          <h3><a>Jeorge Balley</a></h3>
          <h5>Professional</h5>
          <p>Center Midfielder</p>
        </div>
      </div>
      <div class="footmate-block">
        <div class="dp">
          <img src="assets/images/profile-icon.png" alt="profile-icon" />
        </div>
        <div class="details">
          <h3><a>Jeorge Balley</a></h3>
          <h5>Professional</h5>
          <p>Center Midfielder</p>
        </div>
      </div>
    </div>
  </div>
</div>
