@import "./../abstracts/variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-size: 10px;
}

a {
  text-decoration: none;
  color: $second-color;
  user-select: none;
  cursor: pointer;

  &:hover,
  &:visited,
  &:active {
    color: $primary-color;
  }
}

.info {
  font-size: $heading-sixth;
  display: inline-block;
  margin-right: 0.5rem;
  cursor: pointer;
}

@media (max-width: 1920px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 1366px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 1199px) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 6.6px;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 6.4px;
  }
}

@media (max-width: 640px) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 5.3px;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 5.3px;
  }
}
