@import "./../abstracts/variables";
@import "./../abstracts/mixins";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mt-1 {
  margin-top: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-0 {
  margin-bottom: 0rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mr-3 {
  margin-right: 3rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.pb-0 {
  padding-bottom: 0rem !important;
}

.pb-1 {
  padding-bottom: 1rem !important;
}

.pl-3 {
  padding-left: 3rem;
}

.email {
  word-wrap: break-word;
}

.info {
  height: 1.6rem;
  display: inline-block;
  margin-right: 0.5rem;
  cursor: pointer;

  @include responsive(tablet) {
    height: 2rem;
  }

  @include responsive(tablet) {
    height: 1.6rem;
  }
}

.partition {
  position: relative;
  width: 100%;
  padding: 2rem 0 1rem;

  &::after {
    content: "";
    position: absolute;
    right: 0rem;
    top: 3rem;
    width: 66%;
    height: 1px;
    background: $grey;

    @include responsive(smallphone) {
      background: transparent;
    }
  }

  a {
    font-size: $heading-fourth;
    color: $fourth-color;
    font-weight: 600;
    display: inline-block;

    &:hover {
      color: $primary-color;
    }
  }
}

.active {
  color: $primary-color;
}

// Owl Navigation
.owl-nav {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  width: 100%;

  .material-icons {
    font-size: 5rem;
  }

  .owl-prev {
    position: absolute;
    left: 2rem;
    font-size: 4rem;
  }

  .owl-next {
    position: absolute;
    right: 2rem;
    font-size: 4rem;
  }
}

.owl-theme .owl-nav [class*="owl-"] {
  background: transparent !important;
}

body::-webkit-scrollbar-button {
  display: none;
}

.asterisk {
  color: $primary-color;
}

.toggle-btn {
  display: none;

  @include responsive(tablet) {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 2.5rem;
    top: 10rem;
    z-index: 99;
    background: $primary-color;
    color: $white-color !important;
    height: 5rem;
    width: 5rem;
    border-radius: 5rem;
    border: 2px solid $white-color;

    mat-icon {
      margin-left: 2px;
    }

    @include responsive(bigphone) {
      top: 16rem;
    }
  }
}
