@media (min-width: 1500px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 1500px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 1199px) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 640px) {
  html {
    font-size: 7px;
  }
}
