html.layout-1440 {
  font-size: 10px;
}
@media (min-width: 1024px) {
  html.layout-1440 {
    font-size: 7.11px;
  }
}

@media (min-width: 1152px) {
  html.layout-1440 {
    font-size: 8px;
  }
}
@media (min-width: 1199px) {
  html.layout-1440 {
    font-size: 8.32px;
  }
}
@media (min-width: 1280px) {
  html.layout-1440 {
    font-size: 8.8px;
  }
}
@media (min-width: 1344px) {
  html.layout-1440 {
    font-size: 9.33px;
  }
}
@media (min-width: 1366px) {
  html.layout-1440 {
    font-size: 9.48px;
  }
}
@media (min-width: 1400px) {
  html.layout-1440 {
    font-size: 9.72px;
  }
}
@media (min-width: 1440px) {
  html.layout-1440 {
    font-size: 10px;
  }
}
@media (min-width: 1536px) {
  html.layout-1440 {
    font-size: 10.66px;
  }
}
@media (min-width: 1600px) {
  html.layout-1440 {
    font-size: 11.11px;
  }
}
@media (min-width: 1680px) {
  html.layout-1440 {
    font-size: 11.66px;
  }
}
@media (min-width: 1728px) {
  html.layout-1440 {
    font-size: 12px;
  }
}
@media (min-width: 1856px) {
  html.layout-1440 {
    font-size: 12.88px;
  }
}
@media (min-width: 1920px) {
  html.layout-1440 {
    font-size: 13.33px;
  }
}
@media (min-width: 2448px) {
  html.layout-1440 {
    font-size: 17px;
  }
}

@media (min-width: 2960px) {
  html.layout-1440 {
    font-size: 20.55px;
  }
}
@media (min-width: 3840px) {
  html.layout-1440 {
    font-size: 26.66px;
  }
}
@media (min-width: 7680px) {
  html.layout-1440 {
    font-size: 53.33px;
  }
}
body {
  font-family: "Muli", sans-serif;
  box-sizing: border-box;
  font-size: 1.4rem;
}
