h1 {
  font-size: $heading-primary;
  color: $fourth-color;
}

h2 {
  font-size: $heading-Seoncdary;
  color: $fourth-color;
}

h3 {
  font-size: $heading-third;
  color: $fourth-color;
}

h4 {
  font-size: $heading-fourth;
  color: $fourth-color;
}

h5 {
  font-size: $heading-fifth;
  color: $fourth-color;
}

h6 {
  font-size: $heading-sixth;
  color: $fourth-color;
}

p {
  font-size: $heading-fifth;
  word-break: break-all;
}

a {
  text-decoration: none;
  color: $second-color;
  user-select: none;
  cursor: pointer;

  &:hover,
  &:active {
    color: $primary-color;
  }
}
