<header class="header">
  <div class="logo">
    <a [routerLink]="['/home']">
      <img src="assets/images/website/logo.png" alt="brand-logo" />
    </a>
  </div>
</header>

<mat-card>
  <mat-card-content>
    <h1>About Us</h1>
    <div class="main-div">
      <p>
        Decoding Youth Talent Private Limited is a sports technology company
        started by a team of technologists and sports enthusiast who
        collaborated with a common goal to eliminate manipulation and increase
        transparency in the sports market.
        <br /><br />
        The company is headquartered in New Delhi, India.
        <br /><br />
        Decoding Youth Talent is one of the few start-ups that have been
        incubated under one of the most prestigious MBA institutes of Asia, the
        Indian Institute of Management, Lucknow Incubator (IIM-L).
        <br /><br />

        Vision
        <br /><br />
        Digitize, Decentralize, and Development of sports youth talent.
        <br /><br />
        Mission Connect and empower the world’s sports professionals to create
        more opportunities and make informed decisions through the use of
        technology.
      </p>
      <br /><br />
      <p></p>
    </div>
    <br /><br /><br />
  </mat-card-content>
</mat-card>
<app-footer></app-footer>
