<div class="main-content">
  <div class="hero-section">
    <div class="content-class">
      <img src="../../assets/images/website/hero.jpeg" alt="" id="imgcss" />
      <div class="imagecontainer">
        <img
          src="../../assets/images/website/DYT logo.png"
          alt=""
          id="imgcss2"
        />

        <h2 class="content1">
          DECODING YOUTH TALENT IS A SPORTS TECHNOLOGYSTARTUP HEADQUARTERED IN
          NEWDELHI, INDIA
        </h2>
        <br /><br /><br />
        <h1 class="content11">VISION</h1>
        <br /><br />

        <h2 class="content1">
          Digitize, Decentralize, and Development of sports youth talent.
        </h2>
        <br /><br /><br /><br />
        <h1 class="content11">MISSION</h1>
        <br /><br />

        <h2 class="content1">
          Our mission is to enable sports coaches, clubs and academies to find
          and develop world class talent through the use of technology!
        </h2>
        <br /><br /><br /><br /><br />
        <br /><br /><br /><br /><br />
      </div>
    </div>

    <div class="content-class1">
      <div class="imagecontainer">
        <br /><br /><br />
        <h2 class="">
          Decoding Youth Talent is a start-up backed and funded by IIM Lucknow
        </h2>

        <br /><br /><br />
        <img src="../../assets/images/website/iimN.png" alt="" id="" />
        <br /><br /><br />
        <br /><br /><br />
        <div class="width100">
          <div style="width: 50%; float:left">
            <img
              src="../../assets/images/website/YFT image.png"
              alt=""
              height="500"
            />
          </div>

          <div style="width: 50%; float:right">
            <img
              src="../../assets/images/website/YFTCHain logo white.jpeg"
              alt=""
              height="200"
            />
            <br /><br />
            <p>
              YFTChain, a flagship product of DYT, is specifically designed for
              the Indian football sector.
            </p>
            <br /><br />
            <p>
              YFTChain strives to establish an ecosystem that facilitates the
              interaction between football clubs, academies, and coaches for the
              purpose of player development, leveraging data and video analysis.
            </p>
            <br /><br />
            <p>
              With a staggering 25 million children engaged in football,
              alongside a network of 20,000 coaches and over 10,000 football
              academies, India stands as a vibrant hub for the sport.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
