<div class="stratregy">
  <div class="heading"></div>
  <div class="stratregy-wrapper">
    <div class="stratregy-blocks">
      <div class="part-one">
        <img src="../../assets/images/website/hero.jpeg" alt="" id="imgcss" />
        <p>hiiii</p>
      </div>
    </div>
  </div>
</div>

<div class="main-content">
  <div class="hero-section">
    <div class="content-class">
      <div class="imagecontainer">
        <img
          src="../../assets/images/website/DYT logo.png"
          alt=""
          id="imgcss2"
        />

        <h2 class="content1">
          DECODING YOUTH TALENT IS A SPORTS TECHNOLOGYSTARTUP HEADQUARTERED IN
          NEWDELHI, INDIA
        </h2>
        <br /><br /><br />
        <h1 class="content11">VISION</h1>
        <br /><br />

        <h2 class="content1">
          Digitize, Decentralize, and Development of sports youth talent.
        </h2>
        <br /><br /><br /><br />
        <h1 class="content11">MISSION</h1>
        <br /><br />

        <h2 class="content1">
          Our mission is to enable sports coaches, clubs and academies to find
          and develop world class talent through the use of technology!
        </h2>
        <br /><br /><br /><br /><br />
        <br /><br /><br /><br /><br />
      </div>
    </div>

    <div class="content-class1">
      <div class="imagecontainer">
        <br /><br /><br />
        <h2 class="">
          Decoding Youth Talent is a start-up backed and funded by IIM Lucknow
        </h2>

        <br /><br /><br />
        <img src="../../assets/images/website/iimN.png" alt="" id="" />
        <br /><br /><br />
        <br /><br /><br />
      </div>
    </div>
  </div>

  <div class="footballers" #footballers>
    <h2 class="backtext">Footb<span>allers</span></h2>
    <div class="footballers-image">
      <div class="img-wrap">
        <img src="assets/images/website/YFT image.png" alt="" />
      </div>
    </div>
    <div class="footballers-details">
      <img
        src="assets/images/website/YFTCHain logo white.jpeg"
        alt=""
        height="200"
      />
      <p>
        Unleashing potential with cutting edge sports technology
      </p>
      <br /><br />
      <p>
        YFTChain strives to establish an ecosystem that facilitates the
        interaction between football clubs, academies, and coaches for the
        purpose of player development, leveraging data and video analysis.
      </p>
      <br /><br />
      <p>
        With a staggering 25 million children engaged in football, alongside a
        network of 20,000 coaches and over 10,000 football academies, India
        stands as a vibrant hub for the sport.
      </p>
      <br /><br />
    </div>
  </div>
  <app-footer></app-footer>
</div>
