<div class="manage-user-and-roles card">
  <div class="card__header">
    <div class="heading">
      <h2>Manage User and Roles</h2>
    </div>
    <div class="table-search">
      <mat-form-field>
        <img src="assets/images/icons/search.png" alt="Search" class="search-icon" />
        <input type="text" placeholder="Search" matInput (keyup)="applyFilter($event.target.value)" />
      </mat-form-field>
    </div>
    <div class="page-navigator">
      <button (click)="onBulkUpdate()">Bulk Upload</button>
      <button (click)="onEnrollUser()">Enroll User</button>
    </div>
  </div>
  <div class="card-body">
    <!-- <mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let i = index"> {{ i + 1 }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="warehouse">
        <mat-header-cell *matHeaderCellDef> Warehouse </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.warehouse }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="location">
        <mat-header-cell *matHeaderCellDef> Location </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.location }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="dob">
        <mat-header-cell *matHeaderCellDef> DOB </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.dob }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="action-buttons">
            <button class="edit"><img src="assets/images/icons/edit.png" alt="Edit" /></button>
            <button class="delete"><img src="assets/images/icons/delete.png" alt="Delete" /></button>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table> -->
    <app-table
      [displayedColumns]="displayedColumns"
      [columnsToDisplay]="columnsToDisplay"
      [dataSource]="dataSource"
      (idEdit)="editUser($event)"
      (idDelete)="deleteUser($event)"
    ></app-table>
  </div>
</div>
<div class="pagination">
  <button class="pagination__item">Prev</button>
  <button class="pagination__item">1</button>
  <button class="pagination__item active">2</button>
  <button class="pagination__item">3</button>
  <button class="pagination__item">4</button>
  <button class="pagination__item">Next</button>
</div>
