@import "src/assets/sass/abstracts/variables";
@import "src/assets/sass/abstracts/mixins";
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap");

.login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $grey;
  font-family: "Ubuntu", sans-serif;
  .loginbox {
    margin: auto;
    max-width: 57rem;
    width: 100%;
    padding: 2rem;
    .header-login {
      display: block;
      text-align: center;
      margin-bottom: 3rem;
      img {
        max-width: 20rem;
        margin-bottom: 2rem;
      }
      p {
        font-size: 1.8rem;
        color: $text-muted;
        line-height: 2.4rem;
      }
      h3 {
        font-weight: 700;
        font-size: 2.8rem;
        margin-bottom: 1.5rem;
      }
    }

    form {
      p {
        font-size: 1.8rem;
        a {
          color: $blue;
          font-weight: 700;
          text-decoration: none;
          :link {
            color: $blue;
          }
          :visited {
            color: $blue;
          }
          :active {
            color: $blue;
          }
        }
      }
      ul {
        list-style: none;
        li {
          position: relative;
          padding-bottom: 2.5rem;
          margin-bottom: 1rem;
          label {
            font-size: 1.8rem;
            color: #000;
            margin-bottom: 1rem;
            font-weight: 500;
            display: block;
          }

          .icon-size {
            width: 2.2rem;
            height: 2.2rem;
            position: absolute;
            top: 4rem;
            left: 1.5rem;
            color: rgba($color-black, 0.8);
          }
          input {
            width: 100%;
            padding: 1rem 3rem 1rem 1rem !important;
            padding-left: 5rem !important;
            border: 0.1rem solid #eaebec;
            background: #f8fafc;
            box-sizing: border-box;
            border-radius: 0.5rem;
            color: rgba($color-black, 0.8);
            line-height: 2.7rem;
            outline: 0rem;
            font-size: 1.8rem;
            &.ng-invalid.ng-touched {
              font-size: 1.8rem;
              border: 0.1rem solid $error;
            }
            &:focus {
              outline: 1px solid $blue;
              border-radius: 0.8rem;
            }
          }
          .remember-me {
            font-size: 1.8rem;
          }

          .btn {
            @include btn-primary;
            @include btn;
            &:disabled {
              @include disable;
            }
          }
        }
      }
      .login-footer {
        display: flex;
        justify-content: space-between;
        font-size: 1.8rem;
        a {
          text-decoration: none;
        }
      }
    }
  }
}
.error-border {
  border-bottom: 0.5rem solid #de5454;
}
.pb-0 {
  padding-bottom: 0px !important;
}
.mt-1 {
  margin-top: 1rem !important;
}

.remember-me {
  ::ng-deep {
    .mat-checkbox-inner-container {
      background-color: #fff;
      border-radius: 5px;
    }
    .mat-checkbox-frame {
      border: 1px solid #b3d7ff;
      border-radius: 5px;
    }
    .mat-checkbox-checked.mat-accent .mat-checkbox-background {
      background-color: #117ab5;
      border-radius: 5px;
    }
  }
}
