<header class="header">
  <div class="logo">
    <span>
      <img src="assets/images/website/logo.png" alt="brand-logo" />
    </span>
  </div>
</header>
<div class="site-wrapper">
  <div class="text-section">
    <h2>
      <span>Digitize,</span>
      <span>Democratize,</span>and Develop.
      <img
        src="assets/images/website/footballer-Icon.png"
        alt="footballer-Icon"
      />
    </h2>
    <p>The showcase of youth talent in Indian <span>football</span></p>
  </div>
  <div class="form-section">
    <div class="form-box">
      <h2>Sign in</h2>
      <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
        <div class="form-block">
          <label>Email</label>
          <input
            type="email"
            matinput
            formControlName="email"
            autocomplete="off"
            required
            placeholder="Email"
            [ngClass]="{
              'error-input':
                email.invalid &&
                email.touched &&
                (email.errors.required || email.errors.email)
            }"
          />
          <mat-error *ngIf="email.invalid && email.touched" class="error-text">
            <span *ngIf="email.errors.required" translate
              >Email is required</span
            >
            <span *ngIf="email.errors.email" translate
              >Invalid Email Format</span
            >
          </mat-error>
        </div>
        <div class="form-block">
          <label
            >Password
            <span [matTooltip]="tooltip" matTooltipPosition="above">
              <img
                src="assets/images/global/info.svg"
                alt="info"
                class="info"
              />
            </span>
            <div class="forget-text">
              <a [routerLink]="['/forgot-password']">
                Forgot password ?
              </a>
            </div>
          </label>
          <div class="pass-fields">
            <input
              appPassword
              matInput
              formControlName="password"
              autocomplete="off"
              placeholder="Password"
              required
              [ngClass]="{
                'error-input':
                  password.invalid &&
                  password.touched &&
                  (password.errors.required || password.errors.password)
              }"
            />
          </div>
          <mat-error
            *ngIf="password.invalid && password.touched"
            class="error-text"
          >
            <span translate>Password is required</span>
          </mat-error>
        </div>
        <button
          type="submit"
          class="btn btn-primary btn-block"
          [disabled]="loginForm.invalid || isLoading"
        >
          Sign in
        </button>
      </form>
      <p>New to YFTChain ? <a [routerLink]="['/register']">Join now</a></p>
    </div>
  </div>
</div>
<app-footer></app-footer>
