<app-header></app-header>
<div class="wrapper">
  <!-- Left section -->
  <div class="left-section">
    <!-- profile  -->
    <form (ngSubmit)="about()" [formGroup]="aboutForm">
      <div class="block-design">
        <div class="profile-section">
          <img src="assets/images/profile-icon.png" alt="profile-icon" />
          <p>
            <i-feather name="alert-circle" class="icon-size"></i-feather>
            Not Verified
          </p>
          <div class="add-btn">
            <label for="add-image" class="btn upload">
              <span>
                <i-feather name="Image" class="icon-size"></i-feather>
              </span>
              <input
                type="file"
                matinput
                name="add-image"
                id="add-image"
                (change)="uploadAvatar($event)"
              />
            </label>
            <button class="btn delete">
              <span>
                <i-feather name="trash-2" class="icon-size"></i-feather>
              </span>
            </button>
          </div>
        </div>
      </div>
      <!--About -->
      <div class="block">
        <div class="block-heading border-bottom">
          <h4>About</h4>
          <p>Tell about yourself in two sentences.</p>
        </div>

        <div class="block-middle border-bottom">
          <label> BIO </label>
          <textarea
            formControlName="bio"
            matInput
            rows="5"
            placeholder="Write Content"
          ></textarea>
        </div>
        <div class="block-bottom">
          <button>Save</button>
        </div>
      </div>
    </form>

    <div class="block">
      <div class="block-heading border-bottom">
        <h4>Social profiles</h4>
        <p>Add elsewhere links to your profile.</p>
      </div>
      <form (ngSubmit)="socialProfile()" [formGroup]="socialProfileForm">
        <div class="block-middle border-bottom">
          <!-- instagram -->
          <div class="social-link">
            <i-feather name="instagram" class="icon instagram"></i-feather>
            <input
              formControlName="instagram"
              type="text"
              matinput
              placeholder="Add Instagram Link"
            />
          </div>
          <!-- facebook -->
          <div class="social-link">
            <i-feather name="facebook" class="icon facebook"></i-feather>
            <input
              formControlName="facebook"
              type="text"
              matinput
              placeholder="Add Facebook Link"
            />
          </div>
          <!-- twitter -->
          <div class="social-link">
            <i-feather name="twitter" class="icon twitter"></i-feather>
            <input
              formControlName="twitter"
              type="text"
              matinput
              placeholder="Add Twitter Link"
            />
          </div>
          <!-- Youtube -->
          <div class="social-link">
            <i-feather name="Youtube" class="icon youtube"></i-feather>
            <input
              formControlName="youtube"
              type="text"
              matinput
              placeholder="Add Youtube Link"
            />
          </div>
        </div>
        <div class="block-bottom">
          <button>Update Social Profiles</button>
        </div>
      </form>
    </div>
  </div>
  <!-- Right seciton -->
  <div class="right-section">
    <form (ngSubmit)="editProfile()" [formGroup]="editProfileForm">
      <!-- players -->
      <div
        class="player-details"
        *ngIf="member_type === 'player'; else club_acadBlock"
      >
        <!-- player type -->
        <div class="block">
          <div class="block-header border-bottom">
            <!-- <ng-container> {{ editProfileForm.controls.player_type.value }}</ng-container> -->
            <!-- <ng-container> {{ editProfileForm.value | json }}</ng-container> -->
            <h4>Player Type</h4>
            <p>Lorem ipsum dolor sit amet, consecteturs.</p>
          </div>
          <div class="block-middle">
            <div class="radio">
              <label
                ><input
                  (click)="player_type = 'grassroot'; selectTab('grassroot')"
                  type="radio"
                  value="grassroot"
                  formControlName="player_type"
                />
                Grassroot
              </label>
              <label
                ><input
                  (click)="player_type = 'amateur'; selectTab('amateur')"
                  type="radio"
                  value="amateur"
                  formControlName="player_type"
                />
                Amateur
              </label>
              <label
                ><input
                  (click)="
                    player_type = 'professional'; selectTab('professional')
                  "
                  type="radio"
                  value="professional"
                  formControlName="player_type"
                />
                Professional</label
              >
            </div>
          </div>
        </div>

        <!-- {{ editProfileForm.valid }} -->
        <!-- personal detials -->
        <div class="block">
          <div class="block-header border-bottom">
            <h4>Personal Details</h4>
            <p>Lorem ipsum dolor sit amet, consecteturs.</p>
          </div>
          <div class="block-middle">
            <!-- first name -->
            <div class="from-block">
              <label>First Name <span>*</span></label>
              <input
                class="error-border"
                formControlName="player_first_name"
                type="text"
                matinput
              />
              <ng-container
                *ngIf="isFocused(editProfileForm, 'player_first_name')"
              >
                <span
                  class="error-text"
                  *ngIf="isRequired(editProfileForm, 'player_first_name')"
                  >First Name is required</span
                >
              </ng-container>
            </div>

            <!-- last name -->
            <div class="from-block">
              <label>Last Name <span>*</span></label>
              <input formControlName="player_last_name" type="text" matinput />
              <ng-container
                *ngIf="isFocused(editProfileForm, 'player_last_name')"
              >
                <span
                  class="error-text"
                  *ngIf="isRequired(editProfileForm, 'player_last_name')"
                  >Last Name is required</span
                >
              </ng-container>
            </div>

            <!-- DOB -->
            <div class="from-block">
              <label>Date of Birth <span>*</span></label>
              <div class="datepicker">
                <input
                  formControlName="player_dob"
                  matInput
                  [matDatepicker]="myDatepicker"
                />
                <mat-datepicker-toggle
                  [for]="myDatepicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #myDatepicker></mat-datepicker>
                <ng-container *ngIf="isFocused(editProfileForm, 'player_dob')">
                  <span
                    class="error-text"
                    *ngIf="isRequired(editProfileForm, 'player_dob')"
                    >Date of Birth is required</span
                  >
                </ng-container>
              </div>
            </div>

            <!-- height -->
            <div class="from-block">
              <label>Height <span>*</span></label>
              <div class="double-input">
                <select
                  formControlName="player_height_foot"
                  matNativeControl
                  required
                >
                  <option value="">Select Foots</option>
                  <option value="4" selected="">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                </select>

                <select
                  formControlName="player_height_inches"
                  matNativeControl
                  required
                >
                  <option value="">Select Inch</option>
                  <option value="4" selected="">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                </select>
              </div>
              <ng-container
                *ngIf="isFocused(editProfileForm, 'player_height_foot')"
              >
                <span
                  class="error-text"
                  *ngIf="isRequired(editProfileForm, 'player_height_foot')"
                  >Height is required</span
                >
              </ng-container>
              <ng-container
                *ngIf="isFocused(editProfileForm, 'player_height_inches')"
              >
                <span
                  class="error-text"
                  *ngIf="isRequired(editProfileForm, 'player_height_inches')"
                  >Select Inch is required</span
                >
              </ng-container>
            </div>

            <!-- weight -->
            <div class="from-block">
              <label>Weight <span>*</span></label>
              <select formControlName="player_weight" matNativeControl required>
                <option value="">Select Weight</option>
                <option value="50" selected="">50</option>
                <option value="60">60</option>
                <option value="70">70</option>
                <option value="80">80</option>
              </select>

              <ng-container *ngIf="isFocused(editProfileForm, 'player_weight')">
                <span
                  class="error-text"
                  *ngIf="isRequired(editProfileForm, 'player_weight')"
                  >Weight is required</span
                >
              </ng-container>
            </div>

            <!-- nationality -->
            <div class="from-block">
              <label>Nationality <span>*</span></label>
              <select
                formControlName="player_nationality"
                matNativeControl
                required
              >
                <option value="indian">Indian</option>
                <option value="american">American</option>
                <option value="canadian">Canadian</option>
                <option value="audi">Audi</option>
              </select>

              <ng-container
                *ngIf="isFocused(editProfileForm, 'player_nationality')"
              >
                <span
                  class="error-text"
                  *ngIf="isRequired(editProfileForm, 'player_nationality')"
                  >Nationality is required</span
                >
              </ng-container>
            </div>

            <!-- state -->
            <div class="from-block">
              <label>State <span>*</span></label>
              <select formControlName="player_state" matNativeControl required>
                <option value="state1">state1</option>
                <option value="state2">state2</option>
                <option value="state3">state3</option>
                <option value="state4">state4</option>
              </select>

              <ng-container *ngIf="isFocused(editProfileForm, 'player_state')">
                <span
                  class="error-text"
                  *ngIf="isRequired(editProfileForm, 'player_state')"
                  >State is required</span
                >
              </ng-container>
            </div>

            <!-- city -->
            <div class="from-block">
              <label>Current City <span>*</span></label>
              <select
                formControlName="player_current_city"
                matNativeControl
                required
              >
                <option value="city1">city1</option>
                <option value="city2">city2</option>
                <option value="city3">city3</option>
                <option value="city4">city4</option>
              </select>

              <ng-container
                *ngIf="isFocused(editProfileForm, 'player_current_city')"
              >
                <span
                  class="error-text"
                  *ngIf="isRequired(editProfileForm, 'player_current_city')"
                  >Current City is required</span
                >
              </ng-container>
            </div>

            <!-- email -->
            <div class="from-block">
              <label>Email Address <span>*</span></label>
              <input disabled [value]="user_email" type="text" matinput />
            </div>

            <!-- Phone -->
            <div class="from-block">
              <label>Phone Number <span>*</span></label>
              <input formControlName="player_phone" type="text" matinput />

              <ng-container *ngIf="isFocused(editProfileForm, 'player_phone')">
                <span
                  class="error-text"
                  *ngIf="isRequired(editProfileForm, 'player_phone')"
                  >Phone Number is required</span
                >
              </ng-container>
            </div>

            <!-- current School -->
            <div class="from-block">
              <label>Current School Name <span>*</span></label>
              <input
                formControlName="player_current_school_name"
                type="text"
                matinput
              />

              <ng-container
                *ngIf="isFocused(editProfileForm, 'player_current_school_name')"
              >
                <span
                  class="error-text"
                  *ngIf="
                    isRequired(editProfileForm, 'player_current_school_name')
                  "
                  >Current School Name is required</span
                >
              </ng-container>
            </div>

            <ng-container
              *ngIf="
                player_type === 'amateur' || player_type === 'professional'
              "
            >
              <!-- University School -->
              <div class="from-block">
                <label>Current University Name <span>*</span></label>
                <input
                  formControlName="player_current_university_name"
                  type="text"
                  matinput
                />

                <ng-container
                  *ngIf="
                    isFocused(editProfileForm, 'player_current_university_name')
                  "
                >
                  <span
                    class="error-text"
                    *ngIf="
                      isRequired(
                        editProfileForm,
                        'player_current_university_name'
                      )
                    "
                    >Current University Name is required</span
                  >
                </ng-container>
              </div>

              <!-- college School -->
              <div class="from-block">
                <label>Current College Name <span>*</span></label>
                <input
                  formControlName="player_current_college_name"
                  type="text"
                  matinput
                />

                <ng-container
                  *ngIf="
                    isFocused(editProfileForm, 'player_current_college_name')
                  "
                >
                  <span
                    class="error-text"
                    *ngIf="
                      isRequired(editProfileForm, 'player_current_college_name')
                    "
                    >Current College Name is required</span
                  >
                </ng-container>
              </div>
            </ng-container>

            <!-- Upload   -->
            <div class="from-block">
              <label>Upload Adhaar <span>*</span></label>
              <input
                formControlName="player_upload_aadhar"
                (change)="uploadAadhar($event)"
                type="file"
                matinput
                accept="image/*,.pdf"
              />
            </div>

            <!-- employee  -->
            <div class="from-block" *ngIf="player_type === 'professional'">
              <label>Employment Contract <span>*</span></label>
              <input
                formControlName="player_employment_contract"
                type="file"
                matinput
              />
            </div>
          </div>
        </div>
        <!-- <ng-container> {{ editProfileForm.value | json }}</ng-container> -->
        <!-- <ng-container> {{ editProfileForm.value | json }}</ng-container> -->
        <!-- {{ editProfileForm.valid }} -->
        <!-- Professional -->
        <div class="block">
          <div class="block-header border-bottom">
            <h4>Professional Details</h4>
            <p>Lorem ipsum dolor sit amet, consecteturs.</p>
          </div>
          <div class="block-middle">
            <!-- Position ( Priority First ) -->
            <div class="from-block">
              <label>Position ( Priority First ) <span>*</span></label>
              <select
                formControlName="player_position1"
                matNativeControl
                required
              >
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
              </select>
            </div>

            <!-- Position ( Priority second ) -->
            <div class="from-block">
              <label>Position ( Priority Second ) <span>*</span></label>
              <select
                formControlName="player_position2"
                matNativeControl
                required
              >
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
              </select>
            </div>

            <!-- Position ( Priority third ) -->
            <div class="from-block">
              <label>Position ( Priority Thirds ) <span>*</span></label>
              <select
                formControlName="player_position3"
                matNativeControl
                required
              >
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
              </select>
            </div>

            <!-- Strong foot -->
            <div class="from-block">
              <label>Strong foot <span>*</span></label>
              <select
                formControlName="player_strong_foot"
                matNativeControl
                required
              >
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
              </select>
            </div>

            <!-- Current associated club / academy  -->
            <div class="from-block">
              <label>Current associated club / academy <span>*</span></label>
              <div class="radio">
                <label
                  ><input
                    type="radio"
                    formControlName="player_associated_club"
                    value="yes"
                  />
                  <span>Yes</span>
                </label>
                <label
                  ><input
                    type="radio"
                    formControlName="player_associated_club"
                    value="no"
                  />
                  <span>No</span>
                </label>
              </div>
            </div>

            <!-- Weak foot -->
            <div class="from-block">
              <label>Weak foot <span>*</span></label>
              <div class="star-rating">
                <input
                  formControlName="player_weak_foot"
                  (onclick)="
                    editProfileForm.controls.player_weak_foot.value = 5
                  "
                  type="radio"
                  id="5-stars"
                  value="5"
                />
                <label for="5-stars" class="star">&#9733;</label>
                <input
                  formControlName="player_weak_foot"
                  (onclick)="
                    editProfileForm.controls.player_weak_foot.value = 4
                  "
                  type="radio"
                  id="4-stars"
                  value="4"
                />
                <label for="4-stars" class="star">&#9733;</label>
                <input
                  formControlName="player_weak_foot"
                  (onclick)="
                    editProfileForm.controls.player_weak_foot.value = 3
                  "
                  type="radio"
                  id="3-stars"
                  value="3"
                />
                <label for="3-stars" class="star">&#9733;</label>
                <input
                  formControlName="player_weak_foot"
                  (onclick)="
                    editProfileForm.controls.player_weak_foot.value = 2
                  "
                  type="radio"
                  id="2-stars"
                  value="2"
                />
                <label for="2-stars" class="star">&#9733;</label>
                <input
                  formControlName="player_weak_foot"
                  (onclick)="
                    editProfileForm.controls.player_weak_foot.value = 1
                  "
                  type="radio"
                  id="1-star"
                  value="1"
                />
                <label for="1-star" class="star">&#9733;</label>
              </div>
            </div>

            <!-- Head coach phone number * -->
            <div class="from-block">
              <label>Head coach phone number <span>*</span></label>
              <input
                formControlName="player_head_coach_phone_number"
                type="text"
                matinput
              />
            </div>

            <!-- Head coach email number -->
            <div class="from-block">
              <label>Head coach email number <span>*</span></label>
              <input
                formControlName="player_head_coach_email_number"
                type="text"
                matinput
              />
            </div>

            <!-- former Club -->
            <ng-container *ngIf="player_type !== 'grassroot'">
              <div class="from-block">
                <label>Formal Club (optional, if any) <span>*</span></label>
                <input
                  formControlName="player_former_club"
                  type="text"
                  matinput
                />
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <!-- clubs and acadmey -->
      <ng-template #club_acadBlock>
        <div class="academy-club">
          <!-- personal detials -->
          <div class="block">
            <div class="block-header border-bottom">
              {{ editProfileForm.valid }}
              {{ member_type }}
              <h4>Personal Details</h4>
              <!-- <p>Lorem ipsum dolor sit amet, consecteturs.</p> -->
            </div>
            <div class="block-middle">
              <!-- club name -->
              <div class="from-block">
                <label
                  [innerText]="
                    member_type === 'academy' ? 'Academy Name' : 'Club Name '
                  "
                  >Club Name <span>*</span></label
                >
                <input
                  formControlName="name"
                  type="text"
                  matInput
                  value="{{ profile.name }}"
                />
                <ng-container *ngIf="isFocused(editProfileForm, 'name')">
                  <span
                    [innerText]="
                      member_type === 'academy'
                        ? 'Academy Name is required'
                        : 'Club Name is required'
                    "
                    class="error-text"
                    *ngIf="isRequired(editProfileForm, 'name')"
                    >Club Name is required</span
                  >
                </ng-container>
              </div>

              <!-- Short Club name -->
              <div class="from-block">
                <label
                  [innerText]="
                    member_type === 'academy'
                      ? 'Short Academy Name'
                      : 'Short Club Name'
                  "
                  >Short Club Name <span>*</span></label
                >
                <input
                  formControlName="short_name"
                  type="text"
                  matInput
                  value="{{ profile.short_name }}"
                />
                <ng-container *ngIf="isFocused(editProfileForm, 'short_name')">
                  <span
                    [innerText]="
                      member_type === 'academy'
                        ? 'Short Academy Name is required'
                        : 'Short Club Name is required'
                    "
                    class="error-text"
                    *ngIf="isRequired(editProfileForm, 'short_name')"
                    >Short Club Name is required</span
                  >
                </ng-container>
              </div>

              <!-- founded In -->
              <div class="from-block">
                <label>Founded ( years ) <span>*</span></label>
                <input
                  formControlName="founded_in"
                  type="text"
                  matInput
                  value="{{ profile.founded_in }}"
                />
                <ng-container *ngIf="isFocused(editProfileForm, 'founded_in')">
                  <span
                    class="error-text"
                    *ngIf="isRequired(editProfileForm, 'founded_in')"
                    >Founded is required</span
                  >
                </ng-container>
              </div>

              <!-- country -->
              <div class="from-block">
                <label>Country <span>*</span></label>
                <select formControlName="country" matNativeControl required>
                  <option value="volvo">Volvo</option>
                  <option value="saab">Saab</option>
                  <option value="mercedes">Mercedes</option>
                  <option value="audi">Audi</option>
                </select>
                <ng-container *ngIf="isFocused(editProfileForm, 'country')">
                  <span
                    class="error-text"
                    *ngIf="isRequired(editProfileForm, 'country')"
                    >Country is required</span
                  >
                </ng-container>
              </div>

              <!-- city -->
              <div class="from-block">
                <label>City <span>*</span></label>
                <select formControlName="city" matNativeControl required>
                  <option value="volvo">Volvo</option>
                  <option value="saab">Saab</option>
                  <option value="mercedes">Mercedes</option>
                  <option value="audi">Audi</option>
                </select>
                <ng-container *ngIf="isFocused(editProfileForm, 'city')">
                  <span
                    class="error-text"
                    *ngIf="isRequired(editProfileForm, 'city')"
                    >City is required</span
                  >
                </ng-container>
              </div>

              <!-- Address -->
              <div class="from-block">
                <label>Office Address <span>*</span></label>
                <input
                  formControlName="address"
                  type="text"
                  matInput
                  value="{{ profile.address?.full_address }}"
                />
                <ng-container *ngIf="isFocused(editProfileForm, 'address')">
                  <span
                    class="error-text"
                    *ngIf="isRequired(editProfileForm, 'address')"
                    >Office Address is required</span
                  >
                </ng-container>
              </div>

              <!-- Zipcode / pincode -->
              <div class="from-block">
                <label>Zipcode / Pincode <span>*</span></label>
                <input
                  formControlName="pincode"
                  type="text"
                  matInput
                  value="{{ profile.address?.pincode }}"
                />
                <ng-container *ngIf="isFocused(editProfileForm, 'pincode')">
                  <span
                    class="error-text"
                    *ngIf="isRequired(editProfileForm, 'pincode')"
                    >Zipcode / Pincode is required</span
                  >
                </ng-container>
              </div>

              <!-- email -->
              <div class="from-block">
                <label>Email Address <span>*</span></label>
                <input disabled [value]="user_email" type="email" matinput />
              </div>

              <!-- Phone -->
              <div class="from-block">
                <label>Phone Number <span>*</span></label>
                <input formControlName="phone" type="text" matinput />
                <ng-container *ngIf="isFocused(editProfileForm, 'phone')">
                  <span
                    class="error-text"
                    *ngIf="isRequired(editProfileForm, 'phone')"
                    >Phone Number is required</span
                  >

                  <span
                    class="error-text"
                    *ngIf="editProfileForm.controls.phone.errors.minlength"
                  >
                    Please provide number upto
                    {{
                      editProfileForm.controls.phone.errors.minlength
                        .requiredLength
                    }}
                    digits
                  </span>
                  <span
                    class="error-text"
                    *ngIf="editProfileForm.controls.phone.errors.maxlength"
                  >
                    Please provide number under
                    {{
                      editProfileForm.controls.phone.errors.maxlength
                        .requiredLength
                    }}
                    digits
                  </span>
                </ng-container>
              </div>

              <!-- Stadium Name -->
              <div class="from-block">
                <label>Stadium Name <span>*</span></label>
                <input
                  formControlName="stadium_name"
                  type="text"
                  matInput
                  value="{{ profile.stadium }}"
                />
                <ng-container
                  *ngIf="isFocused(editProfileForm, 'stadium_name')"
                >
                  <span
                    class="error-text"
                    *ngIf="isRequired(editProfileForm, 'stadium_name')"
                    >Stadium Name is required</span
                  >
                </ng-container>
              </div>

              <!-- Club owner -->
              <div class="from-block">
                <label
                  [innerText]="
                    member_type === 'academy' ? 'Academy owner' : 'Club owner'
                  "
                  >Club owner <span>*</span></label
                >
                <input formControlName="owner" type="text" matinput />
                <ng-container *ngIf="isFocused(editProfileForm, 'owner')">
                  <span
                    [innerText]="
                      member_type === 'academy'
                        ? 'Academy owner is required'
                        : 'Club owner is required'
                    "
                    class="error-text"
                    *ngIf="isRequired(editProfileForm, 'owner')"
                    >Club owner is required</span
                  >
                </ng-container>
              </div>

              <!-- Manager -->
              <div class="from-block">
                <label>Manager <span>*</span></label>
                <input formControlName="manager" type="text" matinput />
                <ng-container *ngIf="isFocused(editProfileForm, 'manager')">
                  <span
                    class="error-text"
                    *ngIf="isRequired(editProfileForm, 'manager')"
                    >Manager is required</span
                  >
                </ng-container>
              </div>

              <!-- Manager -->
              <ng-container *ngIf="member_type === 'academy'">
                <div class="from-block w-60">
                  <label>Document Type<span>*</span></label>
                  <div class="radio">
                    <label
                      ><input
                        formControlName="document_type"
                        type="radio"
                        value="aiff"
                      />
                      <span>AIFF Satus</span>
                    </label>
                    <label
                      ><input
                        formControlName="document_type"
                        type="radio"
                        value="pan"
                      />
                      <span>Pan Number</span>
                    </label>
                    <label
                      ><input
                        formControlName="document_type"
                        type="radio"
                        value="tin"
                      />
                      <span>Tin Number</span>
                    </label>
                    <label
                      ><input
                        formControlName="document_type"
                        type="radio"
                        value="coi"
                      />
                      <span>COI Number</span>
                    </label>
                  </div>
                </div>
              </ng-container>

              <!-- Upload   -->
              <div class="from-block w-40">
                <label
                  [innerHTML]="
                    member_type === 'academy'
                      ? 'Upload Documnet'
                      : 'Upload AIFF accreditation status <span>*</span>'
                  "
                  >Upload AIFF accreditation status <span>*</span></label
                >
                <input
                  type="file"
                  matinput
                  (change)="uploadDocument($event)"
                  accept="image/*,.pdf"
                />
              </div>
            </div>
          </div>

          <!-- Professional -->
          <div class="block">
            <div class="block-header border-bottom">
              <h4>Professional Details</h4>
              <!-- <p>Lorem ipsum dolor sit amet, consecteturs.</p> -->
            </div>
            <div class="block-middle">
              <!-- Need to change CSS of this part (this was button) -->
              <div class="input-wrapper">
                <a (click)="addContactPerson()">Add Contact</a>
              </div>
              <!-- Need to change CSS of this part (this was button) -->

              <!-- Need to change CSS of this part (this was button) -->
              <div class="input-wrapper">
                <a (click)="addTrophy()">Add Trophy</a>
              </div>
              <!-- Need to change CSS of this part (this was button) -->

              <div
                class="form-block-clubs"
                *ngFor="
                  let contact of editProfileForm.get('club_contact_persons')
                    .controls;
                  let i = index
                "
                formArrayName="club_contact_persons"
              >
                <ng-container [formGroupName]="i">
                  <label>Contact Person <span>*</span></label>

                  <div class="input-wrapper">
                    <label>Designation <span>*</span></label>
                    <select
                      formControlName="club_contact_designation"
                      matNativeControl
                      required
                    >
                      <option value="volvo">Volvo</option>
                      <option value="saab">Saab</option>
                      <option value="mercedes">Mercedes</option>
                      <option value="audi">Audi</option>
                    </select>
                  </div>

                  <div class="input-wrapper">
                    <label>Name <span>*</span></label>
                    <input
                      formControlName="club_contact_name"
                      type="text"
                      matInput
                    />
                  </div>

                  <div class="input-wrapper">
                    <label>Email <span>*</span></label>
                    <input
                      formControlName="club_contact_email"
                      type="email"
                      matInput
                    />
                  </div>

                  <div class="input-wrapper">
                    <label>Phone Number <span>*</span></label>
                    <input
                      formControlName="club_contact_phone_number"
                      type="text"
                      matInput
                    />
                  </div>

                  <div class="input-wrapper">
                    <button (click)="removeContactPerson(i)">Remove</button>
                  </div>
                </ng-container>
              </div>

              <!-- major trophies -->
              <div
                class="form-block-clubs"
                *ngFor="
                  let trophy of editProfileForm.get('club_trophies').controls;
                  let i = index
                "
                formArrayName="club_trophies"
              >
                <label>Major trophy Wins <span>*</span></label>

                <ng-container [formGroupName]="i">
                  <div class="input-wrapper">
                    <label>Trophy Name <span>*</span></label>
                    <input type="text" matInput formControlName="trophy_name" />
                  </div>

                  <div class="input-wrapper">
                    <label>Years <span>*</span></label>
                    <input
                      type="text"
                      matInput
                      formControlName="trophy_years"
                    />
                  </div>

                  <div class="input-wrapper">
                    <label>Position Secured <span>*</span></label>
                    <input
                      type="text"
                      matInput
                      formControlName="trophy_position"
                    />
                  </div>

                  <div class="input-wrapper">
                    <button (click)="removeTrophy(i)">Remove</button>
                  </div>
                </ng-container>
              </div>

              <!-- leagues -->
              <div class="form-block-clubs">
                <label>League <span>*</span></label>
                <div class="input-wrapper-second">
                  <label>League Name <span>*</span></label>
                  <select matNativeControl required>
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                  </select>
                </div>

                <div class="input-wrapper-second">
                  <label>Other <span>*</span></label>
                  <input type="text" matinput />
                </div>

                <div class="input-wrapper">
                  <button>Add</button>
                </div>
              </div>

              <!-- Top sign in -->
              <div
                class="form-block-clubs"
                *ngFor="
                  let top_signing of editProfileForm.get('club_top_signings')
                    .controls;
                  let i = index
                "
                formArrayName="club_top_signings"
              >
                <label>Top signings <span>*</span></label>

                <ng-container [formGroupName]="i">
                  <div class="input-wrapper-second">
                    <input
                      type="text"
                      matInput
                      formControlName="top_signings"
                    />
                  </div>

                  <div class="input-wrapper">
                    <button (click)="removeTopSigning(i)">Remove</button>
                  </div>
                </ng-container>
              </div>

              <div class="input-wrapper-second">
                <button (click)="addTopSigning()">Add</button>
              </div>

              <!-- Manager -->
              <div class="from-block">
                <label>Number of associated players <span>*</span></label>
                <input
                  type="text"
                  matInput
                  formControlName="club_associated_players"
                />
              </div>
            </div>
          </div>
        </div>
      </ng-template>

      <!-- bottom -->
      <div class="block-bottom">
        <a>Cancel</a>
        <button class="btn">Save Changes</button>
      </div>
    </form>
  </div>
</div>
