<app-header></app-header>
<div class="wrapper">
  <!-- Left section -->
  <div class="left-section">
    <!-- profile  -->
    <form [formGroup]="aboutForm">
      <div class="block-design">
        <div class="profile-section">
          <img src="{{ profile?.avatar_url }}" alt="profile-icon" />
          <h3 *ngIf="member_type === 'player'">
            {{ profile?.first_name }} {{ profile?.last_name }}
          </h3>
          <h3 *ngIf="member_type === 'club' || member_type === 'academy'">
            {{ profile?.name }}
          </h3>
          <p>
            <i-feather name="alert-circle" class="icon-size"></i-feather>
            Not Verified
          </p>
          <div class="add-btn">
            <label for="add-image" class="btn upload">
              <span>
                <i-feather name="Image" class="icon-size"></i-feather>
              </span>
              <input
                type="file"
                name="add-image"
                id="add-image"
                formControlName="avatar"
                (change)="uploadAvatar($event.target.files)"
              />
            </label>
            <button class="btn delete" (click)="removeAvatar()">
              <span>
                <i-feather name="trash-2" class="icon-size"></i-feather>
              </span>
            </button>
          </div>
        </div>
        <mat-error
          *ngIf="
            aboutForm.controls.avatar.errors && aboutForm.controls.avatar.dirty
          "
        >
          <span
            *ngIf="aboutForm.controls.avatar.errors.requiredFileAvatar"
            translate
            >Image must be of type JPEG / JPG / PNG</span
          >
        </mat-error>
      </div>
      <!--About -->
      <div class="block">
        <div class="block-heading border-bottom">
          <h4>About</h4>
          <p>{{ profile?.bio | slice: 0:150 }}</p>
        </div>

        <div class="block-middle border-bottom">
          <label> BIO </label>
          <textarea
            formControlName="bio"
            matInput
            rows="5"
            placeholder="Write Content"
          ></textarea>
        </div>
        <div class="block-bottom">
          <button (click)="about()">Save</button>
        </div>
      </div>
    </form>

    <div class="block">
      <div class="block-heading border-bottom">
        <h4>Social profiles</h4>
        <p>Add elsewhere links to your profile.</p>
      </div>
      <form (ngSubmit)="socialProfile()" [formGroup]="socialProfileForm">
        <div class="block-middle border-bottom">
          <!-- instagram -->
          <div class="social-link">
            <i-feather name="instagram" class="icon instagram"></i-feather>
            <input
              formControlName="instagram"
              type="text"
              matInput
              placeholder="Add Instagram Link"
            />
          </div>
          <!-- facebook -->
          <div class="social-link">
            <i-feather name="facebook" class="icon facebook"></i-feather>
            <input
              formControlName="facebook"
              type="text"
              matInput
              placeholder="Add Facebook Link"
            />
          </div>
          <!-- twitter -->
          <div class="social-link">
            <i-feather name="twitter" class="icon twitter"></i-feather>
            <input
              formControlName="twitter"
              type="text"
              matInput
              placeholder="Add Twitter Link"
            />
          </div>
          <!-- Youtube -->
          <div class="social-link">
            <i-feather name="Youtube" class="icon youtube"></i-feather>
            <input
              formControlName="youtube"
              type="text"
              matInput
              placeholder="Add Youtube Link"
            />
          </div>
        </div>
        <div class="block-bottom">
          <button>Update Social Profiles</button>
        </div>
      </form>
    </div>
  </div>
  <!-- Right seciton -->
  <div class="right-section">
    <form (ngSubmit)="editProfile()" [formGroup]="editProfileForm">
      <!-- players -->
      <div
        class="player-details"
        *ngIf="member_type === 'player'; else club_acadBlock"
      >
        <!-- player type -->
        <div class="block">
          <div class="block-header border-bottom">
            <!-- <ng-container> {{ editProfileForm.controls.player_type.value }}</ng-container> -->
            <!-- <ng-container> {{ editProfileForm.value | json }}</ng-container> -->
            <h4>Player Type</h4>
            <!-- <p>Lorem ipsum dolor sit amet, consecteturs.</p> -->
          </div>
          <div class="block-middle">
            <div class="radio">
              <label
                ><input
                  type="radio"
                  value="grassroot"
                  formControlName="player_type"
                />
                Grassroot
              </label>
              <label
                ><input
                  type="radio"
                  value="amateur"
                  formControlName="player_type"
                />
                Amateur
              </label>
              <label
                ><input
                  type="radio"
                  value="professional"
                  formControlName="player_type"
                />
                Professional</label
              >
            </div>
            <mat-error
              *ngIf="
                editProfileForm.controls.player_type.invalid &&
                editProfileForm.controls.player_type.touched
              "
            >
              <span
                *ngIf="editProfileForm.controls.player_type.errors.required"
                translate
                >Player Type is required</span
              >
            </mat-error>
          </div>
        </div>

        <!-- {{ editProfileForm.valid }} -->
        <!-- personal detials -->
        <div class="block">
          <div class="block-header border-bottom">
            <h4>Personal Details</h4>
            <!-- <p>Lorem ipsum dolor sit amet, consecteturs.</p> -->
          </div>
          <div class="block-middle">
            <!-- first name -->
            <div class="from-block">
              <label>First Name <span>*</span></label>
              <input
                class="error-border"
                formControlName="first_name"
                type="text"
                matInput
              />
              <mat-error
                *ngIf="
                  editProfileForm.controls.first_name.invalid &&
                  editProfileForm.controls.first_name.touched
                "
              >
                <span
                  *ngIf="editProfileForm.controls.first_name.errors.required"
                  translate
                  >First Name is required</span
                >
              </mat-error>
            </div>

            <!-- last name -->
            <div class="from-block">
              <label>Last Name <span>*</span></label>
              <input formControlName="last_name" type="text" matInput />
              <mat-error
                *ngIf="
                  editProfileForm.controls.last_name.invalid &&
                  editProfileForm.controls.last_name.touched
                "
              >
                <span
                  *ngIf="editProfileForm.controls.last_name.errors.required"
                  translate
                  >Last Name is required</span
                >
              </mat-error>
            </div>

            <!-- DOB -->
            <div class="from-block">
              <label>Date of Birth <span>*</span></label>
              <div class="datepicker">
                <input
                  formControlName="dob"
                  matInput
                  [matDatepicker]="myDatepicker"
                />
                <mat-datepicker-toggle
                  [for]="myDatepicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #myDatepicker></mat-datepicker>
                <mat-error
                  *ngIf="
                    editProfileForm.controls.dob.invalid &&
                    editProfileForm.controls.dob.touched
                  "
                >
                  <span
                    *ngIf="editProfileForm.controls.dob.errors.required"
                    translate
                    >Date of Birth is required</span
                  >
                </mat-error>
              </div>
            </div>

            <!-- height -->
            <div class="from-block">
              <label
                >Height
                <span
                  *ngIf="
                    player_type === 'amateur' || player_type === 'professional'
                  "
                  >*</span
                ></label
              >
              <div class="double-input">
                <input formControlName="height_feet" type="text" matInput />
                <input formControlName="height_inches" type="text" matInput />
              </div>
              <mat-error
                *ngIf="
                  editProfileForm.controls.height_feet.invalid &&
                  editProfileForm.controls.height_feet.touched &&
                  (player_type === 'amateur' || player_type === 'professional')
                "
              >
                <span
                  *ngIf="
                    editProfileForm.controls.height_feet.errors &&
                    editProfileForm.controls.height_feet.errors.required
                  "
                  translate
                  >Height in Feet is required</span
                >
              </mat-error>
              <mat-error
                *ngIf="
                  (editProfileForm.controls.height_inches.invalid &&
                    editProfileForm.controls.height_inches.touched &&
                    player_type === 'amateur') ||
                  player_type === 'professional'
                "
              >
                <span
                  *ngIf="
                    editProfileForm.controls.height_inches.errors &&
                    editProfileForm.controls.height_inches.errors.required
                  "
                  translate
                  >Height in Inches is required</span
                >
              </mat-error>
            </div>

            <!-- weight -->
            <div class="from-block">
              <label>Weight</label>
              <input formControlName="weight" type="text" matInput />
            </div>

            <!-- nationality -->
            <div class="from-block">
              <label>Nationality <span>*</span></label>
              <select formControlName="country" matNativeControl required>
                <option value="">Select Nationality</option>
                <ng-container *ngFor="let country of sampleCountryArray">
                  <option value="{{ country.value }}">{{
                    country.name
                  }}</option>
                </ng-container>
              </select>
              <mat-error
                *ngIf="
                  editProfileForm.controls.country.invalid &&
                  editProfileForm.controls.country.touched
                "
              >
                <span
                  *ngIf="editProfileForm.controls.country.errors.required"
                  translate
                  >Nationality is required</span
                >
              </mat-error>
            </div>

            <!-- state -->
            <div class="from-block">
              <label>State <span>*</span></label>
              <select formControlName="state" matNativeControl required>
                <option value="">Select State</option>
                <ng-container *ngFor="let state of sampleStateArray">
                  <option value="{{ state.value }}">{{ state.name }}</option>
                </ng-container>
              </select>

              <mat-error
                *ngIf="
                  editProfileForm.controls.state.invalid &&
                  editProfileForm.controls.state.touched
                "
              >
                <span
                  *ngIf="editProfileForm.controls.state.errors.required"
                  translate
                  >State is required</span
                >
              </mat-error>
            </div>

            <!-- city -->
            <div class="from-block">
              <label>Current City <span>*</span></label>
              <select formControlName="city" matNativeControl required>
                <option value="">Select City</option>
                <ng-container *ngFor="let city of sampleCityArray">
                  <option value="{{ city.value }}">{{ city.name }}</option>
                </ng-container>
              </select>

              <mat-error
                *ngIf="
                  editProfileForm.controls.city.invalid &&
                  editProfileForm.controls.city.touched
                "
              >
                <span
                  *ngIf="editProfileForm.controls.city.errors.required"
                  translate
                  >Current City is required</span
                >
              </mat-error>
            </div>

            <!-- email -->
            <div class="from-block">
              <label>Email Address <span>*</span></label>
              <input
                disabled
                [value]="user_email"
                type="text"
                matInput
                value="{{ profile.email }}"
              />
            </div>

            <!-- Phone -->
            <div class="from-block">
              <label>Phone Number <span>*</span></label>
              <input formControlName="phone" type="text" matInput />

              <mat-error
                *ngIf="
                  editProfileForm.controls.phone.invalid &&
                  editProfileForm.controls.phone.touched
                "
              >
                <span
                  *ngIf="editProfileForm.controls.phone.errors.required"
                  translate
                  >Phone Number is required</span
                >
                <ng-template #lengthBlock>
                  <mat-error
                    class="error-text"
                    *ngIf="editProfileForm.controls.phone.errors.minlength"
                  >
                    Please provide number upto
                    {{
                      editProfileForm.controls.phone.errors.minlength
                        .requiredLength
                    }}
                    digits
                  </mat-error>
                  <mat-error
                    class="error-text"
                    *ngIf="editProfileForm.controls.phone.errors.maxlength"
                  >
                    Please provide number upto
                    {{
                      editProfileForm.controls.phone.errors.maxlength
                        .requiredLength
                    }}
                    digits
                  </mat-error>
                </ng-template>
                <mat-error
                  class="error-text"
                  *ngIf="
                    editProfileForm.controls.phone.errors.pattern;
                    else lengthBlock
                  "
                >
                  Phone Number format is invalid
                </mat-error>
              </mat-error>
            </div>

            <!-- current School -->
            <div class="from-block">
              <label>Current School Name</label>
              <input formControlName="school" type="text" matInput />
            </div>

            <ng-container
              *ngIf="
                player_type === 'amateur' || player_type === 'professional'
              "
            >
              <!-- University School -->
              <div class="from-block">
                <label>Current University Name</label>
                <input formControlName="university" type="text" matinput />
              </div>

              <!-- college School -->
              <div class="from-block" *ngIf="player_type === 'amateur'">
                <label>Current College Name</label>
                <input formControlName="college" type="text" matinput />
              </div>
            </ng-container>

            <!-- Upload   -->
            <div class="from-block">
              <label>Upload Adhaar <span>*</span></label>
              <input
                formControlName="aadhar"
                (change)="uploadAadhar($event.target.files)"
                type="file"
              />
              <mat-error
                *ngIf="
                  editProfileForm.controls.aadhar.errors &&
                  editProfileForm.controls.aadhar.dirty
                "
              >
                <span
                  *ngIf="
                    editProfileForm.controls.aadhar.errors.requiredFileDocument
                  "
                  translate
                  >Aadhar must be of type PDF / PNG</span
                >
              </mat-error>
            </div>

            <!-- employee  -->
            <div class="from-block" *ngIf="player_type === 'professional'">
              <label>Employment Contract <span>*</span></label>
              <input
                formControlName="employment_contract"
                (change)="uploadEmploymentContract($event.target.files)"
                type="file"
              />
              <mat-error
                *ngIf="
                  editProfileForm.controls.employment_contract.errors &&
                  editProfileForm.controls.employment_contract.dirty
                "
              >
                <span
                  *ngIf="
                    editProfileForm.controls.employment_contract.errors
                      .requiredFileDocument
                  "
                  translate
                  >Employment Contract must be of type PDF / PNG</span
                >
              </mat-error>
            </div>
          </div>
        </div>
        <!-- <ng-container> {{ editProfileForm.value | json }}</ng-container> -->
        <!-- <ng-container> {{ editProfileForm.value | json }}</ng-container> -->
        <!-- {{ editProfileForm.valid }} -->
        <!-- Professional -->
        <div class="block">
          <div class="block-header border-bottom">
            <h4>Professional Details</h4>
            <!-- <p>Lorem ipsum dolor sit amet, consecteturs.</p> -->
          </div>
          <div class="block-middle">
            <!-- Position ( Priority First ) -->
            <ng-container
              formArrayName="position"
              *ngFor="
                let data of editProfileForm.get('position').controls;
                let i = index
              "
            >
              <div class="from-block" [formGroupName]="i">
                <label>Position ( Priority {{ i + 1 }} ) <span>*</span></label>
                <select formControlName="name" matNativeControl required>
                  <option value="">Select Position</option>
                  <ng-container *ngFor="let position of samplePositionArray">
                    <option value="{{ position.value }}">{{
                      position.name
                    }}</option>
                  </ng-container>
                </select>
                <!-- <mat-error
                  *ngIf="
                    editProfileForm.controls.position1.invalid &&
                    editProfileForm.controls.position1.touched
                  "
                >
                  <span
                    *ngIf="editProfileForm.controls.position1.errors.required"
                    translate
                    >Position with first priority is required</span
                  >
                </mat-error> -->
              </div>
            </ng-container>

            <!-- Strong foot -->
            <div class="from-block">
              <label>Strong foot <span>*</span></label>
              <select formControlName="strong_foot" matNativeControl required>
                <option value="">Select Strong Foot</option>
                <ng-container *ngFor="let foot of strongFootArray">
                  <option value="{{ foot.value }}">{{ foot.name }}</option>
                </ng-container>
              </select>
              <mat-error
                *ngIf="
                  editProfileForm.controls.strong_foot.invalid &&
                  editProfileForm.controls.strong_foot.touched
                "
              >
                <span
                  *ngIf="editProfileForm.controls.strong_foot.errors.required"
                  translate
                  >Strong Foot is required</span
                >
              </mat-error>
            </div>

            <!-- Current associated club / academy  -->
            <div class="from-block">
              <label>Current associated club / academy <span>*</span></label>
              <div class="radio">
                <label
                  ><input
                    type="radio"
                    formControlName="associated_club"
                    value="yes"
                  />
                  <span>Yes</span>
                </label>
                <label
                  ><input
                    type="radio"
                    formControlName="associated_club"
                    value="no"
                  />
                  <span>No</span>
                </label>
              </div>
            </div>

            <!-- Weak foot -->
            <div class="from-block">
              <label>Weak foot</label>
              <div class="star-rating">
                <input
                  formControlName="weak_foot"
                  (onclick)="editProfileForm.controls.weak_foot.value = 5"
                  type="radio"
                  id="5-stars"
                  value="5"
                />
                <label for="5-stars" class="star">&#9733;</label>
                <input
                  formControlName="weak_foot"
                  (onclick)="editProfileForm.controls.weak_foot.value = 4"
                  type="radio"
                  id="4-stars"
                  value="4"
                />
                <label for="4-stars" class="star">&#9733;</label>
                <input
                  formControlName="weak_foot"
                  (onclick)="editProfileForm.controls.weak_foot.value = 3"
                  type="radio"
                  id="3-stars"
                  value="3"
                />
                <label for="3-stars" class="star">&#9733;</label>
                <input
                  formControlName="weak_foot"
                  (onclick)="editProfileForm.controls.weak_foot.value = 2"
                  type="radio"
                  id="2-stars"
                  value="2"
                />
                <label for="2-stars" class="star">&#9733;</label>
                <input
                  formControlName="weak_foot"
                  (onclick)="editProfileForm.controls.weak_foot.value = 1"
                  type="radio"
                  id="1-star"
                  value="1"
                />
                <label for="1-star" class="star">&#9733;</label>
              </div>
            </div>

            <!-- Head coach phone number * -->
            <div
              class="from-block"
              *ngIf="editProfileForm.controls.associated_club.value === 'yes'"
            >
              <label>Head coach phone number <span>*</span></label>
              <input formControlName="head_coach_phone" type="text" matInput />
              <mat-error
                *ngIf="
                  editProfileForm.controls.head_coach_phonenvalid &&
                  editProfileForm.controls.head_coach_phone.touched
                "
              >
                <span
                  *ngIf="
                    editProfileForm.controls.head_coach_phone.errors.required
                  "
                  translate
                  >Head Coach Phone is required</span
                >
              </mat-error>
            </div>

            <!-- Head coach email number -->
            <div
              class="from-block"
              *ngIf="editProfileForm.controls.associated_club.value === 'yes'"
            >
              <label>Head coach email <span>*</span></label>
              <input formControlName="head_coach_email" type="text" matInput />
              <mat-error
                *ngIf="
                  editProfileForm.controls.head_coach_emailnvalid &&
                  editProfileForm.controls.head_coach_email.touched
                "
              >
                <span
                  *ngIf="
                    editProfileForm.controls.head_coach_email.errors.required
                  "
                  translate
                  >Head Coach Email is required</span
                >
              </mat-error>
            </div>

            <!-- former Club -->
            <ng-container *ngIf="player_type !== 'grassroot'">
              <div class="from-block">
                <label>Former Club (optional, if any)</label>
                <input formControlName="former_club" type="text" matInput />
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <!-- clubs and acadmey -->
      <ng-template #club_acadBlock>
        <div class="academy-club">
          <!-- personal detials -->
          <div class="block">
            <div class="block-header border-bottom">
              <h4>Personal Details</h4>
              <!-- <p>Lorem ipsum dolor sit amet, consecteturs.</p> -->
            </div>
            <div class="block-middle">
              <!-- club name -->
              <div class="from-block">
                <label
                  >{{
                    member_type === 'academy' ? 'Academy Name' : 'Club Name'
                  }}
                  <span>*</span></label
                >
                <input formControlName="name" type="text" matInput />
                <mat-error
                  *ngIf="
                    editProfileForm.controls.name.invalid &&
                    editProfileForm.controls.name.touched
                  "
                >
                  <span
                    [innerText]="
                      member_type === 'academy'
                        ? 'Academy Name is required'
                        : 'Club Name is required'
                    "
                    *ngIf="editProfileForm.controls.name.errors.required"
                    translate
                  ></span>
                </mat-error>
              </div>

              <!-- Short Club name -->
              <div class="from-block">
                <label
                  [innerText]="
                    member_type === 'academy'
                      ? 'Short Academy Name'
                      : 'Short Club Name'
                  "
                  >Short Club Name</label
                >
                <input formControlName="short_name" type="text" matInput />
              </div>

              <!-- founded In -->
              <div class="from-block">
                <label>Founded ( Year ) <span>*</span></label>
                <input formControlName="founded_in" type="text" matInput />

                <mat-error
                  *ngIf="
                    editProfileForm.controls.founded_in.invalid &&
                    editProfileForm.controls.founded_in.touched
                  "
                >
                  <span
                    *ngIf="editProfileForm.controls.founded_in.errors.required"
                    translate
                    >Founded is required</span
                  >
                  <span
                    *ngIf="editProfileForm.controls.founded_in.errors.maxlength"
                    translate
                    >Founded must not exceed 4 character length</span
                  >
                </mat-error>
              </div>

              <!-- country -->
              <div class="from-block">
                <label>Country <span>*</span></label>
                <select formControlName="country" matNativeControl required>
                  <option value="">Select Country</option>
                  <ng-container *ngFor="let country of sampleCountryArray">
                    <option value="{{ country.value }}">{{
                      country.name
                    }}</option>
                  </ng-container>
                </select>
                <mat-error
                  *ngIf="
                    editProfileForm.controls.country.invalid &&
                    editProfileForm.controls.country.touched
                  "
                >
                  <span
                    *ngIf="editProfileForm.controls.country.errors.required"
                    translate
                    >Country is required</span
                  >
                </mat-error>
              </div>

              <!-- city -->
              <div class="from-block">
                <label>City <span>*</span></label>
                <select formControlName="city" matNativeControl required>
                  <option value="">Select City</option>
                  <option value="volvo">Volvo</option>
                  <option value="saab">Saab</option>
                  <option value="mercedes">Mercedes</option>
                  <option value="audi">Audi</option>
                </select>
                <mat-error
                  *ngIf="
                    editProfileForm.controls.city.invalid &&
                    editProfileForm.controls.city.touched
                  "
                >
                  <span
                    *ngIf="editProfileForm.controls.city.errors.required"
                    translate
                    >City is required</span
                  >
                </mat-error>
              </div>

              <!-- Address -->
              <div class="from-block">
                <label
                  >Office Address
                  <span *ngIf="member_type === 'academy'">*</span></label
                >
                <input formControlName="address" type="text" matInput />
                <mat-error
                  *ngIf="
                    editProfileForm.controls.address.invalid &&
                    editProfileForm.controls.address.touched &&
                    member_type === 'academy'
                  "
                >
                  <span
                    *ngIf="editProfileForm.controls.address.errors.required"
                    translate
                    >Office Address is required</span
                  >
                </mat-error>
              </div>

              <!-- Zipcode / pincode -->
              <div class="from-block">
                <label
                  >Zipcode / Pincode
                  <span *ngIf="member_type === 'academy'">*</span></label
                >
                <input formControlName="pincode" type="text" matInput />
                <mat-error
                  *ngIf="
                    editProfileForm.controls.pincode.invalid &&
                    editProfileForm.controls.pincode.touched &&
                    member_type === 'academy'
                  "
                >
                  <span
                    *ngIf="editProfileForm.controls.pincode.errors.required"
                    translate
                    >Zipcode / Pincode is required</span
                  >
                </mat-error>
              </div>

              <!-- email -->
              <div class="from-block">
                <label>Email Address <span>*</span></label>
                <input disabled [value]="user_email" type="email" matinput />
              </div>

              <!-- Phone -->
              <div class="from-block">
                <label>Phone Number <span>*</span></label>
                <input formControlName="phone" type="text" matinput />
                <mat-error
                  *ngIf="
                    editProfileForm.controls.phone.invalid &&
                    editProfileForm.controls.phone.touched
                  "
                >
                  <span
                    *ngIf="editProfileForm.controls.phone.errors.required"
                    translate
                    >Phone number is required</span
                  >
                  <ng-template #lengthBlock>
                    <span
                      *ngIf="editProfileForm.controls.phone.errors.minlength"
                    >
                      Please provide number upto
                      {{
                        editProfileForm.controls.phone.errors.minlength
                          .requiredLength
                      }}
                      digits
                    </span>
                    <span
                      *ngIf="editProfileForm.controls.phone.errors.maxlength"
                    >
                      Please provide number upto
                      {{
                        editProfileForm.controls.phone.errors.maxlength
                          .requiredLength
                      }}
                      digits
                    </span>
                  </ng-template>
                  <mat-error
                    class="error-text"
                    *ngIf="
                      editProfileForm.controls.phone.errors.pattern;
                      else lengthBlock
                    "
                  >
                    Phone Number format is invalid
                  </mat-error>
                </mat-error>
              </div>

              <!-- Stadium Name -->
              <div class="from-block" *ngIf="member_type === 'club'">
                <label>Stadium Name</label>
                <input formControlName="stadium_name" type="text" matInput />
              </div>

              <!-- Club owner
              <div class="from-block">
                <label
                  [innerText]="
                    member_type === 'academy' ? 'Academy owner' : 'Club owner'
                  "
                  >Club owner <span>*</span></label
                >
                <input formControlName="owner" type="text" matinput />
                <ng-container *ngIf="isFocused(editProfileForm, 'owner')">
                  <span
                    [innerText]="
                      member_type === 'academy'
                        ? 'Academy owner is required'
                        : 'Club owner is required'
                    "
                    class="error-text"
                    *ngIf="isRequired(editProfileForm, 'owner')"
                    >Club owner is required</span
                  >
                </ng-container>
              </div> -->

              <!-- Manager 
              <div class="from-block">
                <label>Manager <span>*</span></label>
                <input formControlName="manager" type="text" matinput />
                <ng-container *ngIf="isFocused(editProfileForm, 'manager')">
                  <span
                    class="error-text"
                    *ngIf="isRequired(editProfileForm, 'manager')"
                    >Manager is required</span
                  >
                </ng-container>
              </div> -->

              <!-- Document -->
              <ng-container *ngIf="member_type === 'academy'">
                <div class="from-block w-60">
                  <label>Document Type</label>
                  <div class="radio">
                    <label
                      ><input
                        formControlName="document_type"
                        type="radio"
                        value="aiff"
                      />
                      <span>AIFF Status</span>
                    </label>
                    <label
                      ><input
                        formControlName="document_type"
                        type="radio"
                        value="pan"
                      />
                      <span>Pan Number</span>
                    </label>
                    <label
                      ><input
                        formControlName="document_type"
                        type="radio"
                        value="tin"
                      />
                      <span>TIN Number</span>
                    </label>
                    <label
                      ><input
                        formControlName="document_type"
                        type="radio"
                        value="coi"
                      />
                      <span>COI Number</span>
                    </label>
                  </div>
                </div>
              </ng-container>

              <!-- Upload   -->
              <div class="from-block w-40">
                <label
                  [innerHTML]="
                    member_type === 'academy'
                      ? 'Upload Document'
                      : 'Upload AIFF accreditation status'
                  "
                  >Upload AIFF accreditation status</label
                >
                <input
                  type="file"
                  formControlName="document"
                  (change)="uploadDocument($event.target.files)"
                />
                <mat-error
                  *ngIf="
                    editProfileForm.controls.document.errors &&
                    editProfileForm.controls.document.dirty
                  "
                >
                  <span
                    *ngIf="
                      editProfileForm.controls.document.errors
                        .requiredFileDocument
                    "
                    translate
                    >Document must be of type PDF / PNG</span
                  >
                </mat-error>
              </div>
            </div>
          </div>

          <!-- Professional -->
          <div class="block">
            <div class="block-header border-bottom">
              <h4>Professional Details</h4>
              <!-- <p>Lorem ipsum dolor sit amet, consecteturs.</p> -->
            </div>
            <div class="block-middle">
              <!-- Need to change CSS of this part (this was button) -->

              <!-- Need to change CSS of this part (this was button) -->

              <!-- Need to change CSS of this part (this was button) -->

              <!-- Need to change CSS of this part (this was button) -->
              <div class="contact-details block-part">
                <!-- Add contact Details btn -->
                <div class="input-wrapper w-100 align-right">
                  <a class="mt-0" (click)="addContactPerson()">Add Contact</a>
                </div>

                <!-- add contact fields -->
                <div
                  class="form-block-clubs"
                  *ngFor="
                    let contact of editProfileForm.get('contact_person')
                      .controls;
                    let i = index
                  "
                  formArrayName="contact_person"
                >
                  <ng-container [formGroupName]="i">
                    <label>Contact Person <span>*</span></label>

                    <div class="input-wrapper">
                      <label>Designation <span>*</span></label>
                      <select
                        formControlName="designation"
                        matNativeControl
                        required
                      >
                        <ng-container
                          *ngFor="let designation of designationArray"
                        >
                          <option value="{{ designation.value }}">{{
                            designation.name
                          }}</option>
                        </ng-container>
                      </select>
                      <mat-error
                        *ngIf="
                          editProfileForm.controls.contact_person.controls[
                            i
                          ].get('designation').invalid &&
                          editProfileForm.controls.contact_person.controls[
                            i
                          ].get('designation').touched
                        "
                      >
                        <span
                          *ngIf="
                            editProfileForm.controls.contact_person.controls[i]
                              .get('designation')
                              .hasError('required')
                          "
                          translate
                          >Designation is required</span
                        >
                      </mat-error>
                    </div>

                    <div class="input-wrapper">
                      <label>Name <span>*</span></label>
                      <input formControlName="name" type="text" matInput />
                      <mat-error
                        *ngIf="
                          editProfileForm.controls.contact_person.controls[
                            i
                          ].get('name').invalid &&
                          editProfileForm.controls.contact_person.controls[
                            i
                          ].get('name').touched
                        "
                      >
                        <span
                          *ngIf="
                            editProfileForm.controls.contact_person.controls[i]
                              .get('name')
                              .hasError('required')
                          "
                          translate
                          >Name is required</span
                        >
                      </mat-error>
                    </div>

                    <div class="input-wrapper">
                      <label>Email <span>*</span></label>
                      <input formControlName="email" type="email" matInput />
                      <mat-error
                        *ngIf="
                          editProfileForm.controls.contact_person.controls[
                            i
                          ].get('email').invalid &&
                          editProfileForm.controls.contact_person.controls[
                            i
                          ].get('email').touched
                        "
                      >
                        <span
                          *ngIf="
                            editProfileForm.controls.contact_person.controls[i]
                              .get('email')
                              .hasError('required')
                          "
                          translate
                          >Email is required</span
                        >
                      </mat-error>
                    </div>

                    <div class="input-wrapper">
                      <label>Phone Number <span>*</span></label>
                      <input
                        formControlName="phone_number"
                        type="text"
                        matInput
                      />
                      <mat-error
                        *ngIf="
                          editProfileForm.controls.contact_person.controls[
                            i
                          ].get('phone_number').invalid &&
                          editProfileForm.controls.contact_person.controls[
                            i
                          ].get('phone_number').touched
                        "
                      >
                        <span
                          *ngIf="
                            editProfileForm.controls.contact_person.controls[i]
                              .get('phone_number')
                              .hasError('required')
                          "
                          translate
                          >Phone Number is required</span
                        >
                      </mat-error>
                    </div>

                    <div class="input-wrapper">
                      <a class="mt-0" (click)="removeContactPerson(i)"
                        >Remove</a
                      >
                    </div>
                  </ng-container>
                </div>
              </div>

              <!-- major trophies -->
              <div class="trophies block-part">
                <!-- add trophes button -->
                <div class="input-wrapper w-100 align-right">
                  <a class="mt-0" (click)="addTrophy()">Add Trophy</a>
                </div>

                <!-- major tophies fields -->
                <div
                  class="form-block-clubs"
                  *ngFor="
                    let trophy of this.editProfileForm.get('trophies').controls;
                    let i = index
                  "
                  formArrayName="trophies"
                >
                  <label
                    >Major trophy Wins
                    <span *ngIf="member_type === 'academy'">*</span></label
                  >

                  <ng-container [formGroupName]="i">
                    <div class="input-wrapper-full">
                      <label>Trophy Name <span>*</span></label>
                      <input type="text" matInput formControlName="name" />
                      <mat-error
                        *ngIf="
                          editProfileForm.controls.trophies.controls[i].get(
                            'name'
                          ).invalid &&
                          editProfileForm.controls.trophies.controls[i].get(
                            'name'
                          ).touched
                        "
                      >
                        <span
                          *ngIf="
                            editProfileForm.controls.trophies.controls[i]
                              .get('name')
                              .hasError('required')
                          "
                          translate
                          >Name is required</span
                        >
                      </mat-error>
                    </div>

                    <div class="input-wrapper-full">
                      <label>Years <span>*</span></label>
                      <input type="text" matInput formControlName="year" />
                      <mat-error
                        *ngIf="
                          editProfileForm.controls.trophies.controls[i].get(
                            'year'
                          ).invalid &&
                          editProfileForm.controls.trophies.controls[i].get(
                            'year'
                          ).touched
                        "
                      >
                        <span
                          *ngIf="
                            editProfileForm.controls.trophies.controls[i]
                              .get('year')
                              .hasError('required')
                          "
                          translate
                          >Year is required</span
                        >
                      </mat-error>
                    </div>

                    <div class="input-wrapper-full">
                      <label>Position Secured <span>*</span></label>
                      <input type="text" matInput formControlName="position" />
                      <mat-error
                        *ngIf="
                          editProfileForm.controls.trophies.controls[i].get(
                            'position'
                          ).invalid &&
                          editProfileForm.controls.trophies.controls[i].get(
                            'position'
                          ).touched
                        "
                      >
                        <span
                          *ngIf="
                            editProfileForm.controls.trophies.controls[i]
                              .get('position')
                              .hasError('required')
                          "
                          translate
                          >Position is required</span
                        >
                      </mat-error>
                    </div>

                    <div class="input-wrapper">
                      <a class="mt-0" (click)="removeTrophy(i)">Remove</a>
                    </div>
                  </ng-container>
                </div>
              </div>

              <!-- leagues -->
              <div class="leagues w-100 block-part">
                <!-- <div class="input-wrapper w-100 align-right">
                  <a class="mt-0">Add League</a>
                </div> -->

                <div class="form-block-clubs">
                  <label>League <span>*</span></label>
                  <div class="input-wrapper-second">
                    <label>League Name <span>*</span></label>
                    <select matNativeControl formControlName="league" required>
                      <option value="">Select League</option>
                      <ng-container *ngFor="let league of leagueArray">
                        <option value="{{ league.value }}">{{
                          league.name
                        }}</option>
                      </ng-container>
                    </select>
                    <mat-error
                      *ngIf="
                        editProfileForm.controls.league.invalid &&
                        editProfileForm.controls.league.touched
                      "
                    >
                      <span
                        *ngIf="editProfileForm.controls.league.errors.required"
                        translate
                        >League is required</span
                      >
                    </mat-error>
                  </div>

                  <div class="input-wrapper-second">
                    <label>Other <span>*</span></label>
                    <input
                      type="text"
                      matInput
                      formControlName="league_other"
                    />
                    <mat-error
                      *ngIf="
                        editProfileForm.controls.league_other.invalid &&
                        editProfileForm.controls.league_other.touched
                      "
                    >
                      <span
                        *ngIf="
                          editProfileForm.controls.league_other.errors.required
                        "
                        translate
                        >Other League is required</span
                      >
                    </mat-error>
                  </div>

                  <!--  <div class="input-wrapper">
                    <button>Remove</button>
                  </div> -->
                </div>
              </div>

              <!-- Top sign in -->
              <div
                class="top_signing-player w-100 block-part"
                *ngIf="member_type === 'club'"
              >
                <div class="input-wrapper w-100 align-right">
                  <a class="mt-0" (click)="addTopSigning()">
                    Add Top Signings
                  </a>
                </div>

                <!-- top sign in player -->
                <div class="flex-wrapper wrap">
                  <div
                    class="form-block-clubs w-50 "
                    *ngFor="
                      let top_signing of editProfileForm.get('top_signings')
                        .controls;
                      let i = index
                    "
                    formArrayName="top_signings"
                  >
                    <div class="w-50">
                      <label>Top signings</label>

                      <ng-container [formGroupName]="i">
                        <div class="flex-wrapper">
                          <div class="input-wrapper">
                            <input
                              type="text"
                              matInput
                              formControlName="name"
                            />
                            <mat-error
                              *ngIf="
                                editProfileForm.controls.top_signings.controls[
                                  i
                                ].get('name').invalid &&
                                editProfileForm.controls.top_signings.controls[
                                  i
                                ].get('name').touched
                              "
                            >
                              <span
                                *ngIf="
                                  editProfileForm.controls.top_signings.controls[
                                    i
                                  ]
                                    .get('name')
                                    .hasError('required')
                                "
                                translate
                                >Name is required</span
                              >
                            </mat-error>
                          </div>

                          <div class="input-wrapper">
                            <a class="mt-0" (click)="removeTopSigning(i)">
                              Remove
                            </a>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>

              <div
              class="top_signing-player w-100 block-part"
              *ngIf="member_type === 'academy'"
            >
              <div class="input-wrapper w-100 align-right">
                <a class="mt-0" (click)="addTopAcademyPlayer()">
                  Add Top Academy Players
                </a>
              </div>

              <!-- top sign in player -->
              <div class="flex-wrapper wrap">
                <div
                  class="form-block-clubs w-50 "
                  *ngFor="
                    let top_player of editProfileForm.get('top_players')
                      .controls;
                    let i = index
                  "
                  formArrayName="top_players"
                >
                  <div class="w-50">
                    <label>Top Academy Player</label>

                    <ng-container [formGroupName]="i">
                      <div class="flex-wrapper">
                        <div class="input-wrapper">
                          <input
                            type="text"
                            matInput
                            formControlName="name"
                          />
                          <mat-error
                            *ngIf="
                              editProfileForm.controls.top_players.controls[
                                i
                              ].get('name').invalid &&
                              editProfileForm.controls.top_players.controls[
                                i
                              ].get('name').touched
                            "
                          >
                            <span
                              *ngIf="
                                editProfileForm.controls.top_players.controls[
                                  i
                                ]
                                  .get('name')
                                  .hasError('required')
                              "
                              translate
                              >Name is required</span
                            >
                          </mat-error>
                        </div>

                        <div class="input-wrapper">
                          <a class="mt-0" (click)="removeTopAcademyPlayer(i)">
                            Remove
                          </a>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
              </div>

              <!-- No of associated Player -->
              <div class="from-block">
                <div classd="input-wrapper-second">
                  <label>Number of associated players <span>*</span></label>
                  <input
                    type="text"
                    matInput
                    formControlName="associated_players"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>

      <!-- bottom -->
      <div class="block-bottom">
        <a (click)="resetForm()">Cancel</a>
        <button class="btn" [disabled]="!editProfileForm.valid">
          Save Changes
        </button>
      </div>
    </form>
  </div>
</div>
