<app-header></app-header>
<div class="site-wrapper">
  <div class="left-panel">
    <app-left-panel> </app-left-panel>
  </div>
  <div class="right-panel">
    <div class="right-wrapper">
      <div class="main mt-2">
        <div class="public-wrapper">
          <!-- Social icons -->
          <div class="social-links">
            <ul>
              <li>
                <a href="#"
                  ><img src="assets/images/website/social/facebook.svg" alt=""
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img src="assets/images/website/social/instagram.svg" alt=""
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img src="assets/images/website/social/linkedin.svg" alt=""
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img src="assets/images/website/social/youtube.svg" alt=""
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img src="assets/images/website/social/twitter.svg" alt=""
                /></a>
              </li>
            </ul>
          </div>

          <!-- heading and follow unfollow -->
          <div class="heading">
            <div class="left">
              <h2>About FooTMate</h2>
            </div>
            <div class="right">
              <button>Delete FooTMate</button>
              <button>Unfollow</button>
            </div>
          </div>
          <!-- Boi -->
          <div class="boi">
            <h4>Boi</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lobortis
              eget ultrices sed suspendisse amet vitae, neque in. Eu tempor
              porttitor eget eget nisl ligula. Id massa consectetur sed nunc
              lacus morb ctetur adipiscing elit. Lobortis eget ultrice
            </p>
          </div>

          <!-- tab buttons -->
          <div class="tabs-buttons">
            <ul>
              <li><a class="active">Personal details</a></li>
              <li><a>Professional details</a></li>
            </ul>
          </div>
          <div class="tab-panel">
            <!-- player personal -->
            <div class="player-personal" style="display: none;">
              <div class="details">
                <div class="half">
                  <div class="left">
                    <h4>D.O.B</h4>
                  </div>
                  <div class="right">
                    <p>22 June 2002</p>
                  </div>
                </div>
                <div class="half">
                  <div class="left">
                    <h4>Weight</h4>
                  </div>
                  <div class="right">
                    <p>54kg</p>
                  </div>
                </div>

                <div class="half">
                  <div class="left">
                    <h4>Gender</h4>
                  </div>
                  <div class="right">
                    <p>Male</p>
                  </div>
                </div>

                <div class="half">
                  <div class="left">
                    <h4>Height</h4>
                  </div>
                  <div class="right">
                    <p>6 ft 4 inches</p>
                  </div>
                </div>

                <div class="full">
                  <div class="left">
                    <h4>Nationality</h4>
                  </div>
                  <div class="right">
                    <p>Indian</p>
                  </div>
                </div>
                <div class="full">
                  <div class="left">
                    <h4>State / UT</h4>
                  </div>
                  <div class="right">
                    <p>Delhi</p>
                  </div>
                </div>
                <div class="full">
                  <div class="left">
                    <h4>City</h4>
                  </div>
                  <div class="right">
                    <p>Delhi</p>
                  </div>
                </div>
                <div class="full">
                  <div class="left">
                    <h4>School</h4>
                  </div>
                  <div class="right">
                    <p>A.B.C. public school</p>
                  </div>
                </div>
                <div class="full">
                  <div class="left">
                    <h4>College</h4>
                  </div>
                  <div class="right">
                    <p>A.B.C. dehli college</p>
                  </div>
                </div>
                <div class="full">
                  <div class="left">
                    <h4>University</h4>
                  </div>
                  <div class="right">
                    <p>A.B.C. International University</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- player professional -->
            <div class="player-professioal" style="display: none;">
              <div class="section">
                <h4>Preferred playing position :</h4>
                <div class="positions">
                  <p><span>1</span>Striker</p>
                  <p><span>2</span>Centre Midfielder</p>
                  <p><span>3</span>Right Midfielder</p>
                </div>
                <div class="block">
                  <div class="left">
                    <h4>Strong foot</h4>
                  </div>
                  <div class="right">
                    <p>Left</p>
                  </div>
                </div>

                <div class="block">
                  <div class="left">
                    <h4>Weak foot</h4>
                  </div>
                  <div class="right">
                    <mat-icon class="material-icons active">
                      star_border
                    </mat-icon>
                    <mat-icon class="material-icons"> star_border </mat-icon>
                    <mat-icon class="material-icons"> star_border </mat-icon>
                    <mat-icon class="material-icons"> star_border </mat-icon>
                    <mat-icon class="material-icons"> star_border </mat-icon>
                  </div>
                </div>

                <div class="block">
                  <div class="left">
                    <h4>Current state association</h4>
                  </div>
                  <div class="right">
                    <p>Chandigarh Football Association</p>
                  </div>
                </div>

                <div class="block">
                  <div class="left">
                    <h4>Formal club/ academy</h4>
                  </div>
                  <div class="right">
                    <p>KickerStar</p>
                  </div>
                </div>

                <h4 class="mb-2 mt-2">Current associated club / academy :</h4>
                <h4 class="mb-2">Head coach details</h4>

                <div class="block">
                  <div class="left">
                    <h4>Name</h4>
                  </div>
                  <div class="right">
                    <p>Ramraj Kushwaha</p>
                  </div>
                </div>

                <div class="block">
                  <div class="left">
                    <h4>Phone number</h4>
                  </div>
                  <div class="right">
                    <p>+91 8934898934</p>
                  </div>
                </div>

                <div class="block">
                  <div class="left">
                    <h4>Email</h4>
                  </div>
                  <div class="right">
                    <p>ramraj@gmail.com</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Club/Academy personal -->
            <div class="club-academy-personal" style="display: none;">
              <div class="details">
                <div class="full">
                  <div class="left">
                    <h4>Email</h4>
                  </div>
                  <div class="right">
                    <p>chelsea@gmail.com</p>
                  </div>
                </div>
                <div class="full">
                  <div class="left">
                    <h4>Phone number</h4>
                  </div>
                  <div class="right">
                    <p>9689854795</p>
                  </div>
                </div>
                <div class="full">
                  <div class="left">
                    <h4>Mobile number</h4>
                  </div>
                  <div class="right">
                    <p>9689854795</p>
                  </div>
                </div>
                <div class="full">
                  <div class="left">
                    <h4>Founded (Year)</h4>
                  </div>
                  <div class="right">
                    <p>22 June 2002</p>
                  </div>
                </div>
                <div class="full">
                  <div class="left">
                    <h4>Country</h4>
                  </div>
                  <div class="right">
                    <p>India</p>
                  </div>
                </div>
                <div class="full">
                  <div class="left">
                    <h4>State/ UT</h4>
                  </div>
                  <div class="right">
                    <p>Delhi</p>
                  </div>
                </div>
                <div class="full">
                  <div class="left">
                    <h4>City</h4>
                  </div>
                  <div class="right">
                    <p>Delhi</p>
                  </div>
                </div>
                <div class="full">
                  <div class="left">
                    <h4>Pincode/ Zipcode</h4>
                  </div>
                  <div class="right">
                    <p>110099</p>
                  </div>
                </div>
                <div class="full">
                  <div class="left">
                    <h4>Office address</h4>
                  </div>
                  <div class="right">
                    <p>R.no.1 142 Kapadia Bldg 3rd Flr, Modi Street, Fort</p>
                  </div>
                </div>
                <div class="full">
                  <div class="left">
                    <h4>Stadium name</h4>
                  </div>
                  <div class="right">
                    <p>Football Foot Ground</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Club/Academy professional -->
            <div class="club-academy-personal">
              <div class="section">
                <h4 class="mb-1">Major trophy wins</h4>
                <div class="trophy-list">
                  <span>1.</span>
                  <div class="trophy-detials">
                    <div class="full">
                      <div class="left">
                        <h4>Trophy name</h4>
                      </div>
                      <div class="right">
                        <p>UEFA Champions League</p>
                      </div>
                    </div>
                    <div class="full">
                      <div class="left">
                        <h4>Year</h4>
                      </div>
                      <div class="right">
                        <p>2016</p>
                      </div>
                    </div>
                    <div class="full">
                      <div class="left">
                        <h4>Position secured</h4>
                      </div>
                      <div class="right">
                        <p>Second Runnerup</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="trophy-list">
                  <span>2.</span>
                  <div class="trophy-detials">
                    <div class="full">
                      <div class="left">
                        <h4>Trophy name</h4>
                      </div>
                      <div class="right">
                        <p>UEFA Champions League</p>
                      </div>
                    </div>
                    <div class="full">
                      <div class="left">
                        <h4>Year</h4>
                      </div>
                      <div class="right">
                        <p>2016</p>
                      </div>
                    </div>
                    <div class="full">
                      <div class="left">
                        <h4>Position secured</h4>
                      </div>
                      <div class="right">
                        <p>Second Runnerup</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- league name -->
              <div class="league">
                <h4>League name</h4>
                <div class="full">
                  <div class="left">
                    <h4>Position secured</h4>
                  </div>
                  <div class="right">
                    <p>Second Runnerup</p>
                  </div>
                </div>
              </div>
              <!-- signs -->
              <div class="signings">
                <h4 class="mt-1">Top signings</h4>
                <div class="full">
                  <p><span>1.</span>Ratanlal Bisht</p>
                  <p><span>2.</span>Ratanlal Bisht</p>
                  <p><span>3.</span>Ratanlal Bisht</p>
                  <p><span>4.</span>Ratanlal Bisht</p>
                  <p><span>5.</span>Ratanlal Bisht</p>
                  <p><span>6.</span>Ratanlal Bisht</p>
                </div>
              </div>
              <!-- Type of club -->
              <div class="league">
                <h4>Type of club</h4>
                <div class="full">
                  <div class="right">
                    <p>Residential</p>
                  </div>
                </div>
              </div>

              <!-- State association affiliated under -->
              <div class="league">
                <h4>State association affiliated under</h4>
                <div class="full">
                  <div class="right">
                    <p>All Manipur Football Association</p>
                  </div>
                </div>
              </div>

              <!-- Contact details -->
              <div class="contact-details">
                <h4 class="mb-1">Contact details</h4>
                <div class="contact-list">
                  <span>1.</span>
                  <div class="contact-detials">
                    <div class="full">
                      <div class="left">
                        <h4>Trophy name</h4>
                      </div>
                      <div class="right">
                        <p>UEFA Champions League</p>
                      </div>
                    </div>
                    <div class="full">
                      <div class="left">
                        <h4>Year</h4>
                      </div>
                      <div class="right">
                        <p>2016</p>
                      </div>
                    </div>
                    <div class="full">
                      <div class="left">
                        <h4>Position secured</h4>
                      </div>
                      <div class="right">
                        <p>Second Runnerup</p>
                      </div>
                    </div>
                    <div class="full">
                      <div class="left">
                        <h4>Position secured</h4>
                      </div>
                      <div class="right">
                        <p>Second Runnerup</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer -->
    <div class="footer-fix">
      <app-copyright></app-copyright>
    </div>
  </div>
</div>
