<div fxLayout fxLayoutAlign="space-between center" class="modal-header">
  <div class="heading">
    <img src="assets/images/icons/filter-black.png" alt="" />
    <h4>Filter</h4>
  </div>
  <div class="close">
    <img mat-dialog-close src="assets/images/icons/close.png" alt="" />
  </div>
</div>
<form [formGroup]="filterForm">
  <div class="form-group">
    <div class="form-wrapper">
      <!-- date -->
      <div class=" input__group date">
        <label>Registration Date Range</label>
        <div class="date_pick">
          <input
            formControlName="from"
            [matDatepicker]="academyform"
            readonly
            placeholder="From Date"
            [max]="tomorrow"
          />
          <mat-datepicker-toggle [for]="academyform"></mat-datepicker-toggle>
          <mat-datepicker #academyform></mat-datepicker>
        </div>
        <div class="date_pick">
          <input
            formControlName="to"
            [matDatepicker]="academyto"
            readonly
            placeholder="To Date"
            [max]="tomorrow"
          />
          <mat-datepicker-toggle [for]="academyto"></mat-datepicker-toggle>
          <mat-datepicker #academyto></mat-datepicker>
        </div>
      </div>
      <!-- player -->
      <div class="input__group">
        <label>Academy Name</label>
        <input formControlName="name" type="text" placeholder="Academy Name" />
      </div>

      <!-- email type -->
      <div class="input__group">
        <label>Email</label>
        <input
          formControlName="email"
          type="email"
          matinput
          placeholder="Email"
        />
      </div>

      <!-- Member Sub Catergories -->
      <div class="input__group">
        <label>Member Sub Categories</label>
        <select matNativeControl required>
          <option value="">Select Member Sub Categories</option>
          <!-- <option value="goalKeeper">GoalKeeper</option>
          <option value="center">Center</option>
          <option value="mid-Fielder">Mid Fielder</option> -->
        </select>
      </div>

      <div class="input__group">
        <label>Email Verified</label>
        <select formControlName="email_verified" matNativeControl required>
          <option value="" selected>Select Email Verified Status</option>
          <option value="true">Verified</option>
          <option value="false">Not Verified</option>
        </select>
      </div>

      <div class="input__group">
        <label>Profile Status</label>
        <select formControlName="profile_status" matNativeControl required>
          <option value="" selected>Select Status</option>
          <option value="verified">Verified</option>
          <option value="unverified">Unverified</option>
        </select>
      </div>
    </div>
  </div>
  <div fxLayout="row">
    <div class="action-block">
      <button class="btn btn-gredient" [mat-dialog-close]="filterForm.value">
        Submit
      </button>
    </div>
  </div>
</form>
