<app-admin-header
  [toggler]="sideBarToggle"
  (toggleChange)="updateSidebar($event)"
></app-admin-header>

<mat-drawer-container class="admin-wrapper" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="sideBarToggle">
    <app-admin-sidebar></app-admin-sidebar>
  </mat-drawer>

  <div class="sidenav-content" [ngClass]="{ sidenavToogle: !sideBarToggle }">
    <div class="admin-main">
      <!-- title breadcrum -->
      <div class="title-wrapper">
        <div class="title">
          <h3>Manage Parameter</h3>
        </div>
        <div class="breadcrumb">
          <ul>
            <li>Master Data</li>
            <li>Player Specialization</li>
            <li>Ability</li>
            <li>Manage Parameter</li>
          </ul>
        </div>
      </div>
      <!-- end of the breadcrum -->

      <!-- table -->
      <div class="middle-part">
        <div class="btn-popup">
          <div class="btn-wrapper">
            <h3>{{ abilityName }}</h3>
            <button class="popup" (click)="openDialog()">Add Parameter</button>
          </div>
        </div>
        <!-- table -->
        <div class="table-container">
          <app-master-table
            [tableConfig]="tableConfig"
            [NumberColumn]="'true'"
            [rows]="dataSource"
            [TableActions]="ListAction"
            [sortEnabled]="false"
            [editMode]="editMode"
            [row]="row"
            [update]="update"
            (event)="onChange($event)"
          >
          </app-master-table>
          <ng-template #ListAction let-id="id" let-name="name">
            <div class="action-buttons" *ngIf="!editMode || id != parameterId">
              <button (click)="editParameter(name, id)">
                <img src=" assets/images/icons/edit.png" alt="Edit" />
              </button>
            </div>
            <!-- <button>
                                <img src=" assets/images/icons/plus.png" alt="Edit" />
                            </button> -->
            <div class="action-buttons" *ngIf="editMode && id == parameterId">
              <button (click)="updateParameter(name, id)">
                <img src="assets/images/icons/tick.png" alt="Edit" />
              </button>
              <button (click)="cancelParameter(name, id)">
                <img src="assets/images/icons/close01.png" alt="Delete" />
              </button>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</mat-drawer-container>
<app-footer></app-footer>
