@import "src/assets/sass/abstracts/variables";
@import "src/assets/sass/abstracts/mixins";
@import "src/assets/sass/components/admin-sidenav";

.admin-wrapper {
  background-color: #fff;
  height: 100%;
  min-height: 80vh;
  .admin-sidebar {
    background-color: $color-white;
  }
  .admin-main {
    background-color: $color-white;
    width: calc(100%);
  }
}

// title wrapper
.title-wrapper {
  width: 95%;
  margin: 3rem auto;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: $color-white;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.1);
  .title {
    h3 {
      font-size: 2.4rem;
      color: $text-color;
    }
  }
  .breadcrumb {
    ul {
      list-style: none;
      li {
        display: inline-block;
        color: $text-color;
        padding: 0rem 2rem;
        font-size: 1.8rem;
        border-right: 2px solid $text-color;
        &:last-child {
          border-right: 0px solid transparent;
        }
      }
    }
  }
}

// table content
.middle-part {
  width: 95%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $color-white;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.1);
}
// popup btn
.btn-popup {
  border-bottom: 2px solid $border-color;
  .btn-wrapper {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    h3 {
      font-size: 2.8rem;
      color: $text-color;
    }
    button.popup {
      @include admin-btn;
    }
  }
}
// table container
.table-container {
  width: 95%;
  margin: 2rem auto;
  ::ng-deep {
    .mat-table .mat-header-row {
      background-color: #f8f8f8;
    }
    .mat-table .mat-row .mat-cell .action-buttons button:nth-of-type(1) img {
      margin-top: 0px;
      height: 2rem;
    }
    .mat-table .mat-row .mat-cell .action-buttons button:nth-of-type(1) {
      transform: translateY(0px);
    }
  }
}
