<app-header></app-header>
<div class="site-wrapper">
  <div class="left-panel" [ngClass]="{ show: sidebar, hide: !sidebar }">
    <app-left-panel
      [userId]="userId"
      (sendPlayerType)="getPlayerType($event)"
      (sendMemberType)="getMemberType($event)"
      [options]="panelOptions"
    ></app-left-panel>
  </div>
  <div class="right-panel">
    <div class="right-wrapper">
      <div class="main">
        <!-- award heading -->
        <div class="heading">
          <h2>My awards and certificates</h2>

          <button
            *ngIf="!isPublic"
            class="secondary-btn"
            (click)="openDialog()"
          >
            Add awards and certificates
          </button>
        </div>
        <!-- table -->
        <div class="table">
          <app-table
            [tableConfig]="tableConfig"
            [NumberColumn]="'true'"
            [rows]="dataSource"
            [TableActions]="!isPublic ? ListAction : false"
            [sortEnabled]="false"
            [pageSize]="pageSize"
            [pageNo]="currentPageNo"
          >
          </app-table>
          <ng-template
            #ListAction
            let-id="id"
            let-media="media"
            let-name="name"
            let-position="position"
            let-type="type"
            let-from="from"
            let-to="to"
          >
            <div class="action-buttons">
              <button
                matTooltip="Edit"
                (click)="
                  openEditDialog(id, media, name, position, type, from, to)
                "
              >
                <mat-icon class="material-icons">create</mat-icon>
              </button>
              <button matTooltip="Delete" (click)="deletePopup(id)">
                <mat-icon class="material-icons">delete</mat-icon>
              </button>
            </div>
          </ng-template>
        </div>
        <!-- Pagination -->
        <app-pagination
          *ngIf="dataSource.data.length !== 0"
          [showData]="false"
          [showCount]="show_count"
          [totalRows]="total_count"
          [rowsPerPage]="pageSize"
          [selectedPage]="selectedPage"
          (onChange)="updatePage($event)"
        >
        </app-pagination>
      </div>
    </div>
    <ng-adsense></ng-adsense>
    <div class="footer-fix">
      <app-copyright></app-copyright>
    </div>
  </div>
</div>

<!-- mobile toggle -->
<span class="toggle-btn" (click)="sidebar = !sidebar">
  <mat-icon class=" material-icons">menu_open</mat-icon>
</span>
