@import "src/assets/sass/abstracts/variables";
@import "src/assets/sass/abstracts/mixins";

.site-wrapper {
  width: 100%;
  display: flex;
  background: $third-color;
  margin-top: 8.5rem;
  box-sizing: border-box;

  .right-panel {
    width: 76.25%;

    .right-wrapper {
      padding: 2rem;

      .main {
        background: $white-color;
        @include shadow;
        padding: 2rem;
        border-radius: 0.5rem;

        .heading {
          display: flex;
          justify-content: space-between;
          padding: 2rem 0;
          color: $fourth-color;
        }

        // .table {
        //    max-width: 130rem;
        // }
      }
    }
  }
}
