<div class="form-container" *ngIf="!imageMode">
  <div class="header">
    <div class="title">
      <h3>{{ header }}</h3>
    </div>
    <div class="close">
      <mat-icon mat-dialog-close class="material-icons">close</mat-icon>
    </div>
  </div>

  <div class="modal-body">
    <h4>{{ message }}</h4>
    <div class="form-block w-40" *ngIf="disApprove">
      <input type="text" [(ngModel)]="disApproveReason" />
    </div>
    <div class="action-block">
      <button
        *ngIf="!disApprove"
        class="btn btn-primary"
        (click)="cofirmDialog()"
      >
        {{ acceptText }}
      </button>
      <button
        [disabled]="!disApproveReason"
        *ngIf="disApprove"
        class="btn btn-primary"
        (click)="cofirmDialog()"
      >
        {{ acceptText }}
      </button>
      <button class="btn btn-secondary ml-1" mat-dialog-close>
        {{ rejectText }}
      </button>
    </div>
  </div>
</div>

<div class="form-container" *ngIf="imageMode">
  <div class="header">
    <div class="title">
      <h3>{{ header }}</h3>
    </div>
    <div class="close">
      <mat-icon mat-dialog-close class="material-icons">close</mat-icon>
    </div>
  </div>
  <div class="img-wrapper">
    <img [src]="imageURL" alt="" />
  </div>
</div>
