<app-header></app-header>
<div class="site-wrapper">
  <!-- Left section -->
  <div class="left-section">
    <app-left-panel [options]="panelOptions"> </app-left-panel>
  </div>
  <!-- Right seciton -->
  <div class="right-section">
    <form [formGroup]="addEditContractForm">
      <!-- players -->
      <div class="player-details">
        <!-- player type -->
        <div class="block">
          <div class="block-header border-bottom">
            <h4>Add New Contract</h4>
          </div>
        </div>

        <div class="block">
          <div class="block-header border-bottom">
            <h4>Select Category</h4>
          </div>
          <div class="block-middle">
            <div class="radio">
              <label>
                <input
                  formControlName="category"
                  type="radio"
                  value="club"
                  (click)="setCategory('club')"
                />
                Club
              </label>
              <label
                ><input
                  formControlName="category"
                  type="radio"
                  value="academy"
                  (click)="setCategory('academy')"
                />
                Academy
              </label>
            </div>
          </div>
        </div>

        <div class="block">
          <div class="block-middle">
            <!-- Player name on contract -->
            <div class="from-block">
              <label>Player name on contract <span>*</span></label>
              <input
                formControlName="playerName"
                class="error-border"
                type="text"
                placeholder="Player name on contract"
                matInput
              />
              <mat-error
                *ngIf="
                  addEditContractForm.controls.playerName.invalid &&
                  addEditContractForm.controls.playerName.touched
                "
              >
                <span
                  *ngIf="
                    addEditContractForm.controls.playerName.errors.required
                  "
                  translate
                  >Player Name is required
                </span>
              </mat-error>
            </div>

            <!-- Club/ Academy Name -->
            <div class="from-block">
              <label>{{ category }} Name <span>*</span></label>
              <select
                formControlName="clubAcademyName"
                matNativeControl
                required
              >
                <option value="">Select Club Name</option>
                <ng-container *ngFor="let ca of clubAcadArray">
                  <option value="{{ ca.name }}">{{ ca.name }}</option>
                </ng-container>
                <option value="Other">Other</option>
              </select>
              <mat-error
                *ngIf="
                  addEditContractForm.controls.clubAcademyName.invalid &&
                  addEditContractForm.controls.clubAcademyName.touched
                "
              >
                <span
                  *ngIf="
                    addEditContractForm.controls.clubAcademyName.errors.required
                  "
                  translate
                  >{{ category | titlecase }} Name is required
                </span>
              </mat-error>
            </div>

            <ng-container
              *ngIf="
                addEditContractForm.get('clubAcademyName').value === 'Other'
              "
            >
              <!-- Other name -->
              <div class="from-block">
                <label>Other Name <span>*</span></label>
                <input
                  formControlName="otherName"
                  placeholder="Other Name"
                  type="text"
                  matInput
                />

                <mat-error
                  *ngIf="
                    addEditContractForm.controls.otherName.invalid &&
                    addEditContractForm.controls.otherName.touched
                  "
                >
                  <span
                    *ngIf="
                      addEditContractForm.controls.otherName.errors.required
                    "
                    translate
                    >Other Name is required
                  </span>
                </mat-error>
              </div>

              <!-- Other emails -->
              <div class="from-block">
                <label>Other Email </label>
                <input
                  formControlName="otherEmail"
                  placeholder="Other Email"
                  type="email"
                  matInput
                />
                <mat-error
                  *ngIf="
                    addEditContractForm.controls.otherEmail.invalid &&
                    addEditContractForm.controls.otherEmail.touched
                  "
                >
                  <span
                    *ngIf="
                      addEditContractForm.controls.otherEmail.errors.required
                    "
                    translate
                    >Other Email is required
                  </span>
                  <span
                    *ngIf="addEditContractForm.controls.otherEmail.errors.email"
                    translate
                    >Other Email format is invalid
                  </span>
                </mat-error>
              </div>

              <!-- Other Phone -->
              <div class="from-block">
                <label>Other Phone Number</label>
                <div class="contact-no">
                  <div class="countrycode">
                    <input type="text" value="+91" readonly tabindex="-1" />
                  </div>
                  <div class="phonenumber">
                    <input
                      formControlName="otherPhoneNumber"
                      placeholder="Phone Number"
                      type="text"
                      matInput
                    />
                  </div>

                  <mat-error
                    *ngIf="
                      addEditContractForm.controls.otherPhoneNumber.invalid &&
                      addEditContractForm.controls.otherPhoneNumber.touched
                    "
                  >
                    <span
                      *ngIf="
                        addEditContractForm.controls.otherPhoneNumber.errors
                          .required
                      "
                      translate
                      >Other Phone Number is required</span
                    >
                    <ng-template #lengthBlock>
                      <span
                        translate
                        class="error-text"
                        *ngIf="
                          addEditContractForm.controls.otherPhoneNumber.errors
                            .minlength
                        "
                      >
                        Please provide number upto
                        {{
                          addEditContractForm.controls.otherPhoneNumber.errors
                            .minlength.requiredLength
                        }}
                        digits
                      </span>
                      <span
                        translate
                        class="error-text"
                        *ngIf="
                          addEditContractForm.controls.otherPhoneNumber.errors
                            .maxlength
                        "
                      >
                        Please provide number upto
                        {{
                          addEditContractForm.controls.otherPhoneNumber.errors
                            .maxlength.requiredLength
                        }}
                        digits
                      </span>
                    </ng-template>
                    <span
                      class="error-text"
                      *ngIf="
                        addEditContractForm.controls.otherPhoneNumber.errors
                          .pattern;
                        else lengthBlock
                      "
                      translate
                    >
                      Other Phone Number format is invalid
                    </span>
                  </mat-error>
                </div>
              </div>
            </ng-container>

            <!-- Contract signing date -->
            <div class="from-block">
              <label>Contract signing date <span>*</span></label>
              <div class="datepicker">
                <input
                  formControlName="signingDate"
                  placeholder="Contract signing date"
                  matInput
                  [matDatepicker]="signing"
                  readonly
                />
                <!-- [max]="tomorrow" -->
                <mat-datepicker-toggle [for]="signing"></mat-datepicker-toggle>
                <mat-datepicker #signing></mat-datepicker>
              </div>
              <mat-error
                *ngIf="
                  addEditContractForm.controls.signingDate.invalid &&
                  addEditContractForm.controls.signingDate.touched
                "
              >
                <span
                  *ngIf="
                    addEditContractForm.controls.signingDate.errors.required
                  "
                  translate
                  >Contract signing date is required
                </span>
              </mat-error>
            </div>

            <!-- Contract effective date -->
            <div class="from-block">
              <label>Contract effective date <span>*</span></label>
              <div class="datepicker">
                <input
                  formControlName="effectiveDate"
                  placeholder="Contract effective date"
                  matInput
                  [matDatepicker]="effective"
                  readonly
                />
                <!-- [max]="tomorrow" -->
                <mat-datepicker-toggle
                  [for]="effective"
                ></mat-datepicker-toggle>
                <mat-datepicker #effective></mat-datepicker>
              </div>
              <mat-error
                *ngIf="
                  addEditContractForm.controls.effectiveDate.invalid &&
                  addEditContractForm.controls.effectiveDate.touched
                "
              >
                <span
                  *ngIf="
                    addEditContractForm.controls.effectiveDate.errors.required
                  "
                  translate
                  >Contract effective date is required
                </span>
              </mat-error>
            </div>

            <!-- Contract expiry date -->
            <div class="from-block">
              <label>Contract expiry date <span>*</span></label>
              <div class="datepicker">
                <input
                  formControlName="expiryDate"
                  placeholder="Contract expiry date"
                  matInput
                  [matDatepicker]="expiry"
                  readonly
                />
                <!-- [max]="tomorrow" -->
                <mat-datepicker-toggle [for]="expiry"></mat-datepicker-toggle>
                <mat-datepicker #expiry></mat-datepicker>
              </div>
              <mat-error
                *ngIf="
                  addEditContractForm.controls.expiryDate.invalid &&
                  addEditContractForm.controls.expiryDate.touched
                "
              >
                <span
                  *ngIf="
                    addEditContractForm.controls.expiryDate.errors.required
                  "
                  translate
                  >Contract expiry date is required
                </span>
              </mat-error>
            </div>

            <!-- Place of signature  -->
            <div class="from-block">
              <label>Place of signature</label>
              <input
                formControlName="placeOfSignature"
                placeholder="Place of signature "
                type="text"
                matInput
              />
            </div>

            <!-- Club/ Academy representative name  -->
            <div class="from-block">
              <label>{{ category | titlecase }} representative name</label>
              <input
                formControlName="clubAcademyRepresentativeName"
                placeholder="Club representative name "
                type="text"
                matInput
              />
            </div>

            <!-- Club address  -->
            <div class="from-block">
              <label>{{ category | titlecase }} address</label>
              <input
                formControlName="clubAcademyAddress"
                placeholder="Club address"
                type="text"
                matInput
              />
            </div>

            <!-- Club Phone -->
            <div class="from-block">
              <label
                >{{ category | titlecase }} Phone Number <span>*</span>
              </label>
              <div class="contact-no">
                <div class="countrycode">
                  <input type="text" value="+91" readonly tabindex="-1" />
                </div>
                <div class="phonenumber">
                  <input
                    formControlName="clubAcademyPhoneNumber"
                    placeholder="Phone Number"
                    type="text"
                    matInput
                  />
                  <mat-error
                    *ngIf="
                      addEditContractForm.controls.clubAcademyPhoneNumber
                        .invalid &&
                      addEditContractForm.controls.clubAcademyPhoneNumber
                        .touched
                    "
                  >
                    <span
                      *ngIf="
                        addEditContractForm.controls.clubAcademyPhoneNumber
                          .errors.required
                      "
                      translate
                      >{{ category | titlecase }} Phone Number is required</span
                    >
                    <ng-template #lengthBlock>
                      <span
                        translate
                        class="error-text"
                        *ngIf="
                          addEditContractForm.controls.clubAcademyPhoneNumber
                            .errors.minlength
                        "
                      >
                        Please provide number upto
                        {{
                          addEditContractForm.controls.clubAcademyPhoneNumber
                            .errors.minlength.requiredLength
                        }}
                        digits
                      </span>
                      <span
                        translate
                        class="error-text"
                        *ngIf="
                          addEditContractForm.controls.clubAcademyPhoneNumber
                            .errors.maxlength
                        "
                      >
                        Please provide number upto
                        {{
                          addEditContractForm.controls.clubAcademyPhoneNumber
                            .errors.maxlength.requiredLength
                        }}
                        digits
                      </span>
                    </ng-template>
                    <span
                      class="error-text"
                      *ngIf="
                        addEditContractForm.controls.clubAcademyPhoneNumber
                          .errors.pattern;
                        else lengthBlock
                      "
                      translate
                    >
                      {{ category | titlecase }} Phone Number format is invalid
                    </span>
                  </mat-error>
                </div>
              </div>
            </div>

            <!-- AIFF accreditation number -->
            <div class="from-block">
              <label>AIFF accreditation number</label>
              <input
                formControlName="aiffNumber"
                placeholder="AIFF accreditation number"
                type="text"
                matInput
              />
            </div>

            <!-- CRS User Name  -->
            <div class="from-block">
              <label>CRS User Name</label>
              <input
                formControlName="crsUserName"
                placeholder="CRS User Name"
                type="text"
                matInput
              />
            </div>

            <!-- Legal guardian name  -->
            <div class="from-block">
              <label>Legal guardian name</label>
              <input
                formControlName="legalGuardianName"
                placeholder="Legal guardian name"
                type="text"
                matInput
              />
            </div>

            <!-- Player address  -->
            <div class="from-block">
              <label>Player address</label>
              <input
                formControlName="playerAddress"
                placeholder="Player address"
                type="text"
                matInput
              />
            </div>

            <!-- Player Phone -->
            <div class="from-block">
              <label>Player Phone Number <span>*</span></label>
              <div class="contact-no">
                <div class="countrycode">
                  <input type="text" value="+91" readonly tabindex="-1" />
                </div>
                <div class="phonenumber">
                  <input
                    formControlName="playerMobileNumber"
                    placeholder="Player Phone Number"
                    type="text"
                    matInput
                  />
                </div>
              </div>

              <mat-error
                *ngIf="
                  addEditContractForm.controls.playerMobileNumber.invalid &&
                  addEditContractForm.controls.playerMobileNumber.touched
                "
              >
                <span
                  *ngIf="
                    addEditContractForm.controls.playerMobileNumber.errors
                      .required
                  "
                  translate
                >
                  Player Phone Number is required</span
                >
                <ng-template #lengthBlock>
                  <span
                    translate
                    class="error-text"
                    *ngIf="
                      addEditContractForm.controls.playerMobileNumber.errors
                        .minlength
                    "
                  >
                    Please provide number upto
                    {{
                      addEditContractForm.controls.playerMobileNumber.errors
                        .minlength.requiredLength
                    }}
                    digits
                  </span>
                  <span
                    translate
                    class="error-text"
                    *ngIf="
                      addEditContractForm.controls.playerMobileNumber.errors
                        .maxlength
                    "
                  >
                    Please provide number upto
                    {{
                      addEditContractForm.controls.playerMobileNumber.errors
                        .maxlength.requiredLength
                    }}
                    digits
                  </span>
                </ng-template>
                <span
                  class="error-text"
                  *ngIf="
                    addEditContractForm.controls.playerMobileNumber.errors
                      .pattern;
                    else lengthBlock
                  "
                  translate
                >
                  Player Phone Number format is invalid
                </span>
              </mat-error>
            </div>

            <!-- Player email id  -->
            <div class="from-block">
              <label>Player email id</label>
              <input
                formControlName="playerEmail"
                placeholder="Player email id"
                type="text"
                matInput
              />
              <mat-error
                *ngIf="
                  addEditContractForm.controls.playerEmail.invalid &&
                  addEditContractForm.controls.playerEmail.touched
                "
              >
                <span
                  *ngIf="addEditContractForm.controls.playerEmail.errors.email"
                  translate
                  >Player Email format is invalid
                </span>
              </mat-error>
            </div>

            <!-- Club Academy email id  -->
            <div class="from-block">
              <label>{{ category | titlecase }} email id </label>
              <input
                formControlName="clubAcademyEmail"
                placeholder="Club email id"
                type="text"
                matInput
              />

              <mat-error
                *ngIf="
                  addEditContractForm.controls.clubAcademyEmail.invalid &&
                  addEditContractForm.controls.clubAcademyEmail.touched
                "
              >
                <span
                  *ngIf="
                    addEditContractForm.controls.clubAcademyEmail.errors.email
                  "
                  translate
                  >{{ category | titlecase }} Email format is invalid
                </span>
              </mat-error>
            </div>

            <!-- Did the club/ academy use the services of an agent?  -->
            <div class="from-block-full">
              <label
                >Did the {{ category }} use the services of an agent?
              </label>
              <div class="radio">
                <label
                  ><input
                    formControlName="clubAcademyUsesAgentServices"
                    type="radio"
                    value="true"
                  />
                  Yes
                </label>
                <label
                  ><input
                    formControlName="clubAcademyUsesAgentServices"
                    type="radio"
                    value="false"
                  />
                  No
                </label>
              </div>
            </div>

            <ng-container
              *ngIf="
                addEditContractForm.get('clubAcademyUsesAgentServices')
                  .value === 'true'
              "
            >
              <!-- Provide Name of intermediaries   -->
              <div class="from-block">
                <label>Provide Name of intermediaries </label>
                <input
                  formControlName="clubAcademyIntermediaryName"
                  placeholder="Provide Name of intermediaries "
                  type="text"
                  matInput
                />
                <mat-error
                  *ngIf="
                    addEditContractForm.controls.clubAcademyIntermediaryName
                      .invalid &&
                    addEditContractForm.controls.clubAcademyIntermediaryName
                      .touched
                  "
                >
                  <span
                    *ngIf="
                      addEditContractForm.controls.clubAcademyIntermediaryName
                        .errors.required
                    "
                    translate
                  >
                    Name of intermediaries is required
                  </span>
                </mat-error>
              </div>

              <!-- Percentage of transfer fee paid to intermediaries  -->
              <div class="from-block">
                <label
                  >Percentage of transfer fee paid to intermediaries
                </label>
                <input
                  formControlName="clubAcademyTransferFee"
                  placeholder="Percentage of transfer fee paid to intermediaries"
                  type="text"
                  matInput
                />
                <mat-error
                  *ngIf="
                    addEditContractForm.controls.clubAcademyTransferFee
                      .invalid &&
                    addEditContractForm.controls.clubAcademyTransferFee.touched
                  "
                >
                  <span
                    *ngIf="
                      addEditContractForm.controls.clubAcademyTransferFee.errors
                        .required
                    "
                    translate
                  >
                    Percentage of transfer fee paid to intermediaries is
                    required
                  </span>
                </mat-error>
              </div>
            </ng-container>

            <!-- Did the club/ academy use the services of an agent?  -->
            <div class="from-block-full">
              <label>Did the player use services of an agent? </label>
              <div class="radio">
                <label
                  ><input
                    formControlName="playerUsesAgentServices"
                    type="radio"
                    value="true"
                  />
                  Yes
                </label>
                <label
                  ><input
                    formControlName="playerUsesAgentServices"
                    type="radio"
                    value="false"
                  />
                  No
                </label>
              </div>
            </div>

            <ng-container
              *ngIf="
                addEditContractForm.get('playerUsesAgentServices').value ===
                'true'
              "
            >
              <!-- Provide Name of intermediaries   -->
              <div class="from-block">
                <label>Provide Name of intermediaries </label>
                <input
                  formControlName="playerIntermediaryName"
                  placeholder="Provide Name of intermediaries "
                  type="text"
                  matInput
                />
                <mat-error
                  *ngIf="
                    addEditContractForm.controls.playerIntermediaryName
                      .invalid &&
                    addEditContractForm.controls.playerIntermediaryName.touched
                  "
                >
                  <span
                    *ngIf="
                      addEditContractForm.controls.playerIntermediaryName.errors
                        .required
                    "
                    translate
                  >
                    Name of intermediaries is required
                  </span>
                </mat-error>
              </div>

              <!-- Percentage of transfer fee paid to intermediaries  -->
              <div class="from-block">
                <label
                  >Percentage of transfer fee paid to intermediaries
                </label>
                <input
                  formControlName="playerTransferFee"
                  placeholder="Percentage of transfer fee paid to intermediaries"
                  type="text"
                  matInput
                />
                <mat-error
                  *ngIf="
                    addEditContractForm.controls.playerTransferFee.invalid &&
                    addEditContractForm.controls.playerTransferFee.touched
                  "
                >
                  <span
                    *ngIf="
                      addEditContractForm.controls.playerTransferFee.errors
                        .required
                    "
                    translate
                  >
                    Percentage of transfer fee paid to intermediaries is
                    required
                  </span>
                </mat-error>
              </div>
            </ng-container>
          </div>
        </div>
        <!-- bottom -->
        <div class="block-bottom">
          <a [routerLink]="['/member/profile/edit']"> Cancel </a>
          <button
            [disabled]="!addEditContractForm.valid"
            class="btn"
            (click)="addContract()"
          >
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
