@import "src/assets/sass/abstracts/variables";
@import "src/assets/sass/abstracts/mixins";

.site-wrapper {
  width: 100%;
  display: flex;
  background: $third-color;
  margin-top: 8.5rem;

  .right-panel {
    width: 76.25%;
    position: relative;

    .footer-fix {
      position: absolute;
      bottom: 0px;
      width: 100%;
    }

    .right-wrapper {
      padding: 2rem;

      .main {
        background: $white-color;
        @include shadow;
        padding: 2rem 4rem;
        border-radius: 0.5rem;
        margin-bottom: 10rem;

        // heading css
        .heading {
          display: flex;
          justify-content: space-between;
          padding: 2rem 0rem;
          color: $fourth-color;
        }

        // form-wrapper
        .form-wrapper {
          width: 90%;
          margin: 0 auto;

          .form-sections {
            .block {
              display: flex;
              padding-left: 3rem;
              flex-wrap: wrap;

              .half {
                width: 40%;
                margin-right: 2rem;
              }

              .full {
                width: 82%;
              }
            }
          }
        }
      }
    }
  }
}

//
.radio-section {
  margin-bottom: 1rem;

  ::ng-deep {
    .mat-radio-label-content {
      // font-size: 1.8rem;
      font-weight: 400;
      color: $second-color;
      padding-left: 1.2rem !important;
    }

    .mat-radio-group {
      width: 30%;
      display: flex;
      justify-content: space-between;
    }
  }
}
