// @import "src/assets/sass/abstracts/variables";
// @import "src/assets/sass/abstracts/mixins";
// @import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap");

// body {
//   background: red !important;
// }

// .site-wrapper {
//   width: 85%;
//   max-width: 180rem;
//   margin: 0 auto;
//   display: flex;
//   border-radius: 2rem;

//   .right-section {
//     width: 72%;
//     margin-left: 4rem;
//     margin-top: 3.2rem;

//     .block {
//       background-color: $color-white;
//       border-radius: 0.8rem;
//       margin-bottom: 2rem;

//       .block-header {
//         padding: 2rem;

//         h4 {
//           font-size: 2.4rem;
//           margin-bottom: 0.5rem;
//         }

//         p {
//           font-size: 1.8rem;
//           color: $text-muted;
//         }
//       }

//       .block-middle {
//         padding: 2rem;
//         display: flex;
//         justify-content: space-between;
//         flex-wrap: wrap;

//         .radio {
//           display: flex;
//           width: 100%;
//           max-width: 30rem;
//           justify-content: space-between;

//           label {
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             font-size: 1.8rem;
//             font-weight: 700;

//             input {
//               margin-right: 1rem;
//             }
//           }
//         }

//         .from-block,
//         .from-block-full {
//           width: 48%;
//           padding-bottom: 2rem;
//           position: relative;
//           margin-bottom: 1rem;

//           label {
//             display: block;
//             margin-bottom: 1rem;
//             margin-left: 0.5rem;
//             font-size: 1.8rem;
//             font-weight: 700;
//             text-transform: capitalize;

//             span {
//               color: $error;
//             }
//           }

//           input,
//           select {
//             width: 100%;
//             border: 1px solid $border-color;
//             border-radius: 0.8rem;
//             padding: 1.2rem 2rem;
//             outline: none;

//             &:focus {
//               border: 1px solid $blue;
//             }
//           }

//           select {
//             appearance: none;
//             background-image: url("../../../assets/icons/sort.svg");
//             background-size: 1.5rem 1.5rem;
//             background-repeat: no-repeat;
//             background-position: calc(100% - 1rem) center;
//           }

//           .datepicker {
//             width: 100%;

//             input {
//               background: url("../../../assets/icons/calendar.svg");
//               background-size: 2rem 2rem;
//               background-repeat: no-repeat;
//               background-position: calc(100% - 1rem) center;
//             }

//             .mat-datepicker-toggle {
//               position: absolute;
//               top: 2.2rem;
//               right: 0rem;
//               opacity: 0;
//             }

//             .mat-error {
//               bottom: -0rem;
//             }
//           }

//           .contact-no {
//             display: flex;

//             .countrycode {
//               width: 20%;

//               input {
//                 &:focus {
//                   border: 1px solid $border-color;
//                 }
//               }
//             }

//             .phonenumber {
//               width: 80%;
//               margin-left: 1rem;
//             }
//           }

//           .radio {
//             display: flex;
//             width: 100%;
//             justify-content: flex-start;

//             label {
//               margin-right: 2rem;

//               input {
//                 display: inline-block;
//                 width: 20px;
//                 margin-top: 0.4rem;
//                 transform: translateY(2px);
//               }

//               span {
//                 display: inline-block;
//                 color: $color-black;
//               }
//             }
//           }
//         }

//         .from-block-full {
//           width: 100%;
//         }
//       }
//     }

//     .block-bottom {
//       display: block;
//       width: 100%;
//       text-align: right;
//       margin-bottom: 4rem;

//       a {
//         @include cancel;
//         padding: 2rem 3rem;
//         font-size: 1.8rem;
//         font-weight: 700;
//         border-radius: 0px;
//       }

//       button {
//         @include btn-primary;
//         color: $color-white;
//         margin-left: 2rem;
//         padding: 2rem 3rem;
//         font-size: 1.8rem;
//         font-weight: 700;

//         &:disabled {
//           @include disable;
//         }
//       }
//     }
//   }
// }
// .text-reset {
//   text-transform: none !important;
// }

@import "src/assets/sass/abstracts/variables";
@import "src/assets/sass/abstracts/mixins";

.site-wrapper {
  width: 100%;
  display: flex;
  background: $third-color;
  margin-top: 8.5rem;

  .right-panel {
    width: 76.25%;
    position: relative;

    .footer-fix {
      position: absolute;
      bottom: 0px;
      width: 100%;
    }

    .right-wrapper {
      padding: 2rem;

      .main {
        background: $white-color;
        @include shadow;
        padding: 2rem 4rem;
        border-radius: 0.5rem;
        margin-bottom: 10rem;

        // heading css
        .heading {
          display: flex;
          justify-content: space-between;
          padding: 2rem 0rem;
          color: $fourth-color;
        }

        // form-wrapper
        .form-wrapper {
          width: 90%;
          margin: 0 auto;

          .form-sections {
            .block {
              display: flex;
              padding-left: 3rem;
              flex-wrap: wrap;

              .half {
                width: 40%;
                margin-right: 2rem;
              }

              .full {
                width: 82%;
              }
            }
          }
        }
      }
    }
  }
}

//
.radio-section {
  margin-bottom: 1rem;

  ::ng-deep {
    .mat-radio-label-content {
      // font-size: 1.8rem;
      font-weight: 400;
      color: $second-color;
    }
  }
}
