<app-header></app-header>
<div class="site-wrapper">
  <!-- Left section -->
  <div class="left-section">
    <app-left-panel
      [options]="panelOptions"
      (sendProfileData)="getProfileData($event)"
      (sendMemberType)="getMemberType($event)"
    >
    </app-left-panel>
  </div>
  <!-- Right seciton -->
  <div class="right-section">
    <form [formGroup]="addEditContractForm">
      <!-- players -->
      <div class="player-details">
        <!-- player type -->
        <div class="block">
          <div class="block-header border-bottom">
            <h4>{{ isEditMode ? 'Edit Contract' : 'Add New Contract' }}</h4>
          </div>
        </div>

        <ng-container *ngIf="member_type === 'player'">
          <div class="block">
            <div class="block-header border-bottom">
              <h4>Select Category</h4>
            </div>
            <div class="block-middle">
              <div class="radio">
                <label>
                  <input
                    formControlName="category"
                    type="radio"
                    value="club"
                    (click)="setCategory('club')"
                  />
                  Club
                </label>
                <label
                  ><input
                    formControlName="category"
                    type="radio"
                    value="academy"
                    (click)="setCategory('academy')"
                  />
                  Academy
                </label>
              </div>
            </div>
          </div>
        </ng-container>

        <div class="block">
          <div class="block-middle">
            <!-- Player name on contract -->
            <div class="from-block">
              <label>Player name on contract <span>*</span></label>
              <input
                formControlName="player_name"
                class="error-border"
                type="text"
                placeholder="Player Name On Contract"
                matInput
              />
              <mat-error
                *ngIf="
                  addEditContractForm.controls.player_name.invalid &&
                  addEditContractForm.controls.player_name.touched
                "
              >
                <span
                  *ngIf="
                    addEditContractForm.controls.player_name.errors.required
                  "
                  translate
                  >Player Name is required
                </span>
              </mat-error>
            </div>

            <ng-template #clubAcadTextField>
              <div class="from-block">
                <label>{{ category | titlecase }} Name <span>*</span></label>
                <input
                  formControlName="club_academy_name"
                  class="error-border"
                  type="text"
                  placeholder="{{ category | titlecase }} Name "
                  matInput
                />
                <mat-error
                  *ngIf="
                    addEditContractForm.controls.club_academy_name.invalid &&
                    addEditContractForm.controls.club_academy_name.touched
                  "
                >
                  <span
                    *ngIf="
                      addEditContractForm.controls.club_academy_name.errors
                        .required
                    "
                    translate
                    >{{ category | titlecase }} Name is required
                  </span>
                </mat-error>
              </div>
            </ng-template>

            <ng-container
              *ngIf="member_type === 'player'; else clubAcadTextField"
            >
              <!-- Club/ Academy Name -->
              <div class="from-block">
                <label>{{ category | titlecase }} Name <span>*</span></label>
                <select
                  #SelectTag
                  formControlName="club_academy_name"
                  matNativeControl
                  required
                  (change)="onSelectOption(SelectTag)"
                >
                  <option value=""
                    >Select {{ category | titlecase }} Name</option
                  >
                  <ng-container *ngFor="let item of clubAcadArray">
                    <option
                      [attr.identity]="item.email"
                      value="{{ item.name }}"
                      >{{ item.name }}</option
                    >
                  </ng-container>
                  <option value="Others">Others</option>
                </select>
                <mat-error
                  *ngIf="
                    addEditContractForm.controls.club_academy_name.invalid &&
                    addEditContractForm.controls.club_academy_name.touched
                  "
                >
                  <span
                    *ngIf="
                      addEditContractForm.controls.club_academy_name.errors
                        .required
                    "
                    translate
                    >{{ category | titlecase }} Name is required
                  </span>
                </mat-error>
              </div>

              <ng-container
                *ngIf="
                  addEditContractForm.get('club_academy_name').value ===
                  'Others'
                "
              >
                <!-- Other name -->
                <div class="from-block">
                  <label>Other Name <span>*</span></label>
                  <input
                    formControlName="other_name"
                    placeholder="Other Name"
                    type="text"
                    matInput
                  />

                  <mat-error
                    *ngIf="
                      addEditContractForm.controls.other_name.invalid &&
                      addEditContractForm.controls.other_name.touched
                    "
                  >
                    <span
                      *ngIf="
                        addEditContractForm.controls.other_name.errors.required
                      "
                      translate
                      >Other Name is required
                    </span>
                  </mat-error>
                </div>

                <!-- Other emails -->
                <div class="from-block">
                  <label>Other Email <span>*</span></label>
                  <input
                    formControlName="other_email"
                    placeholder="Other Email"
                    type="email"
                    matInput
                  />
                  <mat-error
                    *ngIf="
                      addEditContractForm.controls.other_email.invalid &&
                      addEditContractForm.controls.other_email.touched
                    "
                  >
                    <span
                      *ngIf="
                        addEditContractForm.controls.other_email.errors.required
                      "
                      translate
                      >Other Email is required
                    </span>
                    <span
                      *ngIf="
                        addEditContractForm.controls.other_email.errors.email
                      "
                      translate
                      >Other Email format is invalid
                    </span>
                  </mat-error>
                </div>

                <!-- Other Phone -->
                <div class="from-block">
                  <label>Other Phone Number</label>
                  <div class="contact-no">
                    <div class="countrycode">
                      <input type="text" value="+91" readonly tabindex="-1" />
                    </div>
                    <div class="phonenumber">
                      <input
                        formControlName="other_phone_number"
                        placeholder="Other Phone Number"
                        type="text"
                        matInput
                      />
                    </div>

                    <mat-error
                      *ngIf="
                        addEditContractForm.controls.other_phone_number
                          .invalid &&
                        addEditContractForm.controls.other_phone_number.touched
                      "
                    >
                      <span
                        *ngIf="
                          addEditContractForm.controls.other_phone_number.errors
                            .required
                        "
                        translate
                        >Other Phone Number is required</span
                      >
                      <ng-template #lengthBlock>
                        <span
                          translate
                          class="error-text"
                          *ngIf="
                            addEditContractForm.controls.other_phone_number
                              .errors.minlength
                          "
                        >
                          Please provide number upto
                          {{
                            addEditContractForm.controls.other_phone_number
                              .errors.minlength.requiredLength
                          }}
                          digits
                        </span>
                        <span
                          translate
                          class="error-text"
                          *ngIf="
                            addEditContractForm.controls.other_phone_number
                              .errors.maxlength
                          "
                        >
                          Please provide number upto
                          {{
                            addEditContractForm.controls.other_phone_number
                              .errors.maxlength.requiredLength
                          }}
                          digits
                        </span>
                      </ng-template>
                      <span
                        class="error-text"
                        *ngIf="
                          addEditContractForm.controls.other_phone_number.errors
                            .pattern;
                          else lengthBlock
                        "
                        translate
                      >
                        Other Phone Number format is invalid
                      </span>
                    </mat-error>
                  </div>
                </div>
              </ng-container>
            </ng-container>

            <!-- Contract signing date -->
            <div class="from-block">
              <label>Contract Signing Date <span>*</span></label>
              <div class="datepicker">
                <input
                  formControlName="signing_date"
                  placeholder="Contract Signing Date"
                  matInput
                  [matDatepicker]="signing"
                  [max]="yesterday"
                  readonly
                />
                <mat-datepicker-toggle [for]="signing"></mat-datepicker-toggle>
                <mat-datepicker #signing></mat-datepicker>
              </div>
              <mat-error
                *ngIf="
                  addEditContractForm.controls.signing_date.invalid &&
                  addEditContractForm.controls.signing_date.touched
                "
              >
                <span
                  *ngIf="
                    addEditContractForm.controls.signing_date.errors.required
                  "
                  translate
                  >Contract Signing Date is required
                </span>
              </mat-error>
            </div>

            <!-- Contract effective date -->
            <div class="from-block">
              <label>Contract Effective Date <span>*</span></label>
              <div class="datepicker">
                <input
                  formControlName="effective_date"
                  placeholder="Contract Effective Date"
                  matInput
                  [matDatepicker]="effective"
                  [min]="addEditContractForm.get('signing_date').value"
                  readonly
                />
                <mat-datepicker-toggle
                  [for]="effective"
                ></mat-datepicker-toggle>
                <mat-datepicker #effective></mat-datepicker>
              </div>
              <mat-error
                *ngIf="
                  addEditContractForm.controls.effective_date.invalid &&
                  addEditContractForm.controls.effective_date.touched
                "
              >
                <span
                  *ngIf="
                    addEditContractForm.controls.effective_date.errors.required
                  "
                  translate
                  >Contract Effective Date is required
                </span>
              </mat-error>
            </div>

            <!-- Contract expiry date -->
            <div class="from-block">
              <label>Contract Expiry Date <span>*</span></label>
              <div class="datepicker">
                <input
                  formControlName="expiry_date"
                  placeholder="Contract Expiry Date"
                  matInput
                  [matDatepicker]="expiry"
                  [min]="addEditContractForm.get('effective_date').value"
                  [max]="fiveYearFromNow"
                  readonly
                />
                <mat-datepicker-toggle [for]="expiry"></mat-datepicker-toggle>
                <mat-datepicker #expiry></mat-datepicker>
              </div>
              <mat-error
                *ngIf="
                  addEditContractForm.controls.expiry_date.invalid &&
                  addEditContractForm.controls.expiry_date.touched
                "
              >
                <span
                  *ngIf="
                    addEditContractForm.controls.expiry_date.errors.required
                  "
                  translate
                  >Contract Expiry Date is required
                </span>
              </mat-error>
            </div>

            <!-- Place of signature  -->
            <div class="from-block">
              <label>Place Of Signature</label>
              <input
                formControlName="place_of_signature"
                placeholder="Place Of Signature"
                type="text"
                matInput
              />
            </div>

            <!-- Club/ Academy representative name  -->
            <div class="from-block">
              <label>{{ category | titlecase }} Representative Name</label>
              <input
                formControlName="club_academy_representative_name"
                placeholder="{{ category | titlecase }} Representative Name"
                type="text"
                matInput
              />
            </div>

            <!-- Club address  -->
            <div class="from-block">
              <label>{{ category | titlecase }} Address</label>
              <input
                formControlName="club_academy_address"
                placeholder="{{ category | titlecase }} Address"
                type="text"
                matInput
              />
            </div>

            <ng-container
              *ngIf="
                addEditContractForm.get('club_academy_name').value !==
                  'Others' || ['club', 'academy'].includes(member_type)
              "
            >
              <!-- Club Phone -->
              <div class="from-block">
                <label
                  >{{ category | titlecase }} Phone Number <span>*</span>
                </label>
                <div class="contact-no">
                  <div class="countrycode">
                    <input type="text" value="+91" readonly tabindex="-1" />
                  </div>
                  <div class="phonenumber">
                    <input
                      formControlName="club_academy_phone_number"
                      placeholder="{{ category | titlecase }} Phone Number"
                      type="text"
                      matInput
                    />
                    <mat-error
                      *ngIf="
                        addEditContractForm.controls.club_academy_phone_number
                          .invalid &&
                        addEditContractForm.controls.club_academy_phone_number
                          .touched
                      "
                    >
                      <span
                        *ngIf="
                          addEditContractForm.controls.club_academy_phone_number
                            .errors.required
                        "
                        translate
                        >{{ category | titlecase }} Phone Number is
                        required</span
                      >
                      <ng-template #lengthBlock>
                        <span
                          translate
                          class="error-text"
                          *ngIf="
                            addEditContractForm.controls
                              .club_academy_phone_number.errors.minlength
                          "
                        >
                          Please provide number upto
                          {{
                            addEditContractForm.controls
                              .club_academy_phone_number.errors.minlength
                              .requiredLength
                          }}
                          digits
                        </span>
                        <span
                          translate
                          class="error-text"
                          *ngIf="
                            addEditContractForm.controls
                              .club_academy_phone_number.errors.maxlength
                          "
                        >
                          Please provide number upto
                          {{
                            addEditContractForm.controls
                              .club_academy_phone_number.errors.maxlength
                              .requiredLength
                          }}
                          digits
                        </span>
                      </ng-template>
                      <span
                        class="error-text"
                        *ngIf="
                          addEditContractForm.controls.club_academy_phone_number
                            .errors.pattern;
                          else lengthBlock
                        "
                        translate
                      >
                        {{ category | titlecase }} Phone Number format is
                        invalid
                      </span>
                    </mat-error>
                  </div>
                </div>
              </div>
            </ng-container>

            <!-- AIFF accreditation number -->
            <div class="from-block">
              <label>AIFF Accreditation Number</label>
              <input
                formControlName="aiff_number"
                placeholder="AIFF Accreditation Number"
                type="text"
                matInput
              />
            </div>

            <!-- CRS User Name  -->
            <div class="from-block">
              <label>CRS User Name</label>
              <input
                formControlName="crs_user_name"
                placeholder="CRS User Name"
                type="text"
                matInput
              />
            </div>

            <!-- Legal guardian name  -->
            <div class="from-block">
              <label
                >Legal Guardian Name <span *ngIf="showLegalGuardStar">*</span>
              </label>
              <input
                formControlName="legal_guardian_name"
                placeholder="Legal Guardian Name"
                type="text"
                matInput
              />
              <mat-error
                *ngIf="
                  addEditContractForm.controls.legal_guardian_name.invalid &&
                  addEditContractForm.controls.legal_guardian_name.touched
                "
              >
                <span
                  *ngIf="
                    addEditContractForm.controls.legal_guardian_name.errors
                      .required
                  "
                  translate
                >
                  Legal Guardian Name is required
                </span>
              </mat-error>
            </div>

            <!-- Player address  -->
            <div class="from-block">
              <label>Player Address</label>
              <input
                formControlName="player_address"
                placeholder="Player Address"
                type="text"
                matInput
              />
            </div>

            <!-- Player Phone -->
            <div class="from-block">
              <label>Player Mobile Number <span>*</span></label>
              <div class="contact-no">
                <div class="countrycode">
                  <input type="text" value="+91" readonly tabindex="-1" />
                </div>
                <div class="phonenumber">
                  <input
                    formControlName="player_mobile_number"
                    placeholder="Player Mobile Number"
                    type="text"
                    matInput
                  />
                </div>
              </div>

              <mat-error
                *ngIf="
                  addEditContractForm.controls.player_mobile_number.invalid &&
                  addEditContractForm.controls.player_mobile_number.touched
                "
              >
                <span
                  *ngIf="
                    addEditContractForm.controls.player_mobile_number.errors
                      .required
                  "
                  translate
                >
                  Player Mobile Number is required</span
                >
                <ng-template #lengthBlock>
                  <span
                    translate
                    class="error-text"
                    *ngIf="
                      addEditContractForm.controls.player_mobile_number.errors
                        .minlength
                    "
                  >
                    Please provide number upto
                    {{
                      addEditContractForm.controls.player_mobile_number.errors
                        .minlength.requiredLength
                    }}
                    digits
                  </span>
                  <span
                    translate
                    class="error-text"
                    *ngIf="
                      addEditContractForm.controls.player_mobile_number.errors
                        .maxlength
                    "
                  >
                    Please provide number upto
                    {{
                      addEditContractForm.controls.player_mobile_number.errors
                        .maxlength.requiredLength
                    }}
                    digits
                  </span>
                </ng-template>
                <span
                  class="error-text"
                  *ngIf="
                    addEditContractForm.controls.player_mobile_number.errors
                      .pattern;
                    else lengthBlock
                  "
                  translate
                >
                  Player Mobile Number format is invalid
                </span>
              </mat-error>
            </div>

            <!-- Player email id  -->
            <div class="from-block">
              <label
                >Player email Id
                <span *ngIf="['club', 'academy'].includes(member_type)"
                  >*</span
                ></label
              >
              <input
                formControlName="player_email"
                placeholder="Player Email Id"
                type="text"
                matInput
              />
              <mat-error
                *ngIf="
                  addEditContractForm.controls.player_email.invalid &&
                  addEditContractForm.controls.player_email.touched
                "
              >
                <span
                  *ngIf="
                    addEditContractForm.controls.player_email.errors.required
                  "
                  translate
                >
                  Player Email is required
                </span>
                <span
                  *ngIf="addEditContractForm.controls.player_email.errors.email"
                  translate
                  >Player Email format is invalid
                </span>
              </mat-error>
            </div>

            <ng-container
              *ngIf="
                addEditContractForm.get('club_academy_name').value !==
                  'Others' || ['club', 'academy'].includes(member_type)
              "
            >
              <!-- Club Academy email id  -->
              <div class="from-block">
                <label>{{ category | titlecase }} Email Id </label>
                <input
                  formControlName="club_academy_email"
                  placeholder="{{ category | titlecase }} Email Id"
                  type="text"
                  matInput
                />

                <mat-error
                  *ngIf="
                    addEditContractForm.controls.club_academy_email.invalid &&
                    addEditContractForm.controls.club_academy_email.touched
                  "
                >
                  <span
                    *ngIf="
                      addEditContractForm.controls.club_academy_email.errors
                        .email
                    "
                    translate
                    >{{ category | titlecase }} Email format is invalid
                  </span>
                </mat-error>
              </div>
            </ng-container>

            <!-- Did the club/ academy use the services of an agent?  -->
            <div class="from-block-full">
              <label class="text-reset"
                >Did the {{ category }} use the services of an agent?
              </label>
              <div class="radio">
                <label
                  ><input
                    formControlName="club_academy_uses_agent_services"
                    type="radio"
                    value="true"
                  />
                  Yes
                </label>
                <label
                  ><input
                    formControlName="club_academy_uses_agent_services"
                    type="radio"
                    value="false"
                  />
                  No
                </label>
              </div>
            </div>

            <ng-container
              *ngIf="
                addEditContractForm.get('club_academy_uses_agent_services')
                  .value === 'true'
              "
            >
              <!-- Provide Name of intermediaries   -->
              <div class="from-block">
                <label>Provide Name Of Intermediaries </label>
                <input
                  formControlName="club_academy_intermediary_name"
                  placeholder="Provide Name Of Intermediaries "
                  type="text"
                  matInput
                />
              </div>

              <!-- Percentage of transfer fee paid to intermediaries  -->
              <div class="from-block">
                <label
                  >Percentage Of Transfer Fee Paid To Intermediaries
                </label>
                <input
                  formControlName="club_academy_transfer_fee"
                  placeholder="Percentage Of Transfer Fee Paid To Intermediaries"
                  type="text"
                  matInput
                />
              </div>
            </ng-container>

            <!-- Did the club/ academy use the services of an agent?  -->
            <div class="from-block-full">
              <label class="text-reset"
                >Did the player use services of an agent?
              </label>
              <div class="radio">
                <label
                  ><input
                    formControlName="player_uses_agent_services"
                    type="radio"
                    value="true"
                  />
                  Yes
                </label>
                <label
                  ><input
                    formControlName="player_uses_agent_services"
                    type="radio"
                    value="false"
                  />
                  No
                </label>
              </div>
            </div>

            <ng-container
              *ngIf="
                addEditContractForm.get('player_uses_agent_services').value ===
                'true'
              "
            >
              <!-- Provide Name of intermediaries   -->
              <div class="from-block">
                <label>Provide Name Of Intermediaries </label>
                <input
                  formControlName="player_intermediary_name"
                  placeholder="Provide Name Of Intermediaries "
                  type="text"
                  matInput
                />
              </div>

              <!-- Percentage of transfer fee paid to intermediaries  -->
              <div class="from-block">
                <label
                  >Percentage Of Transfer Fee Paid To Intermediaries
                </label>
                <input
                  formControlName="player_transfer_fee"
                  placeholder="Percentage Of Transfer Fee Paid To Intermediaries"
                  type="text"
                  matInput
                />
              </div>
            </ng-container>
          </div>
        </div>
        <!-- bottom -->
        <div class="block-bottom">
          <a [routerLink]="getCancelRoute()"> Cancel </a>
          <button
            [disabled]="!addEditContractForm.valid"
            class="btn"
            (click)="addUpdateContract()"
          >
            {{ isEditMode ? 'Save and Send For Approval' : 'Save' }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
