<div class="from-container">
  <form [formGroup]="createPostForm">
    <div class="header">
      <div class="title"></div>
    </div>
    <div class="modal-body">
      <div class="form-block">
        <h3>
          Congratulations on joining YFTChain, your ultimate platform for
          football fun and learning! 🎉
        </h3>
        <br />
        <p style="font-size: 18px; letter-spacing: 1px;">
          Please take a quick moment to check your <b>email</b> inbox.You'll
          find a special message
        </p>
        <p style="font-size: 18px; letter-spacing: 1px;">
          from us with a <b>verification link</b> inside.<b>
            Click on that link</b
          >, and it'll guide you through
        </p>
        <p style="font-size: 18px; letter-spacing: 1px;">
          creating your <b>password</b> and completing your
          <b>registration</b> on our platform. 🌟
        </p>
      </div>
    </div>
    <div class="modal-footer">
      <div class="left"></div>
      <div class="right">
        <button mat-dialog-close class="btn btn-secondary ">Close</button>
      </div>
    </div>
  </form>
</div>
