<div class="from-container">
  <form [formGroup]="createPostForm">
    <div class="header">
      <div class="title"></div>
    </div>
    <div class="modal-body">
      <div class="form-block">
        <h3>
          Welcome to YFTChain, your ultimate football fun and learning platform!
          🎉
        </h3>
        <br />
        <p style="font-size: 18px; letter-spacing: 1px;">
          <b> Check your email for a verification link </b>to set up your
          password and complete registration. 🌟
        </p>
      </div>
    </div>
    <div class="modal-footer">
      <div class="left"></div>
      <div class="right">
        <button mat-dialog-close class="btn btn-secondary ">Close</button>
      </div>
    </div>
  </form>
</div>
