<app-header></app-header>
<div class="site-wrapper">
  <!-- left Sidebar -->
  <div class="left-section">
    <app-left-panel
      [options]="panelOptions"
      [achievements]="total_count"
    ></app-left-panel>
  </div>
  <div class="right-section">
    <div class="heading">
      <h3>Player You Might Know</h3>
    </div>
    <div class="tab-buttons">
      <a [routerLink]="['/foot-requests']" [routerLinkActive]="['active']"
        >Foot Request <span>{{ foot_request_count }}</span></a
      >
      <a [routerLink]="['/foot-mates']" [routerLinkActive]="['active']"
        >Foot Mates <span>{{ foot_mate_count }}</span></a
      >
    </div>
    <div class="playerwrapper">
      <ng-container *ngFor="let footRequest of footRequestList">
        <div class="playerbox">
          <div class="top">
            <div class="dp">
              <img [src]="footRequest.avatar" alt="" />
            </div>
            <div class="name">
              <strong [routerLink]="['/profile', footRequest.user_id]">{{
                footRequest.name
              }}</strong>
              <p>{{ footRequest.position }}</p>
            </div>
          </div>
          <div class="middle">
            <h4>{{ footRequest.player_type }}</h4>
            <h4>
              <a (click)="openDialog()"
                >{{ footRequest.mutuals }} Mutual Footmates</a
              >
            </h4>
          </div>
          <div class="bottom">
            <ng-container *ngIf="footRequest.hide !== true">
              <button (click)="acceptFootRequest(footRequest)" class="accepted">
                <i-feather class="icon-size" name="user-check"></i-feather>
                Accept
              </button>
              <button (click)="rejectFootRequest(footRequest)" class="rejected">
                <i-feather class="icon-size" name="user-x"></i-feather>Reject
              </button>
            </ng-container>
            <ng-container *ngIf="footRequest.hide === true">
              <button
                [ngClass]="{
                  accepted: footRequest.accepted,
                  rejected: !footRequest.accepted
                }"
              >
                <i-feather
                  class="icon-size"
                  [name]="footRequest.accepted ? 'user-check' : 'user-x'"
                ></i-feather>
                {{ footRequest.accepted ? 'Accepted' : 'Rejected' }}
              </button>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
    <ng-container *ngIf="footRequestList.length === 0">
      <span class="no-data-found">
        No foot requests found
      </span>
    </ng-container>
    <!-- pagination -->
    <app-pagination
      *ngIf="footRequestList.length !== 0"
      [showData]="false"
      [showCount]="show_count"
      [totalRows]="total_count"
      [rowsPerPage]="pageSize"
      (onChange)="updatePage($event)"
    >
    </app-pagination>
  </div>
</div>
