@import "src/assets/sass/abstracts/variables";
@import "src/assets/sass/components/admin-sidenav";

.admin-wrapper {
  background-color: #fff;
  height: 100%;
  min-height: 80vh;
  .admin-sidebar {
    background-color: $color-white;
  }
  .admin-main {
    background-color: $color-white;
    width: calc(100%);
  }
}

// title wrapper
.title-wrapper {
  width: 95%;
  margin: 3rem auto;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: $color-white;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.1);
  .title {
    h3 {
      font-size: 2.4rem;
      color: $text-color;
    }
  }
  .breadcrumb {
    ul {
      list-style: none;
      li {
        display: inline-block;
        color: $text-color;
        padding: 0rem 2rem;
        font-size: 1.8rem;
        border-right: 2px solid $text-color;
        &:last-child {
          border-right: 0px solid transparent;
        }
      }
    }
  }
}
// table content
.middle-part {
  width: 95%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $color-white;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.1);
}

.change-icon {
  width: 10rem;
  left: calc(100% - 3rem);
  -webkit-appearance: none;
  appearance: none;
  background-image: url("../../../../assets/images/icons/drowdown-caret.png");
  background-repeat: no-repeat;
  background-size: 2rem;
  background-position: calc(100% - 1rem);
}

// table container
.table-container {
  width: 95%;
  margin: 2rem auto;
  ::ng-deep {
    .mat-table .mat-header-row {
      background-color: #f8f8f8;
    }
    .mat-table .mat-row .mat-cell .action-buttons button:nth-of-type(1) img {
      margin-top: 0px;
      height: 2rem;
    }
    .mat-table .mat-row .mat-cell .action-buttons button:nth-of-type(1) {
      transform: translateY(0px);
    }
  }
}
