@import "src/assets/sass/abstracts/variables";
@import "src/assets/sass/abstracts/mixins";

.site-wrapper {
  width: 100%;
  display: flex;
  background: $third-color;
  margin-top: 8.5rem;

  @include responsive(bigphone) {
    flex-wrap: wrap;
    margin-top: 14rem;
  }

  .right-panel {
    width: 76.25%;
    position: relative;
    padding-bottom: 15rem;

    @include responsive(tablet) {
      width: 100%;
    }

    .right-wrapper {
      display: flex;

      @include responsive(bigphone) {
        flex-wrap: wrap;
      }

      .post-container {
        width: 65%;
        margin-left: 2rem;
        margin-top: 2rem;
        padding-bottom: 10rem;

        @include responsive(tablet) {
          width: 100%;
          margin: 2rem;
        }

        @include responsive(bigphone) {
          width: 100%;
          margin: 2rem;
          padding-bottom: 0rem;
        }

        .slider {
          max-width: 95rem;
          margin-bottom: 2rem;
          @include shadow;
          position: relative;

          @include responsive(tablet) {
            // max-width: 105rem;
            max-width: calc(100vw - 4rem);
          }

          @include responsive(bigphone) {
            width: calc(100vw - 4rem);
          }

          .advertise {
            position: relative;
            width: 100%;

            img {
              width: 100%;
            }

            h5 {
              position: absolute;
              color: $white-color;
              left: 3rem;
              top: 2rem;
              @include responsive(mediumphone) {
                display: none;
              }
            }

            h3 {
              position: absolute;
              color: $white-color;
              width: 60%;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              @include responsive(mediumphone) {
                display: none;
              }
            }
          }
        }

        .create {
          background: $white-color;
          padding: 2rem 3rem;
          border-bottom: 1px solid $grey;
          border-top-left-radius: 0.5rem;
          border-top-right-radius: 0.5rem;
          display: flex;

          @media (max-width: 425px) {
            flex-wrap: wrap;
          }

          button {
            display: flex;
            align-items: center;
            font-size: $heading-fourth;
            margin-right: 2rem;

            @media (max-width: 425px) {
              width: 100%;
              margin-right: 0rem;
              justify-content: center;
            }

            img {
              width: 1.8rem;
              margin-right: 1.5rem;
            }
          }
        }

        .post-wrapper {
          background: $white-color;
          @include shadow;
          margin-bottom: 3rem;

          .post-header {
            display: flex;
            align-items: center;
            padding: 2rem 3rem;

            @include responsive(smallphone) {
              flex-wrap: wrap-reverse;
            }

            .profile {
              display: flex;
              width: 80%;
              align-items: center;

              @include responsive(smallphone) {
                width: 100%;
              }

              .profile-img {
                img {
                  width: 7rem;
                  height: 7rem;
                  border-radius: 7rem;
                }
              }

              .details {
                // margin-top: 1rem;
                margin-left: 1rem;

                h3 {
                  font-weight: 500;
                  // word-break: break-all;
                }

                p {
                  color: $second-color;

                  span {
                    font-weight: 500;
                    margin-right: 0.5rem;
                    text-transform: capitalize;
                    @include responsive(smallphone) {
                      display: block;
                    }
                  }

                  span.details-created-at {
                    text-transform: none;
                  }

                  span.type {
                    color: $primary-color;
                    font-weight: 700;
                    @include responsive(smallphone) {
                      display: inline-block;
                    }
                  }

                  span.position {
                    color: $success;
                    @include responsive(smallphone) {
                      display: inline-block;
                    }
                  }
                }
              }
            }

            .actions {
              text-align: right;
              display: block;
              width: 20%;

              @include responsive(smallphone) {
                width: 100%;
              }

              span {
                margin-left: 1rem;

                mat-icon {
                  @include responsive(smallphone) {
                    width: 3rem !important;
                    height: 3rem !important;
                    font-size: 3rem !important;
                  }
                }
              }
            }
          }

          // post body
          .postbody {
            padding: 2rem;

            .post-content {
              p {
                font-size: $heading-fourth;
                margin-bottom: 0.5rem;
                word-break: break-all;

                span {
                  color: $primary-color;
                  font-weight: 600;
                  margin-right: 1rem;
                }
              }
            }

            .post-img {
              img {
                width: 100%;
              }
            }
          }

          // likes comment icons
          .like {
            padding: 0rem 3rem 2rem;
            display: flex;

            span {
              display: flex;
              margin-right: 2rem;
              align-items: center;
              color: $second-color;
              font-size: $heading-third;
              cursor: pointer;

              mat-icon {
                margin-right: 1rem;
              }
            }
          }

          .comment {
            padding: 0 2rem 0rem 2rem;

            .comment-box {
              padding: 2rem 0;

              .profile {
                display: flex;
                width: 100%;

                .profile-img {
                  img {
                    width: 7rem;
                    height: 7rem;
                    border-radius: 7rem;
                  }
                }

                .details {
                  margin-top: 1rem;
                  margin-left: 1rem;
                  width: 100%;

                  h4 {
                    font-weight: 500;
                  }

                  .commenter-details {
                    display: flex;
                    width: 95%;
                    justify-content: space-between;

                    p {
                      color: $second-color;
                      font-size: $heading-sixth;

                      span {
                        font-weight: 500;
                        margin-right: 0.5rem;
                        text-transform: capitalize;
                        @include responsive(smallestphone) {
                          display: block;
                        }
                      }

                      span.type {
                        color: $primary-color;
                        font-weight: 700;
                      }

                      span.position {
                        color: $success;
                      }
                    }
                  }

                  .message {
                    width: 100%;
                    margin: 1rem 0;
                    background: $third-color;
                    padding: 2rem;
                    border-radius: 5rem;

                    p {
                      color: $fourth-color;
                      word-break: break-all;
                    }
                  }
                }
              }
            }

            .post-comment {
              display: flex;
              align-items: center;
              padding: 2rem 0;

              .profile-img {
                width: 12%;

                img {
                  width: 7rem;
                  height: 7rem;
                  border-radius: 7rem;
                }
              }

              .comment-input {
                width: 88%;

                .input-wrapper {
                  position: relative;

                  input {
                    width: 100%;
                    padding: 2rem;
                    border-radius: 10rem;
                    border: 1px solid $grey;
                    outline: none;
                    font-size: $heading-fourth;
                  }

                  button {
                    position: absolute;
                    right: 2rem;
                    top: 1.5rem;
                    background: transparent;
                    border: none;
                    cursor: pointer;

                    &:hover {
                      color: $primary-color;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .third-panel {
        width: 100%;
        margin: 2rem;

        @include responsive(bigphone) {
          width: 100%;
          margin: 0 2rem;
          padding-bottom: 10rem;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
        }

        @include responsive(smallphone) {
          flex-wrap: wrap;
        }

        .suggestion {
          @include shadow;
          background: $white-color;
          padding: 2rem;
          border-radius: 0.5rem;

          @include responsive(bigphone) {
            width: 45%;
          }

          @include responsive(mediumphone) {
            width: 55%;
          }

          @include responsive(smallphone) {
            width: 100%;
            margin-bottom: 2rem;
          }

          .heading {
            padding: 0rem 1rem;
            margin-bottom: 1rem;

            h3 {
              font-weight: 500;
              padding: 2rem 1rem;
              border-bottom: 1px solid $grey;
            }
          }

          .suggestion-player {
            .profile {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 1rem 2rem;

              h3 {
                font-weight: 500;
                font-size: 2rem;
              }

              button {
                background: $fifth-color;
                padding: 0.8rem 1rem;
                border-radius: 5rem;
                border: none;
              }

              img {
                width: 5rem;
              }
            }
          }
        }

        .promotions {
          background: $white-color;
          padding: 2rem;
          border-radius: 0.5rem;
          @include shadow;
          margin-top: 2rem;

          @include responsive(bigphone) {
            width: 53%;
            margin-top: 0rem;
          }

          @include responsive(mediumphone) {
            width: 43%;
          }

          @include responsive(smallphone) {
            width: 100%;
          }

          img {
            width: 100%;
          }

          p {
            font-size: $heading-fourth;
          }

          a {
            background: $primary-color;
            padding: 1rem 2rem;
            color: $white-color;
            font-weight: 500;
            border-radius: 5rem;
            font-size: $heading-fifth;
            margin-top: -1rem;
          }
        }
      }
    }

    .footer-fix {
      position: absolute;
      bottom: 0px;
      width: 100%;
    }
  }
}

// owl-carsouel
::ng-deep {
  .owl-nav {
    @include responsive(smallphone) {
      display: none;
    }
  }
}

.owl-nav.ng-star-inserted {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  left: 3rem;
}

//  post popup
::ng-deep {
  .postpopup,
  .deletepopup {
    width: 50%;

    @include responsive(tablet) {
      width: 60%;
    }

    @include responsive(bigphone) {
      width: 75%;
    }

    @include responsive(mediumphone) {
      width: 100%;
    }

    @include responsive(smallphone) {
      max-width: 95vw !important;
    }
  }
}

::ng-deep {
  .videopopup {
    width: 50%;

    @include responsive(tablet) {
      width: 60%;
    }

    @media (max-width: 820px) {
      width: 65%;
    }

    @include responsive(bigphone) {
      width: 75%;
    }

    @media (max-width: 750px) {
      width: 80%;
    }

    @include responsive(mediumphone) {
      width: 100%;
    }

    @include responsive(smallphone) {
      max-width: 95vw !important;
    }
  }
}
