<app-header></app-header>
<div class="site-wrapper">
  <div class="left-panel">
    <app-left-panel
      [options]="panelOptions"
      (sendPlayerType)="getPlayerType($event)"
      (sendMemberType)="getMemberType($event)"
    ></app-left-panel>
  </div>
  <div
    class="right-panel"
    infiniteScroll
    [infiniteScrollUpDistance]="1.5"
    [infiniteScrollDistance]="0"
    [infiniteScrollThrottle]="100"
    (scrolled)="onScrollDown()"
    (scrolledUp)="onScrollUp()"
  >
    <div class="right-wrapper">
      <div class="post-container">
        <div class="slider">
          <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
              <div class="advertise">
                <img src="assets/images/member/banner.png" alt="" />
                <h5>Sponsored by XYZ2020</h5>
                <h3>
                  Register yourself in the biggest football tournament 2020.
                </h3>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="advertise">
                <img src="assets/images/member/banner.png" alt="" />
                <h5>Sponsored by XYZ2020</h5>
                <h3>
                  Register yourself in the biggest football tournament 2020.
                </h3>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="advertise">
                <img src="assets/images/member/banner.png" alt="" />
                <h5>Sponsored by XYZ2020</h5>
                <h3>
                  Register yourself in the biggest football tournament 2020.
                </h3>
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>

        <div class="create">
          <button class="btn btn-primary btn-shadow" (click)="openDialog()">
            <img src=" assets/images/member/create.png" alt="share-post" />
            Share a FooTPost
          </button>
          <button
            class="btn btn-primary btn-shadow"
            (click)="openVideoDialog()"
          >
            <img src=" assets/images/member/create.png" alt="share-post" />
            Share a Video
          </button>
        </div>
        <!-- postwrapper -->
        <div class="post-wrapper" *ngFor="let post of postListing">
          <!-- postHeader -->
          <div class="post-header">
            <!-- PostProfile -->
            <div class="profile">
              <div class="profile-img">
                <img [src]="post.posted_by.avatar" alt="profile" />
              </div>
              <div class="details">
                <a
                  target="_blank"
                  [routerLink]="[
                    '/member/profile/public/',
                    post.posted_by.user_id
                  ]"
                >
                  <h3>{{ post.posted_by.name }}</h3>
                </a>
                <p>
                  <ng-container *ngIf="post.posted_by.member_type === 'player'">
                    <span class="type">{{ post.posted_by.type }}</span>
                    <span class="position">{{ post.posted_by.position }}</span>
                  </ng-container>

                  <ng-container *ngIf="post.posted_by.member_type !== 'player'">
                    <span class="type">{{ post.posted_by.member_type }}</span>
                    <span class="position">{{ post.posted_by.type }}</span>
                  </ng-container>

                  {{ post.created_at | datePipe }}
                </p>
              </div>
            </div>
            <!-- icons -->
            <div class="actions" *ngIf="userId == post.posted_by.user_id">
              <span>
                <a (click)="editPost(post)">
                  <mat-icon class="material-icons">link</mat-icon>
                </a>
              </span>
              <span>
                <a (click)="editPost(post)">
                  <mat-icon class="material-icons">edit</mat-icon>
                </a>
              </span>
              <span>
                <a (click)="deletePost(post.id)">
                  <mat-icon class="material-icons">delete</mat-icon>
                </a>
              </span>
            </div>
          </div>
          <!-- postbody -->
          <div class="postbody">
            <div class="post-content">
              <p>
                {{ post.post.text }}
              </p>
              <p>
                <span>#Stamina</span> <span>#Balance</span>
                <span>#Sprint speed</span>
                <span>#Strength</span>
              </p>
            </div>
            <div class="post-img">
              <img [src]="post.post.media_url" alt="" />
            </div>
          </div>
          <!-- like comment -->
          <div class="like">
            <ng-container *ngIf="post.like$ | async"></ng-container>
            <span>
              <mat-icon
                (click)="toggleLike(post)"
                [ngClass]="{ active: post.is_liked }"
                class="material-icons big-icons"
                >favorite</mat-icon
              >
              {{ post.likes }}
            </span>
            <ng-container *ngIf="post.addComment$ | async"></ng-container>
            <ng-container
              *ngIf="!['amateur', 'grassroot'].includes(player_type)"
            >
              <span
                (click)="activateCommentBox(post)"
                [ngClass]="{
                  chatdisable:
                    !player_type && !['academy', 'club'].includes(member_type)
                }"
              >
                <mat-icon class="material-icons big-icons"
                  >mode_comment</mat-icon
                >
                {{ post.comments.total }}
              </span>
            </ng-container>
          </div>
          <div class="comment">
            <div
              class="partition"
              *ngIf="
                post.comments.total > 3 &&
                post.comments.total !== post.commentListing.length
              "
            >
              <a
                *ngIf="
                  post.comments.total > 3 &&
                  post.comments.total !== post.commentListing.length
                "
                (click)="loadComments(post)"
                >View Previous Comments</a
              >
            </div>
            <div class="comment-box">
              <div class="commnet" *ngFor="let comment of post.commentListing">
                <div class="profile">
                  <div class="profile-img">
                    <img [src]="comment.commented_by.avatar" alt="profile" />
                  </div>
                  <div class="details">
                    <h4>{{ comment.commented_by.name }}</h4>
                    <div class="commenter-details">
                      <p>
                        <ng-container
                          *ngIf="comment.commented_by.member_type === 'player'"
                        >
                          <span class="type">{{
                            comment.commented_by.type
                          }}</span>
                          <span class="position"
                            >{{ comment.commented_by.position }}
                          </span>
                        </ng-container>

                        <ng-container
                          *ngIf="comment.commented_by.member_type !== 'player'"
                        >
                          <span class="type">{{
                            comment.commented_by.member_type
                          }}</span>
                          <span class="position"
                            >{{ comment.commented_by.type }}
                          </span>
                        </ng-container>
                      </p>
                      <p>{{ comment.commented_at | datePipe }}</p>
                    </div>
                    <div class="message">
                      <p>{{ comment.comment }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="post-comment" *ngIf="post.show_comment_box">
              <div class="profile-img">
                <img [src]="avatar_url" alt="profile" />
              </div>
              <div class="comment-input">
                <form [formGroup]="post.commentForm">
                  <div class="input-wrapper">
                    <input
                      formControlName="comment"
                      autocomplete="off"
                      placeholder="Add a comment"
                    />
                    <button
                      [disabled]="!post.commentForm.valid"
                      (click)="addComment(post)"
                    >
                      <mat-icon class="material-icons">send</mat-icon>
                    </button>
                    <mat-error
                      *ngIf="
                        post.commentForm.controls.comment.invalid &&
                        post.commentForm.controls.comment.touched
                      "
                    >
                      <span
                        *ngIf="
                          post.commentForm.controls.comment.errors.wordCount
                        "
                      >
                        Please provide upto 60 words
                      </span>
                    </mat-error>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Right pannel -->
      <div class="third-panel">
        <div class="suggestion">
          <div class="heading">
            <h3>Player you might know</h3>
          </div>
          <div class="suggestion-player">
            <div class="profile">
              <img src="assets/images/member/profile.png" alt="" />
              <h3>Jonathan Jed</h3>
              <button>
                <mat-icon class="material-icons">person_add_alt_1</mat-icon>
              </button>
            </div>
            <div class="profile">
              <img src="assets/images/member/profile.png" alt="" />
              <h3>Jonathan Jed</h3>
              <button>
                <mat-icon class="material-icons">person_add_alt_1</mat-icon>
              </button>
            </div>
            <div class="profile">
              <img src="assets/images/member/profile.png" alt="" />
              <h3>Jonathan Jed</h3>
              <button>
                <mat-icon class="material-icons">person_add_alt_1</mat-icon>
              </button>
            </div>
            <div class="profile">
              <img src="assets/images/member/profile.png" alt="" />
              <h3>Jonathan Jed</h3>
              <button>
                <mat-icon class="material-icons">person_add_alt_1</mat-icon>
              </button>
            </div>
            <div class="partition">
              <a>Show more</a>
            </div>
          </div>
        </div>

        <!-- promotion -->
        <div class="promotions">
          <img src="assets/images/member/promotion.png" alt="" />
          <p>
            IFA is organizing a football trial for grassroot level players. Top
            20 players will get direct entry in FPL matches 2020.
          </p>
          <div class="partition">
            <a>Register</a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-fix">
      <app-copyright></app-copyright>
    </div>
  </div>
</div>

<div class="videoupload">
  <button [matMenuTriggerFor]="uploadToggle">
    <mat-icon class="material-icons">cloud_upload</mat-icon>
  </button>
  <mat-menu #uploadToggle="matMenu" yPosition="above">
    <div class="mini-uploader">
      <div class="left">
        <span>
          <mat-icon class="material-icons">cloud_upload</mat-icon>
        </span>
      </div>
      <div class="right">
        <h5>Upload video file</h5>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <mat-error class="error-text">
          <span>Video failed to upload</span>
        </mat-error>
      </div>
    </div>
  </mat-menu>
</div>
