@import "src/assets/sass/abstracts/variables";
@import "src/assets/sass/abstracts/mixins";

.site-wrapper {
  width: 100%;
  display: flex;
  background: $third-color;
  margin-top: 8.5rem;

  .right-panel {
    width: 76.25%;

    .right-wrapper {
      display: flex;

      .post-container {
        width: 65%;
        margin-left: 2rem;
        margin-top: 2rem;
        padding-bottom: 10rem;

        .slider {
          max-width: 95rem;
          margin-bottom: 2rem;
          @include shadow;
          position: relative;
          // width: 100%;
          // margin-bottom: 2rem; // Need to check

          .advertise {
            position: relative;
            width: 100%;

            img {
              width: 100%;
            }

            h5 {
              position: absolute;
              color: $white-color;
              left: 3rem;
              top: 2rem;
            }

            h3 {
              position: absolute;
              color: $white-color;
              width: 60%;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }

        .create {
          background: $white-color;
          padding: 2rem 3rem;
          border-bottom: 1px solid $grey;
          border-top-left-radius: 0.5rem;
          border-top-right-radius: 0.5rem;

          button {
            display: flex;
            align-items: center;
            font-size: $heading-fourth;

            img {
              width: 1.8rem;
              margin-right: 1.5rem;
            }
          }
        }

        .post-wrapper {
          background: $white-color;
          @include shadow;
          margin-bottom: 3rem;

          .post-header {
            display: flex;
            align-items: center;
            padding: 2rem 3rem;

            .profile {
              display: flex;
              width: 80%;
              align-items: center;

              .profile-img {
                img {
                  width: 7rem;
                  height: 7rem;
                  border-radius: 7rem;
                }
              }

              .details {
                // margin-top: 1rem;
                margin-left: 1rem;

                h3 {
                  font-weight: 500;
                }

                p {
                  color: $second-color;

                  span {
                    font-weight: 500;
                    margin-right: 0.5rem;
                    text-transform: capitalize;
                  }

                  span.playertype {
                    color: $primary-color;
                  }

                  span.playerposition {
                    color: $success;
                  }
                }
              }
            }

            .actions {
              text-align: right;
              display: block;
              width: 20%;

              span {
                margin-left: 1rem;
              }
            }
          }

          // post body
          .postbody {
            padding: 2rem;

            .post-content {
              p {
                font-size: $heading-fourth;
                margin-bottom: 0.5rem;
              }
            }

            .post-img {
              img {
                width: 100%;
              }
            }
          }

          // likes comment icons
          .like {
            padding: 0rem 3rem 2rem;
            display: flex;

            span {
              display: flex;
              margin-right: 2rem;
              // align-items: center;
              color: $second-color;
              font-size: $heading-third;
              cursor: pointer;

              mat-icon {
                margin-right: 1rem;
              }
            }
          }

          .comment {
            padding: 0 2rem 0rem 2rem;

            .comment-box {
              padding: 2rem 0;

              .profile {
                display: flex;
                width: 100%;

                .profile-img {
                  img {
                    width: 7rem;
                    height: 7rem;
                    border-radius: 7rem;
                  }
                }

                .details {
                  margin-top: 1rem;
                  margin-left: 1rem;
                  width: 100%;

                  h4 {
                    font-weight: 500;
                  }

                  .commenter-details {
                    display: flex;
                    width: 95%;
                    justify-content: space-between;

                    p {
                      color: $second-color;
                      font-size: $heading-sixth;

                      span {
                        font-weight: 500;
                        margin-right: 0.5rem;
                        text-transform: capitalize;
                      }

                      span.playertype {
                        color: $primary-color;
                      }

                      span.playerposition {
                        color: $success;
                      }
                    }
                  }

                  .message {
                    width: 100%;
                    margin: 1rem 0;
                    background: $fifth-color;
                    padding: 2rem;
                    border-radius: 5rem;

                    p {
                      color: $fourth-color;
                    }
                  }
                }
              }
            }

            .post-comment {
              display: flex;
              align-items: center;
              padding: 2rem 0;

              .profile-img {
                width: 12%;

                img {
                  width: 7rem;
                  height: 7rem;
                  border-radius: 7rem;
                }
              }

              .comment-input {
                width: 88%;

                .input-wrapper {
                  position: relative;

                  input {
                    width: 100%;
                    padding: 2rem;
                    border-radius: 10rem;
                    border: 1px solid $grey;
                    outline: none;
                    font-size: $heading-fourth;
                  }

                  button {
                    position: absolute;
                    right: 2rem;
                    top: 1.5rem;
                    background: transparent;
                    border: none;
                    cursor: pointer;

                    &:hover {
                      color: $primary-color;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .third-panel {
        width: 30%;
        margin: 2rem;

        .suggestion {
          @include shadow;
          background: $white-color;
          padding: 2rem;
          border-radius: 0.5rem;

          .heading {
            padding: 0rem 1rem;
            margin-bottom: 1rem;

            h3 {
              font-weight: 500;
              padding: 2rem 1rem;
              border-bottom: 1px solid $grey;
            }
          }

          .suggestion-player {
            .profile {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 1rem 2rem;

              h3 {
                font-weight: 500;
                font-size: 2rem;
              }

              button {
                background: $fifth-color;
                padding: 0.8rem 1rem;
                border-radius: 5rem;
                border: none;
              }

              img {
                width: 5rem;
              }
            }
          }
        }

        .promotions {
          background: $white-color;
          padding: 2rem;
          border-radius: 0.5rem;
          @include shadow;
          margin-top: 2rem;

          img {
            width: 100%;
          }

          p {
            font-size: $heading-fourth;
          }

          a {
            background: $primary-color;
            padding: 1rem 2rem;
            color: $white-color;
            font-weight: 500;
            border-radius: 5rem;
            font-size: $heading-fifth;
            margin-top: -1rem;
          }
        }
      }
    }
  }
}

.owl-nav.ng-star-inserted {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  left: 3rem;
}
