@import "src/assets/sass/abstracts/variables";
@import "src/assets/sass/abstracts/mixins";

.from-container {
  margin: 20px;
}
// .multiselect-dropdown[_ngcontent-unl-c22] {
//   font-size: 15px !important;
// }
:host ::ng-deep .multiselect-dropdown .dropdown-btn {
  display: inline-block;
  border: 1px solid #adadad;
  width: 100%;
  padding: 8px 12px !important;
  margin-bottom: 0;
  font-size: 1.6rem !important;
  font-weight: 300;
  line-height: 1.1;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  background-color: #f6f6f6 !important;
  border-radius: 4px;
}
:host ::ng-deep .dropdown-list li {
  //padding: 6px 10px;
  cursor: pointer;
  text-align: center !important;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
  background: $fifth-color;

  .title {
    width: 70%;

    h2 {
      color: $fourth-color;
      font-weight: 500;
    }
  }

  .close {
    width: 30%;
    display: block;
    text-align: right;

    .mat-icon {
      cursor: pointer;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

.modal-body {
  padding: 2rem 6rem 2rem 6rem;

  .form-wrapper {
    display: flex;
    justify-content: space-between;

    @include responsive(bigphone) {
      flex-wrap: wrap;
    }
    .input-wrapper {
      width: calc(45% - 6px);

      @include responsive(bigphone) {
        width: calc(48% - 6px);
      }

      @include responsive(smallphone) {
        width: 100%;
      }
    }

    .input-wrapper1 {
      width: calc(98%);

      @include responsive(bigphone) {
        width: calc(48% - 6px);
      }

      @include responsive(smallphone) {
        width: 100%;
      }
    }
  }
}

.find-btn {
  align-self: center;
  width: 16%;
  max-width: 15rem;

  @include responsive(bigphone) {
    max-width: 100%;
    width: 48%;
  }

  button {
    padding: 1.2rem 5rem;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

// table
.table {
  margin-top: 2rem;
  max-height: 300px;

  .notonportal {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $third-color;
    min-height: 15rem;
    text-align: center;

    h3 {
      color: $second-color;
      font-weight: 500;
    }
  }

  ::ng-deep {
    .mat-table .mat-row .mat-cell .invite-btn button {
      font-size: 1.6rem !important;
    }
  }
}
