@import "src/assets/sass/abstracts/variables";

.red {
  color: red;
}

.black {
  color: black;
}

.green {
  color: green;
}

.activeStatus {
  color: $success;
}

.completeStatus {
  color: $warning;
}

.pendingStatus {
  color: $info;
}

.yetStatus {
  color: $yet;
}

.thumbnail {
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
}
