<mat-table matSort [dataSource]="rows">
  <!-- Checkbox Column -->
  <ng-container
    [matColumnDef]="tableConfig.columns[col].code"
    *ngFor="let col of tableConfig.allowedColumns"
  >
    <mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!sortEnabled"
      >{{ tableConfig.columns[col].text }}
    </mat-header-cell>
    <mat-cell *matCellDef="let element; let i = index">
      <div>
        <p
          *ngIf="
            ![
              'name',
              'date_of_birth',
              'added_on',
              'media',
              'aadhaarimg',
              'document_image',
              'document_type',
              'profileimg',
              'type',
              'email',
              'status',
              'avatar',
              'playerimg',
              'user_photo',
              'document',
              'aiff_image'
            ].includes(col)
          "
        >
          {{ tableConfig.columns[col].getValue(element) }}
        </p>
        <p *ngIf="col === 'document_type'">
          <ng-container [ngSwitch]="element.document_type">
            <ng-container *ngSwitchCase="'coi'">COI Number</ng-container>
            <ng-container *ngSwitchCase="'tin'">TIN Number</ng-container>
            <ng-container *ngSwitchCase="'pan'">PAN Number</ng-container>
            <ng-container *ngSwitchCase="'aiff'"
              >AIFF Accreditation ID</ng-container
            >
          </ng-container>
        </p>
        <p *ngIf="col === 'added_on' || col === 'date_of_birth'">
          {{
            tableConfig.columns[col].getValue(element) | date: 'dd-LLLL-yyyy'
          }}
        </p>
        <p
          *ngIf="col === 'name' || col === 'type'"
          matTooltip="{{ tableConfig.columns[col].getValue(element) }}"
        >
          {{
            tableConfig.columns[col].getValue(element).length < 18
              ? tableConfig.columns[col].getValue(element)
              : (tableConfig.columns[col].getValue(element) | slice: 0:18) +
                '...'
          }}
        </p>
        <p
          *ngIf="col === 'email'"
          matTooltip="{{ tableConfig.columns[col].getValue(element) }}"
          [ngClass]="element.is_email_verified === 'true' ? 'black' : 'red'"
        >
          {{
            tableConfig.columns[col].getValue(element).length < 18
              ? tableConfig.columns[col].getValue(element)
              : (tableConfig.columns[col].getValue(element) | slice: 0:18) +
                '...'
          }}
        </p>
        <p
          *ngIf="col === 'status'"
          [ngClass]="{
            red: [
              'non-verified',
              'rejected',
              'pending',
              'disapproved'
            ].includes(element.status),
            black: ['verified'].includes(element.status),
            green: ['added', 'approved'].includes(element.status)
          }"
        >
          {{ tableConfig.columns[col].getValue(element) | titlecase }}
          <!-- <img
            class="status-icon"
            src="./../../../assets/images/icons/tick.png"
            alt=""
          /> -->
        </p>
        <p *ngIf="col === 'media'">
          <a
            [href]="tableConfig.columns[col].getValue(element)"
            target="_blank"
          >
            <img
              class="thumbnail"
              [src]="
                tableConfig.columns[col]
                  .getValue(element)
                  .split('.')
                  .includes('pdf')
                  ? 'assets/images/pdf.png'
                  : tableConfig.columns[col].getValue(element)
              "
              alt=""
            />
          </a>
        </p>
        <p *ngIf="col === 'avatar'">
          <img
            class="thumbnail"
            [src]="tableConfig.columns[col].getValue(element)"
            alt=""
          />
        </p>

        <p *ngIf="col === 'aadhaarimg'">
          <a
            matTooltip="Front Image"
            *ngIf="tableConfig.columns[col].getValue(element).doc_front"
            [href]="tableConfig.columns[col].getValue(element).doc_front"
            target="_blank"
          >
            <img
              class="thumbnail"
              [src]="tableConfig.columns[col].getValue(element).doc_front"
              alt=""
            />
          </a>
          <a
            matTooltip="Back Image"
            *ngIf="tableConfig.columns[col].getValue(element).doc_back"
            [href]="tableConfig.columns[col].getValue(element).doc_back"
            target="_blank"
          >
            <img
              class="thumbnail"
              [src]="tableConfig.columns[col].getValue(element).doc_back"
              alt=""
            />
          </a>
          <a
            *ngIf="tableConfig.columns[col].getValue(element).document"
            [href]="tableConfig.columns[col].getValue(element).document"
            target="_blank"
          >
            <img class="thumbnail" src="assets/images/pdf.png" alt="" />
          </a>
        </p>
        <p *ngIf="col === 'aiff_image' || col === 'document_image'">
          <a
            [href]="tableConfig.columns[col].getValue(element).document"
            target="_blank"
          >
            <img
              *ngIf="
                tableConfig.columns[col].getValue(element).attachment_type ===
                'pdf'
              "
              class="thumbnail"
              src="assets/images/pdf.png"
              alt=""
            />
            <img
              *ngIf="
                tableConfig.columns[col].getValue(element).attachment_type !==
                'pdf'
              "
              class="thumbnail"
              [src]="tableConfig.columns[col].getValue(element).document"
              alt=""
            />
          </a>
        </p>
        <p *ngIf="col === 'user_photo'">
          <a
            href="javascript:void(0);"
            (click)="openDialog(tableConfig.columns[col].getValue(element))"
          >
            <img
              class="thumbnail"
              [src]="tableConfig.columns[col].getValue(element)"
              alt=""
            />
          </a>
        </p>
      </div>
    </mat-cell>
  </ng-container>

  <!-- <ng-container matColumnDef="sno">
    <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
    <mat-cell *matCellDef="let element; let i = index">
      <div>{{ i > 8 ? '' : 0 }}{{ i + 1 }}</div>
    </mat-cell>
  </ng-container> -->
  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
    <mat-cell *matCellDef="let element; let i = index">
      <ng-container
        *ngTemplateOutlet="TableActions; context: element"
      ></ng-container>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columns"></mat-row>
</mat-table>
<ng-container *ngIf="!rows || !rows.data || rows.data.length === 0">
  <span class="no-data-found">
    No records added
  </span>
</ng-container>
