@import "src/assets/sass/abstracts/variables";
@import "src/assets/sass/abstracts/mixins";
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap");

.login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $grey;
  font-family: "Ubuntu", sans-serif;
  .loginbox {
    margin: auto;
    max-width: 57rem;
    width: 100%;
    padding: 2rem;
    .header-login {
      display: block;
      text-align: center;
      margin-bottom: 3rem;
      img {
        max-width: 20rem;
        margin-bottom: 2rem;
      }
      p {
        font-size: 1.8rem;
        color: $text-muted;
        line-height: 2.4rem;
      }
      h3 {
        font-weight: 700;
        font-size: 2.8rem;
        margin-bottom: 1.5rem;
      }
    }

    form {
      p {
        font-size: 1.8rem;
        a {
          color: $blue;
          font-weight: 700;
          text-decoration: none;
          :link {
            color: $blue;
          }
          :visited {
            color: $blue;
          }
          :active {
            color: $blue;
          }
        }
      }
      ul {
        list-style: none;
        li {
          position: relative;
          margin-bottom: 1.6rem;
          label {
            font-size: 1.8rem;
            color: #000;
            margin-bottom: 1rem;
            font-weight: 500;
            display: block;
          }

          .icon-size {
            width: 2.2rem;
            height: 2.2rem;
            position: absolute;
            top: 4rem;
            left: 1.5rem;
            color: rgba($color-black, 0.8);
          }
          input {
            width: 100%;
            padding: 1rem 3rem 1rem 1rem !important;
            padding-left: 5rem !important;
            border: 0.1rem solid #eaebec;
            background: #f8fafc;
            box-sizing: border-box;
            border-radius: 0.5rem;
            color: rgba($color-black, 0.8);
            line-height: 2.7rem;
            outline: 0rem;
            font-size: 1.8rem;
            &.ng-invalid.ng-touched {
              font-size: 1.8rem;
              border: 0.1rem solid $error;
            }
            &:focus {
              outline: 1px solid $blue;
              border-radius: 0.8rem;
            }
          }
          .custom-checkbox {
            label {
              display: flex;
              align-items: center;
              position: relative;
              + span::before {
                position: absolute;
                top: 0.25rem;
                left: 0rem;
                display: block;
                width: 2rem;
                height: 2rem;
                pointer-events: none;
                content: url(../../assets/icons/lock.svg);
                // background-color: #fff;
                // border: #adb5bd solid 1px;
                // border-radius: 0.5rem;
              }
              &:checked + .custom-checkbox label::before {
                position: absolute;
                top: 0.25rem;
                left: 0rem;
                display: block;
                width: 2rem;
                height: 2rem;
                content: url(../../assets/icons/at-sign.svg);
                background: no-repeat 50%/50% 50%;
                border-radius: 0.5rem;
              }
              input {
                width: 3rem;
                outline: none;
                visibility: hidden;
                &:focus {
                  outline: none;
                }
              }
            }
          }
          .remember-me {
            font-size: 1.8rem;
          }

          .btn {
            margin-top: 2.4rem;
            color: $color-white;
            font-weight: 500;
            @include btn-primary;
            text-transform: uppercase;
            font-size: 1.8rem;
            cursor: pointer;
            width: 100%;
            letter-spacing: 1px;
            padding: 1.1rem;
            border-color: $blue;
            box-sizing: border-box;
            line-height: 2.8rem;
            outline: 0rem;
            border-radius: 0.35rem;
            font-family: "Ubuntu";
            &:disabled {
              @include disable;
            }
          }
        }
      }
      .login-footer {
        display: flex;
        justify-content: space-between;
        font-size: 1.8rem;
        a {
          text-decoration: none;
        }
      }
    }
  }
}
.error-border {
  border-bottom: 0.5rem solid #de5454;
}
.mb-0 {
  margin-bottom: 0px !important;
}

// .custom-checkbox input:checked ~ .custom-checkbox label::before{
//   background-color: #007bff;
//   background-image: url('../../assets/icons/check.svg');
// }
