<div class="login-container">
  <div class="loginbox">
    <div class="header-login">
      <img src="assets/images/logo.png" alt="brand-logo" />
      <h3>Welcome Back</h3>
      <p>
        Don't miss your next opportunity. Sign in to stay updated on your
        professional world.
      </p>
    </div>
    <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
      <ul>
        <li>
          <label>Email Address </label>
          <img src="assets/icons/user.svg" alt="" />
          <input
            type="email"
            placeholder="Enter Email"
            matInput
            formControlName="email"
            autocomplete="email"
            [placeholder]="'' | translate"
            required
            [ngClass]="{
              'error-border':
                email.invalid &&
                email.touched &&
                (email.errors.required || email.errors.email)
            }"
          />
          <mat-error *ngIf="email.invalid && email.touched">
            <span *ngIf="email.errors.required" translate
              >Email is required</span
            >
            <span *ngIf="email.errors.email" translate
              >Invalid Email Format</span
            >
          </mat-error>
        </li>
        <li>
          <label>Password</label>
          <img src="assets/icons/lock.svg" alt="" />
          <input
            type="password"
            placeholder="Enter Password"
            matInput
            formControlName="password"
            autocomplete="current-password"
            [placeholder]="'' | translate"
            required
          />
          <mat-error *ngIf="password.invalid && password.touched">
            <span translate>Password is required</span>
          </mat-error>
        </li>

        <li class="mb-0">
          <mat-checkbox formControlName="remember" class=" remember-me">
            Remember password
          </mat-checkbox>
        </li>
        <mat-error class="login-error" [hidden]="!error || isLoading" translate>
          Incorrect email or password
        </mat-error>
        <li>
          <button
            type="submit"
            class="btn"
            [disabled]="loginForm.invalid || isLoading"
          >
            Sign In
          </button>
        </li>
      </ul>
      <div class="login-footer">
        <a [routerLink]="['/forget-password']">
          Forgot password?
        </a>
        <p>
          New to YFT chain? <b><a [routerLink]="['/register']">Join now</a></b>
        </p>
      </div>
    </form>
  </div>
</div>
