<header class="header">
  <div class="logo">
    <span>
      <img src="assets/images/website/logo.png" alt="brand-logo" />
    </span>
  </div>
</header>

<div class="site-wrapper">
  <div class="text-section">
    <h2>
      <span>Digitize,</span>
      <span>Democratize,</span>and Develop.
      <img
        src="assets/images/website/footballer-Icon.png"
        alt="footballer-Icon"
      />
    </h2>
    <p>The showcase of youth talent in Indian football</p>
  </div>
  <div class="form-section" *ngIf="isLinkExpired">
    <div class="form-box">
      <h2>Create Password</h2>
      <form [formGroup]="createPasswordForm" class="form" id="player">
        <div class="form-block">
          <label>New Password </label>
          <input
            formControlName="password"
            type="password"
            placeholder="New Password"
            matInput
          />
          <mat-error
            *ngIf="
              createPasswordForm.controls.password.invalid &&
              createPasswordForm.controls.password.touched
            "
          >
            <span
              translate
              class="error-text"
              *ngIf="createPasswordForm.controls.password.errors.required"
            >
              New Password is required
            </span>
            <ng-template #lengthBlock>
              <span
                translate
                *ngIf="createPasswordForm.controls.password.errors.minlength"
              >
                Please provide number upto
                {{
                  createPasswordForm.controls.password.errors.minlength
                    .requiredLength
                }}
                characters
              </span>
              <span
                translate
                *ngIf="createPasswordForm.controls.password.errors.maxlength"
              >
                Please provide number upto
                {{
                  createPasswordForm.controls.password.errors.maxlength
                    .requiredLength
                }}
                characters
              </span>
            </ng-template>
            <span
              translate
              class="error-text"
              *ngIf="
                createPasswordForm.controls.password.errors.pattern;
                else lengthBlock
              "
            >
              Please provide at least 1 special character, 1 number and 1
              alphabet
            </span>
          </mat-error>
        </div>
        <div class="form-block">
          <label>Confirm Password</label>
          <input
            formControlName="confirmPassword"
            type="password"
            placeholder="Confirm Password"
            matInput
          />

          <mat-error
            *ngIf="
              createPasswordForm.controls.confirmPassword.invalid &&
              createPasswordForm.controls.confirmPassword.touched
            "
          >
            <span
              translate
              class="error-text"
              *ngIf="
                createPasswordForm.controls.confirmPassword.errors.required
              "
            >
              Confirm Password is required
            </span>
            <ng-template #lengthBlock>
              <span
                translate
                *ngIf="
                  createPasswordForm.controls.confirmPassword.errors.minlength
                "
              >
                Please provide number upto
                {{
                  createPasswordForm.controls.confirmPassword.errors.minlength
                    .requiredLength
                }}
                characters
              </span>
              <span
                translate
                *ngIf="
                  createPasswordForm.controls.confirmPassword.errors.maxlength
                "
              >
                Please provide number upto
                {{
                  createPasswordForm.controls.confirmPassword.errors.maxlength
                    .requiredLength
                }}
                characters
              </span>
            </ng-template>
            <span
              translate
              class="error-text"
              *ngIf="
                createPasswordForm.controls.confirmPassword.errors.pattern;
                else lengthBlock
              "
            >
              Please provide at least 1 special character, 1 number and 1
              alphabet
            </span>
          </mat-error>
          <mat-error
            *ngIf="
              !createPasswordForm.controls.confirmPassword.invalid &&
              createPasswordForm.controls.confirmPassword.touched
            "
          >
            <span
              translate
              class="error-text"
              *ngIf="
                createPasswordForm.errors &&
                createPasswordForm.errors.matchingPassword
              "
            >
              Password and Confirm Password must be same
            </span>
          </mat-error>
        </div>
        <button
          (click)="createPassword()"
          [disabled]="!createPasswordForm.valid"
          type="submit"
          class="btn btn-primary btn-block"
        >
          Create Password
        </button>
      </form>
      <p>Click here to ? <a [routerLink]="['/login']">Sign In</a></p>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="mainfooter">
    <div class="wrapper">
      <div class="logo">
        <a href="">
          <img src="assets/images/website/footer-logo.png" alt="footer-logo" />
        </a>
        <p>
          “Youth football technology chain is the scouting platform for talented
          football players.”
        </p>
      </div>
      <div class="links">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Sign up</a></li>
          <li><a href="#">Sign in</a></li>
        </ul>
      </div>
      <div class="links">
        <ul>
          <li><a href="#">Privacy policy</a></li>
          <li><a href="#">Copyright policy</a></li>
          <li><a href="#">Brand policy</a></li>
          <li><a href="#">Cookie policy</a></li>
        </ul>
      </div>
      <div class="social">
        <ul>
          <li>
            <a href="#">
              <img src="assets/images/website/social/instagram.svg" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="assets/images/website/social/facebook.svg" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="assets/images/website/social/linkdien.svg" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- copyright -->
  <div class="copyright">
    <p>@ 2020 YFTChain. All rights reserved</p>
  </div>
</footer>
