<div class="question-content card">
  <div class="card__header">
    <div class="heading">
      <h2>Manage Question Content</h2>
    </div>
    <div class="table-search">
      <mat-form-field>
        <img src="assets/images/icons/search.png" alt="Search" class="search-icon" />
        <input type="text" placeholder="Search" matInput />
      </mat-form-field>
    </div>
    <div class="page-navigator">
      <button (click)="onAddQuestion()">Add Question</button>
    </div>
  </div>
  <div class="card-body">
    <mat-table [dataSource]="dataSource">
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.position }} </mat-cell>
      </ng-container>
      <!-- Question Column -->
      <ng-container matColumnDef="question">
        <mat-header-cell *matHeaderCellDef> Question </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.question }} </mat-cell>
      </ng-container>
      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="action-buttons">
            <button class="edit"><img src="assets/images/icons/edit.png" alt="Edit" /></button>
            <button class="delete"><img src="assets/images/icons/delete.png" alt="Delete" /></button>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
</div>
<div class="pagination">
  <button class="pagination__item">Prev</button>
  <button class="pagination__item">1</button>
  <button class="pagination__item active">2</button>
  <button class="pagination__item">3</button>
  <button class="pagination__item">4</button>
  <button class="pagination__item">Next</button>
</div>
