<div class="changepassword">
  <div class="changepassword-wrapper">
    <!-- header section -->
    <div class="changepassword-wrapper-header">
      <img src="assets/images/logo.png" alt="brand-logo" />
      <h3>First, let's reset your account password</h3>
    </div>
    <!-- changepassword forms -->
    <div class="changepassword-wrapper-forms">
      <div class="clubs">
        <form [formGroup]="changePasswordForm" class="form" id="player">
          <!-- current password -->
          <div class="form-row">
            <div class="input-wrapper-full">
              <i-feather name="lock" class="icon-size"></i-feather>
              <!-- <img src="assets/icons/lock.svg" alt="" /> -->
              <label>Current Password </label>
              <input
                formControlName="old_password"
                type="password"
                matInput
                placeholder="Current Password"
              />
              <mat-error
                *ngIf="
                  changePasswordForm.controls.old_password.invalid &&
                  changePasswordForm.controls.old_password.touched
                "
              >
                <span
                  translate
                  class="error-text"
                  *ngIf="
                    changePasswordForm.controls.old_password.errors.required
                  "
                >
                  Current Password is required</span
                >
              </mat-error>
            </div>
          </div>

          <!-- new password -->
          <div class="form-row">
            <div class="input-wrapper-full">
              <i-feather name="lock" class="icon-size"></i-feather>
              <!-- <img src="assets/icons/lock.svg" alt="" /> -->
              <label>New Password </label>
              <input
                formControlName="new_password"
                type="password"
                matInput
                placeholder="New Password"
              />
              <mat-error
                *ngIf="
                  changePasswordForm.controls.new_password.invalid &&
                  changePasswordForm.controls.new_password.touched
                "
              >
                <span
                  translate
                  class="error-text"
                  *ngIf="
                    changePasswordForm.controls.new_password.errors.required
                  "
                >
                  New Password is required</span
                >
                <ng-template #lengthBlock>
                  <span
                    *ngIf="
                      changePasswordForm.controls.new_password.errors.minlength
                    "
                  >
                    Please provide number upto
                    {{
                      changePasswordForm.controls.new_password.errors.minlength
                        .requiredLength
                    }}
                    characters
                  </span>
                  <span
                    *ngIf="
                      changePasswordForm.controls.new_password.errors.maxlength
                    "
                  >
                    Please provide number upto
                    {{
                      changePasswordForm.controls.new_password.errors.maxlength
                        .requiredLength
                    }}
                    characters
                  </span>
                </ng-template>
                <span
                  translate
                  class="error-text"
                  *ngIf="
                    changePasswordForm.controls.new_password.errors.pattern;
                    else lengthBlock
                  "
                >
                  Please provide at least 1 special character, 1 number and 1
                  alphabet
                </span>
              </mat-error>
            </div>
          </div>

          <!-- confirm password -->
          <div class="form-row">
            <div class="input-wrapper-full">
              <i-feather name="lock" class="icon-size"></i-feather>
              <!-- <img src="assets/icons/lock.svg" alt="" /> -->
              <label>Confirm Password</label>
              <input
                formControlName="confirm_password"
                type="password"
                matInput
                placeholder="Confirm Password"
              />
              <mat-error
                *ngIf="
                  changePasswordForm.controls.confirm_password.invalid &&
                  changePasswordForm.controls.confirm_password.touched
                "
              >
                <span
                  translate
                  class="error-text"
                  *ngIf="
                    changePasswordForm.controls.confirm_password.errors.required
                  "
                >
                  Confirm Password is required</span
                >
                <ng-template #lengthBlock>
                  <span
                    *ngIf="
                      changePasswordForm.controls.confirm_password.errors
                        .minlength
                    "
                  >
                    Please provide number upto
                    {{
                      changePasswordForm.controls.confirm_password.errors
                        .minlength.requiredLength
                    }}
                    characters
                  </span>
                  <span
                    translate
                    *ngIf="
                      changePasswordForm.controls.confirm_password.errors
                        .maxlength
                    "
                  >
                    Please provide number upto
                    {{
                      changePasswordForm.controls.confirm_password.errors
                        .maxlength.requiredLength
                    }}
                    characters
                  </span>
                </ng-template>
                <span
                  translate
                  class="error-text"
                  *ngIf="
                    changePasswordForm.controls.confirm_password.errors.pattern;
                    else lengthBlock
                  "
                >
                  Please provide at least 1 special character, 1 number and 1
                  alphabet
                </span>
              </mat-error>
              <mat-error
                *ngIf="
                  !changePasswordForm.controls.confirm_password.invalid &&
                  changePasswordForm.controls.confirm_password.touched
                "
              >
                <span
                  translate
                  class="error-text"
                  *ngIf="
                    changePasswordForm.errors &&
                    changePasswordForm.errors.matchingPassword
                  "
                >
                  Password and Confirm Password must be same</span
                >
              </mat-error>
            </div>
          </div>

          <div class="form-row">
            <div class="input-wrapper-full">
              <button
                (click)="changePassword()"
                [disabled]="changePasswordForm.invalid"
                type="submit"
                class="btn"
              >
                Update
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
