<app-header></app-header>
<div class="site-wrapper">
  <div class="form-section">
    <div class="form-box">
      <h2>Change password</h2>
      <form [formGroup]="changePasswordForm" class="form" id="player">
        <div class="form-block">
          <label
            >Current password
            <span [matTooltip]="tooltip" matTooltipPosition="above">
              <img
                src="assets/images/global/info.svg"
                alt="info"
                class="info"
              />
            </span>
          </label>
          <div class="pass-fields">
            <input
              appPassword
              matInput
              formControlName="old_password"
              autocomplete="off"
              placeholder="Current password"
              required
              [ngClass]="{
                'error-input':
                  changePasswordForm.controls.old_password.invalid &&
                  changePasswordForm.controls.old_password.touched &&
                  (changePasswordForm.controls.old_password.errors.required ||
                    changePasswordForm.controls.old_password.errors.password)
              }"
            />
          </div>
          <mat-error
            class="error-text"
            *ngIf="
              changePasswordForm.controls.old_password.invalid &&
              changePasswordForm.controls.old_password.touched
            "
          >
            <span
              translate
              *ngIf="changePasswordForm.controls.old_password.errors.required"
            >
              Current password is required
            </span>
          </mat-error>
        </div>
        <div class="form-block">
          <label
            >New password
            <span [matTooltip]="tooltip" matTooltipPosition="above">
              <img
                src="assets/images/global/info.svg"
                alt="info"
                class="info"
              />
            </span>
          </label>
          <div class="pass-fields">
            <input
              appPassword
              matInput
              formControlName="new_password"
              placeholder="New password"
              autocomplete="off"
              required
              [ngClass]="{
                'error-input':
                  changePasswordForm.controls.new_password.invalid &&
                  changePasswordForm.controls.new_password.touched &&
                  (changePasswordForm.controls.new_password.errors.required ||
                    changePasswordForm.controls.new_password.errors.password)
              }"
            />
          </div>

          <mat-error
            class="error-text"
            *ngIf="
              changePasswordForm.controls.new_password.invalid &&
              changePasswordForm.controls.new_password.touched
            "
          >
            <span
              translate
              *ngIf="changePasswordForm.controls.new_password.errors.required"
            >
              New password is required
            </span>
            <ng-template #lengthBlock>
              <span
                translate
                *ngIf="
                  changePasswordForm.controls.new_password.errors.minlength
                "
              >
                Please provide number upto
                {{
                  changePasswordForm.controls.new_password.errors.minlength
                    .requiredLength
                }}
                characters
              </span>
              <span
                translate
                *ngIf="
                  changePasswordForm.controls.new_password.errors.maxlength
                "
              >
                Please provide number upto
                {{
                  changePasswordForm.controls.new_password.errors.maxlength
                    .requiredLength
                }}
                characters
              </span>
            </ng-template>
            <span
              translate
              class=" error-position"
              *ngIf="
                changePasswordForm.controls.new_password.errors.pattern;
                else lengthBlock
              "
            >
              Please provide at least 1 special character, 1 number and 1
              alphabet
            </span>
          </mat-error>
        </div>
        <div class="form-block">
          <label
            >Confirm password
            <span [matTooltip]="tooltip" matTooltipPosition="above">
              <img
                src="assets/images/global/info.svg"
                alt="info"
                class="info"
              />
            </span>
          </label>
          <div class="pass-fields">
            <input
              appPassword
              matInput
              formControlName="confirm_password"
              placeholder="Confirm password"
              autocomplete="off"
              required
              [ngClass]="{
                'error-input':
                  changePasswordForm.controls.confirm_password.invalid &&
                  changePasswordForm.controls.confirm_password.touched &&
                  (changePasswordForm.controls.confirm_password.errors
                    .required ||
                    changePasswordForm.controls.confirm_password.errors
                      .password)
              }"
            />
          </div>

          <mat-error
            class="error-text"
            *ngIf="
              changePasswordForm.controls.confirm_password.invalid &&
              changePasswordForm.controls.confirm_password.touched
            "
          >
            <span
              translate
              *ngIf="
                changePasswordForm.controls.confirm_password.errors.required
              "
            >
              Confirm password is required
            </span>
            <ng-template #lengthBlock>
              <span
                translate
                *ngIf="
                  changePasswordForm.controls.confirm_password.errors.minlength
                "
              >
                Please provide number upto
                {{
                  changePasswordForm.controls.confirm_password.errors.minlength
                    .requiredLength
                }}
                characters
              </span>
              <span
                translate
                *ngIf="
                  changePasswordForm.controls.confirm_password.errors.maxlength
                "
              >
                Please provide number upto
                {{
                  changePasswordForm.controls.confirm_password.errors.maxlength
                    .requiredLength
                }}
                characters
              </span>
            </ng-template>
            <span
              translate
              class=" error-position"
              *ngIf="
                changePasswordForm.controls.confirm_password.errors.pattern;
                else lengthBlock
              "
            >
              Please provide at least 1 special character, 1 number and 1
              alphabet
            </span>
          </mat-error>
          <mat-error
            class="error-text"
            *ngIf="
              !changePasswordForm.controls.confirm_password.invalid &&
              changePasswordForm.controls.confirm_password.touched
            "
          >
            <span
              translate
              class="error-text"
              *ngIf="
                changePasswordForm.errors &&
                changePasswordForm.errors.matchingPassword
              "
            >
              Password and confirm password must be same
            </span>
          </mat-error>
        </div>
        <button
          (click)="changePassword()"
          [disabled]="changePasswordForm.invalid"
          type="submit"
          class="btn btn-primary btn-block"
        >
          Update
        </button>
      </form>
    </div>
  </div>
  <div class="fixing-footer">
    <app-copyright></app-copyright>
  </div>
</div>
