<div class="changepassword">
  <div class="changepassword-wrapper">
    <!-- header section -->
    <div class="changepassword-wrapper-header">
      <img src="assets/images/logo.png" alt="brand-logo" />
      <h3>First, let's reset your account password</h3>
    </div>
    <!-- changepassword forms -->
    <div class="changepassword-wrapper-forms">
      <div class="clubs">
        <form
          (ngSubmit)="changePassword()"
          [formGroup]="changePasswordForm"
          class="form"
          id="player"
        >
          <!-- current password -->
          <div class="form-row">
            <div class="input-wrapper-full">
              <i-feather name="lock" class="icon-size"></i-feather>
              <!-- <img src="assets/icons/lock.svg" alt="" /> -->
              <label>Current Password </label>
              <input formControlName="old_password" type="password" matInput />
              <ng-container
                *ngIf="
                  changePasswordForm.controls.old_password.invalid &&
                  changePasswordForm.controls.old_password.touched
                "
              >
                <span
                  class="error-text"
                  *ngIf="changePasswordForm.controls.old_password.errors.required"
                >
                  Current Password is required</span
                >
              </ng-container>
            </div>
          </div>

          <!-- new password -->
          <div class="form-row">
            <div class="input-wrapper-full">
              <i-feather name="lock" class="icon-size"></i-feather>
              <!-- <img src="assets/icons/lock.svg" alt="" /> -->
              <label>New Password </label>
              <input formControlName="new_password" type="password" matInput />
              <ng-container
                *ngIf="
                  changePasswordForm.controls.new_password.invalid &&
                  changePasswordForm.controls.new_password.touched
                "
              >
                <span
                  class="error-text"
                  *ngIf="changePasswordForm.controls.new_password.errors.required"
                >
                  New Password is required</span
                >
              </ng-container>
            </div>
          </div>

          <!-- confirm password -->
          <div class="form-row">
            <div class="input-wrapper-full">
              <i-feather name="lock" class="icon-size"></i-feather>
              <!-- <img src="assets/icons/lock.svg" alt="" /> -->
              <label>Confirm Password</label>
              <input
                formControlName="confirm_password"
                type="password"
                matInput
              />
              <ng-container
                *ngIf="
                  changePasswordForm.controls.confirm_password.invalid &&
                  changePasswordForm.controls.confirm_password.touched
                "
              >
                <span
                  class="error-text"
                  *ngIf="changePasswordForm.controls.confirm_password.errors.required"
                >
                  Confirm Password is required</span
                >
              </ng-container>
            </div>
          </div>

          <div class="form-row">
            <div class="input-wrapper-full">
              <button
                [disabled]="changePasswordForm.invalid"
                type="submit"
                class="btn"
              >
                Update
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
