<div class="course-video">
  <div class="video-list">
    <div class="audio-inner audio-active">
      <div *ngIf="status === 'pending'">
        <img src="assets/images/video-in-processing.jpg" alt="Unavailable" />
      </div>
      <div
        *ngIf="status === 'published'"
        class="audio-file"
        #vimeo_player
        [id]="'vimeo-video-player-' + postId"
      ></div>
      <!-- <video class="audio-file" controls id="video" [src]="source"> Your browser does not support HTML5 video. </video> -->
    </div>
  </div>
</div>
