<header class="header">
  <div class="header__logo">
    <a>
      <img src="assets/images/logo.png" alt="Logo" />
    </a>
  </div>
  <div class="header__version-text">
    <span>DRONA 2.0</span>
  </div>
  <div class="header__options">
    <div class="topsearch">
      <img src="assets/images/icons/header/search.png" />
    </div>
    <div class="topnotification">
      <img src="assets/images/icons/header/bell-solid.png" />
      <span class="badge"></span>
    </div>
    <div class="translate">
      <select>
        <option value="English">English</option>
      </select>
    </div>
    <div class="user-details">
      <div class="text">
        <span class="name">Ravi Parkash</span>
      </div>
      <img src="assets/images/avatar.png" alt="Ravi Prakash" class="user-pic" />
    </div>
  </div>
</header>
