<app-header></app-header>
<div class="site-wrapper">
  <!-- left Sidebar -->
  <div class="left-section">
    <app-left-panel
      [options]="panelOptions"
      [achievements]="total_count"
      (sendFootData)="getConnectionStats($event)"
    ></app-left-panel>
  </div>
  <div class="right-section">
    <div class="heading">
      <h3>Players You Might Know</h3>
    </div>
    <div class="tab-buttons">
      <a [routerLink]="['/foot-requests']" [routerLinkActive]="['active']"
        >Foot Requests <span>{{ foot_data.footmate_requests }}</span></a
      >
      <a [routerLink]="['/foot-mates']" [routerLinkActive]="['active']"
        >FootMates <span>{{ foot_data.footmates }}</span></a
      >
    </div>
    <div class="filter-buttons">
      <button [matMenuTriggerFor]="position" class="active">
        Position
        <i-feather class="icon-size" name="chevron-down"></i-feather>
      </button>
      <button [matMenuTriggerFor]="playercategory">
        Player Category
        <i-feather class="icon-size" name="chevron-down"></i-feather>
      </button>
      <button [matMenuTriggerFor]="age">
        Age
        <i-feather class="icon-size" name="chevron-down"></i-feather>
      </button>
      <button [matMenuTriggerFor]="location">
        Location
        <i-feather class="icon-size" name="chevron-down"></i-feather>
      </button>
      <button [matMenuTriggerFor]="strongfoot">
        Strong Foot
        <i-feather class="icon-size" name="chevron-down"></i-feather>
      </button>
      <button>Clear Filter</button>
      <!-- postion -->
      <mat-menu #position="matMenu">
        <div (click)="$event.stopPropagation()">
          <h3>Select Position</h3>
          <div class="items">
            <span class="chk-box">
              <mat-checkbox>Goalkeeper</mat-checkbox>
            </span>
            <span class="chk-box">
              <mat-checkbox>Center Back</mat-checkbox>
            </span>
            <span class="chk-box">
              <mat-checkbox>Left Back</mat-checkbox>
            </span>
            <span class="chk-box">
              <mat-checkbox>Right Back</mat-checkbox>
            </span>
            <span class="chk-box">
              <mat-checkbox>Left Midfielder</mat-checkbox>
            </span>
            <span class="chk-box">
              <mat-checkbox>Right Midfielder</mat-checkbox>
            </span>
            <span class="chk-box">
              <mat-checkbox>Center Midfielder</mat-checkbox>
            </span>
            <span class="chk-box">
              <mat-checkbox>Left Wing</mat-checkbox>
            </span>
            <span class="chk-box">
              <mat-checkbox>Right Wing</mat-checkbox>
            </span>
            <span class="chk-box">
              <mat-checkbox>Striker</mat-checkbox>
            </span>
            <span class="chk-box">
              <mat-checkbox>Center Defensive Midfielder</mat-checkbox>
            </span>
            <span class="chk-box">
              <mat-checkbox>Center Attacking Midfielder</mat-checkbox>
            </span>
          </div>
        </div>
      </mat-menu>
      <!-- playercatergory -->
      <mat-menu #playercategory="matMenu">
        <div (click)="$event.stopPropagation()">
          <h3>Select Player Category</h3>
          <div class="items">
            <span class="chk-box">
              <mat-checkbox>Grassroot</mat-checkbox>
            </span>
            <span class="chk-box">
              <mat-checkbox>Amateur </mat-checkbox>
            </span>
            <span class="chk-box">
              <mat-checkbox>Professional</mat-checkbox>
            </span>
          </div>
        </div>
      </mat-menu>
      <!-- Age -->
      <mat-menu #age="matMenu">
        <div (click)="$event.stopPropagation()">
          <h3>Select Age</h3>
          <div class="items">
            <span class="chk-box">
              <mat-checkbox>6-12</mat-checkbox>
            </span>
            <span class="chk-box">
              <mat-checkbox>13-26</mat-checkbox>
            </span>
            <span class="chk-box">
              <mat-checkbox>27-28</mat-checkbox>
            </span>
            <span class="chk-box">
              <mat-checkbox>39-50</mat-checkbox>
            </span>
          </div>
        </div>
      </mat-menu>
      <mat-menu #location="matMenu">
        <!-- location -->
        <div (click)="$event.stopPropagation()">
          <h3>Select Location</h3>
          <div class="wrapper-location">
            <div class="slt-wrapper">
              <select>
                <option>Select Country</option>
              </select>
              <i-feather class="icon-size" name="chevron-down"></i-feather>
            </div>
            <div class="slt-wrapper">
              <select>
                <option>Select State</option>
              </select>
              <i-feather class="icon-size" name="chevron-down"></i-feather>
            </div>
            <div class="slt-wrapper">
              <select>
                <option>Select City</option>
              </select>
              <i-feather class="icon-size" name="chevron-down"></i-feather>
            </div>
          </div>
        </div>
      </mat-menu>
      <!-- strong foot -->
      <mat-menu #strongfoot="matMenu">
        <div (click)="$event.stopPropagation()">
          <h3>Select Strong Foot</h3>
          <div class="items">
            <span class="chk-box">
              <mat-checkbox>Left</mat-checkbox>
            </span>
            <span class="chk-box">
              <mat-checkbox>Right</mat-checkbox>
            </span>
          </div>
        </div>
      </mat-menu>
    </div>
    <div class="playerwrapper">
      <!-- one -->
      <ng-container *ngFor="let footMate of footMatesList">
        <div class="playerbox">
          <div class="top">
            <div class="dp">
              <img [src]="footMate.avatar" alt="" />
            </div>
            <div class="name">
              <strong [routerLink]="['/profile', footMate.user_id]">{{
                footMate.name
              }}</strong>
              <p>{{ footMate.position }}</p>
            </div>
          </div>
          <div class="middle">
            <h4>{{ footMate.player_type }}</h4>
            <h4 *ngIf="footMate.mutuals">
              <a (click)="openDialog(footMate)"
                >{{ footMate.mutuals }} Mutual Footmates</a
              >
            </h4>
          </div>
        </div>
      </ng-container>
    </div>
    <ng-container *ngIf="footMatesList.length === 0">
      <span class="no-data-found">
        No foot mates found
      </span>
    </ng-container>
    <!-- pagination -->
    <app-pagination
      *ngIf="footMatesList.length !== 0"
      [showData]="false"
      [showCount]="show_count"
      [totalRows]="total_count"
      [rowsPerPage]="pageSize"
      (onChange)="updatePage($event)"
    >
    </app-pagination>
  </div>
</div>
