@import "src/assets/sass/abstracts/variables";
@import "src/assets/sass/abstracts/mixins";

.site-wrapper {
  width: 100%;
  display: flex;
  background: $third-color;
  margin-top: 8.5rem;

  .right-panel {
    width: 76.25%;
    position: relative;

    .footer-fix {
      position: absolute;
      width: 100%;
      bottom: 0;
    }

    .right-wrapper {
      padding: 2rem;

      .main {
        background: $white-color;
        @include shadow;
        padding: 2rem;
        border-radius: 0.5rem;
        margin-bottom: 10rem;

        // heading css
        .heading {
          display: flex;
          justify-content: space-between;
          padding: 1rem 2rem 1rem 1rem;
          color: $fourth-color;

          button {
            border: none;
            background: transparent;
            cursor: pointer;

            &:hover {
              color: $primary-color;
            }
          }
        }

        // counters

        .counts-wrapper {
          display: flex;
          align-items: center;
          width: 100%;
          text-align: center;
          justify-content: center;
          margin-bottom: 4rem;

          .counts {
            margin: 0 2rem;

            h2 {
              font-weight: 400;
              font-size: 3.6rem;
              margin-bottom: 1rem;
            }

            a {
              border: 1px solid $primary-color;
              background: transparent;
              color: $fourth-color;
              padding: 1rem 3rem;
              border-radius: 5rem;
              font-weight: 500;
              outline: 0px;
              display: inline-block;
              font-size: $heading-fourth;

              &:hover {
                background: $primary-color;
                color: $white-color;
              }
            }

            .active {
              background: $primary-color;
              color: $white-color;
            }
          }
        }

        .tab-buttons {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          a {
            font-size: 2.4rem;
            font-weight: 500;
            padding: 1rem 3rem;
            border-bottom: 2px solid transparent;
            color: $fourth-color;
            margin: 0 3rem;
          }

          .active {
            color: $primary-color;
            border-bottom: 2px solid $primary-color;
          }
        }

        // player section
        .player-wrapper {
          display: flex;
          flex-wrap: wrap;
          padding-left: 1rem;
          margin-top: 4rem;

          .player-block {
            display: flex;
            width: 33%;
            padding: 1rem 0.5rem 1rem 2rem;
            border-left: 0.5rem solid #fff0d3;
            margin-bottom: 4rem;

            img {
              width: 8rem;
              height: 8rem;
              border-radius: 8rem;
            }

            .profile-details {
              margin-left: 1rem;
              width: 100%;

              h2 {
                font-weight: 500;
                margin-bottom: 0.2rem;

                a {
                  color: $black-color;
                }
              }

              p {
                font-size: $heading-sixth;
                color: $second-color;
              }
            }

            .player-categroy {
              display: flex;
              justify-content: space-between;
              color: $second-color;
              width: 100%;

              h5 {
                font-weight: 600;
                color: $fourth-color;
              }

              a {
                color: $primary-color;
                font-size: $heading-sixth;
                font-weight: 700;
              }
            }

            .btn-wrapper {
              margin-top: 1rem;

              button {
                padding: 0.5rem 3rem;
                background: $fourth-color;
                border: none;
                border-radius: 4rem;
                color: $white-color;
                margin-right: 1rem;
                @include shadow-btn-secondary;

                &:hover {
                  background: $primary-color;
                  @include shadow-btn-primary;
                }
              }

              .accepted {
                background: $success;
                width: 100%;
              }

              .rejected {
                background: $primary-color;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
