<app-header></app-header>
<div class="site-wrapper">
  <div class="left-panel" [ngClass]="{ show: sidebar, hide: !sidebar }">
    <app-left-panel
      (sendFootData)="getConnectionStats($event)"
      (sendProfileStatus)="getProfileStatus($event)"
    >
    </app-left-panel>
  </div>
  <div class="right-panel">
    <div class="right-wrapper">
      <div class="main">
        <!-- heading -->
        <div class="heading">
          <h2>FooTRequests</h2>
        </div>
        <!-- counts -->
        <div class="counts-wrapper">
          <div class="counts">
            <h2>
              {{ foot_data.total_requests | padzero }}
            </h2>
            <a
              [routerLink]="['/member/manage/foot-requests']"
              [routerLinkActive]="['active']"
              >FooTRequests
            </a>
          </div>
          <div class="counts">
            <h2>{{ foot_data.footmates | padzero }}</h2>
            <a
              [routerLink]="['/member/manage/foot-mates']"
              [routerLinkActive]="['active']"
              >FooTMates
            </a>
          </div>
        </div>

        <div class="tab-buttons">
          <a
            (click)="getType('player')"
            [ngClass]="requested_by === 'player' ? 'active' : ''"
            >Players
          </a>
          <a
            (click)="getType('club')"
            [ngClass]="requested_by === 'club' ? 'active' : ''"
            >Clubs
          </a>
          <a
            (click)="getType('academy')"
            [ngClass]="requested_by === 'academy' ? 'active' : ''"
            >Academies
          </a>
        </div>
        <!-- player section -->
        <div class="player-wrapper">
          <ng-container *ngFor="let request of requestList">
            <div class="player-block">
              <img [src]="request.avatar" alt="" />
              <div class="profile-details">
                <h2 matTooltip="{{ request.name | capitalize }}">
                  <a [routerLink]="['/member/profile/public/', request.user_id]"
                    >{{
                      (request.name.length < 17
                        ? request.name
                        : (request.name | slice: 0:17) + '...'
                      ) | capitalize
                    }}
                  </a>
                </h2>
                <p>{{ request.position }}</p>
                <div class="player-categroy">
                  <h5>
                    {{
                      request.player_type || request.sub_category | titlecase
                    }}
                  </h5>
                </div>
                <div
                  class="btn-wrapper"
                  [matTooltip]="
                    requested_by !== 'player' &&
                    profile_status == 'non-verified'
                      ? 'Verify your documents in order to Accept/ Reject the request'
                      : ''
                  "
                >
                  <ng-container *ngIf="!request.hide">
                    <button
                      [ngClass]="{
                        'btn-disable':
                          requested_by !== 'player' &&
                          profile_status == 'non-verified'
                      }"
                      [disabled]="
                        requested_by !== 'player' &&
                        profile_status == 'non-verified'
                      "
                      (click)="acceptRequest(request)"
                    >
                      Accept
                    </button>
                    <button
                      [ngClass]="{
                        'btn-disable':
                          requested_by !== 'player' &&
                          profile_status == 'non-verified'
                      }"
                      [disabled]="
                        requested_by !== 'player' &&
                        profile_status == 'non-verified'
                      "
                      (click)="rejectRequest(request)"
                    >
                      Reject
                    </button>
                  </ng-container>

                  <ng-container *ngIf="request.hide">
                    <button
                      [ngClass]="{
                        accepted: request.accepted,
                        rejected: !request.accepted
                      }"
                    >
                      {{ request.accepted ? 'Accepted' : 'Rejected' }}
                    </button>
                  </ng-container>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="requestList.length === 0">
            <span class="no-data-found">
              No FooTRequests found
            </span>
          </ng-container>
        </div>
        <!-- Pagination -->
        <app-pagination
          *ngIf="requestList.length !== 0"
          [showData]="false"
          [showCount]="show_count"
          [totalRows]="foot_data.footmate_requests"
          [rowsPerPage]="pageSize"
          (onChange)="updatePage($event)"
          [selectedPage]="selectedPage"
        >
        </app-pagination>
      </div>
    </div>
    <div class="footer-fix">
      <app-copyright></app-copyright>
    </div>
  </div>
</div>

<!-- mobile toggle -->
<span class="toggle-btn" (click)="sidebar = !sidebar">
  <mat-icon class=" material-icons">menu_open</mat-icon>
</span>
