<app-header></app-header>
<div class="site-wrapper">
  <!-- left Sidebar -->
  <div class="left-section">
    <app-left-panel
      [achievements]="total_count"
      [options]="panelOptions"
      [userId]="userId"
      (sendMemberType)="getMemberType($event)"
    ></app-left-panel>
  </div>
  <div class="right-section">
    <div class="award-heading">
      <div class="left-part">
        <h2>
          Manage FootPlayers
        </h2>
      </div>
      <div class="right-part" *ngIf="!isPublic">
        <button (click)="onaddfootplayer()">Add Player</button>
      </div>
    </div>
    <!-- filter -->
    <div class="filter-buttons">
      <button [matMenuTriggerFor]="position">
        Position
        <i-feather class="icon-size" name="chevron-down"></i-feather>
      </button>
      <button [matMenuTriggerFor]="playercategory">
        FootPlayer Category
        <i-feather class="icon-size" name="chevron-down"></i-feather>
      </button>
      <button [matMenuTriggerFor]="age">
        Age
        <i-feather class="icon-size" name="chevron-down"></i-feather>
      </button>
      <button [matMenuTriggerFor]="location">
        Location
        <i-feather class="icon-size" name="chevron-down"></i-feather>
      </button>
      <button [matMenuTriggerFor]="strongfoot">
        Strong Foot
        <i-feather class="icon-size" name="chevron-down"></i-feather>
      </button>
      <button [matMenuTriggerFor]="team">
        Type of Team
        <i-feather class="icon-size" name="chevron-down"></i-feather>
      </button>
      <button [matMenuTriggerFor]="ability">
        Ability
        <i-feather class="icon-size" name="chevron-down"></i-feather>
      </button>
      <button [matMenuTriggerFor]="status">
        Status
        <i-feather class="icon-size" name="chevron-down"></i-feather>
      </button>
      <button>Clear Filter</button>
      <!-- postion -->
      <mat-menu #position="matMenu">
        <div (click)="$event.stopPropagation()">
          <h3>Select Position</h3>
          <div class="items">
            <span class="chk-box">
              <mat-checkbox>Right Wing</mat-checkbox>
            </span>
            <span class="chk-box">
              <mat-checkbox>Stricker</mat-checkbox>
            </span>
            <span class="chk-box">
              <mat-checkbox>Center Midfielder</mat-checkbox>
            </span>
            <span class="chk-box">
              <mat-checkbox>Right Midfielder</mat-checkbox>
            </span>
            <span class="chk-box">
              <mat-checkbox>Center Defensive Midfielder</mat-checkbox>
            </span>
            <span class="chk-box">
              <mat-checkbox>Center Attacking Midfielder</mat-checkbox>
            </span>
            <span class="chk-box">
              <mat-checkbox>Left Wing</mat-checkbox>
            </span>
            <span class="chk-box">
              <mat-checkbox>Center Back</mat-checkbox>
            </span>
            <span class="chk-box">
              <mat-checkbox>Left Back</mat-checkbox>
            </span>
            <span class="chk-box">
              <mat-checkbox>Right Back</mat-checkbox>
            </span>
            <span class="chk-box">
              <mat-checkbox>Left Midfielder</mat-checkbox>
            </span>
            <span class="chk-box">
              <mat-checkbox>Goalkeeper</mat-checkbox>
            </span>
          </div>
        </div>
      </mat-menu>
      <!-- playercatergory -->
      <mat-menu #playercategory="matMenu">
        <div (click)="$event.stopPropagation()">
          <h3>Select Player Category</h3>
          <div class="items">
            <span class="chk-box">
              <mat-checkbox>Grassroot</mat-checkbox>
            </span>
            <span class="chk-box">
              <mat-checkbox>Amature</mat-checkbox>
            </span>
            <span class="chk-box">
              <mat-checkbox>Professional</mat-checkbox>
            </span>
          </div>
        </div>
      </mat-menu>
      <!-- Age -->
      <mat-menu #age="matMenu">
        <div (click)="$event.stopPropagation()">
          <h3>Select Age</h3>
          <div class="items">
            <span class="chk-box">
              <mat-checkbox>10-20</mat-checkbox>
            </span>
            <span class="chk-box">
              <mat-checkbox>20-30</mat-checkbox>
            </span>
            <span class="chk-box">
              <mat-checkbox>30-40</mat-checkbox>
            </span>
            <span class="chk-box">
              <mat-checkbox>40-50</mat-checkbox>
            </span>
          </div>
        </div>
      </mat-menu>
      <mat-menu #location="matMenu">
        <!-- location -->
        <div (click)="$event.stopPropagation()">
          <h3>Select Location</h3>
          <div class="wrapper-location">
            <div class="slt-wrapper">
              <select>
                <option value="">Select Country</option>
              </select>
              <i-feather class="icon-size" name="chevron-down"></i-feather>
            </div>
            <div class="slt-wrapper">
              <select>
                <option value="">Select State</option>
              </select>
              <i-feather class="icon-size" name="chevron-down"></i-feather>
            </div>
            <div class="slt-wrapper">
              <select>
                <option value="">Select City</option>
              </select>
              <i-feather class="icon-size" name="chevron-down"></i-feather>
            </div>
          </div>
        </div>
      </mat-menu>
      <!-- strong foot -->
      <mat-menu #strongfoot="matMenu">
        <div (click)="$event.stopPropagation()">
          <h3>Select Strong Foot</h3>
          <div class="items">
            <span class="chk-box">
              <mat-checkbox>Left</mat-checkbox>
            </span>
            <span class="chk-box">
              <mat-checkbox>Right</mat-checkbox>
            </span>
          </div>
        </div>
      </mat-menu>

      <!-- type of team -->
      <mat-menu #team="matMenu">
        <div (click)="$event.stopPropagation()">
          <h3>Select Team</h3>
          <div class="items">
            <span class="chk-box">
              <mat-checkbox>First team</mat-checkbox>
            </span>
            <span class="chk-box">
              <mat-checkbox>Under 18</mat-checkbox>
            </span>
            <span class="chk-box">
              <mat-checkbox>Under 16</mat-checkbox>
            </span>
            <span class="chk-box">
              <mat-checkbox>Under 14</mat-checkbox>
            </span>
            <span class="chk-box">
              <mat-checkbox>Under 12</mat-checkbox>
            </span>
          </div>
        </div>
      </mat-menu>

      <!-- ability -->
      <mat-menu #ability="matMenu">
        <div (click)="$event.stopPropagation()">
          <h3>Select Ability</h3>
          <div class="items">
            <span class="chk-box">
              <mat-checkbox>Physical</mat-checkbox>
            </span>
            <span class="chk-box">
              <mat-checkbox>Mental</mat-checkbox>
            </span>
            <span class="chk-box">
              <mat-checkbox>Physical</mat-checkbox>
            </span>
            <span class="chk-box">
              <mat-checkbox>Acceleration</mat-checkbox>
            </span>
          </div>
        </div>
      </mat-menu>

      <!-- ability -->
      <mat-menu #status="matMenu">
        <div (click)="$event.stopPropagation()">
          <h3>Select Status</h3>
          <div class="items">
            <span class="chk-box">
              <mat-checkbox>Pending</mat-checkbox>
            </span>
            <span class="chk-box">
              <mat-checkbox>Invited</mat-checkbox>
            </span>
            <span class="chk-box">
              <mat-checkbox>Added </mat-checkbox>
            </span>
            <span class="chk-box">
              <mat-checkbox>Rejected</mat-checkbox>
            </span>
          </div>
        </div>
      </mat-menu>
    </div>
    <!-- search -->
    <div class="search">
      <div class="search-form">
        <form>
          <input
            (keyup)="applyFilter($event)"
            type="text"
            placeholder="Search player"
          />
          <span class="search-icon">
            <i-feather name="search" class="icon-size"></i-feather>
          </span>
        </form>
      </div>
    </div>
    <div class="table">
      <!-- table -->
      <div class="table-container">
        <app-table
          [tableConfig]="tableConfig"
          [NumberColumn]="'true'"
          [rows]="dataSource"
          [sortEnabled]="true"
          [pageSize]="pageSize"
          [TableActions]="ListAction"
          [pageNo]="selectedPage"
        >
        </app-table>
        <ng-template
          #ListAction
          let-id="id"
          let-avatar="avatar"
          let-category="category"
          let-name="name"
          let-position="position"
          let-status="status"
          let-email="email"
        >
          <div class="action-buttons">
            <button
              matTooltip="Resend Invitation"
              [ngClass]="{
                'btn-disable': ['pending', 'added', 'rejected'].includes(status)
              }"
              [disabled]="['pending', 'added', 'rejected'].includes(status)"
              (click)="resendInvitationPopup(email)"
            >
              <img src="assets/images/icons/refresh01.png" alt="refresh" />
            </button>

            <button matTooltip="Add Contract">
              <img src="assets/images/icons/plus.png" alt="Add" />
            </button>

            <button matTooltip="Delete" (click)="deletePopup(id)">
              <img src="assets/images/icons/bin.png" alt="Delete" />
            </button>
          </div>
        </ng-template>
      </div>
    </div>
    <!-- pagination -->
    <app-pagination
      [showData]="false"
      [showCount]="show_count"
      [totalRows]="total_count"
      [rowsPerPage]="pageSize"
      [selectedPage]="selectedPage"
      (onChange)="updatePage($event)"
    >
    </app-pagination>
  </div>
</div>
