<!-- <div class="pagination-wrapper">
  <div class="showing-data">
    <p *ngIf="showData">
      <strong>Showing</strong>
      {{ rowsPerPage > showCount ? showCount : rowsPerPage }}
      / {{ totalRows }} Data
    </p>
  </div>
  <div class="pagination">
    <ul>
      <li>
        <a (click)="goToPage(selectedPage - 1)"><span> &#8592; </span></a>
      </li>
      <li *ngFor="let val of pages()">
        <a [ngClass]="val == selectedPage ? 'active' : ''" (click)="val != selectedPage && goToPage(val)">{{ val }}</a>
      </li>
      <li>
        <a (click)="goToPage(selectedPage + 1)"> <span>&#8594;</span> </a>
      </li>
    </ul>
  </div>
</div> -->

<div class="pagination">
  <ul>
    <li>
      <a
        [ngClass]="{ 'btn-disable': selectedPage == 1 }"
        class="prev"
        (click)="goToPage(selectedPage - 1)"
      >
        <span>
          <mat-icon class="material-icons">arrow_back</mat-icon>
        </span>
        Previous
      </a>
    </li>
    <li *ngFor="let val of pages()">
      <a
        [ngClass]="{ active: val == selectedPage, count: val != '...' }"
        (click)="val != selectedPage && val != '...' && goToPage(val)"
        >{{ val }}</a
      >
    </li>

    <li>
      <a
        [ngClass]="{ 'btn-disable': selectedPage == this.maxPage }"
        (click)="goToPage(selectedPage + 1)"
        class="next"
      >
        Next
        <span>
          <mat-icon class="material-icons">arrow_forward</mat-icon>
        </span>
      </a>
    </li>
  </ul>
</div>
