<div class="pagination">
  <ul>
    <li>
      <a
        [ngClass]="{ 'btn-disable': selectedPage == 1 }"
        class="prev"
        (click)="goToPage(selectedPage - 1)"
      >
        <img src="assets/images/member/icon/back.svg" alt="" />
        <span>Previous</span>
      </a>
    </li>
    <li *ngFor="let val of pages()">
      <a
        [ngClass]="{ active: val == selectedPage, count: val != '...' }"
        (click)="goToPage(val)"
        >{{ val }}</a
      >
    </li>

    <li>
      <a
        [ngClass]="{ 'btn-disable': selectedPage == this.maxPage }"
        (click)="goToPage(selectedPage + 1)"
        class="next"
      >
        <span>Next</span>
        <img src="assets/images/member/icon/next.svg" alt="" />
      </a>
    </li>
  </ul>
</div>
