@import "src/assets/sass/abstracts/variables";

// paginations
// .pagination-wrapper {
// width: 95%;
// margin: 2rem auto;
// display: flex;
// justify-content: space-between;
// align-items: center;
// padding: 2rem;
// background-color: $color-white;
// box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.1);

// .showing-data {
//   p {
//     font-size: 1.8rem;
//     color: $text-color;
//   }
// }
//}

.pagination {
  width: 100%;
  text-align: center;

  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10rem;

    li {
      margin: 0 1rem;

      a.next,
      a.prev {
        display: flex;
        align-items: center;
        font-size: 2.4rem;

        &:hover {
          span {
            border: 2px solid $primary-color;
          }
        }

        span {
          margin: 0px 1rem;
          border: 2px solid $fourth-color;
          border-radius: 8rem;
          width: 3.5rem;
          height: 3.5rem;
        }
      }

      a.count {
        width: 4rem;
        height: 4rem;
        font-size: 2rem;
        background: $second-color;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5rem;
        color: $white-color;

        &:hover {
          background: $primary-color;
        }
      }

      .active {
        background: $fourth-color !important;
        color: $white-color;

        &:hover {
          background: $primary-color !important;
        }
      }

      .disable {
        opacity: 0.6;
      }
    }
  }
}
