<div class="pagination-wrapper">
  <div class="showing-data">
    <p>
      <strong>Showing</strong>
      {{ rowsPerPage > totalRows ? totalRows : rowsPerPage }}
      / {{ totalRows }} Data
    </p>
  </div>
  <div class="pagination">
    <ul>
      <li>
        <a (click)="goToPage(selectedPage - 1)"><span> &#8592; </span></a>
      </li>
      <li *ngFor="let val of pages()">
        <a
          [ngClass]="val == selectedPage ? 'active' : ''"
          (click)="goToPage(val)"
          >{{ val }}</a
        >
      </li>
      <li>
        <a (click)="goToPage(selectedPage + 1)"> <span>&#8594;</span> </a>
      </li>
    </ul>
  </div>
</div>
