@import "src/assets/sass/abstracts/variables";
@import "src/assets/sass/abstracts/mixins";
.pagination {
  width: 100%;
  text-align: center;

  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10rem;

    li {
      margin: 0 1rem;

      @include responsive(smallphone) {
        margin: 0 0.5rem;
      }

      a.next,
      a.prev {
        display: flex;
        align-items: center;
        font-size: 1.8rem;
        color: $fourth-color;
        font-weight: 500;

        img {
          width: 2.4rem;
          height: 2.4rem;
          margin: 0 1rem;
        }

        &:hover {
          color: #808080;
          opacity: 0.8;

          img {
            opacity: 0.6;
          }
        }

        span {
          margin: 0px 0.5rem;
          @include responsive(smallphone) {
            display: none;
          }
        }
      }

      .disable {
        color: #808080;
        pointer-events: none;

        img {
          opacity: 0.6;
        }
      }

      a.count {
        width: 4rem;
        height: 4rem;
        font-size: 2rem;
        background: $second-color;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5rem;
        color: $white-color;

        @include responsive(smallphone) {
          width: 3rem;
          height: 3rem;
          font-size: 1.6rem;
        }

        &:hover {
          background: $primary-color;
        }
      }

      .active {
        background: $fourth-color !important;
        color: $white-color;

        &:hover {
          background: $primary-color !important;
        }
      }

      .disable {
        opacity: 0.6;
      }
    }
  }
}
