<div class="modal-header">
  <div class="heading">
    <h4>{{ options.header }} Position</h4>
  </div>
  <div class="close">
    <img [mat-dialog-close] src="assets/images/icons/close.png" alt="" />
  </div>
</div>
<form [formGroup]="positionForm">
  <div class="form-wrapper">
    <!-- position -->
    <div class="input__group">
      <label>Position</label>
      <input
        formControlName="name"
        type="text"
        placeholder="Position"
        trim="blur"
      />
      <mat-error
        *ngIf="
          positionForm.controls.name.invalid &&
          positionForm.controls.name.touched
        "
      >
        <span *ngIf="positionForm.controls.name.errors.required" translate
          >Position is required
        </span>

        <span *ngIf="positionForm.controls.name.errors.pattern">
          Position format is invalid
        </span>
      </mat-error>
    </div>

    <!-- Abbreviation -->
    <div class="input__group">
      <label>Abbreviation</label>
      <input
        formControlName="abbreviation"
        type="text"
        matinput
        placeholder="Abbreviation"
        trim="blur"
      />
      <mat-error
        *ngIf="
          positionForm.controls.abbreviation.invalid &&
          positionForm.controls.abbreviation.touched
        "
      >
        <span
          *ngIf="positionForm.controls.abbreviation.errors.required"
          translate
          >Abbreviation is required
        </span>
        <span *ngIf="positionForm.controls.abbreviation.errors.pattern">
          Abbreviation format is invalid
        </span>
      </mat-error>
    </div>
  </div>
  <!-- ability -->
  <div class="ability-box">
    <h3>Select Ability</h3>
    <div class="abilities">
      <span *ngFor="let ability of abilities">
        <mat-checkbox
          (change)="onChangeAbility($event, ability)"
          [checked]="ability.is_checked"
          [value]="ability.id"
        >
          {{ ability.name }}</mat-checkbox
        >
      </span>
    </div>
  </div>
  <div class="action-block">
    <button class="cancel" [mat-dialog-close]>
      Cancel
    </button>
    <button
      [disabled]="positionForm.invalid"
      class="update"
      (click)="editAddFormValue()"
    >
      {{ options.buttonName }}
    </button>
  </div>
</form>
