<header class="header">
  <div class="logo">
    <a [routerLink]="['/home']">
      <img src="assets/images/website/logo.png" alt="brand-logo" />
    </a>
  </div>
</header>

<mat-card>
  <mat-card-content>
    <h1>Terms and Conditions</h1>
    <div class="main-div">
      <p>
        Decoding Youth Talent Private Limited (DYT) having its registered office
        at IIM Lucknow Incubator, IIM Lucknow, Noida Campus, Sector 62, Noida -
        201307, operates YFT Chain (Youth Football Technology Chain)
        (hereinafter referred to as “YFTChain” or “we” or “us” or “Portal”). YFT
        Chain (“YFTChain”) provides a social and professional networking video
        centric digital platform facilitating players scouting, training,
        development, analysis, and transfers in India and supporting football
        grassroots, amateurs and professionals in achieving a higher level of
        sophisticated and dynamic professional work.
        <br /><br />
        The mission of YFTChain is to help the Indian football industry be more
        productive by enabling professional networking, talent identification
        and showcasing between players, coaches clubs and academies to
        facilitate player development. The goal is to create a world class
        ecosystem for all stakeholders in the India football industry. YFTChain
        is the flagship brand of Decoding Youth Talent Private Limited ("DYT").
        <br /><br />
      </p>
      <br />
      <br />
      <h4>PRELIMINARY</h4>
      <br /><br />
      <p>
        o YFTChain as used herein shall be construed as a collective reference
        to YFTChain and the YFTChain App.
        <br /><br />
        o The term ‘services’ referred hereinafter relates to all the products/
        assistance offered to you or the User by YFTChain its affiliates and
        partners hereafter referred to as ‘we’, ‘us’ or ‘our’ through the
        website www.yftchain.com which would be referred to as the ‘website’.
        <br /><br />
        o The terms and conditions mentioned herein below shall hereinafter be
        referred to as “Terms and Conditions”.
        <br /><br />
        o What the Terms and Conditions desire to effect by the implication is
        to give efficacy to the transactions of YFTChain as must have been
        intended at all events by both parties and not to impose one side all
        the perils of the transaction, or to emancipate one side from all the
        chances of failure, but to make each party a promise in law, as much, at
        all events, as it must have been in the contemplation of both parties
        that each should be responsible for in respect of those perils or
        chances. Circumstances when reading an unexpressed term would be only
        justified in the exceptional cases that such term was always and
        obviously intended by and between the parties hereto.
        <br /><br />
        o Usage of the website by you, the user will be governed by the terms
        and conditions hereinafter elaborated.
        <br /><br />
        o It is mandatory and binding upon you that the terms and conditions as
        outlined hereinafter should be read by you in their entirety prior to
        your use of the services.
        <br /><br />
        o It should be noted that if any terms or conditions as outlined
        hereinafter are held to be contrary to law, void, voidable, or
        unenforceable by any judicial or quasi judicial body in India, it would
        in no way bias, eclipse or affect the enforceability of the remaining
        terms and conditions. In such a case, the terms would be amended to
        include such other terms which are close to the original intent of the
        term which has been adjudged as invalid.
        <br /><br />
        o By way of registering to avail our services, you give your undertake
        that you have read the terms and conditions and have accepted the same.
        If in case the following terms and conditions and the subsequent
        modifications to the terms and conditions are not accepted to you, you
        may discontinue the use of the website and the services offered by it.
      </p>
      <br /><br />
      <h4>1. USAGE OF YFTChain</h4>
      <br />
      <p>
        1.1 You, the User accessing YFTChain for participating in social and
        professional networking, player scouting, training, development,
        analysis, player representation, player transfer, available on YFTChain
        platform (‘YFTChain Services') shall be bound by these Terms and
        Conditions, and all other rules, regulations and terms of use referred
        to herein or provided by YFTChain in relation to any YFTChain Services.
        <br /><br />
        1.2 YFTChain shall be entitled to modify these Terms and Conditions,
        rules, regulations and terms of use referred to herein or provided by
        YFTChain in relation to any YFTChain Services, at any time, by posting
        the same on YFTChain. Use of YFTChain constitutes the User's acceptance
        of such Terms and Conditions, rules, regulations and terms of use
        referred to herein or provided by YFTChain in relation to any YFTChain
        Services, as may be amended from time to time.
        <br /><br />
        1.3 YFTChain will notify you, the User of any change or modification in
        these Terms and Conditions, rules, regulations and terms of use referred
        to herein or provided by YFTChain, by way of sending an email to the
        User's registered email address and/or posting notifications in the User
        accounts. You, the User may then exercise the options provided in such
        an email or notification to indicate acceptance/non-acceptance of the
        modified Terms and Conditions, rules, regulations and terms of use
        referred to herein or provided by YFTChain. If such options are not
        exercised by you, the User within the time frame as prescribed in the
        email and/or notification on the User account, the User will be deemed
        to have accepted the modified Terms and Conditions, rules, regulations
        and terms of use referred to herein or provided by YFTChain.
        <br /><br />
        1.4 Certain Services being provided on YFTChain may be subject to
        additional rules and regulations set down in that respect. If and to the
        extent that these additional rules and regulations are inconsistent with
        the Terms and Conditions in such a scenario the additional rules and
        regulations shall prevail.
        <br /><br />
        1.5 YFTChain may, at its sole and absolute discretion:
        <br /><br />
        o Restrict, suspend, or terminate any User's access to all or any part
        of YFTChain or YFTChain Platform Services;
        <br /><br />
        o Change, suspend, or discontinue all or any part of the YFTChain
        Platform Services;
        <br /><br />
        o Reject, move, or remove any material that may be submitted by a User;
        <br /><br />
        o Move or remove any content that is available on YFTChain Platform;
        <br /><br />
        o Deactivate or delete a User's account and all related information and
        files on the account;
        <br /><br />
        o Establish general practices and limits concerning use of YFTChain
        Platform;
        <br /><br />
        o Assign its rights and liabilities to all User accounts hereunder to
        any entity (post such assignment intimation of such assignment shall be
        sent to all Users to their registered email ids)
        <br /><br />
        1.6 In the event any User breaches, or YFTChain is given a reason to
        believe that such User has breached these Terms and Conditions, or has
        illegally or improperly used YFTChain or the YFTChain Services, YFTChain
        may, at its sole and absolute discretion, may restrict, suspend or
        terminate such User's access to all or any part of YFTChain Platform,
        deactivate or delete the User's account and all related information on
        the account, delete any content posted by the User on YFTChain and
        further, take technical and legal steps as it deems necessary.
        <br /><br />
        1.7 If YFTChain charges its Users a platform fee in respect of any
        YFTChain Services, YFTChain shall, repay such platform fee in the event
        of suspension or removal of the User's account or YFTChain Services on
        account of any negligence or deficiency on the part of YFTChain, but not
        if such suspension or removal is effected due to:
        <br /><br />
        o any breach or inadequate performance by the User of any of these Terms
        and Conditions; or
        <br /><br />
        o any circumstances beyond the reasonable control of YFTChain.
        <br /><br />
        1.8 With prior intimation by way of notification, consent shall be
        sought from the User thereafter which if the User consents, shall
        receive communications such as announcements, administrative messages
        and advertisements from YFTChain or any of its partners, licensors or
        associates.
      </p>
      <br /><br />
      <h4>2. INTELLECTUAL PROPERTY</h4>
      <br />
      <p>
        2.1 YFTChain includes a combination of content created by YFTChain, its
        partners, affiliates, licensors, associates and/or Users. The
        intellectual property rights ("Intellectual Property Rights") in all
        content and software underlying YFTChain and the YFTChain Platform and
        material published on YFTChain, including ,but not limited to, posts,
        report cards, software, advertisements, written content, photographs,
        graphics, images, illustrations, marks, logos, audio or video clippings
        and Flash animation, is owned by YFTChain, its partners Users may not
        modify, publish, transmit, participate in the transfer or sale of,
        reproduce, create derivative works of, distribute, publicly perform,
        publicly display, or in any way exploit any of the materials or content
        on YFTChain either in whole or in part without express written license
        from YFTChain.
        <br /><br />
        2.2 Users may request permission to use any YFTChain content by writing
        in to admin@yftchain.com.
        <br /><br />
        2.3 Users are solely responsible for all materials (whether publicly
        posted or privately transmitted) that they upload, post, e-mail,
        transmit, or otherwise make available on YFTChain ("Users' Content").
        YFTChain shall not be held liable to the Users or any third parties, for
        any lost profits, revenues, information, or data, or consequential,
        special, indirect, exemplary, punitive or incidental damages arising out
        of or related to the Users’ Content.
        <br /><br />
        2.4 Each User represents and warrants that he/she owns all Intellectual
        Property Rights of the User's Content prior to its publication,
        dissemination and or transmission and that no part of the User's Content
        infringes on any third party rights. Users further confirm and undertake
        to not display or use of the names, logos, marks, labels, trademarks,
        copyrights or intellectual and proprietary rights of any third party on
        YFTChain.
        <br /><br />
        2.5 Users undertake and agree to indemnify completely and hold harmless
        YFTChain, its directors, employees, affiliates and assigns against all
        costs, damages, loss and harm including towards litigation costs and
        counsel fees, in respect of any third party claims that may be initiated
        including but not limited to infringement of Intellectual Property
        Rights arising out of such display or use of the names, logos, marks,
        labels, trademarks, copyrights or intellectual and proprietary rights on
        YFTChain, by such User or through the User's commissions or omissions.
        <br /><br />
        2.6 Users hereby grant to YFTChain and its affiliates, partners,
        licensors and associates worldwide, irrevocable, royalty-free,
        non-exclusive, sub-licensable license to use, reproduce, create
        derivative works of, distribute, publicly perform, publicly display,
        transfer, transmit, and/or publish Users' Content for any of the
        following purposes:
        <br /><br />
        o displaying Users' Content on YFTChain
        <br /><br />
        o distributing Users' Content, either electronically or via other media,
        to other Users seeking to download or otherwise acquire it, and/or
        <br /><br />
        o storing Users' Content in a remote database accessible by end users,
        for a charge. This license shall apply to the distribution and the
        storage of Users' Content in any form, medium, or technology.
        <br /><br />
        2.7 All names, logos, marks, labels, trademarks, copyrights or
        intellectual and proprietary rights on YFTChain(s) belonging to any
        person (including User), entity or third party are recognized as
        proprietary to the respective owners and any claims, controversy or
        issues against these names, logos, marks, labels, trademarks, copyrights
        or intellectual and proprietary rights must be directly addressed to the
        respective parties under notice to YFTChain.
      </p>
      <br /><br />
      <h4>3. Third Party Sites, Services and Products</h4>
      <br />
      <p>
        YFTChain may contain links to other Internet sites owned and operated by
        third parties. Users' use of each of those sites is subject to the
        conditions, if any, posted by the sites. YFTChain does not exercise
        control over any Internet sites apart from YFTChain and cannot be held
        responsible for any content residing in any third-party Internet site.
        YFTChain's inclusion of third-party content or links to third-party
        Internet sites is not an endorsement by YFTChain of such third-party
        Internet site.
        <br /><br />
        3.1 Users' correspondence, transactions/offers or related activities
        with third parties, including payment providers and verification service
        providers, are solely between the User and that third party. Users'
        correspondence, transactions and usage of the services/offers of such
        third party shall be subject to the terms and conditions, policies and
        other service terms adopted/implemented by such third party, and the
        User shall be solely responsible for reviewing the same prior to
        transacting or availing of the services/offers of such third party. User
        agrees that YFTChain will not be responsible or liable for any loss or
        damage of any sort incurred as a result of any such transactions/offers
        with third parties. Any questions, complaints, or claims related to any
        third party product or service should be directed to the appropriate
        vendor. YFTChain shall not be held liable for any loss of data,
        information, profits, revenues, or consequential, special, indirect,
        exemplary, punitive or incidental damages arising out of any
        correspondence, transactions or any activities conducted between the
        User and any third party.
        <br /><br />
        3.2 YFTChain contains content that is created by YFTChain as well as
        content provided by third parties. YFTChain does not guarantee the
        accuracy, integrity, quality of the content provided by third parties
        and such content may not relied upon by the Users in utilizing the
        YFTChain Services provided on YFTChain including while participating in
        any of the contests, trials, competitions hosted on YFTChain.
      </p>
      <br />
      <p>
        4. Privacy Policy All information collected from Users, such as
        registration and credit card information, is subject to YFTChain's
        Privacy Policy which is available in the Privacy Policy
        <br /><br />
        5. User Conduct
        <br /><br />
        5.1 Users agree to abide by these Terms and Conditions and all other
        rules, regulations and terms of use of the Website. In the event User
        does not abide by these Terms and Conditions and all other rules,
        regulations and terms of use, YFTChain may, at its sole and absolute
        discretion, take necessary remedial action, including but not limited
        to:
        <br /><br />
        o restricting, suspending, or terminating any User's access to all or
        any part of YFTChain Services;
        <br /><br />
        o deactivating or deleting a User's account and all related information
        and files on the account.
        <br /><br />
        5.2 Users agree to provide true, accurate, current and complete
        information at the time of registration and at all other times (as
        required by YFTChain). Users further agree to update and keep updated
        their registration information
        <br /><br />
        5.3 A User shall not register or operate more than one User account with
        YFTChain.
        <br /><br />
        5.4 Users agree to ensure that they can receive all communication from
        YFTChain by marking e-mails or sending SMSs from YFTChain as part of
        their "safe senders" list. YFTChain shall not be held liable if any
        e-mail/SMS remains unread by a User as a result of such e-mail getting
        delivered to the User's junk or spam folder.
        <br /><br />
        5.5 Any password issued by YFTChain to a User should not be revealed to
        anyone else. Users shall not use anyone else's password. Users are
        responsible for maintaining the confidentiality of their accounts and
        passwords. Users agree and undertake to immediately notify YFTChain of
        any unauthorized use of their passwords or accounts or any other breach
        of security.
        <br /><br />
        5.6 Users agree to exit/log-out of their accounts at the end of each
        session. YFTChain shall not be responsible for any loss or damage that
        may result if the User fails to comply with these requirements.
        <br /><br />
        5.7 Users agree not to use cheats, exploits, automation, software, bots,
        hacks or any unauthorised third party software designed to modify or
        interfere with YFTChain Services and/or YFTChain user experience or
        assist in such activity.
        <br /><br />
        5.8 Users agree not to copy, modify, rent, lease, loan, sell, assign,
        distribute, reverse engineer, grant a security interest in, or otherwise
        transfer any right to the technology or software underlying YFTChain or
        YFTChain’s Services.
        <br /><br />
        5.9 Users agree that without YFTChain's express written consent, they
        shall not modify or cause to be modified any files or software that are
        part of YFTChain's Services. Such actions would be illegal and
        inappropriate and YFTChain reserves all rights to initiate legal steps
        as it deems fit.
        <br /><br />
        5.10 Users agree not to disrupt, overburden, or aid or assist in the
        disruption or overburdening of (a) any computer or server used to offer
        or support YFTChain or the YFTChain’s Services (each a "Server"); or (2)
        the enjoyment of YFTChain Services by any other User or person.
        <br /><br />
        5.11 Users undertake and agree not to institute, assist or become
        involved in any type of cyber-attack, including without limitation to
        distribution of a virus, denial of service, or other attempts to disrupt
        YFTChain Services or any other person's use or enjoyment of YFTChain
        Services.
        <br /><br />
        5.12 Users shall not attempt to gain unauthorised access to the User
        accounts, Servers or networks connected to YFTChain Services by any
        means other than the User interface provided by YFTChain, including but
        not limited to, by circumventing or modifying, attempting to circumvent
        or modify, or encouraging or assisting any other person to circumvent or
        modify, any security, technology, device, or software that underlies or
        is part of YFTChain Services. Such actions would be illegal and
        inappropriate and YFTChain reserves all rights to initiate legal steps
        as it deems fit.
        <br /><br />
        5.13 Without limiting the foregoing, Users shall not use YFTChain for
        any of the following activities :
        <br /><br />
        o To engage in any obscene, offensive, indecent, racial, communal,
        anti-national, objectionable, defamatory or abusive action or
        communication;
        <br /><br />
        o To harass, stalk, threaten, or otherwise violate any legal rights of
        other individuals;
        <br /><br />
        o To publish, post, upload, e-mail, distribute, or disseminate
        (collectively, "Transmit") any inappropriate, profane, defamatory,
        infringing, obscene, indecent, or unlawful content;
        <br /><br />
        o To Transmit files that contain viruses, corrupted files, or any other
        similar software or programs that may damage or adversely affect the
        operation of another person's computer, YFTChain, any software,
        hardware, or telecommunications equipment;
        <br /><br />
        o To advertise, offer or sell any goods or services for any commercial
        purpose on YFTChain without the express written consent of YFTChain;
        <br /><br />
        o To download any file, recompile or disassemble or otherwise affect our
        products that you know or reasonably should know cannot be legally
        obtained in such manner;
        <br /><br />
        o To falsify or delete any author attributions, legal or other proper
        notices or proprietary designations or labels of the origin or the
        source of software or other material;
        <br /><br />
        o To restrict or inhibit any other user from using and enjoying any
        public area within our sites;
        <br /><br />
        o To collect or store personal information about other Users;
        <br /><br />
        o To interfere with or disrupt YFTChain, servers, or networks;
        <br /><br />
        o To impersonate any person or entity, including, but not limited to, a
        representative of YFTChain, or falsely state or otherwise misrepresent
        User's affiliation with a person or entity;
        <br /><br />
        o To forge headers or manipulate identifiers or other data in order to
        disguise the origin of any content transmitted through YFTChain or to
        manipulate User's presence on YFTChain(s);
        <br /><br />
        o To take any action that imposes an unreasonably or disproportionately
        large load on our infrastructure;
        <br /><br />
        o To conduct any activities that may be in contravention of the National
        Anti-Doping Act, 2022 or any other applicable laws.
        <br /><br />
        o To engage in any illegal activities. You agree to use our bulletin
        board services, chat areas, news groups, forums, communities and/or
        message or communication facilities (collectively, the "Forums") only to
        send and receive messages and material that are proper and related to
        that particular Forum.
        <br /><br />
        5.14 If a User chooses a username that, in YFTChain's considered opinion
        is obscene, indecent, abusive or that might subject YFTChain to public
        disparagement or scorn, or a name which is an official
        team/league/franchise names and/or name of any sporting personality, as
        the case may be, YFTChain reserves the right, without prior notice to
        the User, to restrict usage of such names, which in YFTChain’s opinion
        fall within any of the said categories and/or change such username and
        intimate the User or delete such username and posts from YFTChain, deny
        such User access to YFTChain, or any combination of these options.
        <br /><br />
        5.15 Unauthorized access to YFTChain is a breach of these Terms and
        Conditions, and a violation of the law. Users agree not to access
        YFTChain by any means other than through the interface that is provided
        by YFTChain for use in accessing YFTChain. Users agree not to use any
        automated means, including, without limitation, agents, robots, scripts,
        or spiders, to access, monitor, or copy any part of our sites, except
        those automated means that we have approved in advance and in writing.
        Such actions would be illegal and all rights to initiate legal actions
        under the applicable law.
        <br /><br />
        5.16 Use of YFTChain is subject to applicable laws and regulations.
        Nothing contained in these Terms and Conditions shall limit YFTChain's
        right to comply with governmental, court, and law-enforcement requests
        or requirements relating to Users' use of YFTChain.
        <br /><br />
        5.17 Users may reach out to YFTChain through -
        <br /><br />
        o Contact us if the user has any concerns with regard to a post, video
        posted, report card generated and/or trial within Forty Eight (48) hours
        of such content created.
        <br /><br />
        5.18 Persons below the age of six (6) years are not allowed to register
        themselves on the YFTChain platform. The Users will have to disclose
        their real age at the time of getting access into the YFTChain Platform.
        <br /><br />
        5.19 YFTChain may not be held responsible for any content contributed by
        Users on the YFTChain.
        <br /><br />
        6. Users
        <br /><br />
        6.1 Types of users
        <br /><br />
        o YFTChain platform allows individuals to register t on the platform in
        the following sub categories with more sub categories. The term “User”
        shall encapsulate the terms stated below:
        <br /><br />
        o Players
        <br /><br />
        § Grassroots (6 years - 12 years): Any Player between the age of 6 years
        to 12 years shall be referred to as “Grassroots Player”. By Creating an
        account on the YFTChain Platform as a Grassroots Player, you agree that
        you operate on the Platform under parental supervision and do not hold
        YFTChain Platform liable for any loss of data, information, profits,
        revenues, or consequential, special, indirect, exemplary, punitive or
        incidental damages arising out of any correspondence, transactions or
        any activities conducted between Yourself (Grassroots Player) and any
        other User or any third party.
        <br /><br />
        § Amateurs (13 years - 50 years): Players who have never received any
        remuneration other than for the actual expenses incurred during the
        course of their participation in or for any activity connected with
        Association football shall be regarded as "Amateur”. if you are an
        Amateur who is under the age of 18 years and are creating an account on
        the YFTChain Platform as an “Amateur”, then you agree that you operate
        on the Platform under parental supervision and do not hold YFTChain
        Platform liable for any loss of data, information, profits, revenues, or
        consequential, special, indirect, exemplary, punitive or incidental
        damages arising out of any correspondence, transactions or any
        activities conducted between yourself (Amateur) and any other User or
        any third party.
        <br /><br />
        § Professional (18 years - 50 years): Every player designated as
        professional by his State Association and/or AIFF and having a written
        contract with the club employing him. PrThe contracts shall be in
        accordance as per the t applicable laws, as well as the principles set
        out in FIFA rules and any additional rules promulgated in accordance
        with the definitions as mentioned herein.
        <br /><br />
        o The term “Academy” shall include the following:
        <br /><br />
        § Residential
        <br /><br />
        § Non-residential
        <br /><br />
        o The term “Club” shall include the following:
        <br /><br />
        § Residential
        <br /><br />
        § Non-residential
        <br /><br />
        The Term “User” shall include a Player, Academy and a Club
        <br /><br />
        6.2 Registration of a User
        <br /><br />
        o Any person or organisation can register themselves on the
        platform/website : wwww.yftchain.com by clicking on the “JOIN NOW”
        button
        <br /><br />
        o The person or organisation will have to register themselves on the
        platform/website providing more information depending on the member
        category they choose: Player OR club OR Academy
        <br /><br />
        § Players · First Name · Last Name · Email · Contact number (Mobile) ·
        Date of birth
        <br /><br />
        § Club · Club name · Email · Contact Number · Type of club
        <br /><br />
        a. Residential OR
        <br /><br />
        b. Non-residential
        <br /><br />
        § Academy · Academy name · Email · Contact Number · Type of academy
        <br /><br />
        a. Residential OR
        <br /><br />
        b. Non-residential
        <br /><br />
        o Once the user has provided all the information, the user is encouraged
        to read through the terms and conditions, privacy policy and thereafter
        needs to accept by checking the tick mark and click on “Agree and Join”
        <br /><br />
        o The user has partially registered themselves on the platform/website
        and will be confirmed by an email sent to their email id provided at the
        time of registration.
        <br /><br />
        o The confirmation email sent to the user will contain a link which the
        user has to click to verify their email and will be redirected to a web
        page where they will create their password.
        <br /><br />
        o The password set the by the user should contain at least one special
        character, one letter and one number.
        <br /><br />
        o After typing your password twice (to confirm it), the user will click
        on “create password” button.
        <br /><br />
        o The user has successfully completed the registration process of
        YFTChain and will be notified through an email from YFTChain.
        <br /><br />
        6.3 Sharing information
        <br /><br />
        o YFTChain allows its users to share information in numerous ways such
        as their personal details, professional details, employment details,
        content in the form of uploading post, articles, photos, videos,
        comments, likes.
        <br /><br />
        o Currently YFTChain platform does not allow users to send messages to
        each other.
        <br /><br />
        o Videos categorised as training and or match videos before uploading by
        clubs/academies are only accessible by certain users that are associated
        with the respective club or academy.
        <br /><br />
        o We are not obliged to publish any information or content on our
        service and can remove it with or without notice to the User.
        <br /><br />
        6.4 FooTPlayer
        <br /><br />
        o Definition of FooTPlayer: The term “FooTPlayer” refers to any
        user/player, as stipulated under Clause 6.1 herein, that is currently
        playing for a registered club and/or registered academy .
        <br /><br />
        o In order to be classified as a FooTPlayer, the player must receive a
        FooTPlayer request from a club/academy that is currently registered as a
        user on the YFTChain platform.
        <br /><br />
        o In order to the send a FooTPlayer request, the club/academy must be
        logged in on the YFTChain portal.
        <br /><br />
        o Once club/academy are logged in they need to do click on “Manage
        FooTPlayer and on the new page click on “Add Player”.
        <br /><br />
        o After that the club/academy will conduct search on the dialogue
        box/pop-up opened by providing details such as name, email ID and phone
        number of the player.
        <br /><br />
        o YFTChain platform will search its database and find the closest player
        matching as per the details provided by the club/academy.
        <br /><br />
        o If the detail of the player provided by club/academy matches with any
        player on the platform, it will show in the results with player name,
        position, category. If this is the player the club/academy wants to add,
        the club/academy will click on the "Add" button and an invitation will
        be sent to the player's account for acceptance and confirmation.
        <br /><br />
        o If the details of the player provided in the search section by the
        club/academy does not match with any player on the YFTChain platform,
        the club/academy has the option to send a FooTPlayer invitation request.
        <br /><br />
        o The FooTPlayer invitation request can simply be sent by clicking on
        the button “Send Invitation” provided in the search results dialogue
        box/popup.
        <br /><br />
        o Now on the "Manage FooTPlayer" page, you can see the status of the
        invitation sent to each player.
        <br /><br />
        o Once the player accepts the request, the player will be added to the
        club / academy and can be found on the "Club’s / Academy's FooTPlayer"
        tab and "Manage FooTPlayer" Tab
        <br /><br />
        6.5 Conditions of FooTPlayer:
        <br /><br />
        o By entering the YFTChain platform and getting associated with a
        club/academy as their FooTPlayer, user agrees to be bound by these Terms
        and the decisions of YFTChain. Subject to the terms and conditions
        stipulated herein below, the Company, at its sole discretion, may remove
        any user as FooTPlayer for a particular club / academy, if the user
        engages in unfair conduct, which the Company deems to be improper,
        unfair or otherwise adverse to the operation of the YFTChain portal or
        is in any way detrimental to other Users which includes, but is not
        limited to:
        <br /><br />
        o Falsifying ones’ own personal information (including, but not limited
        to, name, email address, current club/academy details and/or any other
        information or documentation as may be requested by YFTChain to classify
        themselves or associated themselves with any club/academy.;
        <br /><br />
        o Using automated means (including but not limited to harvesting bots,
        robots, parser, spiders or screen scrapers) to obtain, collect or access
        any information on the Website or of any User for any purpose
        <br /><br />
        o Tampering with the administration of a club/academy or trying to in
        any way tamper with the computer programs or any security measure
        associated with a club/academy;
        <br /><br />
        o Obtaining other users’ information without their express consent
        and/or knowledge and/or spamming other users (Spamming may include but
        shall not be limited to send unsolicited emails to users, sending bulk
        emails to YFTChain Users, sending unwarranted email content either to
        selected Users or in bulk); or
        <br /><br />
        o Abusing the Website in any way (‘unparliamentary language, slangs or
        disrespectful words’ are some of the examples of Abuse)
        <br /><br />
        o Violating the conditions as stipulated under Clause 5.13 of the Terms
        and Conditions herein.
        <br /><br />
        6.5.1 The FooTPlayer agrees that YFTChain reserves the right to initiate
        any action, including any civil or criminal action, as deemed suitable
        under the applicable law in case the FooTPlayer is found to be in
        violation of the Terms and Conditions mentioned herein.
        <br /><br />
        6.6 Creating Report cards for FooTPlayers
        <br /><br />
        o A club and or academy can also generated time stamped report cards for
        their FooTPlayers on the YFTChain platform.
        <br /><br />
        o The report card allows club or and academy to rate their FooTPlayers
        based on abilities and related attributes.
        <br /><br />
        o The club and or academy must provide scores for at least (3) abilities
        and (3) related attributes to be able to successfully publish a report
        card.
        <br /><br />
        o YFTChain does not guarantee and, or validate the scores attributed to
        a FooTPlayer by their associated club and or academy.
        <br /><br />
        o The club and or academy may choose the report card created by them to
        be saved as a draft and or publish.
        <br /><br />
        o Once the report card of the respective FooTPlayer player is published
        by the club and or academy, it becomes available on the respective
        FooTPlayer’s profile.
        <br /><br />
        o Once the published, the report card cannot be deleted as it is
        intended to serve as a digital proof of the FooTPlayer’s performance.
        <br /><br />
        o YFTChain shall not be held liable in case of any dispute in relation
        to the scores attributed to a FooTPlayer by his or her Club or Academy.
        <br /><br />
        6.7 Eligibility
        <br /><br />
        o The YFTChain platform is open only to players above the age of 6
        years. All players between the age of 6 years to 18 years shall be
        required to register and operate on YFTChain Platform or use YFTChain
        Services as per conditions stipulated and applicable on “Users” under
        Clause 6.1. YFTChain reserves the .
        <br /><br />
        o The YFTChain is open only to persons, currently residing in India.
        <br /><br />
        o Persons who wish to register must have a valid email address and phone
        number.
        <br /><br />
        o Only those users who have successfully registered on the YFTChain
        platform in accordance with the procedure outlined above shall be
        eligible to participate in the Services provided by YFTChain.
        <br /><br />
        7. Dispute and Dispute Resolution
        <br /><br />
        7.1 The courts of competent jurisdiction at Delhi shall have exclusive
        jurisdiction to determine any and all disputes arising out of, or in
        connection with, the YFTChain Services provided by YFTChain , the
        construction, validity, interpretation and enforceability of these Terms
        and Conditions, or the rights and obligations of the User(s) (including
        Participants) or YFTChain, as well as the exclusive jurisdiction to
        grant interim or preliminary relief in case of any dispute referred to
        arbitration as given below. All such issues and questions shall be
        governed and construed in accordance with the laws of the Republic of
        India.
        <br /><br />
        7.2 In the event of any legal dispute which may arise, the party raising
        the dispute shall provide a written notification ("Notification") to the
        other party. On receipt of Notification, the parties shall first try to
        resolve the dispute through discussions and/or mediation. In the event
        that the parties are unable to resolve the dispute within sixty (60)
        days of receipt of Notification, the dispute shall be settled by
        arbitration.
        <br /><br />
        7.3 The place of arbitration shall be Delhi, India. All arbitration
        proceedings shall be conducted in English and in accordance with the
        provisions of the Arbitration and Conciliation Act, 1996 both in terms
        of procedural and substantive aspects, as amended from time to time.
        <br /><br />
        7.4 The arbitration award will be final and binding on the Parties, and
        each Party will bear its own costs of arbitration and equally share the
        fees of the arbitrator unless the arbitral tribunal decides otherwise.
        The arbitrator shall be entitled to pass interim orders and awards,
        including the orders for specific performance and such orders would be
        enforceable in competent courts.
        <br /><br />
        7.5 Nothing contained in these Terms and Conditions shall prevent
        YFTChain from seeking and obtaining interim or permanent equitable or
        injunctive relief, or any other relief available to safeguard YFTChain
        interest prior to, during or following the filing of arbitration
        proceedings or pending the execution of a decision or award in
        connection with any arbitration proceedings from any court having
        jurisdiction to grant the same. The pursuit of equitable or injunctive
        relief shall not constitute a waiver on the part of YFTChain to pursue
        any remedy for monetary damages through the arbitration described
        herein.
        <br /><br />
        8. Release and Limitations of Liability
        <br /><br />
        8.1 Users shall access the YFTChain Services provided on YFTChain
        voluntarily and at their own risk. YFTChain shall, under no
        circumstances be held responsible or liable on account of any loss or
        damage sustained (including but not limited
        <br /><br />
        to any accident, injury, death, loss of property) by Users or any other
        person or entity during the course of access to the YFTChain Services
        (including participation in the platform.
        <br /><br />
        8.2 By accessing the YFTChain Services provided therein, Users hereby
        release from and agree and undertakes to indemnify YFTChain, and/ or any
        of its directors, employees, partners, associates and licensors, from
        and against all liability, cost, loss or expense arising out their
        access to the YFTChain Services including (but not limited to) personal
        injury and damage to property and whether direct, indirect,
        consequential, foreseeable, due to some negligent act or omission on
        their part, or otherwise.
        <br /><br />
        8.3 YFTChain accepts no liability, whether jointly or severally, for any
        errors or omissions, whether on behalf of itself or third parties in
        relation to the prizes.
        <br /><br />
        8.4 Users shall be solely responsible for any consequences which may
        arise due to their access of YFTChain Services by conducting an illegal
        act or due to non-conformity with these Terms and Conditions and other
        rules and regulations in relation to YFTChain Services, including
        provision of incorrect address or other personal details. Users also
        undertake to indemnify YFTChain and their respective officers,
        directors, employees and agents on the happening of such an event
        (including without limitation cost of attorney, legal charges etc.) on
        full indemnity basis for any loss/damage suffered by YFTChain on account
        of such act on the part of the Users.
        <br /><br />
        8.5 Users shall hold YFTChain, harmless from any third
        party/entity/organization claims arising from or related to such User's
        engagement with the YFTChain. In no event shall YFTChain be liable to
        any User for acts or omissions arising out of or related to User's
        engagement with the YFTChain .
        <br /><br />
        8.6 In consideration of YFTChain allowing Users to access the YFTChain
        Services, to the maximum extent permitted by law, the Users waive and
        release each and every right or claim, all actions, causes of actions
        (present or future) each of them has or may have against YFTChain, its
        respective agents, directors, officers, business associates, group
        companies, sponsors, employees, or representatives for all and any
        injuries, accidents, or mishaps (whether known or unknown) or (whether
        anticipated or unanticipated) arising out of the provision of YFTChain
        Services.
        <br /><br />
        8.7 YFTChain reserves the right to claim damages from Users who are
        found to be in wilful violation of the Terms and Conditions as mentioned
        herein, to the extent as permissible under the applicable law.
        <br /><br />
        9. Disclaimers
        <br /><br />
        9.1 To the extent permitted under applicable law, neither YFTChain nor
        its parent/holding company, subsidiaries, affiliates, directors,
        officers, professional advisors, employees shall be responsible for the
        deletion, the failure to store, the mis-delivery, or the untimely
        delivery of any information or material.
        <br /><br />
        9.2 To the extent permitted under applicable law, YFTChain shall not be
        responsible for any harm resulting from downloading or accessing any
        information or material, the quality of servers, games, products,
        YFTChain services or sites. YFTChain disclaims any responsibility for
        any inaccessibility that is caused by YFTChain’s maintenance on the
        servers or the technology that underlies our sites, failures of
        YFTChain's service providers (including telecommunications, hosting, and
        power providers), computer viruses, natural disasters or other
        destruction or damage of our facilities, acts of nature, war, civil
        disturbance, or any other cause beyond our reasonable control. In
        addition, YFTChain does not provide any warranty as to the content on
        the YFTChain(s). YFTChain(s) content is distributed on an "as is, as
        available" basis.
        <br /><br />
        9.3 Any material accessed, downloaded or otherwise obtained through
        YFTChain is done at the User's discretion, competence, acceptance and
        risk, and the User will be solely responsible for any potential damage
        to User's computer system or loss of data that results from a User's
        download of any such material.
        <br /><br />
        9.4 YFTChain shall make best endeavours to ensure that the YFTChain(s)
        is error-free and secure, however, neither YFTChain nor any of its
        partners, licensors or associates makes any warranty that:
        <br /><br />
        o the YFTChain(s) will meet Users' requirements,
        <br /><br />
        o YFTChain(s) will be uninterrupted, timely, secure, or error free
        <br /><br />
        o the results that may be obtained from the use of YFTChain(s) will be
        accurate or reliable; and
        <br /><br />
        o the quality of any products, YFTChain Services, information, or other
        material that Users purchase or obtain through YFTChain.com(s) will meet
        Users' expectations.
        <br /><br />
        9.5 In case YFTChain discovers any error, YFTChain reserves the right
        (exercisable at its discretion) to rectify the error in such manner as
        it deems fit. In case of exercise of remedies in accordance with this
        clause, YFTChain agrees to notify the User of the error and of the
        exercise of the remedy(ies) to rectify the same.
        <br /><br />
        9.6 To the extent permitted under applicable law, neither YFTChain nor
        its partners, licensors or associates shall be liable for any direct,
        indirect, incidental, special, or consequential damages arising out of
        the use of or inability to use our sites, even if we have been advised
        of the possibility of such damages.
        <br /><br />
        9.7 Any YFTChain Services, events or competitions being hosted or
        provided, or intended to be hosted on YFTChain platform and requiring
        specific permission or authority from any statutory authority or any
        state or the central government, or the board of directors shall be
        deemed cancelled or terminated, if such permission or authority is
        either not obtained or denied either before or after the availability of
        the relevant YFTChain Services, events or competition(s) are hosted or
        provided.
        <br /><br />
        9.8 To the extent permitted under applicable law, in the event of
        suspension or closure of any Services, events or Contests, Users shall
        not be entitled to make any demands, claims, on any nature whatsoever.
        <br /><br />
        9.9 YFTChain may be required under applicable law, to notify User(s) of
        certain events. User(s) hereby acknowledge and consent that such notices
        will be effective upon YFTChain posting them on the YFTChain or
        delivering them to the User through the email address provided by the
        User at the time of registration. User(s) may update their email address
        by contacting admin on the YFTChain at admin@yftchain.com. If they do
        not provide YFTChain with accurate information, YFTChain cannot be held
        liable for failure to notify the User.
        <br /><br />
        9.10 YFTChain shall not be liable for any delay or failure to perform
        Services under these Terms and Conditions, resulting from causes outside
        its reasonable control, including but not limited to any failure to
        perform due to unforeseen
        <br /><br />
        circumstances or cause beyond YFTChain's control such as acts of God,
        war, terrorism, riots, embargoes, acts of civil or military authorities,
        fire, floods, accidents, network infrastructure failures, strikes, or
        internet shutdowns as and when enforced by any Government Authority.
        <br /><br />
        9.11 YFTChain's failure to exercise or enforce any right or provision of
        these Terms and Conditions shall not constitute a waiver of such right
        or provision.
        <br /><br />
        9.12 Users agree that regardless of any statute or law to the contrary,
        any claim or cause of action arising out of or related to use of the
        YFTChain or these Terms must be filed within thirty (30) days of such
        claim or cause of action arising or be forever barred.
        <br /><br />
        9.13 These Terms and Conditions, including all terms, conditions, and
        policies that are incorporated herein by reference, constitute the
        entire agreement between the User(s) and Decoding Youth Talent Private
        Limited and govern your use of the YFTChain, superseding any prior
        agreements that any User may have with Decoding Youth Talent Private
        Limited.
        <br /><br />
        9.14 If any part of these Terms and Conditions is determined to be
        indefinite, invalid, or otherwise unenforceable, the rest of these Terms
        and Conditions shall continue in full force.
        <br /><br />
        9.15 YFTChain reserves the right to moderate, restrict or ban the use of
        the YFTChain, specifically to any User, or generally, in accordance with
        YFTChain's policy/policies from time to time, at its sole and absolute
        discretion and without any notice.
        <br /><br />
        9.16 YFTChain may, at its sole and absolute discretion, permanently
        close or temporarily suspend any YFTChain Services.
        <br /><br />
        9.17 YFTChain may from time to time conduct/organize, promotions/offers
        on the platform. Any two or more promotions cannot be clubbed together
        with any other promotions that are running simultaneously on the
        YFTChain platform.
        <br /><br />
        10. How to Contact Us”
        <br /><br />
        For general inquiries or any questions regarding the services, you may
        contact us admin@yftchain.com. If you think other user(s) has posted
        something that is against YFTChain Community Standards, if something
        already has or could
        <br /><br />
        potentially offend you or other user(s) , please report to us at
        help@yftchain.com. Please keep in mind that reporting anything to the
        above email address does not guarantee something YFTChain will remove
        it. Also, do not hesitate to report as we will keep your identity
        confidential and will not be disclosed to the user(s) who is reported.
        <br /><br />
        For any notices, or service of process, you may write us at:
        <br /><br />
        Decoding Youth Talent private Limited ,
        <br /><br />
        IIM Lucknow Incubator,
        <br /><br />
        B block, Industrial Area, Sector 62, Noida,
        <br /><br />
        Uttar Pradesh 201307.
        <br /><br />
        11. Grievance Redressal Mechanism
        <br /><br />
        YFTChain has a Grievance Officer to address your concerns regarding data
        safety, privacy, and the Platform usage, concerns. If you think other
        user(s) has posted something that is against YFTChain Community
        Standards, please report to s
        <br /><br />
        We will strive to resolve any reported issues raised by a Userwithin 30
        (thirty) days from receiving them.
        <br /><br />
        You may contact Mr. Kshitij Rai Handa, Grievance Officer at any of the
        following:
        <br /><br />
        Email Address: grievance@dyt-group.com
        <br /><br />
        Office Address: IIM Lucknow Incubator, IIM Lucknow, Noida Campus, Sector
        62, Noida - 201307
        <br /><br />
        Office Hours: 10:00 A.M. to 1:00 P.M., Monday to Friday.
      </p>
    </div>
    <br /><br /><br />
  </mat-card-content>
</mat-card>
<app-footer></app-footer>
