<app-admin-header
  [toggler]="sideBarToggle"
  (toggleChange)="updateSidebar($event)"
></app-admin-header>

<mat-drawer-container class="admin-wrapper" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="sideBarToggle">
    <app-admin-sidebar></app-admin-sidebar>
  </mat-drawer>

  <div class="sidenav-content" [ngClass]="{ sidenavToogle: !sideBarToggle }">
    <div class="admin-main">
      <!-- title breadcrum -->
      <div class="title-wrapper">
        <div class="title">
          <h3>Manage City</h3>
        </div>
        <div class="breadcrumb">
          <ul>
            <li>Master Data</li>
            <li>Manage Location</li>
            <li>Manage City</li>
          </ul>
        </div>
      </div>
      <!-- end of the breadcrum -->

      <!-- add state form  -->
      <div class="addform">
        <div class="form-block">
          <form [formGroup]="addCityForm">
            <div class="form-part">
              <div class="input-wrapper">
                <label>State</label>
                <select
                  formControlName="state_id"
                  matNativeControl
                  required
                  class="change-icon"
                  (change)="loadCityList($event.target.value)"
                >
                  <option value="">Select State</option>
                  <ng-container *ngFor="let state of stateArray">
                    <option value="{{ state.id }}">{{ state.name }}</option>
                  </ng-container>
                </select>
                <mat-error
                  *ngIf="
                    addCityForm.controls.state_id.invalid &&
                    addCityForm.controls.state_id.touched
                  "
                >
                  <span
                    *ngIf="addCityForm.controls.state_id.errors.required"
                    translate
                  >
                    State is required
                  </span>
                </mat-error>
              </div>
              <div class="input-wrapper">
                <label>City</label>
                <input
                  formControlName="name"
                  type="text"
                  matinput
                  placeholder="City"
                  #cityInput
                  (keyup.enter)="blurElement()"
                />
                <mat-error
                  *ngIf="
                    addCityForm.controls.name.invalid &&
                    addCityForm.controls.name.touched
                  "
                >
                  <span
                    *ngIf="addCityForm.controls.name.errors.required"
                    translate
                  >
                    City is required
                  </span>
                  <span *ngIf="addCityForm.controls.name.errors.pattern">
                    City format is invalid
                  </span>
                </mat-error>
              </div>
              <div class="input-wrapper">
                <button (click)="addCity()" [disabled]="!addCityForm.valid">
                  Add
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- end state form -->

      <!-- table -->
      <div class="middle-part">
        <!-- filter-section -->
        <div class="filter-wrapper">
          <!-- search form -->
          <div class="search">
            <div class="search-box">
              <input
                matInput
                placeholder="Search city"
                class="search-icon"
                (keyup)="applyFilter($event)"
              />
            </div>
          </div>
        </div>
        <!-- filter-seciton -->

        <!-- table -->
        <div class="table-container">
          <app-master-table
            [tableConfig]="tableConfig"
            [NumberColumn]="'true'"
            [rows]="dataSource"
            [TableActions]="ListAction"
            [sortEnabled]="false"
            [editMode]="editMode"
            [row]="row"
            [update]="update"
            (event)="onChange($event)"
            [pageSize]="pageSize"
            [pageNo]="selectedPage"
          ></app-master-table>
          <ng-template
            #ListAction
            let-name="name"
            let-id="id"
            let-serialNumber="serialNumber"
          >
            <div class="action-buttons" *ngIf="!editMode || id != cityId">
              <button matTooltip="Edit" (click)="editCity(name, id)">
                <img src="assets/images/icons/edit.png" alt="Edit" />
              </button>
            </div>
            <div class="action-buttons" *ngIf="editMode && id == cityId">
              <button matTooltip="Save" (click)="updateCity(name, id)">
                <img src="assets/images/icons/tick.png" alt="Edit" />
              </button>
              <button matTooltip="Cancel" (click)="cancelCity(name, id)">
                <img src="assets/images/icons/close01.png" alt="Delete" />
              </button>
            </div>
          </ng-template>
        </div>
      </div>

      <!-- pagination -->
      <app-pagination
        *ngIf="dataSource.data.length !== 0"
        [showData]="true"
        [showCount]="show_count"
        [totalRows]="total_count"
        [rowsPerPage]="pageSize"
        (onChange)="updatePage($event)"
      >
      </app-pagination>
    </div>
  </div>
</mat-drawer-container>
<app-footer></app-footer>
