<app-header></app-header>
<div class="site-wrapper">
  <div class="left-panel">
    <app-left-panel
      (sendFootData)="getConnectionStats($event)"
    ></app-left-panel>
  </div>
  <div class="right-panel">
    <div class="right-wrapper">
      <div class="main">
        <!-- heading -->
        <div class="heading">
          <h2>FooTMates</h2>
          <button class="icon-btn" (click)="openFilter()">
            <mat-icon class="material-icons">filter_alt</mat-icon>
          </button>
        </div>
        <!-- counts -->
        <div class="counts-wrapper">
          <div class="counts">
            <h2>
              {{ foot_data.footmate_requests | padzero }}
            </h2>
            <a
              [routerLink]="['/member/manage/foot-requests']"
              [routerLinkActive]="['active']"
              >FooTRequests
            </a>
          </div>
          <div class="counts">
            <h2>{{ foot_data.footmates | padzero }}</h2>
            <a
              [routerLink]="['/member/manage/foot-mates']"
              [routerLinkActive]="['active']"
              >FooTMates
            </a>
          </div>
        </div>
        <!-- player"" section -->
        <div class="player-wrapper">
          <ng-container *ngFor="let footMate of footMatesList">
            <div class="player-block">
              <img [src]="footMate.avatar" alt="" />
              <div class="profile-details">
                <h2 matTooltip="{{ footMate.name | capitalize }}">
                  <a
                    target="_blank"
                    [routerLink]="['/member/profile/public/', footMate.user_id]"
                    >{{
                      (footMate.name.length < 17
                        ? footMate.name
                        : (footMate.name | slice: 0:17) + '...'
                      ) | capitalize
                    }}
                  </a>
                </h2>
                <p>{{ footMate.position }}</p>
                <div class="player-categroy">
                  <h5>{{ footMate.player_type | titlecase }}</h5>
                  <a *ngIf="footMate.mutuals" (click)="openDialog(footMate)"
                    >{{
                      footMate.mutuals +
                        ' Mutual FooTMate' +
                        (footMate.mutuals > 1 ? 's' : '')
                    }}
                  </a>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="footMatesList.length === 0">
            <span class="no-data-found">
              No FooTMates found
            </span>
          </ng-container>
        </div>
        <!-- Pagination -->
        <app-pagination
          *ngIf="footMatesList.length !== 0"
          [showData]="false"
          [showCount]="show_count"
          [totalRows]="foot_data.footmates"
          [rowsPerPage]="pageSize"
          (onChange)="updatePage($event)"
          [selectedPage]="selectedPage"
        >
        </app-pagination>
      </div>
    </div>
    <div class="footer-fix">
      <app-copyright></app-copyright>
    </div>
  </div>
</div>
<app-filter
  [allowedFilters]="filtersList"
  (filterChanges)="onChangeFilter($event)"
></app-filter>
