<!-- <app-header></app-header>
<div class="site-wrapper">

  <div class="left-section">
    <app-left-panel
      [options]="panelOptions"
      (sendFootData)="getConnectionStats($event)"
    ></app-left-panel>
  </div>
  <div class="right-section">
    <div class="heading">
      <h3>Players You Might Know</h3>
    </div>
    <div class="tab-buttons">
      <a
        [routerLink]="['/member/manage/foot-requests']"
        [routerLinkActive]="['active']"
        >FootRequests <span>{{ foot_data.footmate_requests }}</span></a
      >
      <a
        [routerLink]="['/member/manage/foot-mates']"
        [routerLinkActive]="['active']"
        >FootMates <span>{{ foot_data.footmates }}</span></a
      >
    </div>
    <div class="filter-buttons">
      <button
        (click)="addActiveClass('activePosition')"
        [matMenuTriggerFor]="position"
        [ngClass]="{ active: switchClass.activePosition }"
      >
        Position
        <i-feather class="icon-size" name="chevron-down"></i-feather>
      </button>
      <button
        (click)="addActiveClass('activePlayerCategory')"
        [matMenuTriggerFor]="playercategory"
        [ngClass]="{ active: switchClass.activePlayerCategory }"
      >
        Player Category
        <i-feather class="icon-size" name="chevron-down"></i-feather>
      </button>
      <button
        (click)="addActiveClass('activeAge')"
        [matMenuTriggerFor]="age"
        [ngClass]="{ active: switchClass.activeAge }"
      >
        Age
        <i-feather class="icon-size" name="chevron-down"></i-feather>
      </button>
      <button
        (click)="addActiveClass('activeLocation')"
        [matMenuTriggerFor]="location"
        [ngClass]="{ active: switchClass.activeLocation }"
      >
        Location
        <i-feather class="icon-size" name="chevron-down"></i-feather>
      </button>
      <button
        (click)="addActiveClass('activeStrongFoot')"
        [matMenuTriggerFor]="strongfoot"
        [ngClass]="{ active: switchClass.activeStrongFoot }"
      >
        Strong Foot
        <i-feather class="icon-size" name="chevron-down"></i-feather>
      </button>
      <button (click)="clearFilters()">Clear Filter</button>

      <mat-menu #position="matMenu">
        <div (click)="$event.stopPropagation()">
          <h3>Select Position</h3>
          <div class="items">
            <span
              class="chk-box"
              *ngFor="let position of locationRangeFilters.positions"
            >
              <mat-checkbox
                [value]="position.name"
                (change)="
                  onChangeChecker(
                    $event,
                    locationRangeFilters.positionsArray,
                    'position'
                  )
                "
                [checked]="checkFilters"
                >{{ position.name }}</mat-checkbox
              >
            </span>
          </div>
        </div>
      </mat-menu>

      <mat-menu #playercategory="matMenu">
        <div (click)="$event.stopPropagation()">
          <h3>Select Player Category</h3>
          <div class="items">
            <span
              class="chk-box"
              *ngFor="let type of locationRangeFilters.playerType"
            >
              <mat-checkbox
                [value]="type.value"
                (change)="
                  onChangeChecker(
                    $event,
                    locationRangeFilters.playerTypeArray,
                    'player_category'
                  )
                "
                [checked]="checkFilters"
                >{{ type.name }}</mat-checkbox
              >
            </span>
          </div>
        </div>
      </mat-menu>

      <mat-menu #age="matMenu">
        <div (click)="$event.stopPropagation()">
          <h3>Select Age</h3>
          <div class="items">
            <span
              class="chk-box"
              *ngFor="let age of locationRangeFilters.ageRange"
            >
              <mat-checkbox
                [value]="age.value"
                (change)="
                  onChangeChecker(
                    $event,
                    locationRangeFilters.ageRangeArray,
                    'age'
                  )
                "
                [checked]="checkFilters"
                >{{ age.name }}</mat-checkbox
              >
            </span>
          </div>
        </div>
      </mat-menu>
      <mat-menu #location="matMenu">

        <div (click)="$event.stopPropagation()">
  <h3>Select Location</h3>
  <div class="wrapper-location">
    <div class="slt-wrapper">
      <select (change)="onSelectCountry($event)" [(ngModel)]="locationData.countryValue">
        <option value="">Select Country</option>
        <option *ngFor="let country of locationRangeFilters.countryData" [value]="getCountryValue(country)">
          {{ country.country }}</option>
      </select>
      <i-feather class="icon-size" name="chevron-down"></i-feather>
    </div>
    <div class="slt-wrapper">
      <select (change)="onSelectState($event)" [(ngModel)]="locationData.stateValue">
        <option value="">Select State</option>
        <option *ngFor="let state of locationRangeFilters.states" [value]="getStateValue(state)">{{ state.name }}
        </option>
      </select>
      <i-feather class="icon-size" name="chevron-down"></i-feather>
    </div>
    <div class="slt-wrapper">
      <select (change)="onSelectDistrict($event)" [(ngModel)]="locationData.districtValue">
        <option value="">Select District</option>
        <option *ngFor="let district of locationRangeFilters.districts" [value]="getDistrictValue(district)">
          {{ district.name }}</option>
      </select>
      <i-feather class="icon-size" name="chevron-down"></i-feather>
    </div>
  </div>
</div>
</mat-menu>

<mat-menu #strongfoot="matMenu">
  <div (click)="$event.stopPropagation()">
    <h3>Select Strong Foot</h3>
    <div class="items">
      <span class="chk-box" *ngFor="let type of locationRangeFilters.strongFoot">
        <mat-checkbox [value]="type.value" (change)="
                  onChangeChecker(
                    $event,
                    locationRangeFilters.strongFootArray,
                    'strong_foot'
                  )
                " [checked]="checkFilters">{{ type.name }}</mat-checkbox>
      </span>
    </div>
  </div>
</mat-menu>
</div>
<div class="playerwrapper">

  <ng-container *ngFor="let footMate of footMatesList">
  <div class="playerbox">
    <div class="top">
      <div class="dp">
        <img [src]="footMate.avatar" alt="" />
      </div>
      <div class="name">
        <strong>
          <a target="_blank" [routerLink]="['/member/profile/view/', footMate.user_id]">{{ footMate.name }}
          </a>
        </strong>
        <p>{{ footMate.position }}</p>
      </div>
    </div>
    <div class="middle">
      <h4 class="gray">{{ footMate.player_type }}</h4>
      <h4 *ngIf="footMate.mutuals">
        <a (click)="openDialog(footMate)">{{ footMate.mutuals }} Mutual Footmates</a>
      </h4>
    </div>
  </div>
</ng-container>
</div>
<ng-container *ngIf="footMatesList.length === 0">
  <span class="no-data-found">
    No FootMates Found
  </span>
</ng-container>

<app-pagination *ngIf="footMatesList.length !== 0" [showData]="false" [showCount]="show_count"
  [totalRows]="foot_data.footmates" [rowsPerPage]="pageSize" (onChange)="updatePage($event)"
  [selectedPage]="selectedPage">
</app-pagination>
</div>
</div> -->

<app-header></app-header>
<div class="site-wrapper">
  <div class="left-panel">
    <app-left-panel
      (sendFootData)="getConnectionStats($event)"
    ></app-left-panel>
  </div>
  <div class="right-panel">
    <div class="right-wrapper">
      <div class="main">
        <!-- heading -->
        <div class="heading">
          <h2>FooTMates</h2>
          <button class="icon-btn" (click)="openFilter()">
            <mat-icon class="material-icons">filter_alt</mat-icon>
          </button>
        </div>
        <!-- counts -->
        <div class="counts-wrapper">
          <div class="counts">
            <h2>
              {{ foot_data.footmate_requests | padzero }}
            </h2>
            <a
              [routerLink]="['/member/manage/foot-requests']"
              [routerLinkActive]="['active']"
              >FooTRequests
            </a>
          </div>
          <div class="counts">
            <h2>{{ foot_data.footmates | padzero }}</h2>
            <a
              [routerLink]="['/member/manage/foot-mates']"
              [routerLinkActive]="['active']"
              >FooTMates
            </a>
          </div>
        </div>
        <!-- player"" section -->
        <div class="player-wrapper">
          <ng-container *ngFor="let footMate of footMatesList">
            <div class="player-block">
              <img [src]="footMate.avatar" alt="" />
              <div class="profile-details">
                <h3>
                  <a
                    target="_blank"
                    [routerLink]="['/member/profile/view/', footMate.user_id]"
                    >{{ footMate.name }}
                  </a>
                </h3>
                <p>{{ footMate.position }}</p>
                <div class="player-categroy">
                  <h5>{{ footMate.player_type | titlecase }}</h5>
                  <a *ngIf="footMate.mutuals" (click)="openDialog(footMate)"
                    >{{ footMate.mutuals }} Mutual FooTMates</a
                  >
                </div>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="footMatesList.length === 0">
            <span class="no-data-found">
              No FooTMates Found
            </span>
          </ng-container>
        </div>
        <!-- Pagination -->
        <app-pagination
          *ngIf="footMatesList.length !== 0"
          [showData]="false"
          [showCount]="show_count"
          [totalRows]="foot_data.footmates"
          [rowsPerPage]="pageSize"
          (onChange)="updatePage($event)"
          [selectedPage]="selectedPage"
        >
        </app-pagination>
      </div>
    </div>
    <div class="footer-fix">
      <app-copyright></app-copyright>
    </div>
  </div>
</div>
<app-filter></app-filter>
