@import "src/assets/sass/abstracts/variables";
@import "src/assets/sass/abstracts/mixins";
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap");

.site-wrapper {
  width: 85%;
  max-width: 180rem;
  margin: 0 auto;
  display: flex;
  border-radius: 2rem;

  // Right Section
  .right-section {
    width: 75%;
    margin: 3rem 2rem;
    background: $color-white;
    border-radius: 0.8rem;
    .heading {
      padding: 2rem;
      border-bottom: 0.3rem solid #edf2f6;
      h3 {
        font-size: 2.8rem;
      }
    }
    .tab-buttons {
      padding: 2rem;
      border-bottom: 0.3rem solid #edf2f6;
      a {
        padding: 1rem 2rem;
        border-radius: 0.8rem;
        border: 1px solid $blue;
        color: $blue;
        background: transparent;
        margin-right: 1rem;
        cursor: pointer;
        outline: none;
        display: inline-block;
        font-size: 1.8rem;
        text-decoration: none;
        span {
          font-size: 1.4rem;
          border-radius: 0.7rem;
          background: $blue;
          padding: 0.2rem 1rem;
          color: $color-white;
          transform: translateY(-1px);
          display: inline-block;
          margin-left: 1rem;
        }
        &:hover,
        &.active {
          background: $blue;
          color: $color-white;
          span {
            background: #289af5;
          }
        }
      }
    }
    // filters
    .filter-buttons {
      padding: 2rem;
      border-bottom: 0.3rem solid #edf2f6;
      position: relative;
      button {
        padding: 1rem 3rem 1rem 2rem;
        border-radius: 0.8rem;
        border: 1px solid $blue;
        color: $blue;
        background: transparent;
        margin-right: 1rem;
        cursor: pointer;
        position: relative;
        outline: none;
        i-feather {
          position: absolute;
          top: 1rem;
          left: calc(100% - 2.5rem);
        }
        &:last-child {
          padding: 1rem 2rem 1rem 2rem;
        }
        &:hover,
        &.active {
          background: $blue;
          color: $color-white;
          span {
            background: #289af5;
          }
        }
      }
    }

    // players
    .playerwrapper {
      padding: 1rem;
      display: flex;
      flex-wrap: wrap;
      .playerbox {
        border: 1px solid $border-color;
        width: 31%;
        border-radius: 0.5rem;
        margin: 1.35rem;
        .top {
          display: flex;
          padding: 2rem;
          align-items: center;
          .dp {
            img {
              width: 35px;
              height: 35px;
              border-radius: 35px;
            }
          }
          .name {
            margin-left: 2rem;
            strong {
              font-size: 2rem;
            }
            p {
              font-size: 1.6rem;
              color: $text-muted;
            }
          }
        }
        .middle {
          padding: 2rem;
          border-top: 1px solid $border-color;
          display: flex;
          justify-content: space-between;
          align-items: center;
          h4 {
            font-size: 1.8rem;
            font-weight: 700;
            a {
              color: $blue;
            }
          }
        }
      }
    }
  }
}

// mega dropdown
::ng-deep {
  .mat-menu-panel {
    max-width: 100rem !important;
    width: 100% !important;
    padding: 2rem;
    .mat-menu-content {
      h3 {
        font-size: 2.2rem;
        margin-bottom: 1rem;
      }
      .items {
        span.chk-box {
          display: inline-block;
          font-size: 1.8rem;
          margin: 1rem 2rem 1rem 0rem;
          padding: 1rem 2rem;
          box-shadow: 0rem 0rem 0.5rem 0rem rgba(0, 0, 0, 0.2);
          ::ng-deep {
            .mat-checkbox-checked.mat-accent .mat-checkbox-background {
              background: $blue !important;
            }
          }
        }
      }
      .wrapper-location {
        display: flex;
        justify-content: space-between;
        .slt-wrapper {
          width: 25rem;
          position: relative;
          margin: 0 1rem;
          select {
            width: 100%;
            padding: 1rem;
            appearance: none;
          }
          i-feather {
            position: absolute;
            left: calc(100% - 3rem);
            top: 1rem;
          }
        }
      }
    }
  }
}
