@import "src/assets/sass/abstracts/variables";
@import "src/assets/sass/abstracts/mixins";

.filter-container {
  width: 100%;
  background: rgba($fourth-color, 0.5);
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;

  .filter-wrapper {
    position: absolute;
    right: 0;
    top: 8.5rem;
    max-width: 40rem;
    width: 100%;
    z-index: 9999;
    background: $white-color;
    height: calc(100% - 8.5rem);
    @include shadow;
    padding: 2rem;
    overflow-y: scroll;
    padding-bottom: 15rem;

    @include responsive(bigphone) {
      top: 14.5rem;
    }

    .close {
      text-align: right;
    }

    .head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 0 2rem;
      border-bottom: 1px solid $second-color;
      margin-bottom: 1rem;

      h2 {
        color: $second-color;
        font-weight: 500;
      }

      button {
        background-color: $primary-color;
        border: none;
        color: $white-color;
        padding: 1rem 2rem;
        border-radius: 5rem;
        cursor: pointer;
        outline: none;
      }
    }

    // filter-group
    .filter-group {
      .filter-title {
        padding: 1rem 0;

        h3 {
          a {
            display: flex;
            align-items: center;
            font-weight: 500;
          }
        }
      }

      .filter-checks {
        list-style: none;

        li {
          margin-bottom: 1rem;

          ::ng-deep {
            .mat-checkbox .mat-checkbox-frame {
              border-color: $primary-color !important;
            }

            .mat-checkbox .mat-checkbox-layout .mat-checkbox-label {
              font-weight: 400 !important;
            }

            .mat-checkbox .mat-checkbox-layout .mat-checkbox-inner-container {
              width: 18px;
              height: 18px;
            }
          }
        }
      }
    }
  }
}

.remove-filter {
  display: none;
}
