<ng-container *ngIf="showFilter">
  <div class="filter-container">
    <div class="filter-wrapper">
      <div class="close">
        <button class="icon-btn">
          <mat-icon class="material-icons" (click)="closeFilter()"
            >close</mat-icon
          >
        </button>
      </div>
      <div class="head">
        <h2>{{ filterHeading }}</h2>
        <button (click)="clearFilters()">Clear filters</button>
      </div>
      <!-- position -->
      <div class="filter-group" *ngIf="allowedFilters.position">
        <div class="filter-title" (click)="toggleFilter('position')">
          <h3>
            <a>
              Position
              <mat-icon class="material-icons">arrow_drop_down</mat-icon>
            </a>
          </h3>
        </div>
        <ul class="filter-checks position-filter" #position>
          <li *ngFor="let position of locationRangeFilters.positions">
            <mat-checkbox
              [value]="position.name"
              (change)="
                onChangeChecker(
                  $event,
                  locationRangeFilters.positionsArray,
                  'position'
                )
              "
              [checked]="
                locationRangeFilters.positionsArray.includes(position.name)
              "
              >{{ position.name }}</mat-checkbox
            >
          </li>
        </ul>
      </div>

      <!-- Player category -->
      <div class="filter-group" *ngIf="allowedFilters.playerCategory">
        <div class="filter-title" (click)="toggleFilter('playercategory')">
          <h3>
            <a
              >Player category
              <mat-icon class="material-icons">arrow_drop_down</mat-icon></a
            >
          </h3>
        </div>
        <ul class="filter-checks playercategory-filter" #playercategory>
          <li *ngFor="let type of locationRangeFilters.playerType">
            <mat-checkbox
              [value]="type.value"
              (change)="
                onChangeChecker(
                  $event,
                  locationRangeFilters.playerTypeArray,
                  'footplayer_category'
                )
              "
              [checked]="
                locationRangeFilters.playerTypeArray.includes(type.value)
              "
              >{{ type.name }}</mat-checkbox
            >
          </li>
        </ul>
      </div>

      <!-- Age -->
      <div class="filter-group" *ngIf="allowedFilters.age">
        <div class="filter-title" (click)="toggleFilter('age')">
          <h3>
            <a>
              Age
              <mat-icon class="material-icons">arrow_drop_down</mat-icon>
            </a>
          </h3>
        </div>
        <ul class="filter-checks age-filter" #age>
          <li *ngFor="let age of locationRangeFilters.ageRange">
            <mat-checkbox
              [value]="age.value"
              (change)="
                onChangeChecker(
                  $event,
                  locationRangeFilters.ageRangeArray,
                  'age'
                )
              "
              [checked]="locationRangeFilters.ageRangeArray.includes(age.value)"
              >{{ age.name }}</mat-checkbox
            >
          </li>
        </ul>
      </div>

      <!-- Location -->
      <div class="filter-group" *ngIf="allowedFilters.location">
        <div class="filter-title" (click)="toggleFilter('location')">
          <h3>
            <a>
              Location
              <mat-icon class="material-icons">arrow_drop_down</mat-icon>
            </a>
          </h3>
        </div>
        <ul class="filter-checks location-filter" #location>
          <li>
            <div class="form-block">
              <select
                (change)="onSelectCountry($event)"
                [(ngModel)]="locationData.countryValue"
              >
                <option value="">Select Country</option>
                <option
                  *ngFor="let country of locationRangeFilters.countryData"
                  [value]="getLocationValue(country)"
                >
                  {{ country.country }}</option
                >
              </select>
            </div>
          </li>
          <li>
            <div class="form-block">
              <select
                (change)="onSelectState($event)"
                [(ngModel)]="locationData.stateValue"
              >
                <option value="">Select State</option>
                <option
                  *ngFor="let state of locationRangeFilters.states"
                  [value]="getLocationValue(state)"
                  >{{ state.name }}
                </option>
              </select>
            </div>
          </li>
          <li>
            <div class="form-block">
              <select
                (change)="onSelectDistrict($event)"
                [(ngModel)]="locationData.districtValue"
              >
                <option value="">Select District</option>
                <option
                  *ngFor="let district of locationRangeFilters.districts"
                  [value]="getLocationValue(district)"
                >
                  {{ district.name }}</option
                >
              </select>
            </div>
          </li>
        </ul>
      </div>

      <!-- strong foot -->
      <div class="filter-group" *ngIf="allowedFilters.strongFoot">
        <div class="filter-title" (click)="toggleFilter('strongfoot')">
          <h3>
            <a>
              Strong Foot
              <mat-icon class="material-icons">arrow_drop_down</mat-icon>
            </a>
          </h3>
        </div>
        <ul class="filter-checks strongfoot-filter" #strongfoot>
          <li *ngFor="let type of locationRangeFilters.strongFoot">
            <mat-checkbox
              [value]="type.value"
              (change)="
                onChangeChecker(
                  $event,
                  locationRangeFilters.strongFootArray,
                  'strong_foot'
                )
              "
              [checked]="
                locationRangeFilters.strongFootArray.includes(type.value)
              "
              >{{ type.name }}</mat-checkbox
            >
          </li>
        </ul>
      </div>

      <!-- Status -->
      <div class="filter-group" *ngIf="allowedFilters.status">
        <div class="filter-title" (click)="toggleFilter('status')">
          <h3>
            <a
              >Status
              <mat-icon class="material-icons">arrow_drop_down</mat-icon>
            </a>
          </h3>
        </div>
        <ul class="filter-checks status-filter" #status>
          <li *ngFor="let status of locationRangeFilters.status">
            <mat-checkbox
              [value]="status.value"
              (change)="
                onChangeChecker(
                  $event,
                  locationRangeFilters.statusArray,
                  'status'
                )
              "
              [checked]="
                locationRangeFilters.statusArray.includes(status.value)
              "
              >{{ status.name }}</mat-checkbox
            >
          </li>
        </ul>
      </div>
      <div class="filter-group" *ngIf="allowedFilters.reportStatus">
        <div class="filter-title" (click)="toggleFilter('reportstatus')">
          <h3>
            <a
              >Status
              <mat-icon class="material-icons">arrow_drop_down</mat-icon>
            </a>
          </h3>
        </div>
        <ul class="filter-checks reportstatus-filter" #reportstatus>
          <li *ngFor="let reportStatus of locationRangeFilters.reportStatus">
            <mat-checkbox
              [value]="reportStatus.value"
              (change)="
                onChangeChecker(
                  $event,
                  locationRangeFilters.reportStatusArray,
                  'report_status'
                )
              "
              [checked]="
                locationRangeFilters.reportStatusArray.includes(
                  reportStatus.value
                )
              "
              >{{ reportStatus.name }}</mat-checkbox
            >
          </li>
        </ul>
      </div>

      <!-- ability -->
      <div class="filter-group" *ngIf="allowedFilters.ability">
        <div class="filter-title" (click)="toggleFilter('ability')">
          <h3>
            <a
              >Ability
              <mat-icon class="material-icons">arrow_drop_down</mat-icon>
            </a>
          </h3>
        </div>
        <ul class="filter-checks ability-filter" #ability>
          <li *ngFor="let ability of locationRangeFilters.ability">
            <mat-checkbox
              [value]="ability.name"
              (change)="
                onChangeChecker(
                  $event,
                  locationRangeFilters.abilityArray,
                  'ability'
                )
              "
              [checked]="
                locationRangeFilters.abilityArray.includes(ability.name)
              "
              >{{ ability.name }}</mat-checkbox
            >
          </li>
        </ul>
      </div>

      <!-- Type of team -->
      <div class="filter-group" *ngIf="allowedFilters.teamTypes">
        <div class="filter-title" (click)="toggleFilter('teamtype')">
          <h3>
            <a
              >Type of team
              <mat-icon class="material-icons">arrow_drop_down</mat-icon>
            </a>
          </h3>
        </div>
        <ul class="filter-checks teamtype-filter" #teamtype>
          <li *ngFor="let team of locationRangeFilters.teamTypes">
            <mat-checkbox
              [value]="team"
              (change)="
                onChangeChecker(
                  $event,
                  locationRangeFilters.teamTypesArray,
                  'typeOfTeams'
                )
              "
              [checked]="locationRangeFilters.teamTypesArray.includes(team)"
              >{{ team }}</mat-checkbox
            >
          </li>
        </ul>
      </div>

      <!-- Published date range -->
      <div class="filter-group" *ngIf="allowedFilters.dateRange">
        <div class="filter-title" (click)="toggleFilter('daterange')">
          <h3>
            <a>
              Published date range
              <mat-icon class="material-icons">arrow_drop_down</mat-icon>
            </a>
          </h3>
        </div>
        <ul class="filter-checks daterange-filter" #daterange>
          <li>
            <div class="form-block pb-0">
              <div class="double ">
                <div class="half">
                  <div class="date pb-0">
                    <input
                      [value]="locationRangeFilters.dateRange.from"
                      matInput
                      [matDatepicker]="fromYear"
                      readonly
                      placeholder="From"
                      [max]="today"
                      (dateChange)="onDateChangeChecker($event, 'from')"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="fromYear"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #fromYear> </mat-datepicker>
                  </div>
                </div>
                <div class="half">
                  <div class="date pb-0">
                    <input
                      [value]="locationRangeFilters.dateRange.to"
                      matInput
                      [matDatepicker]="toYear"
                      readonly
                      placeholder="To"
                      [max]="today"
                      (dateChange)="onDateChangeChecker($event, 'to')"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="toYear"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #toYear> </mat-datepicker>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</ng-container>
