<button
  (click)="addActiveClass('activePosition')"
  [matMenuTriggerFor]="position"
  [ngClass]="{ active: switchClass.activePosition }"
>
  Position
  <i-feather class="icon-size" name="chevron-down"></i-feather>
</button>
<button
  (click)="addActiveClass('activePlayerCategory')"
  [matMenuTriggerFor]="playercategory"
  [ngClass]="{ active: switchClass.activePlayerCategory }"
>
  Player Category
  <i-feather class="icon-size" name="chevron-down"></i-feather>
</button>
<button
  (click)="addActiveClass('activeAge')"
  [matMenuTriggerFor]="age"
  [ngClass]="{ active: switchClass.activeAge }"
>
  Age
  <i-feather class="icon-size" name="chevron-down"></i-feather>
</button>
<button
  (click)="addActiveClass('activeLocation')"
  [matMenuTriggerFor]="location"
  [ngClass]="{ active: switchClass.activeLocation }"
>
  Location
  <i-feather class="icon-size" name="chevron-down"></i-feather>
</button>
<button
  (click)="addActiveClass('activeStrongFoot')"
  [matMenuTriggerFor]="strongfoot"
  [ngClass]="{ active: switchClass.activeStrongFoot }"
>
  Strong Foot
  <i-feather class="icon-size" name="chevron-down"></i-feather>
</button>
<button
  (click)="addActiveClass('activeStrongFoot')"
  [ngClass]="{ active: switchClass.activeStrongFoot }"
>
  Types Of Teams
  <i-feather class="icon-size" name="chevron-down"></i-feather>
</button>
<button (click)="clearFilters()">Clear Filter</button>
<!-- postion -->
<mat-menu #position="matMenu">
  <div (click)="$event.stopPropagation()">
    <h3>Select Position</h3>
    <div class="items">
      <span
        class="chk-box"
        *ngFor="let position of locationRangeFilters.positions"
      >
        <mat-checkbox
          [value]="position.name"
          (change)="
            onChangeChecker(
              $event,
              locationRangeFilters.positionsArray,
              'position'
            )
          "
          [checked]="checkFilters"
          >{{ position.name }}</mat-checkbox
        >
      </span>
    </div>
  </div>
</mat-menu>
<!-- playercatergory -->
<mat-menu #playercategory="matMenu">
  <div (click)="$event.stopPropagation()">
    <h3>Select Player Category</h3>
    <div class="items">
      <span
        class="chk-box"
        *ngFor="let type of locationRangeFilters.playerType"
      >
        <mat-checkbox
          [value]="type.value"
          (change)="
            onChangeChecker(
              $event,
              locationRangeFilters.playerTypeArray,
              'player_category'
            )
          "
          [checked]="checkFilters"
          >{{ type.name }}</mat-checkbox
        >
      </span>
    </div>
  </div>
</mat-menu>
<!-- Age -->
<mat-menu #age="matMenu">
  <div (click)="$event.stopPropagation()">
    <h3>Select Age</h3>
    <div class="items">
      <span class="chk-box" *ngFor="let age of locationRangeFilters.ageRange">
        <mat-checkbox
          [value]="age.value"
          (change)="
            onChangeChecker($event, locationRangeFilters.ageRangeArray, 'age')
          "
          [checked]="checkFilters"
          >{{ age.name }}</mat-checkbox
        >
      </span>
    </div>
  </div>
</mat-menu>
<mat-menu #location="matMenu">
  <!-- location -->
  <div (click)="$event.stopPropagation()">
    <h3>Select Location</h3>
    <div class="wrapper-location">
      <div class="slt-wrapper">
        <select
          (change)="onSelectCountry($event)"
          [(ngModel)]="locationData.countryValue"
        >
          <option value="">Select Country</option>
          <option
            *ngFor="let country of locationRangeFilters.countryData"
            [value]="getCountryValue(country)"
            >{{ country.country }}</option
          >
        </select>
        <i-feather class="icon-size" name="chevron-down"></i-feather>
      </div>
      <div class="slt-wrapper">
        <select
          (change)="onSelectState($event)"
          [(ngModel)]="locationData.stateValue"
        >
          <option value="">Select State</option>
          <option
            *ngFor="let state of locationRangeFilters.states"
            [value]="getStateValue(state)"
            >{{ state.name }}</option
          >
        </select>
        <i-feather class="icon-size" name="chevron-down"></i-feather>
      </div>
      <div class="slt-wrapper">
        <select
          (change)="onSelectCity($event)"
          [(ngModel)]="locationData.cityValue"
        >
          <option value="">Select City</option>
          <option
            *ngFor="let city of locationRangeFilters.cities"
            [value]="getCityValue(city)"
            >{{ city.name }}</option
          >
        </select>
        <i-feather class="icon-size" name="chevron-down"></i-feather>
      </div>
    </div>
  </div>
</mat-menu>
<!-- strong foot -->
<mat-menu #strongfoot="matMenu">
  <div (click)="$event.stopPropagation()">
    <h3>Select Strong Foot</h3>
    <div class="items">
      <span
        class="chk-box"
        *ngFor="let type of locationRangeFilters.strongFoot"
      >
        <mat-checkbox
          [value]="type.value"
          (change)="
            onChangeChecker(
              $event,
              locationRangeFilters.strongFootArray,
              'strong_foot'
            )
          "
          [checked]="checkFilters"
          >{{ type.name }}</mat-checkbox
        >
      </span>
    </div>
  </div>
</mat-menu>
