<app-admin-header
  [toggler]="sideBarToggle"
  (toggleChange)="updateSidebar($event)"
></app-admin-header>

<mat-drawer-container class="admin-wrapper" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="sideBarToggle">
    <app-admin-sidebar></app-admin-sidebar>
  </mat-drawer>

  <div class="sidenav-content" [ngClass]="{ sidenavToogle: !sideBarToggle }">
    <div class="admin-main">
      <!-- title breadcrum -->
      <div class="title-wrapper">
        <div class="title">
          <h3>Manage State <span>India</span></h3>
        </div>
        <div class="breadcrumb">
          <ul>
            <li>Master Data</li>
            <li>Manage Location</li>
            <li>Manage State</li>
          </ul>
        </div>
      </div>
      <!-- end of the breadcrum -->

      <!-- add state form  -->
      <div class="addform">
        <div class="heading">
          <img src="assets/images/icons/plus.png" alt="" />
          <h3>Add State</h3>
        </div>
        <div class="form-block">
          <form [formGroup]="addStateForm">
            <div class="form-part">
              <div class="input-wrapper">
                <label>State</label>
                <input
                  formControlName="name"
                  type="text"
                  matinput
                  placeholder="Add new state"
                />
                <mat-error
                  *ngIf="
                    addStateForm.controls.name.invalid &&
                    addStateForm.controls.name.touched
                  "
                >
                  <span
                    *ngIf="addStateForm.controls.name.errors.required"
                    translate
                  >
                    State is required
                  </span>
                  <span *ngIf="addStateForm.controls.name.errors.pattern">
                    State format is invalid
                  </span>
                </mat-error>
              </div>
              <div class="input-wrapper">
                <button (click)="addState()" [disabled]="!addStateForm.valid">
                  Add
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- end state form -->

      <!-- table -->
      <div class="middle-part">
        <!-- table -->
        <div class="table-container">
          <app-master-table
            [tableConfig]="tableConfig"
            [NumberColumn]="'true'"
            [rows]="dataSource"
            [TableActions]="ListAction"
            [editMode]="editMode"
            [sortEnabled]="false"
            [row]="row"
            [update]="update"
            (event)="onChange($event)"
          ></app-master-table>
          <ng-template
            #ListAction
            let-name="name"
            let-id="id"
            let-serialNumber="serialNumber"
          >
            <div class="action-buttons" *ngIf="!editMode || id != stateId">
              <button (click)="editState(name, id)">
                <img src="assets/images/icons/edit.png" alt="Edit" />
              </button>
            </div>
            <div class="action-buttons" *ngIf="editMode && id == stateId">
              <button (click)="updateState(name, id)">
                <img src="assets/images/icons/tick.png" alt="Update" />
              </button>
              <button (click)="cancelState(name, id)">
                <img src="assets/images/icons/close01.png" alt="Cancel" />
              </button>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</mat-drawer-container>
<app-footer></app-footer>
