<div class="add-edit-content card">
  <div class="card__header">
    <div class="heading">
      <h2 *ngIf="!updateMode">Add Content</h2>
      <h2 *ngIf="updateMode">Edit Content</h2>
    </div>
    <div class="page-navigator">
      <button class="btn btn-gredient">Publish</button>
    </div>
  </div>
  <div class="card-body">
    <div class="tab-container">
      <div class="tabs">
        <button class="tablinks" (click)="openTab($event, 'English')" #defaultOpen>English</button>
        <button class="tablinks" (click)="openTab($event, 'Hindi')">Hindi</button>
        <button class="tablinks" (click)="openTab($event, 'Marathi')">Marathi</button>
        <button class="tablinks" (click)="openTab($event, 'Kannada')">Kannada</button>
      </div>
      <ng-template #FormRef>
        <form (ngSubmit)="submitToDb()" [formGroup]="contentForm" novalidate>
          <div fxLayout="row wrap">
            <div class="form-group" fxFlex style="margin-right: 2rem;">
              <label for="">Content Title</label>
              <input type="text" class="input__text" formControlName="title" />
            </div>
            <div class="form-group" fxFlex>
              <label for="">Department</label>
              <select formControlName="departments">
                <option value="Choose Department" disabled>Choose Department</option>
                <option *ngFor="let option of selectOptions" [ngValue]="option">{{ option }}</option>
              </select>
            </div>
          </div>
          <div fxLayout="row wrap">
            <div class="form-group" fxFlex="100%">
              <ckeditor #ref style="min-height: 31.0rem;border-radius: 0;" class="" formControlName="content">
              </ckeditor>
            </div>
            <div class="action-block" fxFlex="28%">
              <button class="btn btn-block btn-gredient">Submit</button>
            </div>
          </div>
        </form>
      </ng-template>
      <div id="English" class="tabcontent">
        <ng-template [ngTemplateOutlet]="FormRef"></ng-template>
      </div>
      <div id="Hindi" class="tabcontent">
        <ng-template [ngTemplateOutlet]="FormRef"></ng-template>
      </div>
      <div id="Marathi" class="tabcontent">
        <ng-template [ngTemplateOutlet]="FormRef"></ng-template>
      </div>
      <div id="Kannada" class="tabcontent">
        <ng-template [ngTemplateOutlet]="FormRef"></ng-template>
      </div>
    </div>
  </div>
</div>
