@import "src/assets/sass/abstracts/variables";
.add-edit-content {
  .card__header {
    margin-bottom: 4.5rem;
  }
  .card-body {
    form {
      .action-block {
        margin-bottom: 5rem;
        .btn {
          padding: 1.9rem 1.9rem;
          font-size: 1.8rem;
          border: none;
          color: $color-white;
          font-weight: 400;
        }
      }
    }
  }
}
