<header class="header">
  <div class="logo">
    <a [routerLink]="['/home']">
      <img src="assets/images/website/logo.png" alt="brand-logo" />
    </a>
  </div>
</header>

<mat-card>
  <mat-card-content>
    <h1>How to Delete Your YFT Account on a Computer</h1>
    <div class="main-div">
      <p>
        At YFT, we are committed to providing an excellent platform for player
        development, scouting, and academy management. However, if you choose to
        delete your YFT account, we’ve made the process quick and easy. Just
        follow the steps below:
      </p>
      <br /><br />
      <h3>
        Steps to Delete Your YFT Account
      </h3>
      <br />
      <ol style="line-height: 200%; font-size: 14px; margin-left: 2%;">
        <li>
          <b>Open the YFT Website:</b> Visit the YFT website by navigating to
          https://www.yftchain.com/ and sign in to your account.
        </li>
        <li>
          <b>Go to 'My Profile':</b>Once logged in, click on the "My Profile"
          tab in the left-hand column, located next to the timeline. From the
          menu, select “My Profile.”
        </li>
        <li>
          <b>Select 'Delete Account':</b> Below your profile name, you will see
          the "Delete Account" option. Click on it to proceed with the deletion.
        </li>

        <li>
          <b>Confirm Account Deletion:</b> A new page will open displaying a
          confirmation message. Carefully review the information, and if you are
          certain, click "Delete Account" to proceed.
        </li>
        <li>
          <b>Final Confirmation:</b> A pop-up will appear asking, "Are you sure
          you want to delete your account?" If you're sure, click "Confirm."
          This will delete your account and return you to the sign-in page.
        </li>
      </ol>
      <br />
      <h3>What Happens When You Delete Your Account?</h3>
      <br />
      <ul style="line-height: 200%; font-size: 14px; margin-left: 2%;">
        <li>
          <b>Permanent Deletion:</b> Once your account is deleted, all
          associated data, including match history, videos, ratings, and
          reports, will be permanently removed. This action cannot be undone.
        </li>
        <li>
          <b>No Access:</b> You will no longer be able to access any content,
          services, or features linked to your YFT account.
        </li>
        <li>
          <b>Feedback Opportunity:</b> We value your feedback! Before completing
          the deletion, you will have the option to tell us why you’re leaving
          so we can continue improving YFT for others.
        </li>
      </ul>
      <br /><br />
      <h3>Need Help?</h3>
      <br />
      <p>
        If you run into any issues while trying to delete your account, feel
        free to contact our support team at contact@yftchain.com. We're here to
        assist you!
      </p>
      <br /><br />
    </div>
  </mat-card-content>
</mat-card>
<app-footer></app-footer>
