<header class="header">
  <div class="logo">
    <span>
      <img src="assets/images/website/logo.png" alt="brand-logo" />
    </span>
  </div>
</header>

<div class="site-wrapper">
  <div class="text-section">
    <h2>
      <span>Digitize,</span>
      <span>Democratize,</span>and Develop.
      <img
        src="assets/images/website/footballer-Icon.png"
        alt="footballer-Icon"
      />
    </h2>
    <p>The showcase of youth talent in Indian football</p>
  </div>
  <div class="form-section" *ngIf="isLinkExpired">
    <!-- <div class="form-section"> -->
    <div class="form-box">
      <h2>Reset password</h2>

      <form [formGroup]="resetPasswordForm" class="form" id="player">
        <div class="form-block">
          <label
            >New password
            <span [matTooltip]="tooltip" matTooltipPosition="above">
              <img
                src="assets/images/global/info.svg"
                alt="info"
                class="info"
              />
            </span>
          </label>
          <div class="pass-fields">
            <input
              formControlName="password"
              [type]="showPassword ? 'text' : 'password'"
              matInput
              placeholder="New password"
              [ngClass]="{
                'error-input':
                  resetPasswordForm.controls.password.invalid &&
                  resetPasswordForm.controls.password.touched &&
                  (resetPasswordForm.controls.password.errors.required ||
                    resetPasswordForm.controls.password.errors.password)
              }"
            />
            <mat-icon
              (click)="showHidePassword('showPassword')"
              class=" material-icons"
            >
              {{ showPassword ? 'visibility' : 'visibility_off' }}
            </mat-icon>
          </div>
          <mat-error
            class="error-text"
            *ngIf="
              resetPasswordForm.controls.password.invalid &&
              resetPasswordForm.controls.password.touched
            "
          >
            <span
              translate
              *ngIf="resetPasswordForm.controls.password.errors.required"
            >
              New password is required
            </span>
            <ng-template #lengthBlock>
              <span
                translate
                *ngIf="resetPasswordForm.controls.password.errors.minlength"
              >
                Please provide number upto
                {{
                  resetPasswordForm.controls.password.errors.minlength
                    .requiredLength
                }}
                characters
              </span>
              <span
                translate
                *ngIf="resetPasswordForm.controls.password.errors.maxlength"
              >
                Please provide number upto
                {{
                  resetPasswordForm.controls.password.errors.maxlength
                    .requiredLength
                }}
                characters
              </span>
            </ng-template>
            <span
              translate
              class="error-position"
              *ngIf="
                resetPasswordForm.controls.password.errors.pattern;
                else lengthBlock
              "
            >
              Please provide at least 1 special character, 1 number and 1
              alphabet
            </span>
          </mat-error>
        </div>
        <div class="form-block">
          <label
            >Confirm password
            <span [matTooltip]="tooltip" matTooltipPosition="above">
              <img
                src="assets/images/global/info.svg"
                alt="info"
                class="info"
              />
            </span>
          </label>
          <div class="pass-fields">
            <input
              formControlName="confirmPassword"
              [type]="showConfirmPassword ? 'text' : 'password'"
              matInput
              placeholder="Confirm password"
              [ngClass]="{
                'error-input':
                  resetPasswordForm.controls.confirmPassword.invalid &&
                  resetPasswordForm.controls.confirmPassword.touched &&
                  (resetPasswordForm.controls.confirmPassword.errors.required ||
                    resetPasswordForm.controls.confirmPassword.errors.password)
              }"
            />
            <mat-icon
              (click)="showHidePassword('showConfirmPassword')"
              class=" material-icons"
            >
              {{ showConfirmPassword ? 'visibility' : 'visibility_off' }}
            </mat-icon>
          </div>
          <mat-error
            class="error-text"
            *ngIf="
              resetPasswordForm.controls.confirmPassword.invalid &&
              resetPasswordForm.controls.confirmPassword.touched
            "
          >
            <span
              translate
              *ngIf="resetPasswordForm.controls.confirmPassword.errors.required"
            >
              confirm password is required
            </span>
            <ng-template #lengthBlock>
              <span
                translate
                *ngIf="
                  resetPasswordForm.controls.confirmPassword.errors.minlength
                "
              >
                Please provide number upto
                {{
                  resetPasswordForm.controls.confirmPassword.errors.minlength
                    .requiredLength
                }}
                characters
              </span>
              <span
                translate
                *ngIf="
                  resetPasswordForm.controls.confirmPassword.errors.maxlength
                "
              >
                Please provide number upto
                {{
                  resetPasswordForm.controls.confirmPassword.errors.maxlength
                    .requiredLength
                }}
                characters
              </span>
            </ng-template>
            <span
              translate
              class=" error-position "
              *ngIf="
                resetPasswordForm.controls.confirmPassword.errors.pattern;
                else lengthBlock
              "
            >
              Please provide at least 1 special character, 1 number and 1
              alphabet
            </span>
          </mat-error>
          <mat-error
            class="error-text"
            *ngIf="
              !resetPasswordForm.controls.confirmPassword.invalid &&
              resetPasswordForm.controls.confirmPassword.touched
            "
          >
            <span
              translate
              *ngIf="
                resetPasswordForm.errors &&
                resetPasswordForm.errors.matchingPassword
              "
            >
              Password and confirm Password must be same
            </span>
          </mat-error>
        </div>
        <button
          (click)="resetPassword()"
          [disabled]="resetPasswordForm.invalid"
          type="submit"
          class="btn btn-primary btn-block"
        >
          Reset Password
        </button>
      </form>

      <p>Click here to <a [routerLink]="['/login']">Sign In</a></p>
    </div>
  </div>
</div>
<app-footer></app-footer>
