@import "src/assets/sass/abstracts/variables";
@import "src/assets/sass/abstracts/mixins";
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap");

.resetpassword {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $grey;
  font-family: "Ubuntu", sans-serif;

  &-wrapper {
    margin: auto;
    max-width: 55rem;
    width: 100%;
    padding: 2rem;

    &-header {
      display: block;
      text-align: center;
      margin-bottom: 3rem;
      img {
        max-width: 20rem;
        margin-bottom: 2rem;
      }
      h3 {
        font-weight: 700;
        font-size: 2.8rem;
        margin-bottom: 1.5rem;
      }
      p {
        font-size: 1.8rem;
        color: $text-muted;
        line-height: 2.4rem;
      }
    }
    &-forms {
      .form-row {
        display: flex;
        justify-content: space-between;

        p {
          font-size: 1.8rem;
          a {
            color: $blue;
            font-weight: 700;
            text-decoration: none;
            :link {
              color: $blue;
            }
            :visited {
              color: $blue;
            }
            :active {
              color: $blue;
            }
          }
        }
        .input-wrapper-full {
          width: 100%;
          padding-bottom: 2rem;
          margin-bottom: 1rem;
          position: relative;
          .icon-size {
            width: 2.2rem;
            height: 2.2rem;
            position: absolute;
            top: 4rem;
            left: 1.5rem;
            color: rgba($color-black, 0.8);
          }
          label {
            font-size: 1.8rem;
            color: $color-black;
            margin-bottom: 1rem;
            font-weight: 500;
            display: block;
          }
          input {
            width: 100%;
            padding: 1rem 1rem 1rem 5rem;
            border: 0.1rem solid #eaebec;
            background: #f8fafc;
            box-sizing: border-box;
            border-radius: 0.5rem;
            color: rgba($color-black, 0.8);
            line-height: 2.7rem;
            outline: 0rem;
            font-size: 1.8rem;
            &.ng-invalid.ng-touched {
              font-size: 1.8rem;
              border: 0.1rem solid $error;
            }
            &:focus {
              outline: 1px solid $blue;
              border-radius: 0.8rem;
            }
          }

          .btn {
            @include btn-primary;
            @include btn;
            &:disabled {
              @include disable;
            }
          }
        }
      }
    }
  }
}
.error-text {
  color: red;
  // position: absolute;
  // bottom: 0rem;
  // display: block;
  // width: 100%;
}
