<app-header></app-header>
<div class="site-wrapper">
  <div class="right-panel">
    <div class="right-wrapper">
      <div class="main">
        <!-- back -->
        <app-back-navigation></app-back-navigation>
        <div class="single-wrapper" *ngFor="let post of postListing">
          <div class="post">
            <div class="video">
              <!-- <img src="assets/images/member/video-banner.png" alt="" />
              <span class="playicon">
                <a>
                  <mat-icon class="material-icons"
                    >play_circle_outline</mat-icon
                  >
                </a>
              </span> -->
              <app-video-player
                [source]="post.post.media_url"
                [status]="post.post.status"
              ></app-video-player>
            </div>
          </div>
          <!-- post section -->
          <div class="post-wrapper">
            <!-- postHeader -->
            <div class="post-header">
              <!-- PostProfile -->
              <div class="profile">
                <div class="profile-img">
                  <img [src]="post.posted_by.avatar" alt="profile" />
                </div>
                <div class="details">
                  <a
                    [routerLink]="[
                      '/member/profile/public/',
                      post.posted_by.user_id
                    ]"
                  >
                    <h3>{{ post.posted_by.name }}</h3>
                  </a>
                  <p>
                    <ng-container
                      *ngIf="post.posted_by.member_type === 'player'"
                    >
                      <span class="type">{{ post.posted_by.type }}</span>
                      <span class="position">{{
                        post.posted_by.position
                      }}</span>
                    </ng-container>

                    <ng-container
                      *ngIf="post.posted_by.member_type !== 'player'"
                    >
                      <span class="type">{{ post.posted_by.member_type }}</span>
                      <span class="position">{{ post.posted_by.type }}</span>
                    </ng-container>

                    <span>{{ post.created_at | customDatePipe }}</span>
                  </p>
                </div>
              </div>
              <!-- icons -->
              <div class="actions" *ngIf="!isPublic">
                <span>
                  <a (click)="copyToClipboard(post.id)">
                    <mat-icon class="material-icons">link</mat-icon>
                  </a>
                </span>
                <span>
                  <a (click)="editVideoPost(post)">
                    <mat-icon class="material-icons">edit</mat-icon>
                  </a>
                </span>
                <span>
                  <a (click)="deleteVideo(post.id)">
                    <mat-icon class="material-icons">delete</mat-icon>
                  </a>
                </span>
              </div>
            </div>
            <!-- postbody -->
            <div class="postbody">
              <div class="post-content">
                <p>
                  <span *ngFor="let attribute of post.attributeListing"
                    >#{{ attribute }}</span
                  >
                </p>
              </div>
            </div>
            <!-- like comment -->
            <div class="like">
              <ng-container *ngIf="post.like$ | async"></ng-container>
              <span>
                <mat-icon
                  (click)="toggleLike(post)"
                  [ngClass]="{ active: post.is_liked }"
                  class="material-icons big-icons"
                  >favorite</mat-icon
                >
                {{ post.likes }}
              </span>
              <ng-container *ngIf="post.addComment$ | async"></ng-container>
              <ng-container
                *ngIf="!['amateur', 'grassroot'].includes(player_type)"
              >
                <span
                  (click)="activateCommentBox(post)"
                  [ngClass]="{
                    chatdisable:
                      !player_type && !['academy', 'club'].includes(member_type)
                  }"
                >
                  <mat-icon class="material-icons big-icons"
                    >mode_comment</mat-icon
                  >
                  {{ post.comments.total }}
                </span>
              </ng-container>
            </div>
            <div class="comment">
              <div
                class="partition"
                *ngIf="
                  post.comments.total > 3 &&
                  post.comments.total !== post.commentListing.length
                "
              >
                <a
                  *ngIf="
                    post.comments.total > 3 &&
                    post.comments.total !== post.commentListing.length
                  "
                  (click)="loadComments(post)"
                  >View previous comments</a
                >
              </div>
              <div class="comment-box">
                <div
                  class="commnet"
                  *ngFor="let comment of post.commentListing"
                >
                  <div class="profile">
                    <div class="profile-img">
                      <img [src]="comment.commented_by.avatar" alt="profile" />
                    </div>
                    <div class="details">
                      <h4>{{ comment.commented_by.name }}</h4>
                      <div class="commenter-details">
                        <p>
                          <ng-container
                            *ngIf="
                              comment.commented_by.member_type === 'player'
                            "
                          >
                            <span class="type">{{
                              comment.commented_by.type
                            }}</span>
                            <span class="position"
                              >{{ comment.commented_by.position }}
                            </span>
                          </ng-container>

                          <ng-container
                            *ngIf="
                              comment.commented_by.member_type !== 'player'
                            "
                          >
                            <span class="type">{{
                              comment.commented_by.member_type
                            }}</span>
                            <span class="position"
                              >{{ comment.commented_by.type }}
                            </span>
                          </ng-container>
                        </p>
                        <p>{{ comment.commented_at | customDatePipe }}</p>
                      </div>
                      <div class="message">
                        <p>{{ comment.comment }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="post-comment" *ngIf="post.show_comment_box">
                <div class="profile-img">
                  <img [src]="avatar_url" alt="profile" />
                </div>
                <div class="comment-input">
                  <form [formGroup]="post.commentForm">
                    <div class="input-wrapper">
                      <input
                        formControlName="comment"
                        autocomplete="off"
                        placeholder="Add a comment"
                      />
                      <button
                        [disabled]="!post.commentForm.valid"
                        (click)="addComment(post)"
                      >
                        <mat-icon class="material-icons">send</mat-icon>
                      </button>
                      <mat-error
                        *ngIf="
                          post.commentForm.controls.comment.invalid &&
                          post.commentForm.controls.comment.touched
                        "
                      >
                        <span
                          *ngIf="
                            post.commentForm.controls.comment.errors.wordCount
                          "
                        >
                          Please provide upto 60 words
                        </span>
                      </mat-error>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-fix">
      <app-copyright></app-copyright>
    </div>
  </div>
</div>
