<app-header></app-header>
<div class="site-wrapper">
  <div class="right-panel">
    <div class="right-wrapper">
      <div class="main">
        <!-- back -->
        <div class="back-btn">
          <a>
            <span>
              <mat-icon class="material-icons">chevron_left</mat-icon>
            </span>
            Back
          </a>
        </div>
        <div class="single-wrapper">
          <div class="post">
            <div class="video">
              <img src="assets/images/member/video-banner.png" alt="" />
              <span class="playicon">
                <a>
                  <mat-icon class="material-icons"
                    >play_circle_outline</mat-icon
                  >
                </a>
              </span>
            </div>
          </div>
          <!-- post section -->
          <div class="post-wrapper">
            <!-- postHeader -->
            <div class="post-header">
              <!-- PostProfile -->
              <div class="profile">
                <div class="profile-img">
                  <img
                    src="../../../assets/images/member/profile.png"
                    alt="profile"
                  />
                </div>
                <div class="details">
                  <a target="_blank">
                    <h3>Jame Jordon</h3>
                  </a>
                  <p>
                    <span class="type">Professional;</span>
                    <span class="position">GoalKeeper</span>

                    3 July 2020
                  </p>
                </div>
              </div>
              <!-- icons -->
              <div class="actions">
                <span>
                  <a>
                    <mat-icon class="material-icons">link</mat-icon>
                  </a>
                </span>
                <span>
                  <a>
                    <mat-icon class="material-icons">edit</mat-icon>
                  </a>
                </span>
                <span>
                  <a>
                    <mat-icon class="material-icons">delete</mat-icon>
                  </a>
                </span>
              </div>
            </div>
            <!-- postbody -->
            <div class="postbody">
              <div class="post-content">
                <p>
                  <span>#Acceleration</span>
                  <span>#Agility</span>
                  <span>#Jumping</span>
                  <span>#Strength</span>
                  <span>#Sprint speed</span>
                  <span>#Balance</span>
                  <span>#Stamina</span>
                </p>
              </div>
            </div>
            <!-- like comment -->
            <div class="like">
              <span>
                <mat-icon class="material-icons big-icons">favorite</mat-icon>
                12
              </span>
              <span>
                <mat-icon class="material-icons big-icons"
                  >mode_comment</mat-icon
                >
                34
              </span>
            </div>
            <div class="comment">
              <div class="partition">
                <a>View previous comments</a>
              </div>
              <div class="comment-box">
                <div class="commnet">
                  <div class="profile">
                    <div class="profile-img">
                      <img
                        src="assets/images/member/profile.png"
                        alt="profile"
                      />
                    </div>
                    <div class="details">
                      <h4>Jame Jordon</h4>
                      <div class="commenter-details">
                        <p>
                          <span class="type">
                            Professional
                          </span>
                          <span class="position">GoalKeeper </span>
                        </p>
                        <p>3 sec ago</p>
                      </div>
                      <div class="message">
                        <p>Played well I liked that shot</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="comment-box">
                <div class="commnet">
                  <div class="profile">
                    <div class="profile-img">
                      <img
                        src="assets/images/member/profile.png"
                        alt="profile"
                      />
                    </div>
                    <div class="details">
                      <h4>Jame Jordon</h4>
                      <div class="commenter-details">
                        <p>
                          <span class="type">
                            Professional
                          </span>
                          <span class="position">GoalKeeper </span>
                        </p>
                        <p>3 sec ago</p>
                      </div>
                      <div class="message">
                        <p>Played well I liked that shot</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="comment-box">
                <div class="commnet">
                  <div class="profile">
                    <div class="profile-img">
                      <img
                        src="assets/images/member/profile.png"
                        alt="profile"
                      />
                    </div>
                    <div class="details">
                      <h4>Jame Jordon</h4>
                      <div class="commenter-details">
                        <p>
                          <span class="type">
                            Professional
                          </span>
                          <span class="position">GoalKeeper </span>
                        </p>
                        <p>3 sec ago</p>
                      </div>
                      <div class="message">
                        <p>Played well I liked that shot</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="post-comment">
                <div class="profile-img">
                  <img
                    src="../../../assets/images/member/profile.png"
                    alt="profile"
                  />
                </div>
                <div class="comment-input">
                  <form>
                    <div class="input-wrapper">
                      <input autocomplete="off" placeholder="Add a comment" />
                      <button>
                        <mat-icon class="material-icons">send</mat-icon>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-fix">
      <app-copyright></app-copyright>
    </div>
  </div>
</div>
