<app-header></app-header>
<div class="site-wrapper">
  <!-- Left section -->
  <div class="left-section">
    <app-left-panel [options]="panelOptions" [userId]="userId">
    </app-left-panel>
  </div>
  <!-- right-section -->
  <div class="right-section">
    <!-- player section -->
    <div class="players">
      <div class="block">
        <div class="block-heading">
          <h2>Employment Contract Details</h2>
          <a
            (click)="editDetails()"
            *ngIf="
              contractDetails.created_by === memberType &&
              (contractDetails.status === 'disapproved' ||
                contractDetails.status === 'pending')
            "
            class="btn"
            >Edit Details</a
          >
        </div>
      </div>
      <!-- personal details -->
      <div class="block">
        <div class="block-middle border-bottom">
          <div class="half">
            <p>
              <span>Player name on Contract :</span>
              {{ contractDetails.playerName }}
            </p>
          </div>
          <div class="half">
            <p>
              <span>{{ contractDetails.created_by | titlecase }} Name :</span>
              {{ contractDetails.clubAcademyName }}
            </p>
          </div>
        </div>

        <div
          class="block-middle border-bottom"
          *ngIf="contractDetails.otherEmail"
        >
          <div class="half">
            <p>
              <span>Other Name :</span>
              {{ contractDetails.otherName ? contractDetails.otherName : '' }}
            </p>
          </div>
          <div class="half">
            <p>
              <span>Other Email :</span>
              {{ contractDetails.otherEmail ? contractDetails.otherEmail : '' }}
            </p>
          </div>
        </div>

        <div class="block-middle border-bottom">
          <div class="half" *ngIf="contractDetails.otherPhoneNumber">
            <p>
              <span>Other Phone No :</span>
              {{
                contractDetails.otherPhoneNumber
                  ? contractDetails.otherPhoneNumber
                  : ''
              }}
            </p>
          </div>
          <div class="half">
            <p>
              <span>Contract Signing Date :</span>
              {{ contractDetails.signingDate | date }}
            </p>
          </div>
        </div>

        <div class="block-middle border-bottom">
          <div class="half">
            <p>
              <span>Contract effective date :</span>
              {{ contractDetails.effectiveDate | date }}
            </p>
          </div>
          <div class="half">
            <p>
              <span>Contract expiry date :</span>
              {{ contractDetails.expiryDate | date }}
            </p>
          </div>
        </div>

        <div class="block-middle border-bottom">
          <div class="half">
            <p>
              <span>Place of signature :</span>
              {{ contractDetails.placeOfSignature }}
            </p>
          </div>
          <div class="half">
            <p>
              <span
                >{{ contractDetails.created_by | titlecase }} representative
                name :</span
              >
              {{ contractDetails.clubAcademyRepresentativeName }}
            </p>
          </div>
        </div>

        <div class="block-middle border-bottom">
          <div class="full">
            <p>
              <span
                >{{ contractDetails.created_by | titlecase }} address :</span
              >
              {{ contractDetails.clubAcademyAddress }}
            </p>
          </div>
        </div>

        <div class="block-middle border-bottom">
          <div class="half">
            <p>
              <span
                >{{ contractDetails.created_by | titlecase }} Phone Number:
              </span>
              {{ contractDetails.clubAcademyPhoneNumber }}
            </p>
          </div>
          <div class="half">
            <p>
              <span>AIFF accreditation number :</span>
              {{ contractDetails.aiffNumber }}
            </p>
          </div>
        </div>

        <div class="block-middle border-bottom">
          <div class="half">
            <p>
              <span>CRS User Name: </span>
              {{ contractDetails.crsUserName }}
            </p>
          </div>
          <div class="half">
            <p>
              <span>Legal guardian name :</span>
              {{ contractDetails.legalGuardianName }}
            </p>
          </div>
        </div>

        <div class="block-middle border-bottom">
          <div class="full">
            <p>
              <span>Player address :</span>
              {{ contractDetails.playerAddress }}
            </p>
          </div>
        </div>

        <div class="block-middle border-bottom">
          <div class="half">
            <p>
              <span>Player Mobile number: </span>
              {{ contractDetails.playerMobileNumber }}
            </p>
          </div>
          <div class="half">
            <p>
              <span>Player email id :</span>
              {{ contractDetails.playerEmail }}
            </p>
          </div>
        </div>

        <div class="block-middle border-bottom">
          <div class="full">
            <p>
              <span>{{ contractDetails.created_by | titlecase }} email </span>
              {{ contractDetails.clubAcademyEmail }}
            </p>
          </div>
        </div>

        <div class="block-middle border-bottom">
          <div class="full">
            <p>
              <span
                >Did the {{ contractDetails.created_by }} use the services of an
                agent ?</span
              >
              {{ 'Yes' ? contractDetails.clubAcademyUsesAgentServices : 'No' }}
            </p>
          </div>
        </div>
        <div class="block-middle border-bottom">
          <div class="half">
            <p>
              <span>Provide Name of intermediaries : </span>
              {{ contractDetails.playerIntermediaryName }}
            </p>
          </div>
          <div class="half">
            <p>
              <span>Transfer fee paid to intermediaries :</span>
              {{ contractDetails.playerTransferFee }}
            </p>
          </div>
        </div>

        <div class="block-middle border-bottom">
          <div class="full">
            <p>
              <span>Did the player use services of an agent ? </span>
              {{ Yes ? contractDetails.playerUsesAgentServices : 'No' }}
            </p>
          </div>
        </div>
        <div class="block-middle border-bottom">
          <div class="half">
            <p>
              <span>Provide Name of intermediaries : </span>
              {{ contractDetails.clubAcademyIntermediaryName }}
            </p>
          </div>
          <div class="half">
            <p>
              <span>Transfer fee paid to intermediaries:</span>
              {{ contractDetails.clubAcademyTransferFee }}
            </p>
          </div>
        </div>
      </div>
      <div class="actions" *ngIf="contractDetails.created_by !== memberType">
        <button
          [disabled]="contractDetails.status === 'approved'"
          class="approve"
          (click)="onapproved()"
        >
          Approve
        </button>
        <button
          [disabled]="contractDetails.status === 'disapproved'"
          class="disapprove"
          (click)="ondisapproved()"
        >
          Disapprove
        </button>
      </div>
    </div>
  </div>
</div>
<ng-template #loading> Loading </ng-template>
