@import "src/assets/sass/abstracts/variables";
@import "src/assets/sass/abstracts/mixins";

.site-wrapper {
  width: 100%;
  display: flex;
  background: $third-color;
  margin-top: 8.5rem;

  @include responsive(tablet) {
    margin-top: 14rem;
  }

  .right-panel {
    width: 76.25%;
    position: relative;

    @include responsive(tablet) {
      width: 100%;
    }

    .footer-fix {
      position: absolute;
      bottom: 0px;
      width: 100%;
    }

    .right-wrapper {
      padding: 2rem;

      .main {
        background: $white-color;
        @include shadow;
        padding: 2rem;
        border-radius: 0.5rem;
        margin-bottom: 10rem;

        // heading css
        .heading {
          display: flex;
          justify-content: space-between;
          padding: 2rem 3rem;
          color: $fourth-color;

          @include responsive(smallphone) {
            padding: 2rem 0rem;
          }

          button {
            border: none;
            background: transparent;
            cursor: pointer;

            &:hover {
              color: $primary-color;
            }
          }
        }

        // detials
        .details {
          width: 90%;
          margin: auto;
          margin-bottom: 3rem;

          @include responsive(smallphone) {
            width: 100%;
          }

          h3 {
            span {
              font-weight: 400;
              margin-left: 1.5rem;
            }
          }

          .block {
            padding-left: 3rem;
            display: flex;
            flex-wrap: wrap;

            @include responsive(smallphone) {
              padding-left: 0rem;
            }

            .detail-panel,
            .detail-panel-full {
              display: flex;
              width: 48%;
              margin: 1rem 0;

              @include responsive(bigphone) {
                flex-wrap: wrap;
              }

              @include responsive(mediumphone) {
                flex-wrap: nowrap;
                width: 100%;
              }

              @include responsive(smallphone) {
                flex-wrap: wrap;
                width: 48%;
              }

              @include responsive(smallestphone) {
                width: 100%;
              }

              .left {
                width: 50%;

                @include responsive(bigphone) {
                  width: 100%;
                }

                @include responsive(smallphone) {
                  width: 100%;
                }

                @include responsive(mediumphone) {
                  width: 50%;
                }

                h4 {
                  font-weight: 500;
                }
              }

              .right {
                width: 50%;

                @include responsive(bigphone) {
                  width: 100%;
                }

                @include responsive(mediumphone) {
                  width: 50%;
                }

                @include responsive(smallphone) {
                  width: 100%;
                }

                p {
                  font-size: $heading-fourth;
                  color: $second-color;

                  @include responsive(bigphone) {
                    padding: 1rem 0;
                  }

                  @include responsive(mediumphone) {
                    padding: 0;
                  }

                  @include responsive(smallphone) {
                    padding: 1rem 0;
                  }
                }
              }
            }

            .detail-panel-full {
              width: 100%;
            }
          }
        }

        .agentheading-wrappper {
          display: flex;
          width: 100%;

          h3 {
            width: 51%;

            @include responsive(bigphone) {
              width: 80%;
            }
          }

          span {
            font-size: 2rem;
            font-weight: 500;
            margin-left: 4px;
          }
        }

        .actions {
          width: 90%;
          margin: auto;
          margin-bottom: 3rem;
        }
      }
    }
  }
}

//  popup
::ng-deep {
  .verificationpopup {
    width: 50%;

    @include responsive(tablet) {
      width: 60%;
    }

    @include responsive(bigphone) {
      width: 75%;
    }

    @include responsive(mediumphone) {
      width: 100%;
    }

    @include responsive(smallphone) {
      max-width: 95vw !important;
    }
  }
}
