<header class="header">
  <div class="logo">
    <span>
      <img src="assets/images/website/logo.png" alt="brand-logo" />
    </span>
  </div>
</header>

<div class="site-wrapper">
  <div class="text-section">
    <h2>
      <span>Digitize,</span>
      <span>Democratize,</span>and Develop.
      <img
        src="assets/images/website/footballer-Icon.png"
        alt="footballer-Icon"
      />
    </h2>
    <p>The showcase of youth talent in Indian football</p>
  </div>
  <div class="form-section">
    <div class="form-box">
      <h2>Forgot password</h2>
      <form
        (ngSubmit)="forgetPassword()"
        [formGroup]="forgetPasswordForm"
        class="form"
        id="player"
      >
        <div class="form-block">
          <label>Your registered email <span>*</span> </label>
          <input
            formControlName="email"
            type="email"
            matInput
            [ngClass]="{
              'error-input':
                forgetPasswordForm.controls.email.invalid &&
                forgetPasswordForm.controls.email.touched &&
                (forgetPasswordForm.controls.email.errors.required ||
                  forgetPasswordForm.controls.email.errors.email)
            }"
          />
          <ng-container
            *ngIf="
              forgetPasswordForm.controls.email.touched &&
              forgetPasswordForm.controls.email.invalid
            "
          >
            <mat-error
              class="error-text"
              *ngIf="forgetPasswordForm.controls.email.errors.required"
            >
              Email is required
            </mat-error>
            <mat-error
              class="error-text"
              *ngIf="forgetPasswordForm.controls.email.errors.email"
            >
              Email format is Invalid
            </mat-error>
          </ng-container>
        </div>
        <button
          type="submit"
          class="btn btn-primary btn-block"
          [disabled]="forgetPasswordForm.invalid"
        >
          Reset Password
        </button>
      </form>
      <p>Remember password ? <a [routerLink]="['/login']">Sign In</a></p>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="mainfooter">
    <div class="wrapper">
      <div class="logo">
        <a href="">
          <img src="assets/images/website/footer-logo.png" alt="footer-logo" />
        </a>
        <p>
          “Youth football technology chain is the scouting platform for talented
          football players.”
        </p>
      </div>
      <div class="links">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Sign up</a></li>
          <li><a href="#">Sign in</a></li>
        </ul>
      </div>
      <div class="links">
        <ul>
          <li><a href="#">Privacy policy</a></li>
          <li><a href="#">Copyright policy</a></li>
          <li><a href="#">Brand policy</a></li>
          <li><a href="#">Cookie policy</a></li>
        </ul>
      </div>
      <div class="social">
        <ul>
          <li>
            <a href="#">
              <img src="assets/images/website/social/instagram.svg" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="assets/images/website/social/facebook.svg" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="assets/images/website/social/linkdien.svg" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- copyright -->
  <div class="copyright">
    <p>@ 2020 YFTChain. All rights reserved</p>
  </div>
</footer>
