<div class="forgetpassword">
  <div class="forgetpassword-wrapper">
    <!-- header section -->
    <div class="forgetpassword-wrapper-header">
      <img src="assets/images/logo.png" alt="brand-logo" />
      <h3>First, let's find your account</h3>
    </div>
    <!-- forgetpassword forms -->
    <div class="forgetpassword-wrapper-forms">
      <div class="clubs">
        <form
          (ngSubmit)="forgetPassword()"
          [formGroup]="forgetPasswordForm"
          class="form"
          id="player"
        >
          <!-- firstName LastName  -->
          <div class="form-row">
            <div class="input-wrapper-full">
              <i-feather name="User" class="icon-size"></i-feather>
              <label>Email </label>
              <input
                formControlName="email"
                type="email"
                placeholder="Email"
                matInput
              />
              <ng-container
                *ngIf="
                  forgetPasswordForm.controls.email.touched &&
                  forgetPasswordForm.controls.email.invalid
                "
              >
                <mat-error
                  class="error-text"
                  *ngIf="forgetPasswordForm.controls.email.errors.required"
                >
                  Email is required
                </mat-error>
                <mat-error
                  class="error-text"
                  *ngIf="forgetPasswordForm.controls.email.errors.email"
                >
                  Email format is Invalid
                </mat-error>
              </ng-container>
            </div>
          </div>

          <div class="form-row">
            <div class="input-wrapper-full">
              <button
                type="submit"
                class="btn"
                [disabled]="forgetPasswordForm.invalid"
              >
                Reset Password
              </button>
            </div>
          </div>

          <div class="form-row">
            <p><a [routerLink]="['/login']">Sign in</a></p>
            <p>New on YFTChain? <a [routerLink]="['/register']">Join now</a></p>
          </div>
        </form>
      </div>
      <!-- academy Form -->
    </div>
  </div>
</div>
