<header class="header">
  <div class="logo">
    <a [routerLink]="['/']">
      <img src="assets/images/website/logo.png" alt="brand-logo" />
    </a>
  </div>
</header>

<div class="site-wrapper">
  <div class="text-section">
    <h2>
      <span>Digitize,</span>
      <span>Democratize,</span>and Develop.
      <img
        src="assets/images/website/footballer-Icon.png"
        alt="footballer-Icon"
      />
    </h2>
    <p>The showcase of youth talent in Indian football</p>
  </div>
  <div class="form-section">
    <div class="form-box">
      <h2>Forgot password</h2>
      <form
        (ngSubmit)="forgotPassword()"
        [formGroup]="forgotPasswordForm"
        class="form"
        id="player"
      >
        <div class="form-block">
          <label>Your registered email </label>
          <input
            placeholder="Email"
            formControlName="email"
            type="email"
            matInput
            placeholder="Email"
            [ngClass]="{
              'error-input':
                forgotPasswordForm.controls.email.invalid &&
                forgotPasswordForm.controls.email.touched &&
                (forgotPasswordForm.controls.email.errors.required ||
                  forgotPasswordForm.controls.email.errors.email)
            }"
          />
          <ng-container
            *ngIf="
              forgotPasswordForm.controls.email.touched &&
              forgotPasswordForm.controls.email.invalid
            "
          >
            <mat-error
              class="error-text"
              *ngIf="forgotPasswordForm.controls.email.errors.required"
            >
              Email is required
            </mat-error>
            <mat-error
              class="error-text"
              *ngIf="forgotPasswordForm.controls.email.errors.email"
            >
              Email format is Invalid
            </mat-error>
          </ng-container>
        </div>
        <button
          type="submit"
          class="btn btn-primary btn-block"
          [disabled]="forgotPasswordForm.invalid"
        >
          Reset Password
        </button>
      </form>
      <p>Remember password ? <a [routerLink]="['/login']">Sign In</a></p>
    </div>
  </div>
</div>
<app-footer></app-footer>
