<div class="from-container">
  <form>
    <div class="header">
      <div class="title">
        <h3>Create a Post</h3>
      </div>
      <div class="close">
        <img
          [mat-dialog-close]
          src="assets/images/icons/close-white.png"
          alt=""
        />
      </div>
    </div>
    <div class="modal-body">
      <textarea matinput placeholder="Write your message"></textarea>
    </div>
    <div class="modal-footer">
      <div class="left">
        <ul>
          <li>
            <a>
              <i-feather name="plus"></i-feather>
            </a>
          </li>
          <li>
            <a>
              <i-feather name="camera"></i-feather>
            </a>
          </li>
          <li>
            <a>
              <i-feather name="video"></i-feather>
            </a>
          </li>
          <li>
            <a>
              <i-feather name="file"></i-feather>
            </a>
          </li>
        </ul>
      </div>
      <div class="right">
        <button>Post</button>
      </div>
    </div>
  </form>
</div>
