<div class="from-container">
  <form>
    <div class="header">
      <div class="title">
        <h3>Create a Post</h3>
      </div>
      <div class="close">
        <img
          [mat-dialog-close]
          src="assets/images/icons/close-white.png"
          alt=""
        />
      </div>
    </div>
    <div class="modal-body">
      <div class="message-box">
        <textarea
          matinput
          maxlength="60"
          placeholder="Write a FooTPost"
        ></textarea>
      </div>
      <div class="uploaded-images">
        <img src="../../../assets/images/poster.jpeg" alt="" />
      </div>
    </div>
    <div class="modal-footer">
      <div class="left">
        <ul>
          <li>
            <label>
              <i-feather name="camera"></i-feather>
              <input type="file" />
            </label>
          </li>
        </ul>
      </div>
      <div class="right">
        <button class="cancel">Cancel</button>
        <button class="save">Save</button>
      </div>
    </div>
  </form>
</div>
