<div class="from-container">
  <form [formGroup]="createPostForm">
    <div class="header">
      <div class="title">
        <h3 *ngIf="!data">Create a FooTPost</h3>
        <h3 *ngIf="data">Edit FooTPost</h3>
      </div>
      <div class="close">
        <mat-icon mat-dialog-close class="material-icons">close</mat-icon>
      </div>
    </div>
    <div class="modal-body">
      <div class="form-block">
        <textarea
          formControlName="text"
          row="5"
          matinput
          maxlength="60"
          placeholder="Write a FooTPost"
        ></textarea>
        <p>Max character length 0 / 350</p>
      </div>
      <div class="uploaded-images">
        <img [src]="imageURL" alt="" />
      </div>
    </div>
    <div class="modal-footer">
      <div class="left">
        <ul>
          <li>
            <label>
              <mat-icon class="material-icons">camera_alt</mat-icon>
              <input
                formControlName="media"
                type="file"
                (change)="changeMedia($event.target.files)"
              />
            </label>
          </li>
        </ul>
      </div>
      <div class="right">
        <button mat-dialog-close class="btn btn-secondary ">Cancel</button>
        <button
          class="btn btn-primary "
          [disabled]="!createPostForm.value.text && !convertedFile"
          (click)="onClickSave()"
        >
          Save
        </button>
      </div>
    </div>
  </form>
</div>
