<div class="bulk-update card">
  <div class="card__header">
    <div class="heading">
      <h2>Bulk Upload</h2>
    </div>
    <div class="page-navigator">
      <button ngbTooltip="Download Sample Location CSV" (click)="download()">Download Format</button>
    </div>
  </div>
  <div class="card-body">
    <form (ngSubmit)="userCSVImport(userCSVFormGroup)" #userCSVFormGroup="ngForm">
      <div fxLayout="row">
        <div class="form-group" fxFlex="100%">
          <label for="file-upload">Upload Format</label>
          <div class="fileupload">
            <input
              type="file"
              hidden="hidden"
              id="file-upload"
              #fileUploadInput
              name="csv_file"
              accept=".csv"
              (change)="onUpdateFile($event)"
            />
            <div class="fileupload__input" (click)="onTriggerInput()">
              <button class="fileupload__input--btn" type="button">
                <img src="assets/images/icons/upload.png" alt="Upload" />
              </button>
              <span class="fileupload__input--value" #fileUploadName></span>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="9.4rem">
        <div class="action-block" fxFlex="27%">
          <button class="btn btn-block btn-gredient">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
