@import "src/assets/sass/abstracts/variables";
.bulk-update {
  .card-body {
    form {
      .fileupload {
        &__input {
          margin-top: 2.4rem;
        }
      }
      margin-top: 4.6rem;
      .action-block {
        margin-bottom: 5rem;
        .btn {
          padding: 1.8rem;
          font-size: 2rem;
        }
      }
    }
  }
}
