<div class="add-edit-course card">
  <div class="card__header">
    <div class="heading">
      <h2>Create Module</h2>
    </div>
    <div class="page-navigator">
      <button class="btn btn-gredient">Publish</button>
    </div>
  </div>
  <div class="card-body">
    <form action="">
      <div fxLayout="row">
        <div class="form-group" fxFlex style="margin-right:5rem;">
          <label for="">Title</label>
          <input type="text" class="input__text" placeholder="Title Here" />
        </div>
        <div class="form-group" fxFlex style="margin-right:5rem;">
          <label for="">Course Type</label>
          <select>
            <option disabled>Course Type</option>
          </select>
        </div>
        <div class="form-group" fxFlex>
          <label for="">Department</label>
          <select>
            <option>Department</option>
          </select>
        </div>
      </div>
      <div fxLayout="row">
        <div class="form-group" fxFlex="100%">
          <ckeditor #ref style="min-height: 31.0rem;border-radius: 0;" class=""> </ckeditor>
        </div>
      </div>
      <div fxLayout="column wrap" class="select-credientials">
        <div class="form-group">
          <label for="">Set Credentitals</label>
          <mat-table [dataSource]="dataSource" class="table-credientials">
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="type">
              <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element.type }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="select">
              <mat-header-cell *matHeaderCellDef> Select </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <mat-checkbox class="custom-checkbox"></mat-checkbox>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>
        </div>
      </div>
      <div fxLayout="column">
        <div class="days-of-joining">
          <span>Schedule OJT Course Start From </span>
          <input type="text" class="input" />
          <span>Days of Joining Date</span>
        </div>
        <div class="days-of-joining">
          <span>Completion of OJT Course within</span>
          <input type="text" class="input" />
          <span>Days of Joining Date</span>
        </div>
      </div>
      <div fxLayout="row">
        <div class="action-block" fxFlex="100%">
          <button class="btn btn-block btn-gredient">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
