<app-header></app-header>
<div class="site-wrapper">
  <div class="left-panel">
    <app-left-panel> </app-left-panel>
  </div>
  <div class="right-panel">
    <div class="right-wrapper">
      <div class="main">
        <!-- heading -->
        <div class="heading">
          <h2>Gallery</h2>
          <button class="icon-btn" (click)="openFilter()">
            <mat-icon class="material-icons">filter_alt</mat-icon>
          </button>
        </div>
        <!-- counts -->
        <div class="counts-wrapper">
          <div class="counts">
            <h2>
              00
            </h2>
            <a>Photos</a>
          </div>
          <div class="counts">
            <h2>{{ total_count | padzero }}</h2>
            <a class="active">Videos</a>
          </div>
        </div>

        <div class="tab-buttons" *ngIf="member_type !== 'player' || isPublic">
          <a
            [ngClass]="{ active: video_type === 'timeline' }"
            (click)="toggleVideoType('timeline')"
            >Timeline videos</a
          >
          <a
            [ngClass]="{ active: video_type === 'learning_or_training' }"
            (click)="toggleVideoType('learning_or_training')"
            >Learning and training videos</a
          >
          <a
            [ngClass]="{ active: video_type === 'match' }"
            (click)="toggleVideoType('match')"
            >Match videos</a
          >
        </div>
        <!-- gallery section -->
        <div class="gallery-wrapper">
          <ng-container *ngFor="let gallery of galleryList">
            <div class="gallery-box">
              <img alt="video-placehoder" />
              <span class="playicon">
                <a
                  [routerLink]="
                    isPublic
                      ? ['/member/gallery/gallery-view', gallery.id, userId]
                      : ['/member/gallery/gallery-view', gallery.id]
                  "
                >
                  <mat-icon class="material-icons"
                    >play_circle_outline</mat-icon
                  >
                </a>
              </span>
            </div>
          </ng-container>

          <ng-container *ngIf="galleryList.length === 0">
            <span class="no-data-found">
              No videos found
            </span>
          </ng-container>
        </div>

        <!-- Pagination -->
        <app-pagination
          *ngIf="galleryList.length !== 0"
          [showData]="false"
          [showCount]="show_count"
          [rowsPerPage]="pageSize"
          (onChange)="updatePage($event)"
          [selectedPage]="selectedPage"
        >
        </app-pagination>
      </div>
    </div>
    <div class="footer-fix">
      <app-copyright></app-copyright>
    </div>
  </div>
</div>
<app-filter
  [allowedFilters]="filtersList"
  (filterChanges)="onChangeFilter($event)"
></app-filter>
