<div class="forgetpassword">
  <div class="forgetpassword-wrapper">
    <!-- header section -->
    <div class="forgetpassword-wrapper-header">
      <img src="assets/images/logo.png" alt="brand-logo" />
      <h3>First, let's find your account</h3>
    </div>
    <!-- forgetpassword forms -->
    <div class="forgetpassword-wrapper-forms">
      <div class="clubs">
        <form class="form" id="player">
          <!-- firstName LastName  -->
          <div class="form-row">
            <div class="input-wrapper-full">
              <img src="assets/icons/user.svg" alt="" />
              <label>Email Address </label>
              <input type="email" matInput />
            </div>
          </div>

          <div class="form-row">
            <div class="input-wrapper-full">
              <button type="submit" class="btn">Reset Password</button>
            </div>
          </div>

          <div class="form-row">
            <p><a [routerLink]="['/login']">Sign in</a></p>
            <p>
              Already on YFT chain? <a [routerLink]="['/register']">Join now</a>
            </p>
          </div>
        </form>
      </div>
      <!-- academy Form -->
    </div>
  </div>
</div>
