<div class="videoupload">
  <button [matMenuTriggerFor]="uploadToggle">
    <mat-icon class="material-icons">cloud_upload</mat-icon>
  </button>
  <mat-menu #uploadToggle="matMenu" yPosition="above">
    <div class="mini-uploader">
      <div class="left">
        <span>
          <mat-icon class="material-icons">cloud_upload</mat-icon>
        </span>
      </div>
      <div class="right">
        <h5>Upload video file</h5>
        <mat-progress-bar
          *ngIf="progress < '100'"
          mode="determinate"
          [value]="progress"
        ></mat-progress-bar>
        <mat-progress-bar
          *ngIf="progress == '100'"
          mode="indeterminate"
        ></mat-progress-bar>
        <mat-error class="error-text" *ngIf="error">
          <span>{{ error }}</span>
        </mat-error>
      </div>
    </div>
  </mat-menu>
</div>
