@import "src/assets/sass/abstracts/variables";
@import "src/assets/sass/abstracts/mixins";

.from-container {
  margin: -24px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  align-items: center;
  background: $fifth-color;

  .title {
    width: 70%;

    h2 {
      color: $fourth-color;
      font-weight: 600;
    }
  }

  .close {
    width: 30%;
    display: block;
    text-align: right;

    .mat-icon {
      cursor: pointer;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

.modal-body {
  padding: 2rem;

  .footmates-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-height: 40rem;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: $primary-color;
      outline: 1px solid $primary-color;
    }

    // player section
    .player-wrapper {
      display: flex;
      flex-wrap: wrap;
      // padding: 0 3rem;
      width: 100%;

      .player-block {
        display: flex;
        align-items: center;
        width: 50%;
        padding: 1rem 2rem;
        border-left: 0.5rem solid #fff0d3;
        margin-bottom: 4rem;

        @include responsive(smallphone) {
          width: 100%;
        }

        img {
          width: 6rem;
          height: 6rem;
          border-radius: 6rem;
        }

        .profile-details {
          margin-left: 1rem;
          width: 100%;

          h3 {
            font-weight: 500;
            color: $fourth-color;
            margin-bottom: 0.2rem;
            font-size: 2.2rem;
          }

          p {
            font-size: $heading-sixth;
            color: $second-color;
          }
        }

        .player-categroy {
          display: flex;
          justify-content: space-between;
          color: $second-color;
          width: 100%;

          h5 {
            font-weight: 700;
            font-size: $heading-fifth;
            color: $second-color;
          }

          a {
            color: $primary-color;
            font-size: $heading-fifth;
            font-weight: 700;
          }
        }
      }
    }
  }
}

body::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  outline: 1px solid slategrey;
}
