<div class="from-container">
  <div class="header">
    <div class="title">
      <h3>Mutual Footmates</h3>
    </div>
    <div class="close">
      <img
        [mat-dialog-close]
        src="assets/images/icons/close-white.png"
        alt=""
      />
    </div>
  </div>
  <div class="modal-body">
    <div
      infiniteScroll
      [infiniteScrollUpDistance]="1.5"
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScrollDown()"
      (scrolledUp)="onScrollUp()"
      [scrollWindow]="false"
      class="footmates-wrapper"
    >
      <div class="footmate-block" *ngFor="let footmate of mutualFootmate">
        <div class="dp">
          <img [src]="footmate.avatar" alt="profile-icon" />
        </div>
        <div class="details">
          <h3>
            <a
              target="_blank"
              [routerLink]="['/member/profile/view/' + footmate.user_id]"
              >{{ footmate.name }}</a
            >
          </h3>
          <h5>{{ footmate.player_type }}</h5>
          <p>{{ footmate.position }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
