@import "src/assets/sass/abstracts/variables";
@import "src/assets/sass/abstracts/mixins";
.from-container {
  margin: -24px;
}
.header {
  background: $blue;
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
  align-items: center;
  .title {
    width: 70%;
    h3 {
      color: $color-white;
      font-size: 2.8rem;
    }
  }
  .close {
    width: 30%;
    display: block;
    text-align: right;
    img {
      max-width: 2rem;
      width: 100%;
      cursor: pointer;
    }
  }
}

.modal-body {
  .footmates-wrapper {
    display: flex;
    padding: 2rem;
    flex-wrap: wrap;
    max-height: 50rem;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0.5rem;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
    }
    .footmate-block {
      padding: 1rem 2rem;
      display: flex;
      align-items: center;
      width: 47%;
      margin: 1rem;
      box-shadow: 0rem 0rem 0.8rem 0rem rgba(0, 0, 0, 0.2);
      .dp {
        img {
          width: 6rem;
          height: 6rem;
          border-radius: 7rem;
        }
      }
      .details {
        margin-left: 1rem;
        h3 {
          font-size: 2.2rem;
          line-height: 3.5rem;
          a {
            color: $blue;
            text-decoration: none;
          }
        }
        h5 {
          font-size: 1.8rem;
          color: $text-muted;
          line-height: 2.2rem;
        }
        p {
          font-size: 1.6rem;
          color: $text-muted;
          line-height: 2.2rem;
        }
      }
    }
  }
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
