<div class="from-container">
  <div class="header">
    <div class="title">
      <h2>Mutual FooTMates</h2>
    </div>
    <div class="close">
      <mat-icon mat-dialog-close class="material-icons">close</mat-icon>
    </div>
  </div>
  <div class="modal-body">
    <div
      infiniteScroll
      [infiniteScrollUpDistance]="1.5"
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScrollDown()"
      (scrolledUp)="onScrollUp()"
      [scrollWindow]="false"
      class="footmates-wrapper"
    >
      <div class="player-wrapper">
        <div class="player-block" *ngFor="let footmate of mutualFootmate">
          <!-- <img [src]="footmate.avatar" alt="profile-icon" /> -->
          <img src="assets/images/member/profile.png" alt="" />
          <div class="profile-details">
            <h3>
              <a
                target="_blank"
                [routerLink]="['/member/profile/public/' + footmate.user_id]"
                >{{ footmate.name }}</a
              >
            </h3>
            <p>{{ footmate.position }}</p>
            <div class="player-categroy">
              <h5>{{ footmate.player_type | titlecase }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
