@import "src/assets/sass/abstracts/variables";
@import "src/assets/sass/abstracts/mixins";

.wrapper {
  padding: 0 1rem 0rem 1rem;

  // heading css
  .heading {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0rem;
    color: $fourth-color;

    @include responsive(smallphone) {
      flex-wrap: wrap;
    }

    h2 {
      @include responsive(smallphone) {
        width: inherit;
      }
    }
    button {
      @include responsive(smallphone) {
        width: inherit;
      }
    }

    button.secondary-btn {
      @media (max-width: 450px) {
        margin-top: 2rem;
        width: 50%;
      }

      @include responsive(smallestphone) {
        width: 100%;
        max-width: 28rem;
      }
    }
  }
}

.notfound {
  background: $third-color;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;

  h3 {
    color: $second-color;
    font-weight: 500;
  }
}

.active-status {
  background-color: $success;
}

.complete-status {
  background-color: $warning;
}

.pending-status {
  background-color: $info;
}

.yet-status {
  background-color: $yet;
}

::ng-deep {
  .deletepopup {
    width: 50%;

    @include responsive(tablet) {
      width: 60%;
    }

    @include responsive(bigphone) {
      width: 75%;
    }

    @include responsive(mediumphone) {
      width: 100%;
    }

    @include responsive(smallphone) {
      max-width: 95vw !important;
    }
  }
}
