@import "src/assets/sass/abstracts/variables";

.enroll-user {
  .card-body {
    form {
      margin-top: 5.5rem;
      .form-group {
        .input__text,
        select {
          height: 5.3rem;
          font-size: 1.8rem;
        }
      }
      .action-block {
        margin-bottom: 5rem;
        align-self: flex-end;
        .btn {
          padding: 1.8rem;
          font-size: 2rem;
        }
      }
    }
  }
}
.is-valid {
  border: solid green 1px;
}
.is-invalid {
  border: solid red 1px;
}
