<div class="enroll-user card">
  <div class="card__header">
    <div class="heading">
      <h2>Enroll User</h2>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="enrollForm">
      <div fxLayout="row wrap" fxLayoutGap="5.3%">
        <div class="form-group" fxFlex="28%">
          <label for="">User ID</label>
          <input
            formControlName="user_id"
            type="text"
            class="input__text"
            [ngClass]="{
              'is-invalid': submitted && enrollForm.controls.user_id.invalid,
              'is-valid': submitted && enrollForm.controls.user_id.valid
            }"
          />
        </div>
        <div class="form-group" fxFlex="28%">
          <label for="">Vendor ID</label>
          <input
            formControlName="vendor_id"
            type="text"
            class="input__text"
            [ngClass]="{
              'is-invalid': submitted && enrollForm.controls.vendor_id.invalid,
              'is-valid': submitted && enrollForm.controls.vendor_id.valid
            }"
          />
        </div>
        <div class="form-group" fxFlex="28%">
          <label for="">Employee Name</label>
          <input
            formControlName="name"
            type="text"
            class="input__text"
            [ngClass]="{
              'is-invalid': submitted && enrollForm.controls.name.invalid,
              'is-valid': submitted && enrollForm.controls.name.valid
            }"
          />
        </div>
        <div class="form-group" fxFlex="28%">
          <label for="">Email Address</label>
          <input
            formControlName="email"
            type="email"
            class="input__text"
            [ngClass]="{
              'is-invalid': submitted && enrollForm.controls.email.invalid,
              'is-valid': submitted && enrollForm.controls.email.valid
            }"
          />
        </div>
        <div class="form-group" fxFlex="28%">
          <label for="">Phone Number</label>
          <input
            formControlName="phone"
            type="number"
            class="input__text"
            [ngClass]="{
              'is-invalid': submitted && enrollForm.controls.phone.invalid,
              'is-valid': submitted && enrollForm.controls.phone.valid
            }"
          />
        </div>
        <div class="form-group" fxFlex="28%">
          <label for="">Entity</label>
          <select
            formControlName="warehouse"
            [ngClass]="{
              'is-invalid': submitted && enrollForm.controls.warehouse.invalid,
              'is-valid': submitted && enrollForm.controls.warehouse.valid
            }"
          >
            <option value="warehouse1">Warehouse1</option>
            <option value="warehouse2">Warehouse2</option>
          </select>
        </div>
        <div class="form-group" fxFlex="28%">
          <label for="">Date of Birth</label>
          <div class="input__group date">
            <input
              formControlName="dob"
              matInput
              [matDatepicker]="DOB"
              class="input__text"
              [ngClass]="{
                'is-invalid': submitted && enrollForm.controls.dob.invalid,
                'is-valid': submitted && enrollForm.controls.dob.valid
              }"
            />
            <span class="input__group--addon">
              <mat-datepicker-toggle [for]="DOB">text</mat-datepicker-toggle>
            </span>
            <mat-datepicker #DOB></mat-datepicker>
          </div>
        </div>
        <div class="form-group" fxFlex="28%">
          <label for="">Joining Date</label>
          <div class="input__group date">
            <input
              formControlName="doj"
              matInput
              [matDatepicker]="JoiningDate"
              class="input__text"
              [ngClass]="{
                'is-invalid': submitted && enrollForm.controls.doj.invalid,
                'is-valid': submitted && enrollForm.controls.doj.valid
              }"
            />
            <span class="input__group--addon">
              <mat-datepicker-toggle [for]="JoiningDate">text</mat-datepicker-toggle>
            </span>
            <mat-datepicker #JoiningDate></mat-datepicker>
          </div>
        </div>
        <div class="form-group" fxFlex="28%">
          <label for="">Location</label>
          <select
            formControlName="location"
            [ngClass]="{
              'is-invalid': submitted && enrollForm.controls.location.invalid,
              'is-valid': submitted && enrollForm.controls.location.valid
            }"
          >
            <option value="Noida">Noida</option>
            <option value="Delhi">Delhi</option>
          </select>
        </div>
        <div class="form-group" fxFlex="28%">
          <label for="">Role</label>
          <select
            formControlName="role"
            [ngClass]="{
              'is-invalid': submitted && enrollForm.controls.role.invalid,
              'is-valid': submitted && enrollForm.controls.role.valid
            }"
          >
            <option value="admin">Admin</option>
            <option value="manager">Manager</option>
            <option value="employee">Employee</option>
          </select>
        </div>
        <div class="form-group" fxFlex="28%">
          <label for="">Department</label>
          <select
            formControlName="department"
            [ngClass]="{
              'is-invalid': submitted && enrollForm.controls.department.invalid,
              'is-valid': submitted && enrollForm.controls.department.valid
            }"
          >
            <option value="department1">Department1</option>
            <option value="department2">Department2</option>
          </select>
        </div>
        <div class="action-block" fxFlex="28%">
          <button class="btn btn-block btn-gredient" (click)="submitToDb()">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
