@import "src/assets/sass/abstracts/variables";
@import "src/assets/sass/abstracts/mixins";

.wrapper {
  width: 95%;
  margin: 0 auto;

  // heading css
  .heading {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    color: $fourth-color;

    button {
      border: none;
      background: transparent;
      cursor: pointer;

      &:hover {
        color: $primary-color;
      }
    }

    span {
      color: $primary-color;
    }
  }

  //

  .view-wrapper {
    .second-section {
      width: 90%;
      margin: 0 auto;

      .view-details {
        display: flex;
        width: 100%;

        .details {
          display: flex;
          width: 50%;
          margin: 1rem 0;

          .left {
            width: 40%;

            h4 {
              font-weight: 500;
              color: $second-color;
            }
          }

          .right {
            width: 60%;

            p {
              font-size: $heading-fourth;
            }
          }
        }
      }
    }

    .document {
      display: flex;
      width: 90%;
      margin: 2rem auto;

      .doc-img {
        width: 30%;

        h5 {
          font-weight: 600;
        }

        img {
          max-height: 15rem;
          max-width: 100%;
          border-radius: 1rem;
        }

        .pdf {
          background-color: $third-color;
          padding: 1rem;

          img {
            margin-bottom: 1rem;
          }
        }
      }
    }

    .verification-profile {
      width: 90%;
      margin: 0 auto 2rem auto;

      h3 {
        margin-bottom: 1rem;
      }

      img {
        border-radius: 1rem;
        max-height: 15rem;
        max-width: 100%;
      }
    }
  }

  // edit secition goes here

  .edit-wrapper {
    .document-wrapper {
      width: 90%;
      margin: 0 auto;

      .upload-section {
        h4 {
          font-weight: 500;
          margin-bottom: 1rem;

          span {
            color: $primary-color;
          }

          img {
            margin-right: 1rem;
            transform: translateY(0.3rem);
            -webkit-transform: translateY(0.3rem);
            -moz-transform: translateY(0.3rem);
            cursor: pointer;
          }
        }

        .upload-document {
          display: flex;
          width: 100%;

          label {
            width: 33%;
            margin-right: 4rem;
            font-weight: 600;
            color: $fourth-color;
            cursor: pointer;

            p {
              font-weight: 400;
              margin: 0.5rem 0;
            }

            .upload-btn {
              display: flex;
              align-items: center;
              justify-content: center;
              border: 1px solid $grey;
              border-radius: 1rem;
              padding: 2rem;
              height: 15rem;
              cursor: pointer;

              img {
                max-width: 8rem;
                margin-right: 2rem;
              }

              span {
                width: 50%;
                display: block;
                text-align: right;

                input {
                  opacity: 0;
                  width: 4rem;
                  display: none;
                }

                span {
                  color: $white-color;
                  background: $primary-color;
                  border-radius: 5rem;
                  padding: 1rem 3rem;
                  display: inline-block;
                  width: 100%;
                  text-align: center;
                  max-width: 12rem;
                }
              }
            }
          }
        }
      }

      .verification-profile {
        margin: 0 auto 2rem auto;

        h3 {
          margin-bottom: 1rem;

          img {
            margin-right: 1rem;
            transform: translateY(0.3rem);
            -webkit-transform: translateY(0.3rem);
            -moz-transform: translateY(0.3rem);
            cursor: pointer;
          }

          span {
            color: $primary-color;
          }
        }

        .edit-image {
          position: relative;
          max-width: 15rem;

          img {
            border-radius: 1rem;
            max-height: 15rem;
            max-width: 100%;
          }

          span {
            border: 0.2rem solid $white-color;
            background: $fourth-color;
            color: $white-color;
            padding: 0.6rem 0.8rem;
            border-radius: 3rem;
            outline: 0px;
            position: absolute;
            bottom: 0rem;
            right: -0.5rem;
            cursor: pointer;

            input {
              width: 1rem;
              position: absolute;
              left: 0;
              visibility: hidden;
            }

            .mat-icon {
              height: 1.8rem;
              width: 1.8rem;
            }

            .material-icons {
              font-size: 1.8rem;
            }
          }
        }
      }
    }

    // form-width-control
    .input-container {
      display: flex;

      .full {
        width: 100%;
      }

      .half {
        width: 48%;
        margin-right: 3rem;
      }

      .third {
        width: 31%;
        margin-right: 3rem;
      }

      .two-third {
        width: 65%;
      }
    }
  }
}
