<div class="wrapper">
  <!-- Viewwrapper -->
  <div class="view-wrapper">
    <div class="heading">
      <h2>Documents</h2>
      <button>
        <mat-icon class="material-icons">create</mat-icon>
      </button>
    </div>

    <div class="second-section">
      <h3>Aadhaar Details</h3>
      <!-- first row -->
      <div class="view-details">
        <div class="details">
          <div class="left">
            <h4>Aadhaar number</h4>
          </div>
          <div class="right">
            <p>5698 2154 1254 2136</p>
          </div>
        </div>
      </div>
    </div>

    <div class="document">
      <div class="doc-img">
        <h5>Front side</h5>
        <img src="assets/images/member/aadhaar.png" alt="" />
      </div>
      <div class="doc-img">
        <h5>Back side</h5>
        <img src="assets/images/member/aadhaar.png" alt="" />
      </div>
      <div class="doc-img">
        <h5>Aadhaar PDF</h5>
        <div class="pdf">
          <img src="assets/images/member/aadhaar.png" alt="" />
          <img src="assets/images/member/aadhaar.png" alt="" />
        </div>
      </div>
    </div>

    <div class="verification-profile">
      <h3>Photo for verification :</h3>
      <img src="assets/images/member/profile-square.png" alt="" />
    </div>
  </div>

  <!-- editwrapper -->
  <div class="edit-wrapper">
    <div class="heading">
      <h2>Documents</h2>
    </div>

    <form>
      <div class="document-wrapper">
        <div class="heading">
          <h3>Aadhaar file format <span>*</span></h3>
        </div>

        <div class="section">
          <div class="input-container">
            <div class="full">
              <div class="radio-block">
                <mat-radio-group class="example-radio-group">
                  <mat-radio-button checked value="Image">
                    Image
                  </mat-radio-button>
                  <mat-radio-button value="PDF">
                    PDF
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>
          <div class="upload-section">
            <h4>
              Upload Aadhaar image
              <img src="assets/images/global/info.svg" alt="" /> <span>*</span>
            </h4>
            <div class="upload-document">
              <label for="uploadfront">
                Front side
                <div class="upload-btn">
                  <img src="assets/images/member/front.png" alt="" />
                  <span>
                    <input type="file" id="uploadfront" />
                    <button>Upload</button>
                  </span>
                </div>
              </label>
              <label for="uploadback">
                Back side
                <div class="upload-btn">
                  <img src="assets/images/member/back.png" alt="" />
                  <span>
                    <input type="file" id="uploadback" />
                    <button>Upload</button>
                  </span>
                </div>
              </label>
              <label for="upload-pdf">
                Upload Aadhaar PDF
                <div class="upload-btn">
                  <img src="assets/images/member/front.png" alt="" />
                  <span>
                    <input type="file" id="upload-pdf" />
                    <button>Upload</button>
                  </span>
                </div>
              </label>
            </div>
          </div>

          <div class="input-container">
            <div class="third">
              <div class="form-block">
                <label>Aadhaar number <span>*</span></label>
                <input type="text" placeholder="Aadhaar number" />
              </div>
            </div>
          </div>
        </div>

        <div class="verification-profile">
          <h3>
            Photo for verification
            <img src="assets/images/global/info.svg" alt="" />
            <span>*</span>
          </h3>
          <div class="edit-image">
            <img src="assets/images/member/profile-square.png" alt="" />
            <span>
              <label for="upload">
                <mat-icon class="material-icons">create</mat-icon>
                <input type="file" id="upload" />
              </label>
            </span>
          </div>
        </div>

        <div class="actions mt-2 mb-2">
          <div class="btn-group">
            <button class="btn-normal">Cancel</button>
            <button class="btn-active">Save changes</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
