<form>
  <div fxLayout="row">
    <div class="form-group" fxFlex="100%">
      <label for="">Enter Your Link Here</label>
      <div class="input-group">
        <input class="input-group__input" type="text" placeholder="Link Here" />
        <span class="input-group__addon">
          <img src="assets/images/icons/link-grey.png" alt="Upload" />
        </span>
      </div>
    </div>
  </div>
  <div fxLayout="row">
    <div class="action-block">
      <button class="btn btn-gredient">Save</button>
    </div>
  </div>
</form>
