<div class="from-container">
  <form [formGroup]="editAddForm">
    <div class="header">
      <div class="title">
        <h3>Add Awards</h3>
      </div>
      <div class="close">
        <img
          [mat-dialog-close]
          src="assets/images/icons/close-white.png"
          alt=""
        />
      </div>
    </div>
    <div class="modal-body">
      <div class="from-wrapper">
        <!-- Awards type  -->
        <div class="from-block">
          <label
            >Award Type
            <span>*</span>
          </label>
          <select formControlName="type" matNativeControl required>
            <option value="">Select Award Type</option>
            <option value="Awards Type">Awards Type</option>
            <option value="Awards Type">Awards Type</option>
            <option value="Awards Type">Awards Type</option>
          </select>
        </div>

        <!-- Awards Name  -->
        <div class="from-block">
          <label
            >Award Name
            <span>*</span>
          </label>
          <input
            formControlName="name"
            type="text"
            matInput
            placeholder="Award Name"
          />
        </div>
      </div>
      <div class="from-wrapper">
        <!-- year  -->
        <div class="from-block">
          <div class="datepicker">
            <label
              >Year
              <span>*</span>
            </label>
            <input
              formControlName="year"
              matInput
              [matDatepicker]="picker"
              readonly
              placeholder="Select Year"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </div>
        </div>

        <!-- position secured  -->
        <div class="from-block">
          <label
            >Position Secured
            <span>*</span>
          </label>
          <input
            formControlName="position"
            type="text"
            matInput
            placeholder="Position"
          />
        </div>
      </div>
      <div class="from-wrapper">
        <!-- Upload image  -->
        <div class="from-block">
          <label
            >Upload Image
            <span>*</span>
          </label>
          <input type="file" (change)="uploadAchievement($event.target.files)"/>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button (click)="onNoClick()" class="cancel">Cancel</button>
      <button [mat-dialog-close] (click)="editAddFormValue()" class="save">Save</button>
    </div>
  </form>
</div>
