<div class="from-container">
  <form [formGroup]="editAddForm">
    <div class="header">
      <div class="title">
        <h3>Add Awards</h3>
      </div>
      <div class="close">
        <img
          [mat-dialog-close]
          src="assets/images/icons/close-white.png"
          alt=""
        />
      </div>
    </div>
    <div class="modal-body">
      <div class="from-wrapper">
        <!-- Awards type  -->
        <div class="from-block">
          <label
            >Award Type
            <span>*</span>
          </label>
          <select formControlName="type" matNativeControl required>
            <option value="">Select Award Type</option>
            <ng-container *ngFor="let award of awardsArray">
              <option value="{{ award.value }}">{{ award.name }}</option>
            </ng-container>
          </select>
          <mat-error
            *ngIf="
              editAddForm.controls.type.invalid &&
              editAddForm.controls.type.touched
            "
          >
            <span *ngIf="editAddForm.controls.type.errors.required" translate
              >Award Type is required
            </span>
          </mat-error>
        </div>

        <!-- Awards Name  -->
        <div class="from-block">
          <label>Award Name </label>
          <input
            formControlName="name"
            type="text"
            matInput
            placeholder="Award Name"
          />
          <mat-error
            *ngIf="
              editAddForm.controls.name.invalid &&
              editAddForm.controls.name.touched
            "
          >
            <ng-template #lengthBlock>
              <span
                class="error-text"
                *ngIf="
                  editAddForm.controls.name.errors &&
                  editAddForm.controls.name.errors.maxlength
                "
              >
                Please provide award name upto
                {{ editAddForm.controls.name.errors.maxlength.requiredLength }}
                characters
              </span>
            </ng-template>
            <span
              class="error-text"
              *ngIf="
                editAddForm.controls.name.errors &&
                  editAddForm.controls.name.errors.pattern;
                else lengthBlock
              "
            >
              Award Name format is invalid
            </span>
          </mat-error>
        </div>
      </div>
      <div class="from-wrapper">
        <!-- year  -->
        <div class="from-block">
          <div class="datepicker">
            <label
              >Year
              <span>*</span>
            </label>
            <input
              formControlName="year"
              matInput
              [matDatepicker]="picker"
              readonly
              placeholder="Select Year"
              [min]="minDate"
              [max]="maxDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker
              #picker
              startView="multi-year"
              (yearSelected)="closeDatePicker(picker, $event)"
            ></mat-datepicker>
          </div>
          <mat-error
            *ngIf="
              editAddForm.controls.year.invalid &&
              editAddForm.controls.year.touched
            "
          >
            <span *ngIf="editAddForm.controls.year.errors.required" translate
              >Year is required</span
            >
          </mat-error>
        </div>

        <!-- position secured  -->
        <div class="from-block">
          <label>Position Secured </label>
          <input
            formControlName="position"
            type="text"
            matInput
            placeholder="Position"
          />
          <mat-error
            *ngIf="
              editAddForm.controls.position.invalid &&
              editAddForm.controls.position.touched
            "
          >
            <ng-template #lengthBlock>
              <span
                class="error-text"
                *ngIf="
                  editAddForm.controls.position.errors &&
                  editAddForm.controls.position.errors.maxlength
                "
              >
                Please provide award position upto
                {{
                  editAddForm.controls.position.errors.maxlength.requiredLength
                }}
                characters
              </span>
            </ng-template>
            <span
              class="error-text"
              *ngIf="
                editAddForm.controls.position.errors &&
                  editAddForm.controls.position.errors.pattern;
                else lengthBlock
              "
            >
              Award Position format is invalid
            </span>
          </mat-error>
        </div>
      </div>
      <div class="from-wrapper">
        <!-- Upload image  -->
        <div class="from-block">
          <label>Upload Image </label>
          <input
            type="file"
            (change)="uploadAchievement($event.target.files)"
          />
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button [mat-dialog-close] class="cancel">Cancel</button>
      <button
        (click)="editAddFormValue()"
        class="save"
        [disabled]="editAddForm.invalid"
      >
        Save
      </button>
    </div>
  </form>
</div>
