@import "src/assets/sass/abstracts/variables";
@import "src/assets/sass/abstracts/mixins";
.from-container {
  margin: -24px;
}
.header {
  background: $blue;
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
  align-items: center;
  .title {
    width: 70%;
    h3 {
      color: $color-white;
      font-size: 2.8rem;
    }
  }
  .close {
    width: 30%;
    display: block;
    text-align: right;
    img {
      max-width: 2rem;
      width: 100%;
      cursor: pointer;
    }
  }
}

.modal-body {
  padding: 3rem 0 0 0;

  .from-wrapper {
    padding: 0px 2rem;
    display: flex;
    justify-content: space-between;
  }
}
.modal-footer {
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
  border-top: 0.2rem solid $border-color;
  button.cancel {
    @include cancel;
  }
  button.save {
    @include save;
  }
}

// form sections
.from-block {
  width: 48%;
  padding-bottom: 2rem;
  position: relative;
  margin-bottom: 1rem;
  label {
    display: block;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    font-size: 1.8rem;
    font-weight: 700;
    span {
      color: $error;
    }
  }
  input,
  select {
    width: 100%;
    border: 1px solid $border-color;
    border-radius: 0.8rem;
    padding: 1.2rem 2rem;
    outline: none;
    &:focus {
      border: 1px solid $blue;
    }
  }
  select {
    appearance: none;
    background-image: url("../../../assets/icons/sort.svg");
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem) center;
  }

  .file-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    input[type="file"] {
      border: none;
      padding: 1.2rem 0rem;
      margin-right: 2rem;
      width: 180px;
      cursor: pointer;
    }
    a {
      color: $blue;
      font-size: 2rem;
      font-weight: 700;
      text-decoration: none;
    }
  }
  .datepicker {
    position: relative;
    input {
      background: url("../../../assets/icons/calendar.svg");
      background-size: 2rem 2rem;
      background-repeat: no-repeat;
      background-position: calc(100% - 1rem) center;
    }
    .mat-datepicker-toggle {
      position: absolute;
      top: 1.2rem;
      right: 0.3rem;
      opacity: 0;
    }
  }
}

.w-100 {
  width: 100%;
}
.mat-calendar-period-button {
  pointer-events: none;
}
.mat-calendar-arrow {
  display: none;
}
