@import "src/assets/sass/abstracts/variables";
@import "src/assets/sass/abstracts/mixins";

.from-container {
  margin: -24px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
  align-items: center;
  background: $fifth-color;

  .title {
    width: 70%;

    h3 {
      font-size: $heading-Seoncdary;
      color: $fourth-color;
      font-weight: 600;
    }
  }

  .close {
    width: 30%;
    display: block;
    text-align: right;

    .mat-icon {
      cursor: pointer;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

.modal-body {
  padding: 2rem 3rem 0rem 3rem;

  .from-wrapper {
    display: flex;
    justify-content: space-between;

    .form-block {
      width: 48%;
    }
  }
}

.modal-footer {
  padding: 0rem 3rem 2rem 3rem;
  display: block;
  text-align: right;

  .action-block {
    button {
      margin-right: 0rem;

      &:hover {
        box-shadow: none;
      }
    }
  }
}
