@import "src/assets/sass/abstracts/variables";
.btn {
  border: 0.1em solid $color-black;
  background: $color-white;
  color: $color-black;
  padding: 1rem 3rem;
  border-radius: 0.8rem;
  line-height: 1;
  font-size: 1.4rem;
  outline: none;
  cursor: pointer;
  &-block {
    width: 100%;
    display: block;
  }
  &-gredient {
    color: $color-white;
    border-color: $color-primary;
    background-image: linear-gradient(-3deg, $color-primary-dark 0%, $color-primary-light 100%);
  }
  &-primary {
    color: $color-white;
    border-color: $color-primary;
    background: $color-primary;
  }
}
