@import "src/assets/sass/abstracts/variables";
@import "src/assets/sass/abstracts/mixins";

.btn {
  padding: 1.5rem 3rem;
  line-height: 1;
  font-family: $primary-text;
  font-size: $heading-third;
  outline: none;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  border-radius: 5rem;
  cursor: pointer;
  border: none;

  &-block {
    width: 100%;
  }

  &-primary {
    color: $color-white;
    background: $primary-color;
    margin-top: 1rem;

    &:disabled {
      background: rgba($primary-color, 0.3);
    }
  }

  &-shadow {
    box-shadow: 0px 0px 0.1rem rgba($primary-color, 0.04),
      0px 0.2rem 0.6rem rgba($primary-color, 0.12),
      0px 10px 20px rgba($primary-color, 0.18);
    border-radius: 25px;
  }
}

.btn {
  padding: 1.5rem 3rem;
  line-height: 1;
  font-family: $primary-text;
  font-size: $heading-third;
  outline: none;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  border-radius: 5rem;
  cursor: pointer;
  border: none;

  &-block {
    width: 100%;
  }

  &-secondary {
    color: $color-white;
    background: $fourth-color;
    margin-top: 1rem;

    &:disabled {
      background: rgba($fourth-color, 0.3);
    }
  }

  &-shadow-secondary {
    box-shadow: 0px 0px 1px rgba($fourth-color, 0.04),
      0px 2px 6px rgba($fourth-color, 0.12),
      0px 10px 20px rgba($fourth-color, 0.18);
    border-radius: 5rem;
  }
}

//  button group goes here
.btn-group {
  width: 100%;

  button {
    margin-right: 2rem;
    background: $fourth-color;
    font-family: $primary-text;
    border: none;
    color: $white-color;
    padding: 1rem 3rem;
    font-size: $heading-fourth;
    font-weight: 500;
    border-radius: 5rem;
    outline: 0px;
    cursor: pointer;
    @include shadow-btn-secondary;

    &:hover {
      background: $primary-color;
      @include shadow-btn-primary;
    }

    &:disabled {
      opacity: 0.6;
      box-shadow: none;

      &:hover {
        background: $fourth-color;
      }
    }
  }

  .btn-active {
    background: $primary-color;
    @include shadow-btn-primary;
  }

  .btn-normal {
    &:hover {
      background: $fourth-color;
      @include shadow-btn-secondary;
    }
  }
}

.btn-disable {
  pointer-events: none;
  cursor: pointer;
  user-select: none;
  opacity: 0.4;
}

.icon-disable {
  pointer-events: none;
  cursor: not-allowed;
  user-select: none;
  color: $grey !important;

  button {
    pointer-events: none;
    cursor: not-allowed;
    user-select: none;
    color: $grey !important;
  }
}

.pb-3 {
  padding-bottom: 3rem;
}

.big-icons {
  height: 3.6rem !important;
  width: 3.6rem !important;
  font-size: 3.6rem !important;
}

.secondary-btn {
  background: $fourth-color;
  font-family: $primary-text;
  border: none;
  color: $white-color;
  padding: 1rem 3rem;
  font-size: $heading-fourth;
  font-weight: 500;
  border-radius: 5rem;
  outline: 0px;
  cursor: pointer;
  @include shadow-btn-secondary;

  &:hover {
    background: $primary-color;
    @include shadow-btn-primary;
  }
}

.icon-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;

  &:hover {
    color: $primary-color;
  }
}
