@import "src/assets/sass/abstracts/variables";
.btn {
  border: 0.1em solid $color-black;
  background: $blue;
  color: $color-white;
  padding: 1rem 3rem;
  line-height: 1;
  font-size: 1.8rem;
  outline: none;
  cursor: pointer;
  &-block {
    width: 100%;
    display: block;
  }
  &-gredient {
    color: $color-white;
    border-color: $color-primary;
    background-color: $blue;
  }
  &-primary {
    color: $color-white;
    border-color: $color-primary;
    background: $color-primary;
  }
}
