@import "../abstracts/variables";

.mat-checkbox {
  .mat-checkbox-layout {
    align-items: center !important;

    .mat-checkbox-inner-container {
      height: 20px;
      width: 20px;
    }

    .mat-checkbox-label {
      line-height: 2.4px;
      font-size: $heading-fourth !important;
      font-family: $primary-text;
      color: $second-color;
      font-weight: 500;
    }
  }

  .mat-checkbox-frame {
    border-color: $second-color !important;
    border-radius: 3px;
  }
}

//
.radio-block {
  padding-bottom: 2rem;
}

.mat-radio-button {
  margin-right: 2rem;

  .mat-radio-label {
    font-size: $heading-third;
  }

  .mat-radio-container {
    height: 16px;
    width: 16px;

    .mat-radio-outer-circle {
      border-color: $primary-color;
      height: 16px;
      width: 16px;
    }

    .mat-radio-inner-circle {
      background-color: $primary-color;
      height: 16px;
      width: 16px;
    }

    .mat-radio-button.mat-accent.mat-radio-checked
      .mat-radio-persistent-ripple {
      background-color: $primary-color !important;
    }

    .mat-radio-label-content {
      font-size: $heading-fourth !important;
      color: $second-color !important;
    }
  }
}

.mat-checkbox-checked {
  .mat-checkbox-background {
    background-color: $primary-color !important;
  }
}

.mat-radio-checked {
  .mat-radio-container {
    .mat-radio-outer-circle {
      border-color: $primary-color !important;
    }

    .mat-radio-inner-circle {
      background-color: $primary-color !important;
    }
  }
}

.mat-tooltip {
  font-size: $heading-fifth !important;
}
