@import "../abstracts/variables";

.fileupload {
  &__input {
    min-height: 5.6rem;
    border-radius: 1rem;
    background-color: #ffffff;
    border: 0.1rem solid #d7d7d7;
    position: relative;
    padding-right: 8rem;
    padding-left: 2.7rem;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    &--btn {
      position: absolute;
      height: calc(100% + 0.2rem);
      padding: 0 2.65rem;
      background: #ebebeb;
      right: -0.1rem;
      bottom: -0.1rem;
      top: -0.1rem;
      border-radius: 1rem;
      outline: none;
      border: 0.1rem solid #d7d7d7;
      cursor: pointer;
      img {
        width: 2.3rem;
        &.browse-file {
          width: 3.2rem;
        }
      }
    }
    &--value {
      font-size: 1.8rem;
      color: #a7a7a7;
      font-weight: 400;
    }
  }
}
