@import "../abstracts/variables";

.form-block {
  position: relative;
  padding-bottom: 2.5rem;
  margin-top: 1rem;

  label {
    font-size: $heading-fourth;
    display: block;
    font-weight: 500;
    display: flex;

    span {
      margin-left: 0.5rem;
      color: $primary-color;
    }
  }

  input {
    width: 100%;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    outline: none;
    background: $third-color;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
    color: $second-color;
    font-size: $heading-fourth;

    &:focus {
      background: $fifth-color;
    }
  }

  .error-input {
    background-color: rgba($error, 0.1) !important;
    border: 1px solid $error;
  }

  .error-text {
    color: $error;
    padding: 0.5rem 0;
    width: 100%;
    position: absolute;
    bottom: 0rem;
    left: 0px;
  }
}

.pass-fields {
  position: relative;

  .mat-icon {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 2.8rem;
    color: $second-color;
  }
}
