@import "../abstracts/variables";

.form-block {
  position: relative;
  padding-bottom: 2.5rem;
  margin-top: 1rem;

  label,
  label.forgetlink,
  label.info-icon {
    font-size: $heading-fourth;
    display: block;
    font-weight: 500;
    display: flex;
    margin-bottom: 0.5rem;

    span {
      margin-left: 0.5rem;
      color: $primary-color;
    }
  }

  input,
  select,
  textarea {
    width: 100%;
    padding: 1rem 4rem 1rem 1rem;
    border: 1px solid transparent;
    outline: none;
    background: $third-color;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
    color: $second-color;
    font-size: $heading-fourth;

    &:focus {
      background: $fifth-color;
    }
  }

  textarea {
    resize: none;
  }

  select {
    background: url("assets/images/global/down.svg") no-repeat, $third-color;
    background-position: calc(100% - 1rem);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:focus {
      background: url("assets/images/global/down.svg") no-repeat, $fifth-color;
      background-position: calc(100% - 1rem);
    }

    option {
      outline: none;
    }
  }

  .error-input {
    background-color: rgba($error, 0.1) !important;
    border: 1px solid $error;
  }

  .error-text {
    color: $error;
    padding: 0.5rem 0;
    width: 100%;
    position: absolute;
    bottom: 0rem;
    left: 0px;
  }
}

.phone-block {
  display: flex;
  justify-content: space-between;

  .country-code {
    width: 25%;
  }

  .phone-number {
    width: 73%;
  }
}

.pass-fields {
  position: relative;

  .mat-icon {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 2.8rem;
    color: $second-color;
    cursor: pointer;
  }
}

.txtarea-height {
  min-height: 15rem;
}

.double {
  display: flex;
  justify-content: space-between;

  input {
    width: 48%;
  }
}

.date {
  position: relative;

  input {
    background: url("assets/images/global/calender.svg") no-repeat, $third-color;
    background-position: calc(100% - 1rem);

    &:focus {
      background: url("assets/images/global/calender.svg") no-repeat,
        $fifth-color;
      background-position: calc(100% - 1rem);
    }
  }

  .mat-datepicker-toggle {
    opacity: 0;
    position: absolute;
    right: 0;
    top: -0.5rem;
  }
}

.label-small {
  font-size: $heading-fifth !important;
}

// star
.star-rating {
  direction: rtl;
  display: inline-block;
  padding: 0.5rem 0rem;
}

.star-rating input[type="radio"] {
  display: none;
}

.star-rating label {
  color: $fourth-color;
  font-size: 2rem;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
}

.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type="radio"]:checked ~ label {
  color: $primary-color;
}
