@import "../abstracts/variables";

.pagination {
  display: flex;
  justify-content: flex-end;
  &__item {
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 2rem;
    background-image: linear-gradient(
      -3deg,
      $color-primary-dark 0%,
      $color-primary-light 100%
    );
    border: 0.1rem solid $color-primary-dark;
    padding: 1.15rem 1.485rem;
    line-height: 1;
    color: $color-white;
    margin-left: 0.8rem;
    outline: none;
    cursor: pointer;
    &.prev {
      margin-right: 0.9rem;
    }
    &.next {
      margin-left: 1.7rem;
    }
    &.active {
      background: $color-white;
      color: #333;
    }
  }
}
