@import "../abstracts/variables";

.mat-table {
  // ::ng-deep{
  .mat-header-row {
    min-height: 5rem;
    background-image: linear-gradient(
      -3deg,
      $color-primary-dark 0%,
      $color-primary-light 100%
    );
    border: 1px solid #e7e7e7;
    .mat-header-cell {
      font-size: 1.7rem;
      line-height: 3.4rem;
      color: $color-white;
      padding: 0 5.8rem;
      &.mat-column-position {
        flex: 0 0 7.7rem;
        border-right: 1px solid #e7e7e7;
        justify-content: center;
        padding: 0;
      }
      &.mat-column-action {
        justify-content: center;
      }
      &.mat-column-select {
        justify-content: center;
      }
    }
  }
  .mat-row {
    border: 0.1px solid #e7e7e7;
    border-top: none;
    background: $color-white;
    min-height: 5rem;
    &:nth-child(even) {
      background: rgba(lighten($color-primary, 15), 0.1);
    }
    .mat-cell {
      align-self: stretch;
      font-size: 1.7rem;
      line-height: 3.4rem;
      padding: 0 5.8rem;
      &.mat-column-position {
        flex: 0 0 7.7rem;
        border-right: 1px solid #e7e7e7;
        justify-content: center;
        padding: 0;
      }
      &.mat-column-action {
        justify-content: center;
      }
      &.mat-column-select {
        justify-content: center;
      }
      span.badge {
        background-image: linear-gradient(
          -3deg,
          $color-primary-dark 0%,
          $color-primary-light 100%
        );
        border-radius: 1.2rem;
        padding: 0.5rem 3rem;
        color: $color-white;
        line-height: 1;
      }
      .action-buttons {
        button {
          border: none;
          background: transparent;
          padding: 0.05rem 1.3rem;
          outline: none;
          cursor: pointer;
          &:not(:last-child) {
            border-right: 0.1rem solid #e1e1e1;
          }
          img {
            height: 2.1rem;
          }
        }
      }
    }
  }

  // }
}
