@import "../abstracts/variables";
@import "../abstracts/mixins";

.mat-table {
  @include responsive(bigphone) {
    width: 767px !important;
    width: 100%;
    overflow: auto;
  }

  // ::ng-deep{
  .mat-header-row {
    background-color: $third-color;
    border-radius: 0.4rem;
    border: none;

    // @include responsive(bigphone) {
    //   width: 155rem;
    // }

    .mat-header-cell {
      font-family: $primary-text !important;
      font-size: 2rem;
      line-height: 3rem;
      color: $fourth-color;
      font-weight: 600;

      &:last-of-type {
        padding: 0px;
      }

      &.mat-column-position {
        padding: 0;
      }
    }
  }

  .mat-row {
    border-bottom: 1px solid $grey;
    background: $color-white;

    // @include responsive(bigphone) {
    //   width: 155rem;
    // }

    &:last-child {
      border-bottom: none;
    }

    .mat-cell {
      font-family: $primary-text !important;
      padding-top: 2rem;
      padding-bottom: 2rem;

      &:last-of-type {
        padding: 0px;
      }

      p {
        font-size: 2rem;
        line-height: 3rem;
      }

      &.mat-column-position {
        padding: 0;
      }

      .action-buttons {
        button {
          border: none;
          background: transparent;
          margin-right: 1rem;
          outline: none;
          cursor: pointer;
          color: $second-color;

          &:hover {
            color: $primary-color;
          }

          img {
            width: 2rem;
          }
        }
      }
    }
  }
}

.table {
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 3px;
    height: 3px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: $fourth-color;
  }
  @include responsive(tablet) {
    width: calc(100vw - 10rem);
    overflow-x: auto;
  }
}

.no-data-found {
  display: block;
  width: 100%;
  padding: 3rem;
  text-align: center;
  color: $text-color;
  font-size: 2.4rem;
  background: rgba($border-color, 0.3);
  box-sizing: border-box;

  @include responsive(bigphone) {
    font-size: 2rem;
  }

  @include responsive(smallphone) {
    font-size: 1.8rem;
  }
}
