@import "../abstracts/variables";

.mat-table {
  // ::ng-deep{
  .mat-header-row {
    background-color: $color-white;
    box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    .mat-header-cell {
      font-size: 2rem;
      line-height: 3rem;
      color: $text-color;
      &.mat-column-position {
        // flex: 0 0 7.7rem;
        // border-right: 1px solid #e7e7e7;
        // justify-content: center;
        padding: 0;
      }
      &.mat-column-action {
        justify-content: center;
      }
      &.mat-column-select {
        justify-content: center;
      }
    }
  }
  .mat-row {
    border-top: none;
    background: $color-white;
    box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.1);
    .mat-cell {
      align-self: stretch;
      font-size: 2rem;
      line-height: 3rem;
      &.mat-column-position {
        flex: 0 0 7.7rem;
        border-right: 1px solid #e7e7e7;
        justify-content: center;
        padding: 0;
      }
      &.mat-column-action {
        justify-content: center;
      }
      &.mat-column-select {
        justify-content: center;
      }
      span.badge {
        background-image: linear-gradient(
          -3deg,
          $color-primary-dark 0%,
          $color-primary-light 100%
        );
        border-radius: 1.2rem;
        padding: 0.5rem 3rem;
        color: $color-white;
        line-height: 1;
      }
      .action-buttons {
        button {
          border: none;
          background: transparent;
          padding: 0.05rem 1.3rem;
          outline: none;
          cursor: pointer;
          &:not(:last-child) {
            border-right: 0.1rem solid #e1e1e1;
          }
          img {
            height: 2.1rem;
          }
        }
      }
    }
  }

  // }
}
