@import "src/assets/sass/abstracts/variables";
@import "src/assets/sass/abstracts/mixins";

.toast-container .ngx-toastr {
  box-shadow: 0 0 1rem rgba($second-color, 0.2) !important;

  &:hover {
    box-shadow: 0 0 1rem rgba($second-color, 0.3);
  }
}

.toast-error {
  background-color: $white-color !important;
  background-image: url("./assets/images/toastr/error.svg") !important;
  background-repeat: no-repeat;
  border-left: 0.5rem solid $error;
  background-size: 3rem 3rem !important;
}

.toast-success {
  background: $white-color !important;
  background-image: url("./assets/images/toastr/success.svg") !important;
  background-repeat: no-repeat !important;
  border-left: 0.5rem solid $success;
  background-position: 2rem 2.5rem !important;
  background-size: 3rem 3rem !important;

  @include responsive(bigdesktop) {
    background-position: 1.5rem 2.5rem !important;
  }
}

.toast-info {
  background-color: $white-color !important;
  background-image: url("./assets/images/toastr/info.svg") !important;
  background-repeat: no-repeat;
  border-left: 0.5rem solid $info;
  background-size: 3rem 3rem !important;
}

.toast-warning {
  background: $white-color !important;
  background-image: url("./assets/images/toastr/warning.svg") !important;
  background-repeat: no-repeat !important;
  border-left: 0.5rem solid $warning;
  // background-position: 2rem 2.5rem !important;
  background-size: 3rem 3rem !important;
}

.toast-title {
  font-size: 1.6rem;
  font-weight: 500 !important;
  color: $second-color;
  font-family: $primary-text;
  margin-bottom: 0.5rem;
}

.toast-message {
  font-size: 1.4rem;
  color: $second-color;
  font-family: $primary-text;
}

.toast-close-button {
  top: 0rem !important;
  left: 0.5rem;
  float: right;
  color: $second-color !important;
  text-shadow: 0 1px 0 #ffffff;
  font-weight: 100 !important;
  font-size: 4rem !important;
}
