@import "src/assets/sass/abstracts/variables";
@import "src/assets/sass/abstracts/mixins";
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap");

.site-wrapper {
  width: 85%;
  max-width: 180rem;
  margin: 0 auto;
  display: flex;
  border-radius: 2rem;
  .left-section {
    width: 25%;
    .block-design {
      margin-top: 3rem;
      border: 1px solid $border-color;
      background-color: $color-white;
      border-radius: 0.8rem;
      .profile-section {
        width: 100%;
        display: block;
        margin: 0rem auto;
        padding: 3rem;
        h3 {
          font-size: 3rem;
          text-align: center;
          margin: 1.5rem auto 1rem;
        }
        h6 {
          font-size: 1.8rem;
          text-align: center;
          font-weight: 400;
          color: $text-muted;
        }
        p {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.8rem;
          color: $error;
          margin: 1rem 0;
        }
        img {
          max-width: 20rem;
          width: 100%;
          border-radius: 30rem;
          margin: 0 auto;
          display: block;
        }
      }
    }

    .block-middle {
      display: flex;
      justify-content: space-between;
      .part {
        display: block;
        text-align: center;
        width: 50%;
        padding: 2rem;
        h4 {
          width: 100%;
          font-size: 2rem;
        }
        p {
          width: 100%;
          font-size: 1.6rem;
          color: $text-muted;
        }
      }
    }
    .block-bottom {
      padding: 2rem;
      display: block;
      text-align: center;
      a {
        font-size: 2.4rem;
        color: $blue;
        font-weight: 700;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
  .middle-section {
    width: 48%;
    margin: 0rem 2rem;
    .block {
      margin-top: 3rem;
      border: 1px solid $border-color;
      background-color: $color-white;
      border-radius: 0.8rem;
      .block-heading {
        padding: 2rem;
      }
      .block-middle {
        display: flex;
        padding: 2rem;
        .content {
          p {
            font-size: 1.9rem;
            color: $text-muted;
            line-height: 2.4rem;
            margin-bottom: 2rem;
          }
        }
        .half,
        .full {
          width: 50%;
          p {
            font-size: 1.8rem;
            font-weight: 700;
            color: $text-muted;
            span {
              color: $color-black;
            }
            a {
              text-decoration: none;
              cursor: pointer;
              color: $blue;
            }
          }
        }
        .full {
          width: 100%;
        }
      }
    }
  }
  .right-section {
    width: 25%;
    .block {
      margin-top: 3rem;
      border: 1px solid $border-color;
      background-color: $color-white;
      border-radius: 0.8rem;
      .block-heading {
        padding: 2rem;
        display: flex;
        .left-part {
          width: 70%;
          h4 {
            font-size: 2.4rem;
            margin-bottom: 0.3rem;
          }
          h6 {
            font-size: 1.8rem;
            color: $blue;
            margin-bottom: 0.5rem;
          }
          p {
            display: flex;
            font-size: 1.8rem;
            color: $text-muted;
            align-items: center;
          }
        }
        .right-part {
          width: 30%;
          img {
            max-width: 8rem;
            width: 100%;
          }
        }
      }
      .block-img {
        width: 100%;
        img {
          width: 100%;
        }
      }
      .block-middle {
        padding: 2rem;
        .content {
          p {
            font-size: 1.8rem;
            color: $text-muted;
            line-height: 2.4rem;
            margin-bottom: 2rem;
          }
        }
        .profile-list {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 1rem 0;

          .profile-icon {
            width: 25%;
            position: relative;
            img {
              max-width: 5rem;
              width: 100%;
              border-radius: 5rem;
            }
            span {
              width: 1.5rem;
              border-radius: 1.5rem;
              background: #00c9a7;
              position: absolute;
              z-index: 1;
              height: 1.5rem;
              bottom: 0rem;
              right: 4rem;
              border: 2px solid #fff;
            }
          }
          .profile-details {
            width: 45%;
            h5 {
              font-size: 1.8rem;
            }
            h6 {
              font-size: 1.4rem;
              color: $text-muted;
            }
          }
          .profile-btn {
            button {
              border: 1px solid #ebf2ff;
              padding: 0.8rem 2rem;
              background-color: #ebf2ff;
              color: $blue;
              border-radius: 0.8rem;
            }
          }
        }

        .premium {
          display: block;
          text-align: center;
          h4 {
            font-size: 2rem;
            color: #d3ac2b;
            margin: 1rem 0;
          }
          p {
            font-size: 1.8rem;
          }
        }
        .middle {
          display: flex;
          align-items: center;
          padding: 1rem 0;
          .left-part {
            img {
              width: 4rem;
              height: 4rem;
              border: 2px solid #fff;
              margin: 0 0 0 -1.2rem;
              box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.08);
              border-radius: 50%;
            }
          }
          .right-part {
            margin-left: 1rem;
            h4 {
              color: $text-muted;
              font-size: 1.8rem;
              font-weight: 700;
            }
          }
        }
      }
      .block-bottom {
        padding: 2rem;
        display: block;
        text-align: center;
        button {
          padding: 1rem 3rem;
          color: #d3ac2b;
          border-radius: 0.8rem;
          border: 1px solid #d3ac2b;
          background: transparent;
          text-transform: uppercase;
          &:hover {
            background-color: #d3ac2b;
            color: #fff;
          }
        }
        .post-date {
          p {
            color: $text-muted;
            font-size: 1.8rem;
            display: flex;
            align-items: center;
            font-weight: 700;
          }
        }
      }
    }
  }
}

.icon-size {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.border-top {
  border-top: 1px solid $border-color;
}

.border-bottom {
  border-bottom: 1px solid $border-color;
}
.border-left {
  border-left: 1px solid $border-color;
}
.d-none {
  display: none;
}

i-feather.active {
  fill: blue;
}
