<app-header></app-header>
<div class="wrapper">
  <!-- Left section -->
  <div class="left-section">
    <!-- profile  -->
    <div class="block-design">
      <div class="profile-section border-bottom">
        <img src="assets/images/profile-icon.png" alt="profile-icon" />
        <h3>Gurdeep Osahan</h3>
        <h6>Goalkeeper</h6>
        <p>
          <i-feather name="alert-circle" class="icon-size"></i-feather>
          Not Verified
        </p>
      </div>
      <div class="block-middle border-bottom">
        <div class="part">
          <h4>358</h4>
          <p>Achievements</p>
        </div>
        <div class="part border-left">
          <h4>85</h4>
          <p>Tournaments</p>
        </div>
      </div>
      <div class="block-bottom">
        <a> Log Out</a>
      </div>
    </div>
  </div>
  <!-- middle -->
  <div class="middle-section">
    <div class="block">
      <div class="block-heading border-bottom">
        <h2>About</h2>
      </div>
      <div class="block-middle">
        <div class="content">
          <p>
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters, as opposed to using 'Content here, content
            here', making it look like readable English. Many desktop publishing
            packages and web page editors now use Lorem Ipsum as their default
            model text, and a search for 'lorem ipsum' will uncover many web
            sites still in their infancy. Various versions have evolved over the
            years, sometimes by accident, sometimes on purpose (injected humour
            and the like)
          </p>

          <p>
            Find the most qualified people in the most unexpected places.
            Information for applicants to consider when applying for local
            positions. The largest community on the web to find and list Clubs
            that aren't restricted by commutes or a specific location.
          </p>
        </div>
      </div>
    </div>
    <!-- player section -->
    <div class="players">
      <!-- personal details -->
      <div class="block">
        <div class="block-heading border-bottom">
          <h2>Personal Details</h2>
        </div>
        <div class="block-middle border-bottom">
          <div class="half">
            <p><span>Date of Birth :</span> March 28 1999</p>
          </div>
          <div class="half">
            <p><span>Height :</span> 5.9 ft</p>
          </div>
        </div>

        <div class="block-middle border-bottom">
          <div class="half">
            <p><span>Weight :</span> 65 kg</p>
          </div>
          <div class="half">
            <p><span>Nationality :</span> India</p>
          </div>
        </div>

        <div class="block-middle border-bottom">
          <div class="half">
            <p><span>State :</span> Delhi</p>
          </div>
          <div class="half">
            <p><span>Current City :</span> Delhi</p>
          </div>
        </div>

        <div class="block-middle border-bottom">
          <div class="half">
            <p><span>Email :</span> iamosahan@gmail.com</p>
          </div>
          <div class="half">
            <p><span>Phone :</span> 1212121212</p>
          </div>
        </div>

        <div class="block-middle border-bottom">
          <div class="full">
            <p>
              <span>Current School Name :</span> Divdi Private School Divdi
              Private School
            </p>
          </div>
        </div>

        <div class="block-middle border-bottom">
          <div class="full">
            <p><span>Current University Name :</span> University</p>
          </div>
        </div>

        <div class="block-middle border-bottom">
          <div class="full">
            <p><span>Current College Name :</span> College Name</p>
          </div>
        </div>

        <div class="block-middle border-bottom">
          <div class="full">
            <p><span>View Adhaar : </span> <a>Document</a></p>
          </div>
        </div>

        <div class="block-middle border-bottom">
          <div class="full">
            <p><span>View Employement : </span> <a>Document</a></p>
          </div>
        </div>
      </div>

      <!-- perfessional details -->
      <div class="block">
        <div class="block-heading border-bottom">
          <h2>Perfessional Details</h2>
        </div>
        <div class="block-middle border-bottom">
          <div class="half">
            <p><span>Positions (First)</span> Goalkeeper Gk</p>
          </div>
          <div class="half">
            <p><span>Positions (Second)</span> Goalkeeper Gk</p>
          </div>
        </div>

        <div class="block-middle border-bottom">
          <div class="half">
            <p><span>Positions (Third)</span> Goalkeeper Gk</p>
          </div>
          <div class="half">
            <p><span>Strong Foot :</span> Left</p>
          </div>
        </div>

        <div class="block-middle border-bottom">
          <div class="half">
            <p>
              <span>Weak Foot : </span>
              <i-feather name="star" class="icon-size"></i-feather>
              <i-feather name="star" class="icon-size"></i-feather>
              <i-feather name="star" class="icon-size"></i-feather>
              <i-feather name="star" class="icon-size"></i-feather>
              <i-feather name="star" class="icon-size"></i-feather>
            </p>
          </div>
          <div class="half">
            <p><span>Formal Clubs :</span> Chelsea</p>
          </div>
        </div>

        <div class="block-middle border-bottom">
          <div class="full">
            <p><span>Head Coach Phone Number : </span> 5678904567</p>
          </div>
        </div>

        <div class="block-middle border-bottom">
          <div class="full">
            <p><span>Head Coach Email : </span> Some@gmail.com</p>
          </div>
        </div>
      </div>
    </div>

    <!-- clubs and acadmey -->
    <div class="clubs ">
      <!-- contact details -->
      <div class="block">
        <div class="block-heading border-bottom">
          <h2>Contact Details</h2>
        </div>
        <div class="block-middle border-bottom">
          <div class="half">
            <p><span>Designation :</span> Mangage</p>
          </div>
          <div class="half">
            <p><span> Name :</span> MIKE</p>
          </div>
        </div>

        <div class="block-middle border-bottom">
          <div class="half">
            <p><span>Email :</span> Someone@gmail.com</p>
          </div>
          <div class="half">
            <p><span> Phone Number :</span> 98765432345</p>
          </div>
        </div>
      </div>
      <!-- personal details -->
      <div class="block">
        <div class="block-heading border-bottom">
          <h2>Personal Details</h2>
        </div>
        <div class="block-middle border-bottom">
          <div class="half">
            <p><span>Founded :</span> 1990</p>
          </div>
          <div class="half">
            <p><span>Short Club Name :</span> MIKE</p>
          </div>
        </div>

        <div class="block-middle border-bottom">
          <div class="half">
            <p><span>Country :</span> India</p>
          </div>
          <div class="half">
            <p><span>City :</span> Delhi</p>
          </div>
        </div>

        <div class="block-middle border-bottom">
          <div class="full">
            <p>
              <span>Office address :</span> address : ZX Building 2nd Floor
              Office No 234
            </p>
          </div>
        </div>

        <div class="block-middle border-bottom">
          <div class="half">
            <p><span>ZIP/Pin code :</span> 847923479</p>
          </div>
          <div class="half">
            <p><span>Email :</span> iamosahan@gmail.com</p>
          </div>
        </div>

        <div class="block-middle border-bottom">
          <div class="half">
            <p><span>Phone :</span> 1212121212</p>
          </div>
          <div class="half">
            <p><span>Club owner :</span> Peter Mark Johnson</p>
          </div>
        </div>

        <div class="block-middle border-bottom">
          <div class="full">
            <p><span>Manager :</span> Johnshon</p>
          </div>
        </div>

        <div class="block-middle border-bottom">
          <div class="full">
            <p><span>View AIIF Status : </span> <a>Document</a></p>
          </div>
        </div>
      </div>

      <!-- perfessional details -->
      <div class="block">
        <div class="block-heading border-bottom">
          <h2>Perfessional Details</h2>
        </div>

        <div class="block-middle border-bottom">
          <div class="full">
            <p><span>Major trophies won : </span> JOE Trophy, 1998, Second</p>
          </div>
        </div>

        <div class="block-middle border-bottom">
          <div class="full">
            <p><span>League : </span> Barcelona League</p>
          </div>
        </div>

        <div class="block-middle border-bottom">
          <div class="full">
            <p><span>Top Signing : </span> Mike Reki</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Right seciton -->
  <div class="right-section">
    <div class="block">
      <div class="block-heading border-bottom">
        <h2>Who viewed your profile</h2>
      </div>
      <div class="block-middle">
        <!-- one -->
        <div class="profile-list">
          <div class="profile-icon">
            <img src="assets/images/profile-icon.png" alt="" />
            <span></span>
          </div>
          <div class="profile-details">
            <h5>Sophia Lee</h5>
            <h6>Wide midfield</h6>
          </div>
          <div class="profile-btn">
            <button>Connect</button>
          </div>
        </div>
        <!-- two -->
        <div class="profile-list">
          <div class="profile-icon">
            <img src="assets/images/profile-icon.png" alt="" />
            <span></span>
          </div>
          <div class="profile-details">
            <h5>Sophia Lee</h5>
            <h6>Wide midfield</h6>
          </div>
          <div class="profile-btn">
            <button>Connect</button>
          </div>
        </div>
        <!-- three -->
        <div class="profile-list">
          <div class="profile-icon">
            <img src="assets/images/profile-icon.png" alt="" />
            <span></span>
          </div>
          <div class="profile-details">
            <h5>Sophia Lee</h5>
            <h6>Wide midfield</h6>
          </div>
          <div class="profile-btn">
            <button>Connect</button>
          </div>
        </div>
        <!-- four -->
        <div class="profile-list">
          <div class="profile-icon">
            <img src="assets/images/profile-icon.png" alt="" />
            <span></span>
          </div>
          <div class="profile-details">
            <h5>Sophia Lee</h5>
            <h6>Wide midfield</h6>
          </div>
          <div class="profile-btn">
            <button>Connect</button>
          </div>
        </div>
      </div>
    </div>

    <!-- yft chain premium -->
    <div class="block">
      <div class="block-img">
        <img src="assets/images/ads.png" alt="" />
      </div>
      <div class="block-middle border-bottom">
        <div class="premium">
          <h4>YFT chain Premium</h4>
          <p>Grow & nurture your network</p>
        </div>
      </div>
      <div class="block-bottom">
        <button>Activate</button>
      </div>
    </div>

    <!-- Some Player -->
    <div class="block">
      <div class="post">
        <a>
          <div class="block-heading border-bottom">
            <div class="left-part">
              <h4>Center back</h4>
              <h6>Barcelona</h6>
              <p>
                <i-feather name="map-pin" class="icon-size"></i-feather> India,
                Punjab
              </p>
            </div>

            <div class="right-part">
              <img src="assets/images/profile-icon.png" alt="" />
            </div>
          </div>

          <div class="block-middle border-bottom">
            <div class="middle">
              <div class="left-part">
                <img src="assets/images/profile-icon.png" alt="" />
                <img src="assets/images/profile-icon.png" alt="" />
                <img src="assets/images/profile-icon.png" alt="" />
                <img src="assets/images/profile-icon.png" alt="" />
                <img src="assets/images/profile-icon.png" alt="" />
              </div>
              <div class="right-part">
                <h4>Connections</h4>
              </div>
            </div>
          </div>

          <div class="block-bottom">
            <div class="post-date">
              <p>
                <i-feather name="clock" class="icon-size"></i-feather>
                Post 3 days ago
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>

    <!-- two -->
    <div class="block">
      <div class="post">
        <a>
          <div class="block-heading border-bottom">
            <div class="left-part">
              <h4>Center back</h4>
              <h6>Barcelona</h6>
              <p>
                <i-feather name="map-pin" class="icon-size"></i-feather> India,
                Punjab
              </p>
            </div>

            <div class="right-part">
              <img src="assets/images/profile-icon.png" alt="" />
            </div>
          </div>

          <div class="block-middle border-bottom">
            <div class="middle">
              <div class="left-part">
                <img src="assets/images/profile-icon.png" alt="" />
                <img src="assets/images/profile-icon.png" alt="" />
                <img src="assets/images/profile-icon.png" alt="" />
                <img src="assets/images/profile-icon.png" alt="" />
                <img src="assets/images/profile-icon.png" alt="" />
              </div>
              <div class="right-part">
                <h4>Connections</h4>
              </div>
            </div>
          </div>

          <div class="block-bottom">
            <div class="post-date">
              <p>
                <i-feather name="clock" class="icon-size"></i-feather>
                Post 3 days ago
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
