@import "src/assets/sass/abstracts/variables";
@import "src/assets/sass/abstracts/mixins";

.footer {
  .mainfooter {
    padding: 3rem 0;
    background-color: $third-color;

    .wrapper {
      width: 90%;
      margin: auto;
      display: flex;

      @include responsive(tablet) {
        width: 95%;
        flex-wrap: wrap;
      }

      .logo {
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include responsive(bigphone) {
          flex-direction: column;
        }

        @include responsive(smallphone) {
          width: 100%;
        }

        img {
          max-width: 25rem;
        }

        p {
          font-size: 1.8rem;
          font-weight: 700;
          font-style: italic;
          padding-left: 2rem;

          @include responsive(tablet) {
            font-size: 1.6rem;
            padding-left: 0rem;
          }

          @include responsive(smallphone) {
            padding-bottom: 2rem;
          }
        }
      }

      .links {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;

        @include responsive(bigphone) {
          width: 30%;
        }

        @include responsive(smallphone) {
          width: 50%;
          justify-content: flex-start;
        }

        ul {
          list-style: none;

          li {
            a {
              font-size: $heading-fourth;
              font-weight: 500;
              display: inline-block;
              margin-bottom: 0.5rem;
            }
          }
        }
      }

      .social {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;

        @include responsive(bigphone) {
          width: 100%;
          justify-content: center;
          margin-top: 2rem;
        }

        ul {
          list-style: none;

          li {
            display: inline-block;
            margin-right: 2rem;

            a {
              display: inline-block;

              img {
                max-width: 3rem;

                &:hover {
                  opacity: 0.5;
                }
              }
            }
          }
        }
      }
    }
  }
}
