<footer class="footer">
  <div class="mainfooter">
    <div class="wrapper">
      <div class="logo">
        <a [routerLink]="['/home']">
          <img src="assets/images/website/footer-logo.png" alt="footer-logo" />
        </a>
        <p>
          “Youth football technology chain is the scouting platform for talented
          football players.”
        </p>
      </div>
      <div class="links">
        <ul>
          <li><a [routerLink]="['/home']">Home</a></li>
          <li><a href="/about-us">About</a></li>
          <li><a [routerLink]="['/register']">Sign up</a></li>
          <li><a [routerLink]="['/login']">Sign in</a></li>
        </ul>
      </div>
      <div class="links">
        <ul>
          <li><a href="/privacy-policy">Privacy policy</a></li>
          <li><a href="/term&condition">User Terms & Conditions</a></li>
          <li><a href="/community-guidelines">Community Guidelines </a></li>
          <li><a href="/cookie-policy">Cookie policy</a></li>
        </ul>
      </div>
      <div class="social">
        <ul>
          <li>
            <a href="https://www.instagram.com/yftchain/" target="_blank">
              <img src="assets/images/website/social/instagram.svg" />
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/YFTCHAIN" target="_blank">
              <img src="assets/images/website/social/facebook.svg" />
            </a>
          </li>
          <li>
            <a
              href=" https://www.linkedin.com/company/decodingyouthtalent/"
              target="_blank"
            >
              <img src="assets/images/website/social/linkedin.svg" />
            </a>
          </li>
          <li>
            <h2><a href="mailto:contact@yftchain.com">Contact Us</a></h2>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- copyright -->
  <app-copyright></app-copyright>
</footer>
