@import "src/assets/sass/abstracts/variables";
footer {
  font-size: 1.5rem;
  line-height: 10.6rem;
  color: #66788a;
  font-family: "Muli";
  font-weight: 500;
  background-image: radial-gradient(
    circle at center,
    rgba(lighten($color-primary, 15), 0.2) 0%,
    rgba(lighten($color-primary, 16), 0.2) 100%
  );
  padding: 0 1rem 0 34.1rem;
  a {
    color: $color-primary;
    text-decoration: none;
  }
}
