<footer class="footer">
  <div class="mainfooter">
    <div class="wrapper">
      <div class="logo">
        <a [routerLink]="['/']">
          <img src="assets/images/website/footer-logo.png" alt="footer-logo" />
        </a>
        <p>
          “Youth football technology chain is the scouting platform for talented
          football players.”
        </p>
      </div>
      <div class="links">
        <ul>
          <li><a [routerLink]="['/']">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a [routerLink]="['/register']">Sign up</a></li>
          <li><a [routerLink]="['/login']">Sign in</a></li>
        </ul>
      </div>
      <div class="links">
        <ul>
          <li><a href="#">Privacy policy</a></li>
          <li><a href="#">Copyright policy</a></li>
          <li><a href="#">Brand policy</a></li>
          <li><a href="#">Cookie policy</a></li>
        </ul>
      </div>
      <div class="social">
        <ul>
          <li>
            <a href="#">
              <img src="assets/images/website/social/instagram.svg" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="assets/images/website/social/facebook.svg" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="assets/images/website/social/linkedin.svg" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- copyright -->
  <app-copyright></app-copyright>
</footer>
