<app-header></app-header>
<div class="site-wrapper">
  <div class="left-panel" [ngClass]="{ show: sidebar, hide: !sidebar }">
    <app-left-panel
      [achievements]="total_count"
      [options]="panelOptions"
      [userId]="userId"
      (sendMemberType)="getMemberType($event)"
    >
    </app-left-panel>
  </div>
  <div class="right-panel">
    <div class="right-wrapper">
      <div class="main mt-2">
        <!-- award heading -->
        <div class="heading">
          <h2>Attendance History</h2>
          <button class="icon-btn" (click)="openFilter()">
            <mat-icon class="material-icons">filter_alt</mat-icon>
          </button>
        </div>
        <!-- search and popupbtn -->
        <div class="search-section">
          <div class="search-wrapper">
            <app-grid-search-box
              placeholder="Search"
              (sendSearchText)="getSearchText($event)"
            >
            </app-grid-search-box>
          </div>
        </div>
        <div class="table">
          hii
          <mat-icon class="material-icons">calender</mat-icon>
        </div>
      </div>
    </div>
    <div class="footer-fix">
      <app-copyright></app-copyright>
    </div>
  </div>
</div>
<app-filter
  [allowedFilters]="filtersList"
  (filterChanges)="onChangeFilter($event)"
></app-filter>

<!-- toggle btn -->
<span class="toggle-btn" (click)="sidebar = !sidebar">
  <mat-icon class=" material-icons">menu_open</mat-icon>
</span>
