<div class="modal-container">
  <div class="modal-header">
    <div class="title">
      <img src="assets/images/icons/plus.png" alt="" />
      <h3>Add Abilities</h3>
    </div>
    <div class="close">
      <img src="assets/images/icons/close.png" alt="" />
    </div>
  </div>
  <form action="">
    <div class="modal-body">
      <div class="form-block">
        <label>Abilities</label>
        <input type="text" matinput placeholder="Enter Abitity" />
      </div>
    </div>
    <div class="modal-footer">
      <div class="actions">
        <button class="cancel">Cancel</button>
        <button class="add">Add</button>
      </div>
    </div>
  </form>
</div>
