<app-header></app-header>
<div class="site-wrapper">
  <div class="left-panel">
    <app-left-panel> </app-left-panel>
  </div>
  <div class="right-panel">
    <div class="right-wrapper">
      <div class="main">
        <div class="back">
          <a [routerLink]="['/member/manage-report-card']">
            <span>
              <mat-icon class="material-icons">arrow_back_ios</mat-icon>
            </span>
            Back
          </a>
        </div>
        <!--  heading -->
        <div class=" heading">
          <h2>Create report card of {{ playerDetails?.name }}</h2>
        </div>

        <div class="reportcards-wrapper">
          <!-- tabs -->
          <div class="tabs-buttons">
            <ul>
              <ng-container *ngFor="let tab of tabs">
                <li>
                  <a
                    [ngClass]="
                      currentTab?.ability_id === tab?.ability_id ? 'active' : ''
                    "
                    (click)="getTab(tab.ability_id)"
                  >
                    {{ tab.ability_name }}
                  </a>
                </li>
              </ng-container>
              <!-- <li>
                <a class="active">Physical</a>
              </li>
              <li>
                <a>Mental</a>
              </li>
              <li>
                <a>Technical</a>
              </li>
              <li>
                <a>Goalkeeping</a>
              </li> -->
            </ul>
          </div>

          <!-- tab pannel -->
          <div class="tab-panel">
            <div class="scorecard-wrapper">
              <ng-container *ngFor="let attribute of currentTab?.attributes">
                <div class="score">
                  <div class="left">
                    <h4>{{ attribute?.attribute_name }}</h4>
                    <span class="slider">
                      <mat-slider [(ngModel)]="value"></mat-slider>
                    </span>
                    <p>0-99</p>
                  </div>
                  <div class="right">
                    <div class="success">
                      <div class="stroke">
                        <mat-progress-spinner
                          diameter="60"
                          [mode]="mode"
                          [value]="value"
                        >
                        </mat-progress-spinner>
                        <span>{{ attribute?.attribute_score }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>

              <!-- first -->
              <div class="score">
                <div class="left">
                  <h4>Acceleration</h4>
                  <span class="slider">
                    <mat-slider [(ngModel)]="value"></mat-slider>
                  </span>
                  <p>0-99</p>
                </div>
                <div class="right">
                  <div class="success">
                    <div class="stroke">
                      <mat-progress-spinner
                        diameter="60"
                        [mode]="mode"
                        [value]="value"
                      >
                      </mat-progress-spinner>
                      <span>{{ value }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- remark -->
          <div class="remark">
            <div class="form-block">
              <label class="mb-1">Remark</label>
              <textarea name="remark" rows="5"></textarea>
            </div>
          </div>
          <!-- button -->
          <div class="btn-group">
            <button>Reset</button>
            <button>Publish</button>
            <button>Save as draft</button>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-fix">
      <app-copyright></app-copyright>
    </div>
  </div>
</div>
