<app-header></app-header>
<div class="site-wrapper">
  <div class="left-panel">
    <app-left-panel> </app-left-panel>
  </div>
  <div class="right-panel">
    <div class="right-wrapper">
      <div class="main">
        <app-back-navigation></app-back-navigation>

        <!--  heading -->
        <div class=" heading">
          <h2>Create report card of {{ playerDetails?.name | capitalize }}</h2>
        </div>

        <form [formGroup]="addEditReportForm">
          <div class="reportcards-wrapper">
            <!-- tabs -->
            <div class="tabs-buttons">
              <ul>
                <ng-container *ngFor="let ability of abilitiesArray">
                  <li>
                    <a
                      [ngClass]="
                        selectedAbility?.ability_id === ability?.ability_id
                          ? 'active'
                          : ''
                      "
                      (click)="getTab(ability.ability_id)"
                    >
                      {{ ability.ability_name }}
                    </a>
                  </li>
                </ng-container>
              </ul>
            </div>

            <!-- tab panel -->
            <div class="tab-panel">
              <div class="scorecard-wrapper">
                <ng-container
                  *ngFor="
                    let ability of this.addEditReportForm.get('abilities')[
                      'controls'
                    ];
                    let i = index
                  "
                  formArrayName="abilities"
                >
                  <ng-container
                    *ngIf="
                      ability.get('ability_id').value ===
                      selectedAbility.ability_id
                    "
                  >
                    <ng-container [formGroupName]="i">
                      <ng-container
                        *ngFor="
                          let attribute of ability.get('attributes')[
                            'controls'
                          ];
                          let j = index
                        "
                        formArrayName="attributes"
                      >
                        <ng-container [formGroupName]="j">
                          <div class="score">
                            <div class="left">
                              <h4>
                                {{ attribute.get('attribute_name').value }}
                              </h4>
                              <span class="slider">
                                <mat-slider
                                  min="0"
                                  max="99"
                                  formControlName="attribute_score"
                                ></mat-slider>
                              </span>
                              <p>0-99</p>
                            </div>
                            <div class="right">
                              <div
                                [ngClass]="
                                  attribute.get('attribute_score').value <= 50
                                    ? 'primary'
                                    : 'success'
                                "
                              >
                                <div class="stroke">
                                  <mat-progress-spinner
                                    diameter="60"
                                    [mode]="mode"
                                    [value]="
                                      attribute.get('attribute_score').value ||
                                      0
                                    "
                                  >
                                  </mat-progress-spinner>
                                  <span>{{
                                    attribute.get('attribute_score').value || 0
                                  }}</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </div>
            </div>

            <mat-error *ngIf="addEditReportForm.controls.abilities.errors">
              <span
                *ngIf="
                  addEditReportForm.controls.abilities.errors.requiredAttribute
                "
              >
                Please provide scores for atleast 3 abilities and 3 related
                attributes
              </span>
              <!-- <span
                *ngIf="
                  addEditReportForm.controls.abilities.errors
                    .provideRequiredAttributes
                "
              >
                Please provide scores 3 related attributes
              </span> -->
            </mat-error>

            <!-- remark -->
            <div class="remark">
              <div class="form-block">
                <label class="mb-1">Remarks</label>
                <textarea formControlName="remarks" rows="5"></textarea>
              </div>
            </div>
            <!-- button -->
            <div class="btn-group">
              <button (click)="resetForm()">Reset</button>
              <button
                [disabled]="!addEditReportForm.valid"
                (click)="addEditReportCard('published')"
              >
                Publish
              </button>
              <button
                class="btn-active"
                [disabled]="!addEditReportForm.valid"
                (click)="addEditReportCard('draft')"
              >
                Save as draft
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="footer-fix">
      <app-copyright></app-copyright>
    </div>
  </div>
</div>
