<app-frontend-header></app-frontend-header>
<div class="login-container">
  <div class="loginbox">
    <h3>Login To Learn</h3>

    <form>
      <ul>
        <li>
          <input
            type="text"
            placeholder="Enter Username"
            matInput
            [ngStyle]="{ 'border-bottom': false ? '0.1rem solid #de5454' : '' }"
          />
        </li>
        <li>
          <input type="password" placeholder="Enter Password" matInput />
        </li>
        <li>
          <button type="submit" class="btn">Log in</button>
        </li>
      </ul>
    </form>
  </div>
</div>
