@import "src/assets/sass/abstracts/variables";
@import "src/assets/sass/abstracts/mixins";

.form-container {
  margin: -24px;
}

.img-wrapper {
  padding: 2rem;
  margin: auto;
  display: flex;

  img {
    margin: 0 auto;
    max-height: 50rem;
    height: 100%;
  }
}

.modal-header {
  display: flex;
  background-color: $blue;
  justify-content: space-between;
  padding: 2rem;

  .heading {
    h4 {
      font-size: 2.4rem;
      color: $color-white;
    }
  }

  .close {
    img {
      width: 2rem;
      cursor: pointer;
    }
  }
}

.popup-content {
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  input {
    padding: 0.5rem 1rem;
    outline: none;
    margin: 0 0 2rem 0;

    &:focus {
      border: 1px solid $blue;
    }
  }

  h3 {
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }

  .action-block {
    button {
      outline: none;
    }

    button.confirm {
      background: $blue;
      color: $color-white;
      padding: 1rem 2rem;
      border: none;
      margin-right: 1rem;
      cursor: pointer;
    }

    button.cancel {
      background: $text-color;
      color: $color-white;
      padding: 1rem 2rem;
      border: none;
      margin-right: 1rem;
      cursor: pointer;
    }
  }
}
