<div class="form-container" *ngIf="!imageMode">
  <div class="modal-header">
    <div class="heading">
      <h4>{{ header }}</h4>
    </div>
    <div class="close">
      <img
        src="assets/images/icons/close-white.png"
        alt=""
        [mat-dialog-close]="false"
      />
    </div>
  </div>

  <div class="popup-content">
    <h3>{{ message }}</h3>
    <input type="text" *ngIf="disApprove" [(ngModel)]="disApproveReason" />
    <div class="action-block">
      <button *ngIf="!disApprove" class="confirm" (click)="cofirmDialog()">
        {{ acceptText }}
      </button>
      <button
        [disabled]="!disApproveReason"
        *ngIf="disApprove"
        class="confirm"
        (click)="cofirmDialog()"
      >
        {{ acceptText }}
      </button>
      <button class="cancel" mat-dialog-close>{{ rejectText }}</button>
    </div>
  </div>
</div>

<div class="form-container" *ngIf="imageMode">
  <div class="modal-header">
    <div class="heading">
      <h4>Player Image</h4>
    </div>
    <div class="close">
      <img
        src="assets/images/icons/close-white.png"
        alt=""
        [mat-dialog-close]="false"
      />
    </div>
  </div>
  <div class="img-wrapper">
    <img [src]="imageURL" alt="" />
  </div>
</div>
