<header>
  <div class="header">
    <!-- header logo -->
    <div class="header-logo">
      <img [routerLink]="['/timeline']" src="assets/images/logo.png" alt="" />
      <div class="search">
        <input
          matInput
          placeholder="Search"
          aria-label="Search"
          [matAutocomplete]="auto"
          (keyup)="getMemberSearchList($event.target.value)"
        />

        <mat-autocomplete class="autocomplete-height" #auto="matAutocomplete">
          <span class="search-options">
            <mat-option
              *ngFor="let member of memberList"
              [routerLink]="member.avatar"
            >
              <img class="dp" aria-hidden [src]="member.avatar" />
              <strong>{{ member.name | titlecase }}</strong>
              <small>{{
                member.player_type || member.member_type | titlecase
              }}</small>
              <small class="position">{{ member.position | titlecase }}</small>
            </mat-option>
            <ng-container
              *ngIf="searchText.length >= 3 && memberList.length === 0"
            >
              <mat-option>
                No results found
              </mat-option>
            </ng-container>
          </span>
        </mat-autocomplete>
        <span class="search-icon">
          <i-feather name="search" class="icon-size"></i-feather>
        </span>
      </div>
    </div>
    <!-- header right -->
    <div class="header-menu">
      <ul>
        <li>
          <a matTooltip="FootRequests" [routerLink]="['/foot-requests']">
            <span>
              <i-feather name="Users" class="icon-size"></i-feather>
            </span>
          </a>
        </li>
        <li>
          <a matTooltip="Footmail">
            <span>
              <i-feather name="Mail" class="icon-size"></i-feather>
            </span>
          </a>
        </li>
        <li>
          <a matTooltip="Chat">
            <i-feather name="message-square" class="icon-size"></i-feather
            ><span class="count">4</span>
          </a>
        </li>
        <li>
          <a matTooltip="Notification">
            <i-feather name="Bell" class="icon-size"></i-feather>
            <span class="count">6</span>
          </a>
        </li>
      </ul>
      <div class="profile" (click)="changeDropdown()">
        <img [src]="avatar_url" alt="" />
        <i-feather name="chevron-down" class="icon-size down"></i-feather>
        <div class="dropdown" [hidden]="this.isActive">
          <ul>
            <li>
              <a [routerLink]="['/timeline']">
                <i-feather name="home" class="icon-size"></i-feather> Home
              </a>
            </li>
            <li>
              <a [routerLink]="['/profile']">
                <i-feather name="user" class="icon-size"></i-feather> My Profile
              </a>
            </li>
            <li>
              <a [routerLink]="['/edit-profile']">
                <i-feather name="edit" class="icon-size"></i-feather> Edit
                Profile
              </a>
            </li>
            <li>
              <a [routerLink]="['/change-password']">
                <i-feather name="lock" class="icon-size"></i-feather> Change
                Password
              </a>
            </li>
            <li>
              <a (click)="logout()">
                <i-feather name="log-out" class="icon-size"></i-feather> Logout
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
