<header class="header">
  <div class="header-wrapper">
    <div class="logo">
      <a
        [routerLink]="
          member_type !== 'undefined'
            ? ['/member/timeline']
            : ['/admin/manage-player']
        "
      >
        <img src="assets/images/member/logo.png" alt="brand-logo" />
      </a>
    </div>
    <ng-container *ngIf="results$ | async"></ng-container>
    <div class="search">
      <div class="search-box">
        <input
          matInput
          placeholder="Search"
          aria-label="Search"
          [matAutocomplete]="auto"
          (keyup)="getMemberSearchList($event.target.value, $event.keyCode)"
        />
        <mat-autocomplete class="autocomplete-height" #auto="matAutocomplete">
          <div
            *ngIf="searchText.length > 2"
            infiniteScroll
            [infiniteScrollUpDistance]="1.5"
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="50"
            (scrolled)="onScrollDown()"
            (scrolledUp)="onScrollUp()"
            [scrollWindow]="false"
          >
            <span class="search-options">
              <mat-option
                *ngFor="let member of memberList"
                (onSelectionChange)="openPublicProfile(member.user_id)"
              >
                <img class="dpsss" aria-hidden [src]="member.avatar" />
                <span matTooltip="{{ member.name | capitalize }}">{{
                  (member.name | slice: 0:25) + '...' | capitalize
                }}</span>
                <small class="category">{{
                  member.player_type || member.member_type | titlecase
                }}</small>
                <small class="position">{{
                  member.position | titlecase
                }}</small>
              </mat-option>
              <ng-container
                *ngIf="
                  searchText.length >= 3 &&
                    memberList.length === 0 &&
                    totalRecordSubject$ | async
                "
              >
                <mat-option>
                  No results found
                </mat-option>
              </ng-container>
            </span>
          </div>
        </mat-autocomplete>
        <button type="submit">
          <mat-icon class="material-icons">search</mat-icon>
        </button>
      </div>
    </div>
    <div class="links">
      <ul>
        <li class="d-none">
          <a>
            <mat-icon class="material-icons">mail_outline</mat-icon>
            <span>9</span>
          </a>
        </li>
        <li *ngIf="member_type === 'player'">
          <a matTooltip="How to use YFTChain" [routerLink]="['/user-guide']">
            <mat-icon class="material-icons"
              ><b style="color:orange; font-size: 36%cd false;">?</b></mat-icon
            >
          </a>
        </li>
        <li *ngIf="member_type === 'coache' || 'player'">
          <a
            matTooltip="FooTMates"
            [routerLink]="['/member/manage/foot-requests']"
          >
            <mat-icon class="material-icons">people_outline</mat-icon>
            <span *ngIf="stats.total_requests">{{ stats.total_requests }}</span>
          </a>
        </li>
        <li *ngIf="member_type !== 'player' || 'coache'">
          <a matTooltip="FooTPlayers" [matMenuTriggerFor]="footplayer">
            <mat-icon class="material-icons">people_outline</mat-icon>
            <span *ngIf="stats.total_requests">{{ stats.total_requests }}</span>
          </a>
          <mat-menu #footplayer="matMenu">
            <ul class="menu">
              <li>
                <a [routerLink]="['/member/manage-footplayer']">
                  <mat-icon class="material-icons">settings</mat-icon>
                  Manage FooTPlayers
                </a>
              </li>
              <li>
                <a [routerLink]="['/member/manage-footplayer/club-academy']">
                  <mat-icon class="material-icons">stars</mat-icon>
                  {{ member_type | titlecase }}'s FooTPlayers
                </a>
              </li>
              <!--     <li>
                <a
                  [routerLink]="[
                    '/member/manage-footplayer/contract-management'
                  ]"
                >
                  <mat-icon class="material-icons">content_paste</mat-icon>
                  Contract management
                </a>
              </li> -->
            </ul>
          </mat-menu>
        </li>
        <li class="d-none">
          <a>
            <mat-icon class="material-icons">notifications_none</mat-icon>
            <span>9</span>
          </a>
        </li>
      </ul>
      <div class="profile-head">
        <a mat-icon-button [matMenuTriggerFor]="menu">
          <img [src]="avatar_url" alt="header-profile" />
        </a>
        <mat-menu #menu="matMenu">
          <ul class="menu">
            <li>
              <a [routerLink]="['/member/profile']">
                <mat-icon class="material-icons">home</mat-icon>
                My profile
              </a>
            </li>
            <li>
              <a [routerLink]="['/member/profile/public']">
                <mat-icon class="material-icons">public</mat-icon>
                Public profile
              </a>
            </li>
            <li>
              <a [routerLink]="['/change-password']">
                <mat-icon class="material-icons">lock_open</mat-icon>
                Change password
              </a>
            </li>
            <li class="border-none">
              <a (click)="logout()">
                <mat-icon class="material-icons">exit_to_app</mat-icon>
                Logout
              </a>
            </li>
          </ul>
        </mat-menu>
      </div>
    </div>
  </div>
</header>
