@import "src/assets/sass/abstracts/variables";
@import "src/assets/sass/abstracts/mixins";
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap");

header {
  background-color: #1d2f38;
  .header {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    min-height: 8rem;
    height: 100%;

    &-logo {
      width: 40%;
      display: flex;
      align-items: center;
      img {
        max-width: 120px;
      }
    }

    &-menu {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      ul {
        list-style: none;
        li {
          display: inline-block;
          margin-left: 4rem;
          a {
            font-size: 1.8rem;
            color: #ccced2;
            display: flex;
            align-items: center;
            position: relative;
            span {
              margin-right: 1rem;
            }
            span.count {
              position: absolute;
              height: 2rem;
              width: 2rem;
              background: red;
              text-align: center;
              right: -2.5rem;
              border-radius: 2rem;
              font-size: 1.4rem;
              top: -1rem;
              color: #fff;
              padding-right: 0.1rem;
            }
            img {
              height: 2.4rem;
            }
          }
        }
      }
      .profile {
        padding: 1rem 0px;
        margin-left: 4rem;
        border-radius: 10rem;
        position: relative;
        cursor: pointer;
        img {
          max-width: 5rem;
          border-radius: 10rem;
        }
        i-feather.down {
          color: $text-muted;
          transform: translateY(-1rem);
        }
        .dropdown {
          position: absolute;
          width: 23rem;
          left: -7rem;
          top: 7rem;
          background-color: #1d2f38;
          ul {
            list-style: none;
            li {
              display: block;
              margin-left: 0px;
              a {
                display: block;
                padding: 1rem;
                i-feather {
                  transform: translateY(2px);
                }
                &:hover {
                  background-color: #12181b;
                }
              }
            }
          }
        }
      }
    }
  }
}

.icon-size {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
}
