<header>
  <div class="header">
    <!-- header logo -->
    <div class="header-logo">
      <img src="assets/images/logo.png" alt="" />
    </div>
    <!-- header right -->
    <div class="header-menu">
      <ul>
        <li>
          <a>
            <span>
              <i-feather name="Users" class="icon-size"></i-feather>
            </span>
            Connection</a
          >
        </li>
        <li>
          <a>
            <span>
              <i-feather name="Crosshair" class="icon-size"></i-feather>
            </span>
            Footmail</a
          >
        </li>
        <li>
          <a>
            <i-feather name="message-square" class="icon-size"></i-feather
            ><span class="count">4</span>
          </a>
        </li>
        <li>
          <a>
            <i-feather name="Bell" class="icon-size"></i-feather>
            <span class="count">6</span>
          </a>
        </li>
      </ul>
      <div class="profile">
        <img src="assets/images/profile-icon.png " alt="" />
      </div>
    </div>
  </div>
</header>
