<header class="header">
  <div class="logo">
    <a [routerLink]="['/home']">
      <img src="assets/images/website/logo.png" alt="brand-logo" />
    </a>
  </div>
  <a class="btn btn-primary btn-primary-shadow" [routerLink]="['/login']">
    Sign in
  </a>
</header>

<div class="banner">
  <div class="banner-txt">
    <h2>
      <span>Digitize,</span>
      <span>Democratize,</span>and Develop.
    </h2>

    <p>We provide opportunities to the future of football.</p>
    <a class="btn btn-primary btn-primary-shadow" [routerLink]="['/register']"
      >Join now</a
    >
  </div>
  <div class="banner-img">
    <img src="assets/images/website/banner.png" alt="" />
  </div>

  <a class="down-arrow bounce" (click)="scrollToFootballers()" #arrow>
    <mat-icon class="material-icons">expand_more</mat-icon>
  </a>
</div>
<!-- for footballers -->
<div class="footballers" #footballers>
  <h2 class="backtext">Footb<span>allers</span></h2>
  <div class="footballers-image">
    <div class="img-wrap">
      <img src="assets/images/website/footballer.png" alt="" />
    </div>
  </div>
  <div class="footballers-details">
    <h2><span>For</span>Footballers</h2>
    <ul>
      <li>Engage as a community.</li>
      <li>Wide network of players.</li>
      <li>Connect and share experience.</li>
      <li>Explore opportunities.</li>
    </ul>
    <img src="assets/images/website/footballer02.png" alt="" />
  </div>
</div>
<!-- for club & Academy -->
<div class="academy-wrapper">
  <div class="academy">
    <div class="academy-details">
      <h2><span>For</span> Clubs & Academy</h2>
      <ul>
        <li>Enable the ecosystem for football sector in India.</li>
        <li>A digital scouting platform.</li>
        <li>
          Create awareness about football clubs, academics and institutions.
        </li>
        <li>
          Access to potential talent in schools / colleges /universities and
          street footballers.
        </li>
      </ul>
      <img src="assets/images/website/academy01.png" alt="" />
    </div>
    <div class="academy-image">
      <div class="img-wrap">
        <img src="assets/images/website/academy.png" alt="" />
      </div>
    </div>
    <h2 class="backtext">Academy</h2>
  </div>
</div>

<!-- for india -->
<div class="forindia">
  <h2 class="backtext">India</h2>
  <div class="forindia-image">
    <div class="img-wrap">
      <img src="assets/images/website/india.png" alt="" />
    </div>
  </div>
  <div class="forindia-details">
    <h2><span>For</span>India</h2>
    <ul>
      <li>Help our country develop world class footballers.</li>
      <li>Help our Indian players to showcase their talent at world level.</li>
    </ul>
    <img src="assets/images/website/india02.png" alt="" />
  </div>
</div>
<!-- 3d stratregy -->
<div class="stratregy">
  <div class="heading">
    <h2>3D strategy</h2>
    <p>
      We will enable the ecosystem and empower the football industry in our
      country to become a worldclass market for footballers globally.
    </p>
  </div>
  <div class="stratregy-wrapper">
    <div class="stratregy-blocks">
      <div class="part-one">
        <h2><span>D</span>igitize</h2>
        <h1>1</h1>
      </div>
      <img class="digitize" src="assets/images/website/digitize.png" alt="" />
    </div>
    <div class="stratregy-blocks">
      <div class="part-one">
        <h2><span>D</span>emocratize</h2>
        <h1>2</h1>
      </div>
      <img
        class="democratize"
        src="assets/images/website/democratize.png"
        alt=""
      />
    </div>
    <div class="stratregy-blocks">
      <div class="part-one">
        <h2><span>D</span>evelop</h2>
        <h1>3</h1>
      </div>
      <img class="develop" src="assets/images/website/develop.png" alt="" />
    </div>
  </div>
</div>
<app-footer></app-footer>
