@import "src/assets/sass/abstracts/variables";
@import "src/assets/sass/abstracts/mixins";

// Header CSS
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    color: $white-color;
    margin-right: 10rem;

    @include responsive(tablet) {
      margin-right: 4rem;
    }

    @include responsive(smallphone) {
      margin-right: 2rem;
    }
  }

  .logo {
    margin-top: 1rem;

    a {
      background-color: $third-color;
      display: inline-block;
      padding: 1rem 5rem 1rem 3rem;
      -webkit-border-top-right-radius: 8rem;
      -webkit-border-bottom-right-radius: 8rem;
      -moz-border-top-right-radius: 8rem;
      -moz-border-bottom-right-radius: 8rem;
      border-top-right-radius: 8rem;
      border-bottom-right-radius: 8rem;
      cursor: pointer;

      img {
        max-width: 25rem;

        @include responsive(bigphone) {
          max-width: 21rem;
        }

        @include responsive(smallphone) {
          max-width: 18rem;
        }
      }
    }
  }
}

// banner section
.banner {
  display: flex;
  align-items: center;
  position: relative;
  padding: 2rem 0;

  @include responsive(mediumphone) {
    flex-wrap: wrap;
    padding: 5rem 0;
  }

  .down-arrow {
    position: absolute;
    bottom: 5%;
    left: 50%;
    animation-iteration-count: infinite;
    transition: ease-in 1s;

    .mat-icon {
      font-size: 8rem;
    }
  }

  .banner-txt {
    width: 45%;
    padding-left: 13rem;
    position: absolute;

    @include responsive(smalldesktop) {
      padding-left: 8rem;
    }

    @include responsive(tablet) {
      padding-left: 4rem;
    }

    @include responsive(mediumphone) {
      width: 100%;
      position: static;
    }

    h2 {
      font-size: 6.5rem;
      color: $fourth-color;
      font-family: $secondary-text;
      font-weight: 100;
      position: relative;
      letter-spacing: 1px;
      padding-bottom: 2rem;
      line-height: 1.2;

      @include responsive(bigphone) {
        font-size: 4.5rem;
        padding-bottom: 1rem;
      }

      @include responsive(mediumphone) {
        font-size: 5rem;
        padding-bottom: 2rem;
      }

      span {
        display: block;
      }
    }

    p {
      font-size: $heading-Seoncdary;
      color: $fourth-color;
      padding-right: 2rem;
      word-break: normal;

      @include responsive(bigphone) {
        font-size: $heading-third;
      }

      @include responsive(mediumphone) {
        font-size: $heading-Seoncdary;
      }
    }

    a.btn {
      color: $white-color;
      display: inline-block;
      margin: 2rem 0;
      position: relative;
      z-index: 9;
    }
  }

  .banner-img {
    width: 100%;
    text-align: right;

    @include responsive(mediumphone) {
      margin-top: -5rem;
    }

    img {
      width: 57%;

      @include responsive(mediumphone) {
        width: 80%;
      }
    }
  }
}

// for footballers
.footballers {
  width: 90%;
  margin: auto;
  display: flex;
  position: relative;
  padding: 5rem 0;

  @include responsive(mediumphone) {
    flex-wrap: wrap;
  }

  .backtext {
    position: absolute;
    font-size: 28rem;
    color: $third-color;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);
    font-family: $secondary-text;
    bottom: -16rem;
    left: 0;
    width: 8rem;
    line-height: 0.8;

    @include responsive(smalldesktop) {
      font-size: 25rem;
      bottom: -8rem;
    }

    @include responsive(tablet) {
      font-size: 20rem;
      bottom: -5rem;
      left: 5rem;
    }

    @include responsive(mediumphone) {
      display: none;
    }

    span {
      display: block;
    }
  }

  .footballers-image {
    width: 60%;

    @include responsive(mediumphone) {
      width: 100%;
    }

    .img-wrap {
      position: relative;

      @include responsive(mediumphone) {
        width: 90%;
        margin: 0 auto;
      }

      img {
        width: 80%;
        z-index: 11;
        padding-left: 3rem;

        @include responsive(mediumphone) {
          width: 100%;
        }
      }

      &::before {
        content: "";
        position: absolute;
        width: 20rem;
        height: 5rem;
        background: #323232;
        bottom: 2px;
        left: -3rem;
        z-index: 99;
      }
    }
  }

  .footballers-details {
    width: 50%;
    text-align: right;

    @include responsive(mediumphone) {
      width: 90%;
      margin: 0 auto;
    }

    h2 {
      font-size: 6.5rem;
      font-family: $secondary-text;
      font-weight: 100;
      margin-right: 5rem;

      @include responsive(smalldesktop) {
        font-size: 5.5rem;
      }

      @include responsive(tablet) {
        margin-right: 0rem;
        font-size: 5rem;
      }

      @include responsive(bigphone) {
        font-size: 4rem;
      }

      span {
        font-size: 8rem;
        display: block;

        @include responsive(smalldesktop) {
          font-size: 7rem;
        }

        @include responsive(tablet) {
          font-size: 6rem;
        }

        @include responsive(bigphone) {
          font-size: 5rem;
        }
      }
    }

    img {
      max-width: 65rem;
      width: 100%;
      margin-top: 5rem;

      @include responsive(tablet) {
        margin-top: 0rem;
      }
    }

    ul {
      list-style: none;
      padding: 4rem 4rem 4rem 2rem;
      border-right: 1.5rem solid $primary-color;
      margin: 3rem 5rem 3rem 0rem;

      @include responsive(tablet) {
        margin: 3rem 0rem 3rem 0rem;
      }

      li {
        font-size: $heading-third;
      }
    }
  }
}

// for clubs and academy
.academy-wrapper {
  overflow: hidden;
  width: 100%;

  .academy {
    width: 90%;
    margin: auto;
    padding: 5rem 0;
    display: flex;
    position: relative;

    @include responsive(mediumphone) {
      flex-wrap: wrap;
    }

    .backtext {
      position: absolute;
      font-size: 21rem;
      color: #f6f6f6;
      transform: rotate(90deg) translateY(-45rem);
      font-family: "Paytone One";
      top: 24rem;
      right: 4rem;
      width: 94rem;
      line-height: 0.8;
      word-break: break-all;
      text-align: right;

      @include responsive(smalldesktop) {
        font-size: 20rem;
        right: 8rem;
        width: 85rem;
      }

      @include responsive(tablet) {
        right: 10rem;
        width: 80rem;
        top: 9rem;
      }

      @include responsive(mediumphone) {
        display: none;
      }
    }

    span {
      display: block;
    }
  }

  .academy-image {
    width: 55%;
    position: relative;
    text-align: right;
    z-index: 11;

    @include responsive(mediumphone) {
      width: 90%;
      margin: 0 auto;
    }

    .img-wrap {
      position: relative;

      img {
        width: 80%;
        z-index: 11;
        padding-right: 3rem;

        @include responsive(mediumphone) {
          width: 100%;
          padding-right: 0rem;
          padding-left: 3rem;
        }
      }

      &::before {
        content: "";
        position: absolute;
        width: 20rem;
        height: 5rem;
        background: #323232;
        bottom: 2px;
        right: -2rem;
        z-index: 99;

        @include responsive(mediumphone) {
          left: -3rem;
          right: unset;
        }
      }
    }
  }

  .academy-details {
    width: 45%;

    @include responsive(mediumphone) {
      width: 90%;
      margin: 0 auto;
      order: 2;
    }

    h2 {
      font-size: 6.5rem;
      font-family: $secondary-text;
      font-weight: 100;
      margin-left: 5rem;

      @include responsive(smalldesktop) {
        font-size: 5.5rem;
      }

      @include responsive(tablet) {
        margin-left: 0rem;
        font-size: 5rem;
      }

      @include responsive(bigphone) {
        font-size: 4rem;
      }

      span {
        font-size: 8rem;
        display: block;

        @include responsive(smalldesktop) {
          font-size: 7rem;
        }

        @include responsive(tablet) {
          font-size: 6rem;
        }

        @include responsive(bigphone) {
          font-size: 5rem;
        }
      }
    }

    img {
      max-width: 65rem;
      width: 100%;
      margin-top: 5rem;

      @include responsive(tablet) {
        margin-top: 0rem;
      }
    }

    ul {
      list-style: none;
      padding: 4rem 2rem 4rem 4rem;
      border-left: 1.5rem solid $primary-color;
      margin: 3rem 0rem 3rem 5rem;

      @include responsive(tablet) {
        margin: 3rem 0rem 3rem 0rem;
      }

      li {
        font-size: $heading-third;
      }
    }
  }
}

// for india
.forindia {
  width: 90%;
  margin: auto;
  display: flex;
  position: relative;
  padding: 5rem 0;

  @include responsive(mediumphone) {
    flex-wrap: wrap;
  }

  .backtext {
    position: absolute;
    font-size: 28rem;
    color: $third-color;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);
    font-family: $secondary-text;
    bottom: -4rem;
    left: -4rem;
    width: 8rem;
    line-height: 0.8;

    @include responsive(smalldesktop) {
      font-size: 25rem;
      bottom: 0rem;
    }

    @include responsive(tablet) {
      font-size: 20rem;
      bottom: 10rem;
      left: -4rem;
    }

    @include responsive(mediumphone) {
      display: none;
    }

    span {
      display: block;
    }
  }

  .forindia-image {
    width: 60%;

    @include responsive(mediumphone) {
      width: 100%;
      margin: 0 auto;
      padding: 3rem;
    }

    .img-wrap {
      position: relative;

      img {
        width: 80%;
        z-index: 11;
        padding-left: 3rem;

        @include responsive(mediumphone) {
          width: 100%;
        }
      }

      &::before {
        content: "";
        position: absolute;
        width: 20rem;
        height: 5rem;
        background: #323232;
        bottom: 2px;
        left: -4rem;
        z-index: 99;
      }
    }
  }

  .forindia-details {
    width: 50%;
    text-align: right;

    @include responsive(mediumphone) {
      width: 90%;
      margin: 0 auto;
    }

    h2 {
      font-size: 6.5rem;
      font-family: $secondary-text;
      margin-right: 5rem;
      font-weight: 100;

      @include responsive(smalldesktop) {
        font-size: 5.5rem;
      }

      @include responsive(tablet) {
        margin-right: 0rem;
      }

      @include responsive(bigphone) {
        font-size: 4rem;
      }

      span {
        font-size: 8rem;
        display: block;

        @include responsive(smalldesktop) {
          font-size: 7rem;
        }

        @include responsive(bigphone) {
          font-size: 5rem;
        }
      }
    }

    img {
      max-width: 65rem;
      width: 100%;
      margin-top: 5rem;

      @include responsive(tablet) {
        margin-top: 0rem;
      }
    }

    ul {
      list-style: none;
      padding: 4rem 4rem 4rem 2rem;
      border-right: 1.5rem solid $primary-color;
      margin: 3rem 5rem 3rem 0rem;

      @include responsive(tablet) {
        margin: 3rem 0rem 3rem 0rem;
      }

      li {
        font-size: $heading-third;
      }
    }
  }
}

// 3d strategy
.stratregy {
  width: 90%;
  margin: auto;

  .heading {
    h2 {
      font-size: 6.5rem;
      font-family: $secondary-text;
      font-weight: 100;

      @include responsive(smalldesktop) {
        font-size: 5.5rem;
      }

      @include responsive(bigphone) {
        font-size: 4rem;
      }
    }

    p {
      font-size: 2.8rem;
      padding-left: 4rem;
      border-left: 1rem solid $primary-color;
      word-break: normal;
      color: $fourth-color;
      margin: 2rem 1rem;

      @include responsive(smalldesktop) {
        font-size: 2.4rem;
      }

      @include responsive(bigphone) {
        font-size: 2rem;
      }
    }
  }

  .stratregy-wrapper {
    display: flex;
    padding: 1rem 0 10rem;
    justify-content: space-between;

    @include responsive(mediumphone) {
      flex-direction: column;
      align-items: center;
    }

    .stratregy-blocks {
      width: 25%;
      text-align: left;

      @include responsive(mediumphone) {
        width: 50%;
        text-align: center;
      }

      @include responsive(mediumphone) {
        width: 75%;
        text-align: center;
      }

      .part-one {
        display: flex;
        align-items: center;
        // justify-content: space-between;
        width: 92%;

        h2 {
          position: relative;
          padding-bottom: 3rem;

          ::after {
            position: absolute;
            content: "";
            width: 10rem;
            height: 2.5rem;
            background: $fourth-color;
            left: 0;
            bottom: 0;
          }

          ::before {
            position: absolute;
            content: "";
            width: 0.5rem;
            height: 15rem;
            background: $fourth-color;
            left: 0;
            bottom: -15rem;
          }

          span {
            font-size: 4.5rem;
          }
        }

        h1 {
          font-size: 24rem;
          font-family: $secondary-text;
          text-align: right;
          color: $third-color;
          font-weight: 100;

          @include responsive(tablet) {
            font-size: 20rem;
          }

          @include responsive(bigphone) {
            font-size: 15rem;
          }

          @include responsive(mediumphone) {
            margin-left: 3rem;
          }
        }
      }

      img {
        // max-width: 28rem;
        width: 100%;
      }

      .digitize {
        max-width: 23rem;

        @include responsive(bigphone) {
          max-width: 20rem;
        }

        @include responsive(mediumphone) {
          max-width: 23rem;
        }
      }

      .democratize {
        max-width: 30rem;

        @include responsive(bigphone) {
          max-width: 25rem;
        }

        @include responsive(mediumphone) {
          max-width: 30rem;
        }
      }

      .develop {
        max-width: 30rem;

        @include responsive(bigphone) {
          max-width: 25rem;
        }

        @include responsive(mediumphone) {
          max-width: 30rem;
        }
      }
    }
  }
}
