<header class="header">
  <div class="logo">
    <a [routerLink]="['/home']">
      <img src="assets/images/website/logo.png" alt="brand-logo" />
    </a>
  </div>
  <a class="btn btn-primary btn-primary-shadow" [routerLink]="['/login']">
    Sign in
  </a>
</header>

<div class="banner">
  <div class="banner-txt">
    <h2>
      <span>Digitise,</span>
      <span>Democratise,</span>and Develop.
    </h2>

    <p>
      Revolutionizing football through digital innovation, inclusivity, and
      progress.
    </p>
    <a class="btn btn-primary btn-primary-shadow" [routerLink]="['/register']"
      >Join now</a
    >
    <!--  <a class="btn btn-primary btn-primary-shadow" href="assets/images/website/BANNER1.png"
      >Download Apk</a
    >-->
  </div>
  <div class="banner-img">
    <img src="assets/images/website/BANNER1.png" alt="" />
  </div>
</div>
<!-- for footballers -->
<div class="footballers" #footballers>
  <h2 class="backtext">Footb<span>allers</span></h2>
  <div class="footballers-image">
    <div class="img-wrap">
      <img src="assets/images/website/1.png" alt="" />
    </div>
  </div>
  <div class="footballers-details">
    <h2>
      <span>Unleashing potential with</span>cutting edge sports technology
    </h2>
    <ul>
      <li>Develop, enhance</li>
      <li>& showcase your skills</li>
    </ul>
    <img src="assets/images/website/sunil.png" alt="" />
  </div>
</div>
<!-- for club & Academy -->
<div class="academy-wrapper">
  <div class="academy">
    <div class="academy-details">
      <h2><span>Exclusive community</span> for Indian footballers</h2>
      <ul>
        <li>Connecting and bringing players,</li>
        <li>academies, and coaches, together</li>
        <li>
          seamlessly on a unified football platform.
        </li>
      </ul>
      <img src="assets/images/website/another1.png" alt="" />
    </div>
    <div class="academy-image">
      <div class="img-wrap">
        <img src="assets/images/website/2.png" alt="" />
      </div>
    </div>
    <h2 class="backtext">Academy</h2>
  </div>
</div>

<!-- for india -->
<div class="forindia">
  <h2 class="backtext">India</h2>
  <div class="forindia-image">
    <div class="img-wrap">
      <img src="assets/images/website/3.png" alt="" />
    </div>
  </div>
  <div class="forindia-details">
    <h2><span>Master your performance</span></h2>
    <ul>
      <li>Build, elevate and enhance your profile</li>
      <li>with precise tailored insight.</li>
    </ul>
    <img src="assets/images/website/messi.png" alt="" />
  </div>
</div>
<!-- 3d stratregy -->
<div class="stratregy">
  <div class="heading">
    <h2>3D strategy</h2>
    <p>
      To enable the ecosystem and empower the Indian football industry to become
      a world-class market for footballers globally.
    </p>
  </div>
  <div class="stratregy-wrapper">
    <div class="stratregy-blocks">
      <div class="part-one">
        <h2><span>D</span>IGITISE</h2>
        <h1>1</h1>
      </div>
      <img class="digitize" src="assets/images/website/digitize.png" alt="" />
    </div>
    <div class="stratregy-blocks">
      <div class="part-one">
        <h2><span>D</span>EMOCRATISE</h2>
        <h1>2</h1>
      </div>
      <img
        class="democratize"
        src="assets/images/website/democratize.png"
        alt=""
      />
    </div>
    <div class="stratregy-blocks">
      <div class="part-one">
        <h2><span>D</span>EVELOP</h2>
        <h1>3</h1>
      </div>
      <img class="develop" src="assets/images/website/develop.png" alt="" />
    </div>
  </div>
</div>

<ng-adsense></ng-adsense>

<app-footer></app-footer>
