<div class="wrapper">
  <!-- View wrapper -->
  <div class="view-wrapper" [hidden]="editMode">
    <div class="heading">
      <h2>Personal details</h2>
      <button (click)="toggleMode()">
        <mat-icon class="material-icons">create</mat-icon>
      </button>
    </div>
    <div class="first-section">
      <div class="left-part">
        <div class="dp">
          <img [src]="profile.avatar_url" alt="" />
        </div>
        <div class="details">
          <ng-container
            *ngIf="member_type === 'player' || member_type === 'coache'"
          >
            <h2>
              {{ profile.first_name | capitalize }}
              {{ profile.last_name }}
            </h2>
            <p>{{ profile.player_type | titlecase }}</p>
          </ng-container>
          <ng-container
            *ngIf="member_type !== 'player' || member_type !== 'coache'"
          >
            <h2>{{ profile?.name | capitalize }}</h2>
            <p>{{ profile?.short_name }}</p>
            <p>{{ (clubAcademyType ? clubAcademyType : '') | titlecase }}</p>
          </ng-container>
        </div>
      </div>
      <div class="right-part">
        <ul>
          <li
            *ngIf="profile.social_profiles && profile.social_profiles.facebook"
          >
            <a
              [target]="
                profile.social_profiles && profile.social_profiles.facebook
                  ? '_blank'
                  : ''
              "
              [href]="
                profile.social_profiles && profile.social_profiles.facebook
                  ? appendURL(profile.social_profiles.facebook)
                  : transformURL('javascript:void(0)')
              "
              ><img src="assets/images/website/social/facebook.svg" alt=""
            /></a>
          </li>
          <li
            *ngIf="profile.social_profiles && profile.social_profiles.instagram"
          >
            <a
              [target]="
                profile.social_profiles && profile.social_profiles.instagram
                  ? '_blank'
                  : ''
              "
              [href]="
                profile.social_profiles && profile.social_profiles.instagram
                  ? appendURL(profile.social_profiles.instagram)
                  : transformURL('javascript:void(0)')
              "
              ><img src="assets/images/website/social/instagram.svg" alt=""
            /></a>
          </li>
          <li
            *ngIf="profile.social_profiles && profile.social_profiles.linked_in"
          >
            <a
              [target]="
                profile.social_profiles && profile.social_profiles.linked_in
                  ? '_blank'
                  : ''
              "
              [href]="
                profile.social_profiles && profile.social_profiles.linked_in
                  ? appendURL(profile.social_profiles.linked_in)
                  : transformURL('javascript:void(0)')
              "
              ><img src="assets/images/website/social/linkedin.svg" alt=""
            /></a>
          </li>
          <li
            *ngIf="profile.social_profiles && profile.social_profiles.youtube"
          >
            <a
              [target]="
                profile.social_profiles && profile.social_profiles.youtube
                  ? '_blank'
                  : ''
              "
              [href]="
                profile.social_profiles && profile.social_profiles.youtube
                  ? appendURL(profile.social_profiles.youtube)
                  : transformURL('javascript:void(0)')
              "
              ><img src="assets/images/website/social/youtube.svg" alt=""
            /></a>
          </li>
          <li
            *ngIf="profile.social_profiles && profile.social_profiles.twitter"
          >
            <a
              [target]="
                profile.social_profiles && profile.social_profiles.twitter
                  ? '_blank'
                  : ''
              "
              [href]="
                profile.social_profiles && profile.social_profiles.twitter
                  ? appendURL(profile.social_profiles.twitter)
                  : transformURL('javascript:void(0)')
              "
              ><img src="assets/images/website/social/twitter.svg" alt=""
            /></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="second-section">
      <div class="boi">
        <h4>Bio</h4>
        <p>
          {{ profile.bio }}
        </p>
      </div>

      <div class="view-details">
        <div class="details">
          <div class="left">
            <h4>Email</h4>
          </div>
          <div class="right">
            <p class="email">{{ profile.email }}</p>
          </div>
        </div>
        <ng-container
          *ngIf="member_type === 'player' || member_type === 'coache'"
        >
          <div class="details">
            <div class="left"></div>
            <div class="right"></div>
          </div>
        </ng-container>
      </div>

      <ng-container
        *ngIf="member_type === 'player' || member_type === 'coache'"
      >
        <div class="view-details">
          <div class="details">
            <div class="left">
              <h4>Mobile number</h4>
            </div>
            <div class="right">
              <p>{{ profile?.phone }}</p>
            </div>
          </div>
          <div class="details">
            <div class="left"></div>
            <div class="right"></div>
          </div>
        </div>
      </ng-container>
      <ng-container
        *ngIf="!(member_type === 'player' || member_type === 'coache')"
      >
        <div class="view-details">
          <div class="details">
            <div class="left">
              <h4>Mobile number</h4>
            </div>
            <div class="right">
              <p>{{ profile?.mobile_number }}</p>
            </div>
          </div>
        </div>
        <div class="view-details">
          <div class="details">
            <div class="left">
              <h4>Phone number</h4>
            </div>
            <div class="right">
              <p>{{ profile?.phone }}</p>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container
        *ngIf="member_type === 'player' || member_type === 'coache'"
      >
        <div class="view-details">
          <div class="details-full">
            <div class="left">
              <h4>D.O.B</h4>
            </div>
            <div class="right">
              <p>{{ profile?.dob | date: 'MM-dd-yyyy' }}</p>
            </div>
          </div>
        </div>

        <div class="view-details">
          <div class="details-full">
            <div class="left">
              <h4>Gender</h4>
            </div>
            <div class="right">
              <p>{{ profile?.gender }}</p>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container
        *ngIf="!(member_type === 'player' || member_type === 'coache')"
      >
        <div class="view-details">
          <div class="details-full">
            <div class="left">
              <h4>Founded (Year)</h4>
            </div>
            <div class="right">
              <p>{{ profile?.founded_in }}</p>
            </div>
          </div>
        </div>
      </ng-container>

      <div class="view-details">
        <div class="details-full">
          <div class="left">
            <h4>Country</h4>
          </div>
          <div class="right">
            <p>{{ profile?.country_name }}</p>
          </div>
        </div>
      </div>

      <div class="view-details">
        <div class="details-full">
          <div class="left">
            <h4>State / UT</h4>
          </div>
          <div class="right">
            <p>{{ profile?.state_name }}</p>
          </div>
        </div>
      </div>

      <div class="view-details">
        <div class="details-full">
          <div class="left">
            <h4>District</h4>
          </div>
          <div class="right">
            <p>{{ profile?.district_name }}</p>
          </div>
        </div>
      </div>

      <ng-container
        *ngIf="member_type === 'player' || member_type === 'coache'"
      >
        <ng-container *ngIf="['amateur', 'professional'].includes(player_type)">
          <div class="view-details">
            <div class="details-full">
              <div class="left">
                <h4>College</h4>
              </div>
              <div class="right">
                <p>{{ profile?.institute?.college }}</p>
              </div>
            </div>
          </div>

          <div class="view-details">
            <div class="details-full">
              <div class="left">
                <h4>University</h4>
              </div>
              <div class="right">
                <p>{{ profile?.institute?.university }}</p>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <ng-container
        *ngIf="!(member_type === 'player' || member_type === 'coache')"
      >
        <div class="view-details">
          <div class="details">
            <div class="left">
              <h4>Pincode / Zipcode</h4>
            </div>
            <div class="right">
              <p>{{ profile?.address?.pincode }}</p>
            </div>
          </div>
        </div>
        <div class="view-details">
          <div class="details">
            <div class="left">
              <h4>Office address</h4>
            </div>
            <div class="right">
              <p>{{ profile?.address?.full_address }}</p>
            </div>
          </div>
        </div>
        <div class="view-details">
          <div class="details">
            <div class="left">
              <h4>Stadium name</h4>
            </div>
            <div class="right">
              <p>{{ profile?.stadium_name }}</p>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <!-- editwrapper -->
  <div class="edit-wrapper" [hidden]="!editMode">
    <form [formGroup]="personalProfileDetailsForm">
      <div class="heading">
        <h2>Personal details</h2>
      </div>
      <!-- player -->
      <ng-container
        *ngIf="
          member_type === 'player' || member_type === 'coache';
          else clubAcademyWrapper
        "
      >
        <div class="seciton-wrapper">
          <div class="left-seciton">
            <div class="dp-wrapper">
              <img [src]="profile.avatar_url" />
              <span>
                <label for="upload">
                  <mat-icon class="material-icons">create</mat-icon>
                  <input
                    (change)="uploadAvatar($event.target.files)"
                    type="file"
                    id="upload"
                  />
                </label>
              </span>
            </div>
          </div>
          <div class="right-section">
            <div class="frm-wrapper">
              <div class="input-container">
                <div class="full">
                  <div class="profile-position">
                    <h4>{{ profile.player_type | titlecase }}</h4>
                  </div>
                </div>
              </div>

              <div class="input-container">
                <div class="full mr-3">
                  <div class="form-block">
                    <label>First name <span>*</span></label>
                    <input
                      formControlName="first_name"
                      type="Name"
                      matinput
                      autocomplete="off"
                      required
                      placeholder="First name"
                    />
                  </div>
                </div>
                <div class="full mr-3">
                  <div class="form-block">
                    <label>Last name <span>*</span></label>
                    <input
                      formControlName="last_name"
                      type="Name"
                      matinput
                      autocomplete="off"
                      required
                      placeholder="Last name"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="section">
          <div class="input-container">
            <div class="full">
              <div class="form-block">
                <label>Bio</label>
                <textarea
                  formControlName="bio"
                  class="txtarea-height"
                  matinput
                  placeholder="Write a Bio"
                  maxlength="350"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="input-container">
            <div class="third">
              <div class="form-block">
                <label>Email <span>*</span></label>
                <input
                  formControlName="email"
                  type="Name"
                  matinput
                  autocomplete="off"
                  required
                  placeholder="Email"
                />
              </div>
            </div>
            <div class="third">
              <div class="form-block">
                <label>Weight (kg) </label>
                <input
                  formControlName="weight"
                  type="Name"
                  matinput
                  autocomplete="off"
                  placeholder="Weight"
                />
              </div>
            </div>
            <div class="third">
              <div class="form-block pb-0">
                <label>Height <span>*</span></label>
                <div class="double">
                  <div class="half">
                    <input
                      formControlName="height_feet"
                      type="text"
                      matinput
                      autocomplete="off"
                      required
                      placeholder="Feet"
                      max="1"
                    />
                  </div>
                  <div class="half">
                    <input
                      formControlName="height_inches"
                      type="text"
                      matinput
                      autocomplete="off"
                      required
                      placeholder="Inches"
                      max="2"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="input-container">
            <div class="third">
              <div class="form-block">
                <label>Mobile number <span>*</span></label>
                <div class="phone-block">
                  <div class="country-code">
                    <select disabled>
                      <option>+91</option>
                    </select>
                  </div>
                  <div class="phone-number">
                    <input
                      formControlName="phone"
                      type="text"
                      matInput
                      autocomplete="off"
                      placeholder="Mobile number"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="third">
              <div class="form-block pb-0">
                <label>D.O.B <span>*</span></label>
                <div class="date">
                  <input
                    formControlName="dob"
                    matInput
                    [matDatepicker]="picker"
                    placeholder="Date of Birth"
                    readonly
                    [max]="today"
                  />

                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </div>
              </div>
            </div>
            <div class="third"></div>
          </div>
          <div class="input-container">
            <div class="third">
              <div class="form-block">
                <label>Gender <span>*</span></label>
                <select formControlName="gender">
                  <option value="">Select gender</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
              </div>
            </div>
            <div class="third">
              <div class="form-block">
                <label>Country <span>*</span></label>
                <select
                  formControlName="country"
                  (change)="onSelectCountry($event)"
                >
                  <option value="">Select nationality</option>
                  <ng-container *ngFor="let country of countryArray">
                    <option value="{{ country.country_id }}">{{
                      country.country
                    }}</option>
                  </ng-container>
                </select>
                <mat-error
                  class="error-text"
                  *ngIf="
                    personalProfileDetailsForm.controls.country.invalid &&
                    personalProfileDetailsForm.controls.country.touched
                  "
                >
                  <span
                    *ngIf="
                      personalProfileDetailsForm.controls.country.errors
                        .required
                    "
                    translate
                    >Nationality is required</span
                  >
                </mat-error>
              </div>
            </div>
          </div>
          <div class="input-container">
            <div class="third">
              <div class="form-block">
                <label>State / UT <span>*</span></label>
                <select
                  formControlName="state"
                  (change)="onSelectState($event)"
                >
                  <option value="">Select state / UT </option>
                  <ng-container *ngFor="let state of stateArray">
                    <option value="{{ state.id }}">{{ state.name }}</option>
                  </ng-container>
                </select>
                <mat-error
                  class="error-text"
                  *ngIf="
                    personalProfileDetailsForm.controls.state.invalid &&
                    personalProfileDetailsForm.controls.state.touched
                  "
                >
                  <span
                    *ngIf="
                      personalProfileDetailsForm.controls.state.errors.required
                    "
                    translate
                    >State is required</span
                  >
                </mat-error>
              </div>
            </div>
            <div class="third">
              <div class="form-block">
                <label>District <span>*</span></label>
                <select formControlName="district">
                  <option value="">Select district</option>
                  <ng-container *ngFor="let district of districtArray">
                    <option value="{{ district.id }}">{{
                      district.name
                    }}</option>
                  </ng-container>
                </select>
                <mat-error
                  *ngIf="
                    personalProfileDetailsForm.controls.district.invalid &&
                    personalProfileDetailsForm.controls.district.touched
                  "
                >
                  <span
                    *ngIf="
                      personalProfileDetailsForm.controls.district.errors
                        .required
                    "
                    translate
                    >Current district is required</span
                  >
                </mat-error>
              </div>
            </div>
          </div>

          <div class="input-container">
            <div class="two-third">
              <div class="form-block">
                <label>School</label>
                <input
                  formControlName="school"
                  type="text"
                  matinput
                  autocomplete="off"
                  placeholder="School"
                  trim="blur"
                />
              </div>
            </div>
          </div>
          <ng-container
            *ngIf="['amateur', 'professional'].includes(player_type)"
          >
            <div class="input-container">
              <div class="two-third">
                <div class="form-block">
                  <label>College</label>
                  <input
                    formControlName="college"
                    type="text"
                    matinput
                    autocomplete="off"
                    placeholder="College"
                    trim="blur"
                  />
                </div>
              </div>
            </div>
            <div class="input-container">
              <div class="two-third">
                <div class="form-block">
                  <label>University</label>
                  <input
                    formControlName="university"
                    type="text"
                    matinput
                    autocomplete="off"
                    placeholder="University"
                    trim="blur"
                  />
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>

      <!-- club -->
      <ng-template #clubAcademyWrapper>
        <div class="seciton-wrapper">
          <div class="left-seciton">
            <div class="dp-wrapper">
              <img [src]="profile.avatar_url" />
              <span>
                <label for="upload">
                  <mat-icon class="material-icons">create</mat-icon>
                  <input
                    (change)="uploadAvatar($event.target.files)"
                    type="file"
                    id="upload"
                  />
                </label>
              </span>
            </div>
          </div>
          <div class="right-section">
            <div class="frm-wrapper">
              <div class="input-container">
                <div class="full mr-3">
                  <div class="form-block">
                    <label
                      >{{ member_type | titlecase }} name <span>*</span></label
                    >
                    <input
                      type="text"
                      matinput
                      autocomplete="off"
                      formControlName="name"
                      placeholder="{{ member_type | titlecase }} name"
                    />
                    <mat-error
                      class="error-text"
                      *ngIf="
                        personalProfileDetailsForm.controls.name.invalid &&
                        personalProfileDetailsForm.controls.name.touched
                      "
                    >
                      <span
                        *ngIf="
                          personalProfileDetailsForm.controls.name.errors
                            .required
                        "
                        translate
                        >{{ member_type | titlecase }} name is required</span
                      >
                      <span
                        *ngIf="
                          personalProfileDetailsForm.controls.name.errors
                            .pattern
                        "
                        translate
                      >
                        {{ member_type | titlecase }} name format is invalid
                      </span>
                    </mat-error>
                  </div>
                </div>
                <div class="full mr-3">
                  <div class="form-block">
                    <label>Short {{ member_type }} name <span>*</span></label>
                    <input
                      type="text"
                      matinput
                      autocomplete="off"
                      formControlName="short_name"
                      placeholder="Short {{ member_type }} name"
                    />
                  </div>
                </div>
              </div>
              <div class="input-container">
                <div class="full mr-3">
                  <div class="form-block pb-0">
                    <label>Founded (Year)<span>*</span></label>
                    <div class="date">
                      <input
                        formControlName="founded_in"
                        matInput
                        [matDatepicker]="founded"
                        [max]="today"
                        placeholder="Founded (Year)"
                        readonly
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="founded"
                      ></mat-datepicker-toggle>
                      <mat-datepicker
                        #founded
                        startView="multi-year"
                        (yearSelected)="
                          closeDatePicker(founded, $event, 'founded_in')
                        "
                      >
                      </mat-datepicker>
                    </div>
                    <mat-error
                      class="error-text"
                      *ngIf="
                        personalProfileDetailsForm.controls.founded_in
                          .invalid &&
                        personalProfileDetailsForm.controls.founded_in.touched
                      "
                    >
                      <span
                        *ngIf="
                          personalProfileDetailsForm.controls.founded_in.errors
                            .required
                        "
                        translate
                        >Founded is required</span
                      >
                    </mat-error>
                  </div>
                </div>
                <div class="full mr-3">
                  <div class="form-block">
                    <label>Email <span>*</span></label>
                    <input
                      formControlName="email"
                      type="email"
                      matinput
                      autocomplete="off"
                      placeholder="Email"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="section">
          <div class="input-container">
            <div class="full">
              <div class="form-block">
                <label>Bio</label>
                <textarea
                  formControlName="bio"
                  class="txtarea-height"
                  matinput
                  placeholder="Write a Bio"
                  maxlength="350"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="input-container">
            <div class="third">
              <div class="form-block">
                <label>Phone number </label>
                <div class="phone-block">
                  <div class="country-code">
                    <select disabled>
                      <option>+91</option>
                    </select>
                  </div>
                  <div class="phone-number">
                    <input
                      formControlName="phone"
                      type="text"
                      matInput
                      autocomplete="off"
                      placeholder="Phone number"
                    />
                    <mat-error
                      class="error-text"
                      *ngIf="
                        personalProfileDetailsForm.controls.phone.invalid &&
                        personalProfileDetailsForm.controls.phone.touched
                      "
                    >
                      <ng-template #lengthBlock>
                        <span
                          translate
                          *ngIf="
                            personalProfileDetailsForm.controls.phone.errors
                              .minlength
                          "
                        >
                          Please provide number upto
                          {{
                            personalProfileDetailsForm.controls.phone.errors
                              .minlength.requiredLength
                          }}
                          digits
                        </span>
                        <span
                          translate
                          *ngIf="
                            personalProfileDetailsForm.controls.phone.errors
                              .maxlength
                          "
                        >
                          Please provide number upto
                          {{
                            personalProfileDetailsForm.controls.phone.errors
                              .maxlength.requiredLength
                          }}
                          digits
                        </span>
                      </ng-template>
                      <span
                        *ngIf="
                          personalProfileDetailsForm.controls.phone.errors
                            .pattern;
                          else lengthBlock
                        "
                        translate
                      >
                        Phone number format is invalid
                      </span>
                    </mat-error>
                  </div>
                </div>
              </div>
            </div>
            <div class="third">
              <div class="form-block">
                <label>Mobile number <span>*</span></label>
                <div class="phone-block">
                  <div class="country-code">
                    <select disabled>
                      <option>+91</option>
                    </select>
                  </div>
                  <div class="phone-number">
                    <input
                      formControlName="mobile_number"
                      type="text"
                      matInput
                      autocomplete="off"
                      placeholder="Mobile number"
                    />
                    <mat-error
                      class="error-text"
                      *ngIf="
                        personalProfileDetailsForm.controls.mobile_number
                          .invalid &&
                        personalProfileDetailsForm.controls.mobile_number
                          .touched
                      "
                    >
                      <span
                        *ngIf="
                          personalProfileDetailsForm.controls.mobile_number
                            .errors.required
                        "
                        translate
                        >Mobile number is required</span
                      >
                      <ng-template #lengthBlock>
                        <span
                          translate
                          *ngIf="
                            personalProfileDetailsForm.controls.mobile_number
                              .errors.minlength
                          "
                        >
                          Please provide number upto
                          {{
                            personalProfileDetailsForm.controls.mobile_number
                              .errors.minlength.requiredLength
                          }}
                          digits
                        </span>
                        <span
                          translate
                          *ngIf="
                            personalProfileDetailsForm.controls.mobile_number
                              .errors.maxlength
                          "
                        >
                          Please provide number upto
                          {{
                            personalProfileDetailsForm.controls.mobile_number
                              .errors.maxlength.requiredLength
                          }}
                          digits
                        </span>
                      </ng-template>
                      <span
                        *ngIf="
                          personalProfileDetailsForm.controls.mobile_number
                            .errors.pattern;
                          else lengthBlock
                        "
                        translate
                      >
                        Mobile number format is invalid
                      </span>
                    </mat-error>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="input-container flex-wrap">
            <div class="third">
              <div class="form-block">
                <label>Country <span>*</span></label>
                <select
                  formControlName="country"
                  (change)="onSelectCountry($event)"
                >
                  <option value="">Select country</option>
                  <ng-container *ngFor="let country of countryArray">
                    <option [value]="country.country_id">{{
                      country.country
                    }}</option>
                  </ng-container>
                </select>
                <mat-error
                  class="error-text"
                  *ngIf="
                    personalProfileDetailsForm.controls.country.invalid &&
                    personalProfileDetailsForm.controls.country.touched
                  "
                >
                  <span
                    *ngIf="
                      personalProfileDetailsForm.controls.country.errors
                        .required
                    "
                    translate
                    >Country is required</span
                  >
                </mat-error>
              </div>
            </div>
            <div class="third">
              <div class="form-block">
                <label>State / UT <span>*</span></label>
                <select
                  formControlName="state"
                  (change)="onSelectState($event)"
                >
                  <option value="">Select state / UT </option>
                  <ng-container *ngFor="let state of stateArray">
                    <option [value]="state.id">{{ state.name }}</option>
                  </ng-container>
                </select>
                <mat-error
                  class="error-text"
                  *ngIf="
                    personalProfileDetailsForm.controls.state.invalid &&
                    personalProfileDetailsForm.controls.state.touched
                  "
                >
                  <span
                    *ngIf="
                      personalProfileDetailsForm.controls.state.errors.required
                    "
                    translate
                    >State / UT is required</span
                  >
                </mat-error>
              </div>
            </div>
            <div class="third">
              <div class="form-block">
                <label>District <span>*</span></label>
                <select formControlName="district">
                  <option value="">Select district</option>
                  <ng-container *ngFor="let district of districtArray">
                    <option [value]="district.id">{{ district.name }}</option>
                  </ng-container>
                </select>
                <mat-error
                  class="error-text"
                  *ngIf="
                    personalProfileDetailsForm.controls.district.invalid &&
                    personalProfileDetailsForm.controls.district.touched
                  "
                >
                  <span
                    *ngIf="
                      personalProfileDetailsForm.controls.district.errors
                        .required
                    "
                    translate
                    >District is required</span
                  >
                </mat-error>
              </div>
            </div>
          </div>

          <div class="input-container">
            <div class="two-third">
              <div class="form-block">
                <label
                  >Office address
                  <span *ngIf="member_type === 'academy'">*</span></label
                >
                <input
                  formControlName="address"
                  type="text"
                  matinput
                  autocomplete="off"
                  placeholder="Office address"
                  trim="blur"
                />
                <mat-error
                  class="error-text"
                  *ngIf="
                    personalProfileDetailsForm.controls.address.invalid &&
                    personalProfileDetailsForm.controls.address.touched
                  "
                >
                  <span
                    *ngIf="
                      personalProfileDetailsForm.controls.address.errors
                        .required
                    "
                    translate
                    >Office address is required</span
                  >
                </mat-error>
              </div>
            </div>
          </div>

          <div class="input-container">
            <div class="third">
              <div class="form-block">
                <label
                  >Pincode / Zipcode
                  <span *ngIf="member_type === 'academy'">*</span>
                </label>
                <input
                  formControlName="pincode"
                  type="text"
                  matinput
                  autocomplete="off"
                  placeholder="Pincode / Zipcode"
                />
                <mat-error
                  class="error-text"
                  *ngIf="
                    personalProfileDetailsForm.controls.pincode.invalid &&
                    personalProfileDetailsForm.controls.pincode.touched
                  "
                >
                  <span
                    *ngIf="
                      personalProfileDetailsForm.controls.pincode.errors
                        .required
                    "
                    translate
                    >Pincode / Zipcode is required</span
                  >
                  <span
                    *ngIf="
                      personalProfileDetailsForm.controls.pincode.errors &&
                      personalProfileDetailsForm.controls.pincode.errors.pattern
                    "
                  >
                    Pincode / Zipcode format is invalid
                  </span>
                </mat-error>
              </div>
            </div>
            <div class="third">
              <div class="form-block">
                <label>Stadium name</label>
                <input
                  formControlName="stadium_name"
                  type="text"
                  matinput
                  autocomplete="off"
                  placeholder="Stadium name"
                  trim="blur"
                />
              </div>
            </div>
          </div>
        </div>
      </ng-template>

      <div class="socials">
        <h3>Social media link</h3>
        <div class="input-container flex-wrap">
          <div class="third">
            <div class="form-block">
              <label>Facebook </label>
              <input
                formControlName="facebook"
                type="text"
                matinput
                autocomplete="off"
                placeholder="Facebook"
              />
            </div>
          </div>
          <div class="third">
            <div class="form-block">
              <label>Instagram </label>
              <input
                formControlName="instagram"
                type="text"
                matinput
                autocomplete="off"
                placeholder="Instagram"
              />
            </div>
          </div>
          <div class="third">
            <div class="form-block">
              <label>Linkedin </label>
              <input
                formControlName="linked_in"
                type="text"
                matinput
                autocomplete="off"
                placeholder="Linkedin"
              />
            </div>
          </div>
          <div class="third">
            <div class="form-block">
              <label>Twitter </label>
              <input
                formControlName="twitter"
                type="text"
                matinput
                autocomplete="off"
                placeholder="Twitter"
              />
            </div>
          </div>
          <div class="third">
            <div class="form-block">
              <label>Youtube </label>
              <input
                formControlName="youtube"
                type="text"
                matinput
                autocomplete="off"
                placeholder="Youtube"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="actions mt-2 mb-2">
        <div class="btn-group">
          <button class="btn-normal" (click)="toggleMode()">Cancel</button>
          <button
            class="btn-active"
            (click)="updatePersonalProfileDetails()"
            [disabled]="personalProfileDetailsForm.invalid"
          >
            Save Changes
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
