<div class="wrapper">
  <!-- editwrapper -->
  <div class="view-wrapper">
    <div class="heading">
      <h2>Personal Details</h2>
      <button>
        <mat-icon class="material-icons">create</mat-icon>
      </button>
    </div>
    <div class="first-section">
      <div class="left-part">
        <div class="dp">
          <img src="assets/images/member/profile.png" alt="" />
        </div>
        <div class="details">
          <h3>James Jordon</h3>
          <p>Grassroot</p>
        </div>
      </div>
      <div class="right-part">
        <ul>
          <li>
            <a><img src="assets/images/website/social/facebook.svg" alt=""/></a>
          </li>
          <li>
            <a
              ><img src="assets/images/website/social/instagram.svg" alt=""
            /></a>
          </li>
          <li>
            <a><img src="assets/images/website/social/linkedin.svg" alt=""/></a>
          </li>
          <li>
            <a><img src="assets/images/website/social/youtube.svg" alt=""/></a>
          </li>
          <li>
            <a><img src="assets/images/website/social/twitter.svg" alt=""/></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="second-section">
      <div class="boi">
        <h4>Boi</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lobortis eget
          ultrices sed suspendisse amet vitae, neque in. Eu tempor porttitor
          eget eget nisl ligula. Id massa consectetur sed nunc lacus morb ctetur
          adipiscing elit. Lobortis eget ultrice
        </p>
      </div>
      <!-- first row -->
      <div class="view-details">
        <div class="details">
          <div class="left">
            <h4>Email</h4>
          </div>
          <div class="right">
            <p>jamesJordan@gmail.com</p>
          </div>
        </div>
        <div class="details">
          <div class="left">
            <h4>Weight</h4>
          </div>
          <div class="right">
            <p>65 kg</p>
          </div>
        </div>
      </div>
      <!-- second row -->
      <div class="view-details">
        <div class="details">
          <div class="left">
            <h4>Mobile number</h4>
          </div>
          <div class="right">
            <p>9689854795</p>
          </div>
        </div>
        <div class="details">
          <div class="left">
            <h4>Height</h4>
          </div>
          <div class="right">
            <p>6 feets 4 inches</p>
          </div>
        </div>
      </div>
      <!-- third row -->
      <div class="view-details">
        <div class="details">
          <div class="left">
            <h4>D.O.B</h4>
          </div>
          <div class="right">
            <p>6 July 2000</p>
          </div>
        </div>
      </div>

      <!--  row -->
      <div class="view-details">
        <div class="details">
          <div class="left">
            <h4>Gender</h4>
          </div>
          <div class="right">
            <p>Male</p>
          </div>
        </div>
      </div>

      <!--  row -->
      <div class="view-details">
        <div class="details">
          <div class="left">
            <h4>Country</h4>
          </div>
          <div class="right">
            <p>India</p>
          </div>
        </div>
      </div>

      <!--  row -->
      <div class="view-details">
        <div class="details">
          <div class="left">
            <h4>State / UT</h4>
          </div>
          <div class="right">
            <p>Delhi</p>
          </div>
        </div>
      </div>

      <!--  row -->
      <div class="view-details">
        <div class="details">
          <div class="left">
            <h4>City</h4>
          </div>
          <div class="right">
            <p>Delhi</p>
          </div>
        </div>
      </div>

      <!--  row -->
      <div class="view-details">
        <div class="details">
          <div class="left">
            <h4>School name</h4>
          </div>
          <div class="right">
            <p>A.B.C. public school</p>
          </div>
        </div>
      </div>

      <!--  row -->
      <div class="view-details">
        <div class="details">
          <div class="left">
            <h4>College</h4>
          </div>
          <div class="right">
            <p>A.B.C. public college</p>
          </div>
        </div>
      </div>

      <!--  row -->
      <div class="view-details">
        <div class="details">
          <div class="left">
            <h4>University</h4>
          </div>
          <div class="right">
            <p>A.B.C. International University</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- editwrapper -->
  <div class="edit-wrapper">
    <form>
      <div class="heading">
        <h3>Personal Details</h3>
      </div>
      <div class="seciton-wrapper">
        <div class="left-seciton">
          <div class="dp-wrapper">
            <img src="assets/images/member/profile.png" />
            <span>
              <label for="upload">
                <mat-icon class="material-icons">create</mat-icon>
                <input type="file" id="upload" />
              </label>
            </span>
          </div>
        </div>
        <div class="right-section">
          <div class="frm-wrapper">
            <div class="input-container">
              <div class="full">
                <h3 class="mb-1">Player type</h3>
                <div class="radio-block">
                  <mat-radio-group class="example-radio-group">
                    <mat-radio-button checked value="player">
                      Player
                    </mat-radio-button>
                    <mat-radio-button value="club">
                      Club
                    </mat-radio-button>
                    <mat-radio-button value="academy">
                      Academy
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
            </div>

            <div class="input-container">
              <div class="half">
                <div class="form-block">
                  <label>First name <span>*</span></label>
                  <input
                    type="Name"
                    matinput
                    autocomplete="off"
                    required
                    placeholder="First name"
                  />
                  <mat-error class="error-text"> </mat-error>
                </div>
              </div>
              <div class="half">
                <div class="form-block">
                  <label>Last name <span>*</span></label>
                  <input
                    type="Name"
                    matinput
                    autocomplete="off"
                    required
                    placeholder="Last name"
                  />
                  <mat-error class="error-text"> </mat-error>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section">
        <div class="input-container">
          <div class="full">
            <div class="form-block">
              <textarea
                class="txtarea-height"
                matinput
                placeholder="Write a Boi"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="input-container">
          <div class="third">
            <div class="form-block">
              <label>Email <span>*</span></label>
              <input
                type="Name"
                matinput
                autocomplete="off"
                required
                placeholder="Email"
              />
              <mat-error class="error-text"> </mat-error>
            </div>
          </div>
          <div class="third">
            <div class="form-block">
              <label>Weight (kg) <span>*</span></label>
              <input
                type="Name"
                matinput
                autocomplete="off"
                required
                placeholder="Email"
              />
              <mat-error class="error-text"> </mat-error>
            </div>
          </div>
          <div class="third">
            <div class="form-block">
              <label>Height <span>*</span></label>
              <div class="double">
                <input
                  type="text"
                  matinput
                  autocomplete="off"
                  required
                  placeholder="Feets"
                />
                <input
                  type="text"
                  matinput
                  autocomplete="off"
                  required
                  placeholder="Inches"
                />
              </div>
              <mat-error class="error-text"> </mat-error>
            </div>
          </div>
        </div>
        <div class="input-container">
          <div class="third">
            <div class="form-block">
              <label>Mobile number </label>
              <div class="phone-block">
                <div class="country-code">
                  <select disabled>
                    <option>+91</option>
                  </select>
                </div>
                <div class="phone-number">
                  <input
                    type="text"
                    matInput
                    autocomplete="off"
                    placeholder="Mobile number"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="third">
            <div class="form-block">
              <label>D.O.B <span>*</span></label>
              <div class="date">
                <input
                  matInput
                  [matDatepicker]="picker"
                  placeholder="Pick Date"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </div>
              <mat-error class="error-text"> </mat-error>
            </div>
          </div>
          <div class="third"></div>
        </div>
        <div class="input-container">
          <div class="third">
            <div class="form-block">
              <label>Gender <span>*</span></label>
              <select>
                <option value="">Select gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
              <mat-error class="error-text"> </mat-error>
            </div>
          </div>
          <div class="third">
            <div class="form-block">
              <label>Country <span>*</span></label>
              <select>
                <option value="">Select country</option>
              </select>
              <mat-error class="error-text"> </mat-error>
            </div>
          </div>
        </div>
        <div class="input-container">
          <div class="third">
            <div class="form-block">
              <label>State / UT <span>*</span></label>
              <select>
                <option value="">Select State/UT </option>
              </select>
              <mat-error class="error-text"> </mat-error>
            </div>
          </div>
          <div class="third">
            <div class="form-block">
              <label>City <span>*</span></label>
              <select>
                <option value="">Select city</option>
              </select>
              <mat-error class="error-text"> </mat-error>
            </div>
          </div>
        </div>

        <div class="input-container">
          <div class="two-third">
            <div class="form-block">
              <label>School name <span>*</span></label>
              <input
                type="text"
                matinput
                autocomplete="off"
                required
                placeholder="Email"
              />
              <mat-error class="error-text"> </mat-error>
            </div>
          </div>
        </div>
        <div class="input-container">
          <div class="two-third">
            <div class="form-block">
              <label>College <span>*</span></label>
              <input
                type="text"
                matinput
                autocomplete="off"
                required
                placeholder="Email"
              />
              <mat-error class="error-text"> </mat-error>
            </div>
          </div>
        </div>
        <div class="input-container">
          <div class="two-third">
            <div class="form-block">
              <label>University <span>*</span></label>
              <input
                type="text"
                matinput
                autocomplete="off"
                required
                placeholder="Email"
              />
              <mat-error class="error-text"> </mat-error>
            </div>
          </div>
        </div>
      </div>
      <div class="socials">
        <h3>Social media links</h3>
        <div class="input-container">
          <div class="third">
            <div class="form-block">
              <label>Facebook <span>*</span></label>
              <input
                type="text"
                matinput
                autocomplete="off"
                required
                placeholder="FacebookLink"
              />
              <mat-error class="error-text"> </mat-error>
            </div>
          </div>
          <div class="third">
            <div class="form-block">
              <label>Instagram <span>*</span></label>
              <input
                type="text"
                matinput
                autocomplete="off"
                required
                placeholder="Instagramlink"
              />
              <mat-error class="error-text"> </mat-error>
            </div>
          </div>
          <div class="third">
            <div class="form-block">
              <label>Linkedin <span>*</span></label>
              <input
                type="text"
                matinput
                autocomplete="off"
                required
                placeholder="Linkedinlink"
              />
              <mat-error class="error-text"> </mat-error>
            </div>
          </div>
        </div>
        <div class="input-container">
          <div class="third">
            <div class="form-block">
              <label>Twitter <span>*</span></label>
              <input
                type="text"
                matinput
                autocomplete="off"
                required
                placeholder="Twitterlink"
              />
              <mat-error class="error-text"> </mat-error>
            </div>
          </div>
          <div class="third">
            <div class="form-block">
              <label>Youtube <span>*</span></label>
              <input
                type="text"
                matinput
                autocomplete="off"
                required
                placeholder="Youtubelink"
              />
              <mat-error class="error-text"> </mat-error>
            </div>
          </div>
        </div>
      </div>
      <div class="actions mt-2 mb-2">
        <div class="btn-group">
          <button class="btn-normal">Cancel</button>
          <button class="btn-active">Save changes</button>
        </div>
      </div>
    </form>
  </div>
</div>
