<div class="create-update-question card">
  <div class="card__header">
    <div class="heading">
      <h2>Create Question</h2>
    </div>
    <div class="page-navigator">
      <button class="btn btn-gredient">Publish</button>
    </div>
  </div>
  <div class="card-body">
    <div fxLayout="row wrap">
      <div class="form-group select-type" fxFlex="25%">
        <label for="">Select Question Type</label>
        <select>
          <option value="">Audio</option>
          <option value="">Text</option>
          <option value="">Video</option>
        </select>
      </div>
    </div>
    <div class="tab-container">
      <div class="tabs">
        <button class="tablinks" (click)="openTab($event, 'English')" #defaultOpen>English</button>
        <button class="tablinks" (click)="openTab($event, 'Hindi')">Hindi</button>
        <button class="tablinks" (click)="openTab($event, 'Marathi')">Marathi</button>
        <button class="tablinks" (click)="openTab($event, 'Kannada')">Kannada</button>
      </div>
      <div id="English" class="tabcontent">
        <form>
          <div fxLayout="row wrap">
            <div class="form-group margin-bottom-35" fxFlex>
              <label for="">Question Title</label>
              <input type="text" class="input__text" />
            </div>
          </div>
          <div fxLayout="row wrap">
            <div class="form-group  margin-bottom-40" fxFlex style="margin-right: 2rem;">
              <label for="file-upload">Upload Supported Audio File</label>
              <div class="fileupload">
                <input type="file" hidden="hidden" id="file-upload" #fileUploadInput (change)="onUpdateFile()" />
                <div class="fileupload__input" (click)="onTriggerInput()">
                  <button class="fileupload__input--btn" type="button">
                    <img src="assets/images/icons/browse-file.png" alt="Upload" class="browse-file" />
                  </button>
                  <span class="fileupload__input--value" #fileUploadName></span>
                </div>
              </div>
            </div>
            <div class="form-group  margin-bottom-40" fxFlex>
              <label for="">Enter Audio Link</label>
              <input type="text" class="input__text" />
            </div>
          </div>
          <div class="answers-container">
            <div class="label-row" fxLayout="row wrap">
              <label for="" fxFlex="45.5%">Answer</label>
              <label for="" fxFlex="22.5%">Media Upload</label>
              <label for="" fxFlex>Select Correct Answer</label>
            </div>
            <div class="answers-list">
              <div class="answers__item" fxLayout="row wrap" fxLayoutAlign=" center">
                <span class="answers__item--option">A</span>
                <input type="text" class="answers__item--input" placeholder="Answer - 1" />
                <div class="answers__item--mediaupload">
                  <input type="file" hidden="hidden" #imageUploadInput_A />
                  <button class="browse-file" (click)="imageUploadInput_A.click()" type="button">
                    <img src="assets/images/icons/browse-file.png" alt="Browse File" />
                  </button>
                  <button class="link" (click)="enterLinkModal()" type="button">
                    <img src="assets/images/icons/link-white.png" alt="Link" />
                  </button>
                </div>
                <div class="answers__item--radio">
                  <mat-radio-button checked></mat-radio-button>
                </div>
              </div>
              <div class="answers__item" fxLayout="row wrap" fxLayoutAlign=" center">
                <span class="answers__item--option">B</span>
                <input type="text" class="answers__item--input" placeholder="Answer - 2" />
                <div class="answers__item--mediaupload">
                  <input type="file" hidden="hidden" #imageUploadInput_B />
                  <button class="browse-file" (click)="imageUploadInput_B.click()" type="button">
                    <img src="assets/images/icons/browse-file.png" alt="Browse File" />
                  </button>
                  <button class="link" (click)="enterLinkModal()" type="button">
                    <img src="assets/images/icons/link-white.png" alt="Link" />
                  </button>
                </div>
                <div class="answers__item--radio">
                  <mat-radio-button></mat-radio-button>
                </div>
              </div>
              <div class="answers__item" fxLayout="row wrap" fxLayoutAlign=" center">
                <span class="answers__item--option">C</span>
                <input type="text" class="answers__item--input" placeholder="Answer - 3" />
                <div class="answers__item--mediaupload">
                  <input type="file" hidden="hidden" #imageUploadInput_C />
                  <button class="browse-file" (click)="imageUploadInput_C.click()" type="button">
                    <img src="assets/images/icons/browse-file.png" alt="Browse File" />
                  </button>
                  <button class="link" (click)="enterLinkModal()" type="button">
                    <img src="assets/images/icons/link-white.png" alt="Link" />
                  </button>
                </div>
                <div class="answers__item--radio">
                  <mat-radio-button></mat-radio-button>
                </div>
              </div>
              <div class="answers__item" fxLayout="row wrap" fxLayoutAlign=" center">
                <span class="answers__item--option">D</span>
                <input type="text" class="answers__item--input" placeholder="Answer - 4" />
                <div class="answers__item--mediaupload">
                  <input type="file" hidden="hidden" #imageUploadInput_D />
                  <button class="browse-file" (click)="imageUploadInput_D.click()" type="button">
                    <img src="assets/images/icons/browse-file.png" alt="Browse File" />
                  </button>
                  <button class="link" (click)="enterLinkModal()" type="button">
                    <img src="assets/images/icons/link-white.png" alt="Link" />
                  </button>
                </div>
                <div class="answers__item--radio">
                  <mat-radio-button></mat-radio-button>
                </div>
              </div>
            </div>
          </div>
          <div fxLayout="row wrap">
            <div class="action-block" fxFlex="28%">
              <button class="btn btn-block btn-gredient">Submit</button>
            </div>
          </div>
        </form>
      </div>
      <div id="Hindi" class="tabcontent">
        <h3>Hindi</h3>
      </div>
      <div id="Marathi" class="tabcontent">
        <h3>Marathi</h3>
      </div>
      <div id="Kannada" class="tabcontent">
        <h3>Kannada</h3>
      </div>
    </div>
  </div>
</div>
