<header class="header">
  <div class="logo">
    <a [routerLink]="['/home']">
      <img src="assets/images/website/logo.png" alt="brand-logo" />
    </a>
  </div>
</header>

<mat-card>
  <mat-card-content>
    <h1>COMMUNITY GUIDELINES</h1>
    <div class="main-div">
      <br /><br />
      <p>
        YFTChain (Youth Football Technology Chain), a product of Decoding Youth
        Talent Private Limited, helps its users (football players, coaches,
        clubs and academies) to connect with one another, professionally and
        socially, to enable a robust footballing community, talent
        identification, scouting, talent showcasing through videos, photos,
        posts and using data for match and training analysis. To achieve the
        above-desired purpose, we have carefully drafted our community
        guidelines mentioned below and mandate all registered users to follow
        the community guidelines as well as the Terms of Use.
        <br /><br />
        At YFTChain, we value and give utmost importance to freedom of speech
        and expression, the right to privacy of each user registered on our
        platform. Hence we expect and mandate all of our users to interact with
        other users on the platform in a way they would interact in a real-world
        scenario. All YFTChain users, before posting or publishing any content
        (text, photo, video) onto the platform, must think about how other
        people would react or feel if you conveyed to them the type of content
        you are about to post. Never publish any content related to another user
        or non-user you would have a problem with or not like if posted about
        you.
        <br /><br />
        The community guidelines, as stated below, set out the standard for
        actions and behaviour that are restricted, prohibited, and strictly not
        allowed on the YFTChain platform. In the event where any user(s) is
        found to be guilty of performing any of the actions and behaviour stated
        below, appropriate action and redressal might be taken, including, but
        not limited to, removing the violative or indiscriminative or
        inappropriate content, informing the authorities and termination of your
        account as a registered user on the platform.
        <br /><br />
        1. Be Professional
        <br /><br />
        YFTChain requires its users to be professionally relevant and on the
        topic, which is Football. Users on the YFTChain platform should only
        share, upload information, videos, and any other data which helps them
        to promote themselves in the world of Football, an opportunity for
        gaining expertise learning, coaching, getting scouted, acquiring new
        footballing skills; and engaging in actions or behaviours that
        facilitate you and others to be more productive and successful.
        <br /><br />
        2. Hate Speech and Discrimination
        <br /><br />
        Do not post hateful or discriminatory content on YFTChain.
        <br /><br />
        YFTChain requires its registered users to treat other users with the
        utmost respect, dignity, integrity, professionalism, and a feeling of
        empathy. YFTChain encourages users to participate in healthy
        discussions, dialogues, and expressions that do not intentionally harm
        any other user’s or person’s feelings or opinion or point of view on the
        platform. We have a strict policy and do not allow users to use any
        expressions and content can be perceived to be hateful, discriminatory,
        prejudiced, incite violence or hatred, create a divide amonggroups of
        individuals based on their religion, ethnicity, nationality, place of
        origin, language, caste, sex, gender, sexual orientation, disability,
        diseases.
        <br /><br />
        YFTChain users must refrain from using any hateful, indiscriminate,
        abusive images, videos, or any other type of offensive content in their
        display name, profile bio, profile information, picture, header, posts,
        comments, achievements, messages, chats. Any content posted or created
        by the user found to be constructed and published to cause harassment to
        another user or person or group of individuals will be dealt with
        appropriate action and, if need be, will be reported to the respective
        authorities to be dealt with. YFTChain reserves the right to initiate
        appropriate legal action as permissible under the applicable law against
        users that post hateful or discriminatory content on YFTChain’s
        Platform.
        <br /><br />
        3. Religiously Offensive Content
        <br /><br />
        Be respectful of the religious beliefs of others.
        <br /><br />
        All YFTChain users must be tolerant, respectful of any and every
        religious faith, notion, beliefs of other users, persons, individuals,
        or groups of individuals regardless of their views, opinions, beliefs,
        and whether they believe or agree or disagree with them or not. No
        content should be posted or published on the YFTChain platform that can
        potentially cause damage to the sentiment of other or ridicules or
        disrespects their religion or customs, or causes communal division.
        <br /><br />
        4. Terrorism and Extremism
        <br /><br />
        Do not post content that threatens, encourages, or glorifies terrorism.
        <br /><br />
        YFTChain strictly prohibits and refrains its users from using any kind
        of information, content, videos, articles, posts, messages, comments,
        data, whether drafted, recorded, or published that implicitly or
        explicitly promotes, incites terrorism, secession, acts of violence
        against any user, individual, group of individuals, property, a
        particular community, religion, caste that threats the unity, integrity,
        defence, security or sovereignty of India, relations with foreign
        countries or insults another nation. YFTChain users shall not publish
        any content that incites or promotes or encourages other users to
        participate or take actions such as recruit, spread, and disseminate
        information on behalf of a terrorist or any individual, entity, or
        organisation deemed to be a threat to the defence, security or
        sovereignty of India, as notified by the Government of India. YFTChain
        does not permit any illegal, unlawful, seditious or terrorist
        organisation to join our platform, nor do we allow or will accept, or
        tolerate any individual affiliated with any such organisation in any
        manner.
        <br /><br />
        5. Violent Content
        <br /><br />
        Do not post content that threatens, depicts, or glorifies violence or
        encourages self-harm.
        <br /><br />
        YFTChain does not allow its user to post any violent content that may or
        may not potentially cause theft, wrongful confinement, physical harm,
        mental harm, bodily harm, financial distress, or vandalism to any other
        user, individual, group of individuals indirectly or directly.
        <br /><br />
        YFTChain Users must not and are forbidden to publish any content which
        relates to or depicts mass murder, severe physical violence, mental
        suffering, abduction, kidnapping, drug abuse, non-consensual sexually
        explicit content (e.g., pornographic or pedophilic content, content
        harming children, or revenge pornography, etc.), exploitation of
        children, adults, human trafficking, criminal activity, instructional
        weapon-making, suicide, any type of self-harming, prostitution, and
        torture. YFTChain has a zero-tolerance policy against any user who tries
        to glorify or celebrate any previously committed crimes that have caused
        physical, sentimental, and or mental distress to any user, individual,
        group of individuals, community, organisation.
        <br /><br />
        6. Graphic, Obscene and Sexual Content
        <br /><br />
        Do not post graphic, obscene, and/or sexual content on YFTChain.
        <br /><br />
        YFTChain does not tolerate content that is obscene or sexually graphic
        or which could be seen to be inappropriate for some users. YFTChain does
        not allow pornographic or pedophilic content, explicit depictions of
        deceased persons, violent sexual acts including content depicting rape,
        and excessively gory imagery. YFTChain also has a zero-tolerance policy
        for any content which shows sexual content involving children or which
        may be otherwise harmful to children or revenge pornography. Any users
        found posting content of this nature will be immediately reported to the
        concerned authorities under the applicable law.
        <br /><br />
        7. Cyberbullying
        <br /><br />
        Be kind to others. Don’t be a bully.
        <br /><br />
        YFTChain abstains its users from publishing any negative, harmful,
        false, or mean content in the form of posts, photos, videos, comments,
        text, audio, messages about someone else that can affect their physical,
        mental, sentimental, emotional well-being. Users must also not share
        personal or private information about other user(s), groups,
        communities, organisations that are embarrassing and/or humiliating
        and/or can damage someone’s reputation and/or goodwill. YFTChain
        considers cyberbullying to be unlawful and representing criminal
        behaviour. All users must not use any kind of abusive language on the
        platform and in particular towards any other user or organisation.
        <br /><br />
        8. Invasion of Privacy
        <br /><br />
        Be respectful of the privacy of others.
        <br /><br />
        All registered YFTChain users are expected to refrain from posting or
        sharing any information or inciting the share or publication of personal
        and professional information of another person without prior written
        consent as it is considered to be invasive of their privacy.
        <br /><br />
        9. Illegal Activities
        <br /><br />
        Much like in the real world, don’t break the law when you use YFTChain.
        <br /><br />
        YFTChain users are not allowed to publish any illegal content or promote
        illegal activity or entice other users to participate in unlawful
        activity. The activities include but are not limited to the purchase and
        sale of harmful substances, narcotics, prescription drugs, alcohol,
        tobacco, or any other commodity or item that is restricted to be traded
        between private individuals. . YFTChain is not a platform where any user
        can promote or provide access to gambling tournaments, lotteries, real
        money competitions, human or child trafficking, unorganised or organised
        violence, or other criminal activity.
        <br /><br />
        YFTChain has a zero-tolerance policy for any content intended to
        explicitly or implicitly disrupt public law and order, prevents or
        misleads criminal investigation, or encourages other users to commit an
        offence.
        <br /><br />
        YFTChain has a zero tolerance policy for any activities including, but
        not limited to “doping in sport” as defined under the National
        Anti-Doping Act, 2022 or any other activities punishable under
        applicable law.
        <br /><br />
        10. Identity Theft and Impersonation
        <br /><br />
        Identity theft is serious. Don’t impersonate any other person.
        <br /><br />
        YFTChain users are not allowed to commit fraud or attempt to use the
        identifying personal or private information of another person, group,
        organisation, or private entity to deceive or mislead other users. Users
        are also not allowed to publish content that is meant to mislead about
        the origin of content. All users must
        <br /><br />
        ensure that the information provided by them in their profile is
        accurate and is not falsified or misrepresented. YFTChain reserves the
        right to take down/delete/block the profiles or accounts of such users
        who commit impersonate other individuals, or attempt to use the
        identifying personal or private information of another person, group,
        organisation, or private entity to deceive or mislead other users.
        YFTChain reserves the right to report all such users to the concerned
        authorities as under the applicable law.
        <br /><br />
        11. Misinformation, Fake News, and Fake profiles
        <br /><br />
        Provide verifiable, credible, and real information.
        <br /><br />
        YFTChain users must not post, publish, or share any unverified,
        misleading or false content. . YFTChain does not tolerate media that
        includes photoshopped pictures of doctored videos. We will not allow any
        content published, posted, or shared that could potentially affect
        people-centric processes. YFTChain does not allow any content or
        material that may influence or interfere with political elections in
        India conducted as per applicable Election Laws. YFTChain’s platform is
        meant for professional networking and development of the football
        industry, and hence we will not permit any information to be posted
        which interferes with the results of political elections..
        <br /><br />
        12. Spamming, Scamming, and Phishing
        <br /><br />
        Don’t use YFTChain to spam or scam others.
        <br /><br />
        YFTChain does not allow its users to manipulate others or negatively
        affect their experience on the YFTChain through gratuitously repetitive
        messages, inappropriate, unwanted, amplified, unwanted, or other similar
        content. YFTChain users must not use the platform for sensationalising
        or capitalising unfortunate events for their own financial or commercial
        benefits or with an intent to harm another user, individual, or
        organisation. We encourage users to create their original, professional
        and exciting content to maximise their outreach and popularity to all
        stakeholders registered on the platform rather than using artificial
        ways to increase their popularity.
        <br /><br />
        13. Intellectual Property Infringement
        <br /><br />
        Respect the intellectual property of others.
        <br /><br />
        YFTChain users must not use, publish or post any text, images, music, or
        videos or any other artistic works that others have copyright on. Users
        should not use trademarked brands or logos of organisations that have
        not authorised them to use or any other such proprietary rights that
        could result in infringement of their intellectual property rights.
        YFTChain users must post content on the platform that is not owned or
        can exclusively be used by another person unless the respective person
        or user has authorised and licensed such intellectual property to you .
        <br /><br />
        14. Malicious Programmes
        <br /><br />
        Don’t share malicious programs.
        <br /><br />
        YFTChain users are not allowed to post, publish or share any content
        that contains malicious programs or tools which are specifically
        designed to delete, block, modify, copy data or to disrupt the
        experience of other users’ computers or performance of computers and/or
        computer networks affecting the functionality of the platform adversely.
        <br /><br />
        15. Unwanted advances
        <br /><br />
        Do not engage in unwanted advances.
        <br /><br />
        YFTChain does not allow unwanted expressions of attraction, desire,
        requests for a romantic relationship, marriage proposals, sexual
        advances, or innuendo or lewd remarks. Do not use YFTChain to pursue
        romantic connections, ask for romantic dates, or provide sexual
        commentar
      </p>
    </div>
    <br /><br /><br />
  </mat-card-content>
</mat-card>
<app-footer></app-footer>
