<header class="header">
  <div class="logo">
    <a [routerLink]="['/home']">
      <img src="assets/images/website/logo.png" alt="brand-logo" />
    </a>
  </div>
</header>

<mat-card>
  <mat-card-content>
    <h1>Privacy Policy</h1>
    <div class="main-div">
      <p>
        Decoding Youth Talent Private Limited (DYT) operates YFT (Youth Football
        Technology) mobile application ("YFT" or "App") and YFTChain website
        ("YFTChain" or "Website") in India. YFT and YFTChain facilitate
        professional and social networking among football players (grassroots,
        amateurs, professionals), coaches, clubs, and academies to promote
        talent identification, scouting, and player development through our
        website www.yftchain.com and our mobile application.
      </p>
      <br />
      <p>
        We at YFTChain recognize and value your privacy with utmost integrity.
        This Privacy Policy (“Privacy Policy”) elaborates on how we collect, use
        and disclose your data when you use our website https://yftchain.com/
        (“Website”) and/or our mobile application called YFTChain (“App”). The
        Website and App are collectively referred to as “Platform”.
      </p>
      <br />
      <p>
        References to “we”, “our” or “us” or “Company” shall mean the Platform
        of DYT. Any references to “you”, “your” or “user” shall mean any person
        or entity using our Platform. We will not use or share your information
        with anyone except as elaborated herein after.
      </p>
      <br />
      <p>
        By using this Platform, you agree to the terms and conditions of this
        Privacy Policy. You also consent to our use and disclosure of your
        Personal Information in the manner described in this Privacy Policy. If
        you do not agree with the terms and conditions of this privacy policy,
        you cannot use this Platform.
      </p>
      <br />
      <p>
        The Information We Collect and How We Use It The following table lists
        the information we collect from you and how we use it:
      </p>
      <br />
      <br />
      <table>
        <tr>
          <th>Information we collect</th>
          <th>How we use it</th>
        </tr>
        <tr>
          <td>
            Log-in Data: This includes a unique user ID and the user’s mobile
            phone number, password, gender, and IP address. We may collect an
            indicative age range which tells us whether you are of the
            appropriate age to access certain features of our Platform or
            otherwise. These data points will collectively be referred to as
            “Log-in Data”.
          </td>
          <td>
            To set up and facilitate log-in to a user account on Platform; To
            notify you about changes to the Platform, including this Privacy
            Policy; To facilitate communication, including provision of user
            support;
          </td>
        </tr>
        <tr>
          <td>
            Personal & Professional Data: We ask all our users to provide their
            personal information pertaining to themselves. This information
            helps users distinguish themselves from other users and enables them
            to showcase in a unique manner. Following are the information we
            collect as per user. All fields marked with “*” are mandatory fields
            that necessarily be need to be filled by the user
          </td>
          <td>
            To enforce our terms, conditions, and policies and any of our
            rights, or the rights of our affiliate projects and websites, or
            other users of the Platform; To develop new services and improve the
            existing services on the Platform and integrate user feedback and
            requests;
          </td>
        </tr>
        <tr>
          <td>
            For Players: Name*, Email*, *, Mobile number*, Date of Birth*,
            Gender*, Nationality*, State/UT*, District*, Educational Institution
            , Social media links (Facebook, Instagram, LinkedIn, Twitter,
            YouTube), Preferred playing position, Preferred Foot, Current State
            Association (if any), Former club/Academy, employment contract
            details.
          </td>
          <td>
            To provide language and location based personalized services; To
            administer the Platform and for internal operations, including
            troubleshooting, data analysis, testing, research, security,
            fraud-detection, account management, and survey purposes;
          </td>
        </tr>
        <tr>
          <td>
            For Clubs: Club/Academy name*, Short academy name, Founded(Year)*,
            Email*, Bio, Phone number, Mobile number*, Country*, State/UT*,
            District*, Office Address*, Pincode*, Stadium Name, (Facebook,
            Instagram, LinkedIn, Twitter, YouTube), Major Trophies, League*, Top
            Signings, Type of Academy, State Affiliated under*, Contact details*
            (designation*, name*, email*, phone number*).
          </td>
          <td>
            To better understand how the user uses and accesses the Platform
            thereby to improve the user experience on the Platform;
          </td>
        </tr>
        <tr>
          <td>
            Content You Share: This comprises all of the information you make
            available to other users via Platform, comprising such as: ·
            Information about you or relating to you that is voluntarily shared
            by you on the Platform, including without limitation, any quotes,
            images, political opinions, religious views, etc. · Any posts that
            you make available on the Platform. Information we receive from
            other sources. We may also be working closely with third parties
            (including, for example, business partners, sub-contractors in
            technical, analytics providers, search information providers) and
            may receive information about you from such sources. Such data may
            be shared internally and combined with data collected on this
            Platform.
          </td>
          <td>
            To pseudonymize and aggregate the information provided by you
            including any Personal Information shared by you, for conducting
            user demographic analysis on such data such as region, phone model,
            operating system, system language, and the Platform version running
            on such systems in order to better understand how our users are
            using Platform; To pseudonymize and aggregate the information
            provided by you, including Personal Information, for collection of
            web and account traffic statistics with respect to the content and
            services which are used when users access third-party services on
            the Platform; To upload or create replicable profiles on associated/
            sister platforms; To assess the effectiveness of the platform as
            well as improve advertisement, marketing strategies and other
            promotional activities.
          </td>
        </tr>
        <tr>
          <td>
            Log Data This includes the information that we automatically collect
            when you use the Platform, whether through the use of cookies, web
            beacons, log files, scripts, including, but not limited to: ·
            Technical information, such as your mobile carrier- related
            information, configuration information made available by your web
            browser or other programs you use to access the Platform, your IP
            address and your device’s version and identification number; ·
            Information about what you have searched for and looked at while
            using the Platform, such as web search terms used, social media
            profiles visited, mini applications used, and details of other
            information and content accessed or requested by you while using the
            Platform; · General information about communications on the
            platform, such as the identity of a user that you have communicated
            with and the time, data and duration of your communications; and ·
            Metadata, which means information related to items you have made
            available through the Platform, such as the date, time or location
            that a shared photograph or video was taken or posted.
          </td>
          <td></td>
        </tr>
        <tr>
          <td>
            Cookies Definition of cookies: Cookies are text files with small
            pieces of data — like a username and password — that are used to
            identify your computer as you use a computer network. Specific
            cookies known as HTTP cookies are used to identify specific users
            and improve your web browsing experience.
          </td>
          <td>
            To distinguish you from other users on our Platform. This helps us
            to provide you with a good user experience when you browse our
            Platform and it also allows us to improve the Platform. We collect
            the cookie data from the cookies on your device.
          </td>
        </tr>
        <tr>
          <td>
            Surveys If you choose to participate in a survey, we may request you
            to provide certain Personal Information i.e. any information that
            could be used to identify you. We may use a third-party service
            provider to conduct these surveys and this will be notified to you
            prior to you completing the survey.
          </td>
          <td></td>
        </tr>
        <tr>
          <td>User Search Data Any searches you make on the Platform.</td>
          <td>
            To provide you quick access to your previous searches. To use
            analytics for personalization and showing you targeted
            advertisements.
          </td>
        </tr>
        <tr>
          <td>
            Additional Account Security We collect your phone number for sending
            text message on your phone for sending you a One-Time-Password
            (“OTP”).
          </td>
          <td>
            To verify your identity and for maintaining your account security.
          </td>
        </tr>
        <tr>
          <td>
            Chat data We collect the content of any communications between you
            and another user, when you use any chat feature on the Platform.
            This is stored on your device and the devices of the users that you
            have sent communications to. However, we do not monitor your chat
            data, take any action based on your chat data or disclose it to any
            third party.
          </td>
          <td>To facilitate delivery of communication to another user.</td>
        </tr>
        <tr>
          <td>
            Location Information This information is derived from your GPS, IP
            address, and/or public posts that contain location information. When
            you access the Platform, we derive location information from your IP
            address, device, or internet service.
          </td>
          <td>
            For security, fraud-detection and account management To provide you
            with location-based services that you choose to use: To provide
            language and location customization.
          </td>
        </tr>
        <tr>
          <td>
            Customer Support Information Any information that you provide to our
            customer support team regarding any assistance or support that you
            may require for using our Platform from time to time.
          </td>
          <td>To investigate your support issue</td>
        </tr>
        <tr>
          <td>
            Device Data This information includes without limitation or
            prejudice to other aspects, the following: · Device attributes:
            information such as the operating system, hardware and software
            versions, battery level, signal strength, available storage space,
            browser type, app and file names and types, and plugins. · Device
            operations: information about operations and behaviors performed on
            the device, such as whether a window is foregrounded or
            backgrounded. · Identifiers: unique identifiers, device IDs, and
            other identifiers, such as from accounts you use. · Device signals:
            We may collect your Bluetooth signals, and information about nearby
            Wi-Fi access points, beacons, and cell towers. · Data from device
            settings: information you allow us to receive through device
            settings you turn on, such as access to your GPS location, camera or
            photos. · Network and connections: information such as the name of
            your mobile operator or ISP, language, time zone, mobile phone
            number, IP address and connection speed. · Application: Any mobile
            applications that are stored on your mobile device. · Media: We
            access the media gallery on your mobile device, including without
            limitation, images, videos and audio files and the storage space on
            your phone. However, we shall always obtain your consent before
            accessing your images and you shall have the option to deny us such
            access.
          </td>
          <td>
            · To facilitate the sharing of any videos, and images using the
            Platform; · To customise our Platform to suit your mobile device; ·
            To understand whether there is enough storage space on your device
            to be able to download any content from the Platform for the
            purposes of sharing via WhatsApp and/or Facebook; · To optimise your
            user experience on our Platform; · To facilitate the sharing of any
            content on the Platform via the applications downloaded on your
            mobile device; · To verify your identity so as to enforce our terms,
            conditions, and policies; · To improve the Platform.
          </td>
        </tr>
      </table>

      <br /><br />
      <p>We disclose your information in the following manner:</p>
      <br />
      <h2>Content Visible to Others</h2>
      <br />
      <p>
        Public Content i.e. any content you voluntarily post on your user
        profile or on another user’s profile, such as a post comment, is
        accessible to everyone, including search engines. Any information you
        voluntarily disclose for posting to the Platform, including your profile
        page information, is accessible to anyone. When you submit, post or
        share the content that you choose to make public, on the Platform, it
        may be re-shared by others..
      </p>
      <br /><br />
      <p>
        We reserve the right to share all public content on any social media
        site or any other online or offline platform. We will never rent or sell
        your Personal Information to third parties, except on an anonymized
        basis, unless expressly provided in these Terms.
      </p>
      <br />
      <h2>Sharing with our Group of Companies</h2>
      <br />
      <p>
        We may share your Personal Information with any member of our Group. The
        term “Group” shall mean any entity that is controlled by us, or any
        entity that is in control of us, or any entity that is under common
        control with us, whether directly or indirectly.
      </p>
      <br />
      <h2>What you Share with Others</h2>
      <br />
      <p>
        When you share content or any data on our Platform, you choose the
        audience for what you share. For example, when you post any content from
        our Platform on Facebook , you select the audience for the post, such as
        a friend, a group of friends or all of your friends. Similarly, when you
        use WhatsApp or any other application on your mobile device to share the
        content on our Platform, you choose who you share the content with. We
        do not control and shall not be liable in any way, for the manner, in
        which such persons (with whom you choose to share content via any
        sharing options, such as WhatsApp or Facebook or any other third party
        platform, available on the Platform) use the information that you share
        with them. To the fullest extent permitted by applicable law, under no
        circumstance will we be liable to you or any third parties, for any lost
        profits, revenues, information, or data, or consequential, special,
        indirect, exemplary, punitive or incidental damages arising out of or
        related to the content or data that you share on our Platform.
      </p>
      <br />
      <h2>Sharing with Third Parties</h2>
      <br />
      <p>
        We may share your Personal Information with select third parties
        including:
      </p>
      <br />
      <p>
        Business partners, suppliers and sub-contractors (“Affiliates”).
        Affiliates may use this information to help provide, understand, and
        improve the Service and Affiliates’ own services for the performance of
        any contract we enter into with you. <br />
        Advertisers and advertising networks that require the data to select and
        serve relevant adverts to you and others. We do not disclose any
        information in relation to identifiable individuals to our advertisers,
        but we may provide such advertisers with aggregate information about our
        users (for example, we may inform them that any given number of
        individuals in a specified age group clicked on their advertisement on
        any given day). We may also use such aggregate information to help
        advertisers reach the kind of audience they want to target. <br />

        Government bodies or Statutory Authority, in case such personal data or
        information is required in order to comply with any legal obligation or
        any government request or any statutory orders from a Government Body or
        Statutory Authority; or to protect the rights or prevent any harm to the
        property, or safety of the Company, our customers, or public; or to
        detect, prevent or otherwise address public safety, fraud, security or
        technical issues.
      </p>
      <br />
      <br />
      <h2>Security Practices</h2>
      <br />
      <br />
      <p>
        We have in place appropriate technical and security measures to secure
        the information collected by us. Where we have given you (or where you
        have chosen) a username and password, which enables you to access the
        Platform, you are responsible for keeping these details confidential. We
        ask you not to share your password with anyone.
      </p>
      <br /><br />
      <h2>Where We Store Your Personal Information</h2>
      <br /><br />
      <p>
        We store your data with Amazon Web Services. If there is a change in the
        same, it will be intimated to you well in advance along with the option
        granted to you for opting out of the Platform. In which case, your data,
        from then onwards, will not be stored by us.
      </p>
      <br /><br />
      <p>
        The privacy policy adopted by Amazon Web Services is available at:
        https://aws.amazon.com/privacy/
      </p>
      <br /><br />
      <h2>Changes in policy</h2>
      <br /><br />
      <p>
        The Company may periodically update this Privacy Policy. Whenever we
        make any changes to this Privacy Policy that are important for you to
        know about, we will post the updated Privacy Policy at this link. It is
        your responsibility to keep checking this page from time to time in
        order to be aware of any changes made to this Privacy Policy.
      </p>
      <br /><br />
      <h2>Disclaimer</h2>
      <br /><br />
      <p>
        Unfortunately, the transmission of information via the internet is not
        completely secure. Although we will do our best to protect your Personal
        Information, we cannot guarantee the security of your data transmitted
        to the Platform; any transmission is at your own risk. Once we have
        received your information, we will use strict procedures and security
        features to try to prevent unauthorized access.
      </p>
      <br /><br />
      <h2>Your Rights</h2>
      <br /><br />
      <p>
        You are free to remove or delete content from your user account/profile
        and your account/ profile at any point in time. However, the history of
        your activities and account on our Platform remains available to us for
        compliance purposes.
      </p>
      <br />
      <p>
        You may correct, amend, add or delete Personal Information from your
        account at any time by logging in and visiting your profile page. As
        noted above, you may opt out from unwanted e-mail communications from us
        by following the instructions in the message. However, until your
        account is deleted you will continue to receive all system generated
        e-mails.
      </p>
      <br /><br />
      <p>
        Under Rule 5 (5) of the Information Technology (Reasonable Security
        Practices and Procedures and Sensitive Personal Data or Information)
        Rules, 2011 (“Rules”), Any data (personal information and sensitive
        personal information) collected by us from you, shall not be used for
        any purpose other than what was specified at the time of its collection.
        Under Rule 5(6) of the Rules, you have a right to ask us to review,
        correct and amend the information we collect about you at any point in
        time. Under Rule 5(7) of the Rules, you also have the right to revoke
        your consent to the collection of your information going forward. You
        may also ask us not to process your personal data for marketing
        purposes. You can exercise any of these rights at any time by contacting
        us at (grievance@dyt-group.com) However, we require a reasonable period
        of 30 (thirty) days to comply with any of your requests.
      </p>
      <br /><br />
      <h2>Data Retention</h2>
      <br /><br />
      <p>
        We do not retain your sensitive Personal Information (defined below in
        this paragraph) for longer than is required for the purposes for which
        the information may be lawfully used. For any other content, we will
        entertain your request for deletion, however, there is a strong
        possibility that copies of any public content will be retained
        indefinitely in our systems, including in cached and archived pages of
        the Platform, or if other users have copied or saved that information.
        In addition, due to the nature of the internet, copies of your content,
        including content that you have removed or deleted from your account,
        may also exist elsewhere on the Internet and be retained indefinitely.
        Sensitive Personal Information shall mean passwords and any other
        information that is classified as sensitive under Section 3 of the
        Rules.
      </p>
      <br /><br />
      <h2>Third Party Links</h2>
      <br /><br />
      <p>
        The Platform may, from time to time, contain links to and from the
        websites of our partner networks, advertisers, Affiliates and/or any
        other websites or mobile applications. If you follow a link to any of
        these websites, please note that these websites have their own privacy
        policies and that we do not accept any responsibility or liability for
        such policies as applicable for such Third Party websites or Third Party
        Platforms. Please check these policies before you submit any personal
        data to these websites or mobile applications.
      </p>
      <br /><br />
      <h2>Communications from us</h2>
      <br /><br />
      <p>
        We may from time to time send you service-related announcements when we
        consider it necessary to do so (such as when we temporarily suspend the
        Platform for maintenance, or security, privacy, or
        administrative-related communications). We send these to you via SMS.
        You may not opt-out of these service-related announcements, since these
        are not promotional in nature and used solely to protect your account
        and keep you informed of important changes to the Platform.
      </p>
      <br /><br />
      <h2>Grievance Officer</h2>
      <br /><br />
      <p>
        YFTChain has a Grievance Officer to address your concerns regarding data
        safety, privacy, and the Platform usage concerns. We will resolve the
        issues raised by you within 30 (thirty) days from receiving them. You
        may contact Mr. Kshitij Rai Handa, Grievance Officer at any of the
        following: Email Address: grievance@dyt-group.com Office Address: IIM
        Lucknow Incubator, IIM Lucknow, Noida Campus, Sector 62, Noida - 201307
        Office Hours: 10:00 A.M. to 1:00 P.M., Monday to Friday.
      </p>
    </div>
    <br /><br /><br />
  </mat-card-content>
</mat-card>
<app-footer></app-footer>
