h1{
    text-align: center;
}
.main-div{
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
   
    
}
p{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
}
table, tr,td{
    border: 1px solid black;
}